Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51

Fix touch force for Apple Pencil
  CHANGELOG.md
  src/platform_impl/ios/view.rs
Owners: @madsmtm

Add examples/window_ondemand
  examples/window_ondemand.rs
Owners: none

On Windows, add option to customize window class name (#2978)
  CHANGELOG.md
  FEATURES.md
  src/platform/windows.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Add examples/window_pump_events
  examples/window_pump_events.rs
Owners: none

Improve Web specific documentation for various APIs (#2941)
  src/event.rs
  src/platform/web.rs
  src/window.rs
Owners: @daxpedda

Windows: Implement EventLoopExtPumpEvents and EventLoopExtRunOnDemand
  src/platform/mod.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith

Bump MSRV to 1.65
  .github/workflows/ci.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.toml
Owners: none

Bump MSRV to 1.65
  .github/workflows/ci.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.toml
Owners: none

Use beta versions of android crates
  CHANGELOG.md
  Cargo.toml
Owners: none

Use beta versions of android crates
  CHANGELOG.md
  Cargo.toml
Owners: none

Bump MSRV to 1.65
  .github/workflows/ci.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.toml
Owners: none

Use beta versions of android crates
  CHANGELOG.md
  Cargo.toml
Owners: none

Winit version 0.29.0-beta.1
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

Bump version on master
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

Bump version on master
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

Winit version 0.29.1-beta
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

Bump version on master
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

Bump version on master
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

Fix invalid hmonitor panic
  src/platform_impl/windows/monitor.rs
Owners: @msiglreith

Use same button order for all device events, windows: add hwheel device event
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/raw_input.rs
Owners: @kchibisov, @msiglreith

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Re-format
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/windows/event_loop.rs
Owners: @kchibisov, @msiglreith

More obvious i16 cast for usButtonData
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

macos: Send CapsLock keyboard events
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/view.rs
Owners: @madsmtm

Implement custom cursors for Windows
  CHANGELOG.md
  examples/cursor.rs
  examples/cursor_icon.rs
  examples/multithreaded.rs
  examples/window_drag_resize.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/util.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith

Tidy-up
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/util.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith

Implement custom cursors for Web, add way to specify hotspot
  Cargo.toml
  src/icon.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/icon.rs
  src/window.rs
Owners: @daxpedda, @msiglreith

Fix new clippy lints
  src/platform_impl/android/keycodes.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/windows/mod.rs
Owners: @msiglreith, @kchibisov

Fix nightly documentation warnings
  src/event.rs
  src/platform/web.rs
Owners: @daxpedda

Fix recent CI failures (#3041)
  src/event.rs
  src/platform/web.rs
  src/platform_impl/android/keycodes.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/windows/mod.rs
Owners: @daxpedda, @msiglreith, @kchibisov

CI: Don't bother to specify the shell
  .github/workflows/ci.yml
Owners: none

Make cargo caching more intelligent
  .github/workflows/ci.yml
Owners: none

CI: Don't try to check the index before the cache is loaded
  .github/workflows/ci.yml
Owners: none

Make test runs clearer
  .github/workflows/ci.yml
Owners: none

Remove mentions of cargo-web
  .github/workflows/ci.yml
Owners: none

Simplify CI a little bit
  .github/workflows/ci.yml
Owners: none

Use dtolnay/rust-toolchain instead of hecrj/setup-rust-action
  .github/workflows/ci.yml
Owners: none

Make cargo-deny failures clearer and a bit faster in the workflow
  .github/workflows/ci.yml
Owners: none

Use `frame` instead of `visibleRect`
  CHANGELOG.md
  clippy.toml
  src/platform_impl/macos/appkit/view.rs
  src/platform_impl/macos/view.rs
Owners: @madsmtm

Use `frame` instead of `visibleRect` (#3043)
  CHANGELOG.md
  clippy.toml
  src/platform_impl/macos/appkit/view.rs
  src/platform_impl/macos/view.rs
Owners: @madsmtm
