Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda, @jackpot51, @richerfu, @jschwe

example: Fix tracing registration in pump_events
  winit/examples/pump_events.rs
Owners: none

examples: Use tracing macros instead of println!
  clippy.toml
  winit-common/src/event_handler.rs
  winit-win32/src/keyboard_layout.rs
  winit-x11/src/util/mod.rs
  winit/build.rs
  winit/examples/child_window.rs
  winit/examples/control_flow.rs
  winit/examples/dnd.rs
  winit/examples/ime.rs
  winit/examples/pump_events.rs
  winit/examples/run_on_demand.rs
  winit/examples/util/tracing.rs
  winit/examples/window.rs
  winit/examples/x11_embed.rs
Owners: @madsmtm, @kchibisov

examples: Always use tracing helper module
  winit/examples/pump_events.rs
  winit/examples/run_on_demand.rs
  winit/examples/x11_embed.rs
Owners: none

Android: Add further scancode conversions (#4023)
  winit-android/src/keycodes.rs
  winit/src/changelog/unreleased.md
Owners: @MarijnS95

fix(typo): dependant -> dependent (#4540)
  winit-web/src/monitor.rs
  winit/src/event_loop.rs
Owners: @daxpedda

Fix CI (#4546)
  .github/workflows/ci.yml
  deny.toml
Owners: none

Remove symlinking between winit-appkit and winit-uikit (#4530)
  winit-appkit/Cargo.toml
  winit-appkit/src/event_loop.rs
  winit-appkit/src/lib.rs
  winit-common/Cargo.toml
  winit-common/src/foundation/mod.rs
  winit-common/src/foundation/notification_center.rs
  winit-common/src/lib.rs
  winit-uikit/Cargo.toml
  winit-uikit/src/event_loop.rs
  winit-uikit/src/lib.rs
  winit-uikit/src/notification_center.rs
Owners: @madsmtm

Remove leftover apple/appkit/mod.rs (#4533)
  winit/src/platform_impl/apple/appkit/mod.rs
Owners: none

AppKit: Use fn_addr_eq now that it's in MSRV (#4532)
  winit-appkit/src/app.rs
Owners: @madsmtm

Clean up cargo-deny
  .github/workflows/ci.yml
  deny.toml
Owners: none

winit-wayland: use `ext-background-effect` if available
  winit-core/src/window.rs
  winit-wayland/src/state.rs
  winit-wayland/src/types/bgr_effects.rs
  winit-wayland/src/types/ext_background_effect.rs
  winit-wayland/src/types/mod.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

winit-x11: fix clippy lint
  winit-x11/src/event_processor.rs
Owners: @kchibisov

winit-wayland: add pointer gesture hold
  winit-core/src/event.rs
  winit-wayland/Cargo.toml
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/seat/pointer/pointer_gesture.rs
  winit/examples/application.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

windows: fix freeze on keyboard layout switch
  winit-win32/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: none

chore: avoid `unsafe` in examples
  winit/Cargo.toml
  winit/examples/application.rs
  winit/examples/child_window.rs
  winit/examples/control_flow.rs
  winit/examples/dnd.rs
  winit/examples/ime.rs
  winit/examples/pump_events.rs
  winit/examples/run_on_demand.rs
  winit/examples/util/fill.rs
  winit/examples/window.rs
  winit/examples/x11_embed.rs
Owners: none

macOS: make Ime::Preedit cursor range surrogate-safe in setMarkedText
  winit-appkit/src/view.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

Fix CI
  .github/workflows/ci.yml
Owners: none

Fix AppKit live resize redraw timing
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
Owners: @madsmtm

Ignore quick-xml and ttf-parser advisories in cargo-deny
  deny.toml
Owners: none

Use the MSRV-aware resolver instead of pinning versions in CI
  .github/workflows/ci.yml
  Cargo.toml
Owners: none

wayland: don't send set_buffer_scale on wl_surface below version 3
  winit-wayland/src/window/state.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

fix clippy
  winit-common/src/xkb/compose.rs
  winit/examples/child_window.rs
Owners: @kchibisov

Update cfg_aliases to 0.2.2
  Cargo.toml
  winit/build.rs
Owners: none

winit-orbital: Respect ORBITAL_DISPLAY
  winit-orbital/src/lib.rs
Owners: @jackpot51

winit-orbital: Fix i586 build
  winit-orbital/src/event_loop.rs
Owners: @jackpot51

winit-orbital: provide last mouse position with button events
  winit-orbital/src/event_loop.rs
Owners: @jackpot51

winit-orbital: Implement pump_app_events
  Cargo.toml
  winit-orbital/src/event_loop.rs
  winit-orbital/src/lib.rs
  winit/examples/pump_events.rs
  winit/src/changelog/unreleased.md
  winit/src/event_loop.rs
  winit/src/lib.rs
Owners: @jackpot51

ci/deny: skip syn 2 and allow libc's packaged script
  deny.toml
Owners: none

macOS: Feature-gate CGSSetWindowBackgroundBlurRadius
  winit-appkit/Cargo.toml
  winit-appkit/src/ffi.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/window.rs
  winit/Cargo.toml
  winit/src/changelog/unreleased.md
  winit/src/lib.rs
Owners: @madsmtm

Bump MSRV to 1.86
  .github/workflows/ci.yml
  Cargo.toml
  README.md
  winit-win32/src/dnd.rs
  winit/src/changelog/v0.31.md
Owners: none

wayland: Update `sctk` to 0.21
  winit-wayland/Cargo.toml
  winit-wayland/src/dnd.rs
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/seat/pointer/pointer_gesture.rs
  winit-wayland/src/seat/touch/mod.rs
  winit-wayland/src/state.rs
  winit-wayland/src/types/wp_tablet_input_v2.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

win32: fix window `hwnd_dpi` leaks `HDC` handles
  winit-win32/src/dpi.rs
  winit/src/changelog/unreleased.md
Owners: none

fix: win32 taskbar_created deadlock
  winit-win32/src/event_loop.rs
Owners: none

Wayland, Windows, MacOS: Popup Implementation (#4543)
  winit-android/src/event_loop.rs
  winit-appkit/src/window.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/window.rs
  winit-orbital/src/window.rs
  winit-uikit/src/window.rs
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/lib.rs
  winit-wayland/src/popup.rs
  winit-wayland/src/seat/keyboard/mod.rs
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/state.rs
  winit-wayland/src/window/handles.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
  winit-web/src/window.rs
  winit-win32/src/window.rs
  winit-win32/src/window_state.rs
  winit-x11/src/window.rs
  winit/examples/child_window.rs
  winit/src/changelog/unreleased.md
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

On macOS, add fullscreen auxiliary window support
  winit-appkit/src/lib.rs
  winit-appkit/src/window_delegate.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

macOS: add `WindowEvent::PointerButton::is_macos_activation_click`
  winit-android/src/event_loop.rs
  winit-appkit/src/lib.rs
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/event.rs
  winit-orbital/src/event_loop.rs
  winit-uikit/src/view.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/seat/touch/mod.rs
  winit-wayland/src/types/wp_tablet_input_v2.rs
  winit-web/src/event_loop/window_target.rs
  winit-win32/src/event_loop.rs
  winit-x11/src/event_processor.rs
  winit/examples/application.rs
  winit/src/changelog/unreleased.md
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

Mark extensible enums in winit-core as #[non_exhaustive]
  winit-android/src/event_loop.rs
  winit-appkit/src/cursor.rs
  winit-appkit/src/dnd.rs
  winit-appkit/src/event_loop.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/cursor.rs
  winit-core/src/data_transfer.rs
  winit-core/src/event.rs
  winit-core/src/event_loop/mod.rs
  winit-core/src/icon.rs
  winit-core/src/keyboard.rs
  winit-core/src/monitor.rs
  winit-core/src/window.rs
  winit-orbital/src/window.rs
  winit-uikit/src/window.rs
  winit-wayland/src/dnd.rs
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
  winit-web/src/cursor.rs
  winit-web/src/web_sys/event.rs
  winit-web/src/web_sys/fullscreen.rs
  winit-web/src/web_sys/pointer.rs
  winit-win32/src/dnd.rs
  winit-win32/src/event_loop.rs
  winit-win32/src/window.rs
  winit-x11/src/util/cursor.rs
  winit-x11/src/window.rs
  winit/examples/application.rs
  winit/examples/ime.rs
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

Mark platform extension enums as #[non_exhaustive]
  winit-appkit/src/lib.rs
  winit-common/src/xkb/mod.rs
  winit-uikit/src/lib.rs
  winit-web/src/lib.rs
  winit-win32/src/lib.rs
  winit-x11/src/dnd.rs
  winit-x11/src/lib.rs
Owners: @madsmtm, @kchibisov, @daxpedda

Warn on exhaustive exported enums
  winit-android/src/lib.rs
  winit-appkit/src/lib.rs
  winit-common/src/lib.rs
  winit-core/src/cursor.rs
  winit-core/src/event.rs
  winit-core/src/event_loop/mod.rs
  winit-core/src/event_loop/pump_events.rs
  winit-core/src/keyboard.rs
  winit-core/src/lib.rs
  winit-core/src/window.rs
  winit-orbital/src/event_loop.rs
  winit-orbital/src/lib.rs
  winit-uikit/src/lib.rs
  winit-wayland/src/lib.rs
  winit-web/src/lib.rs
  winit-win32/src/lib.rs
  winit-x11/src/lib.rs
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

Add changelog entry for the non_exhaustive enums
  winit/src/changelog/unreleased.md
Owners: none

.github/CODEOWNERS:

# Android
/winit-android                      @MarijnS95

# Apple (AppKit + UIKit)
/winit-appkit                       @madsmtm
/winit-uikit                        @madsmtm
/winit-common/src/core_foundation   @madsmtm
/winit-common/src/event_handler.rs  @madsmtm

# XKB
/winit-common/src/xkb               @kchibisov

# Wayland
/winit-wayland                      @kchibisov

# X11
/winit-x11                          @kchibisov

# Web
/winit-web                          @daxpedda

# Windows (Win32) (UNOWNED)
#/winit-win32                       

# Orbital (Redox OS)
/winit-orbital                      @jackpot51

# OpenHarmony
/winit-ohos                         @richerfu @jschwe
