Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

Allow the user to force X11 under Wayland
  CHANGELOG.md
  src/platform_impl/linux/mod.rs
Owners: @kchibisov

Make DeviceId contain device id's on Android
  CHANGELOG.md
  src/platform_impl/android/mod.rs
Owners: @msiglreith

Fix transparent windows on X11
  src/platform_impl/linux/x11/window.rs
  src/window.rs
Owners: @kchibisov

Make EventLoopWindowTarget independent of the user type on Orbital (#3055)
  src/platform_impl/orbital/event_loop.rs
Owners: @jackpot51

Remove obsolete docs about wayland CSD env variable
  src/window.rs
Owners: none

Web: Fullscreen Overhaul (#3063)
  CHANGELOG.md
  examples/web.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/animation_frame.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/fullscreen.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/web_sys/pointer.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

Implement `PartialOrd`/`Ord` for `KeyCode`/`NativeKeyCode`
  CHANGELOG.md
  src/keyboard.rs
Owners: none

Ignore foreign-types* duplicate deps on macOS
  Cargo.toml
  deny.toml
Owners: none

Web: remove unnecessary usage of `once_cell::unsync::Lazy` (#3134)
  src/platform_impl/web/async.rs
  src/platform_impl/web/web_sys/fullscreen.rs
  src/platform_impl/web/web_sys/resize_scaling.rs
  src/platform_impl/web/web_sys/schedule.rs
Owners: @daxpedda

Add Occluded and MemoryWarning events for iOS/Android
  CHANGELOG.md
  src/event.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/view.rs
Owners: @msiglreith, @madsmtm

Fix recent CI failures (#3041)
  src/event.rs
  src/platform/web.rs
  src/platform_impl/android/keycodes.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/windows/mod.rs
Owners: @daxpedda, @msiglreith, @kchibisov

Revise Key and KeyCode enums
  examples/control_flow.rs
  examples/cursor_grab.rs
  examples/fullscreen.rs
  examples/ime.rs
  examples/multithreaded.rs
  examples/multiwindow.rs
  examples/resizable.rs
  examples/startup_notification.rs
  examples/web.rs
  examples/window_debug.rs
  examples/window_resize_increments.rs
  examples/window_tabbing.rs
  src/event.rs
  src/keyboard.rs
  src/platform/scancode.rs
  src/platform_impl/android/keycodes.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/linux/common/keymap.rs
  src/platform_impl/linux/common/xkb_state.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/keyboard.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/event.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/keyboard.rs
  src/platform_impl/windows/keyboard_layout.rs
  tests/serde_objects.rs
Owners: @msiglreith, @kchibisov, @madsmtm, @jackpot51, @daxpedda

Pass force on touch events on android
  CHANGELOG.md
  src/event.rs
  src/platform_impl/android/mod.rs
Owners: @msiglreith

Web Async Rework (#3082)
  src/platform_impl/web/async.rs
  src/platform_impl/web/async/channel.rs
  src/platform_impl/web/async/dispatcher.rs
  src/platform_impl/web/async/mod.rs
  src/platform_impl/web/async/waker.rs
  src/platform_impl/web/async/wrapper.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/proxy.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

On Windows, fix `RedrawRequested` delivery
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
  src/window.rs
Owners: @msiglreith

Rename run_ondemand to run_on_demand
  CHANGELOG.md
  examples/window_on_demand.rs
  src/platform/mod.rs
  src/platform/run_on_demand.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
Owners: @msiglreith, @kchibisov, @madsmtm

Implement `AsFd`/`AsRawFd` for `EventLoop<T>`
  CHANGELOG.md
  src/event_loop.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

Correct set_exit() -> exit() in the changelog (#3088)
  CHANGELOG.md
Owners: none

Fix rwhd_05 doc links
  src/event_loop.rs
  src/window.rs
Owners: none

Web: fix `ControlFlow::WaitUntil` to never wake up **before** the given time (#3133)
  CHANGELOG.md
  src/platform_impl/web/web_sys/schedule.rs
Owners: @daxpedda

Slightly reduce number of `cfg`s (#3071)
  src/event.rs
  src/event_loop.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/output.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/monitor.rs
  src/platform_impl/linux/x11/util/icon.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

Remove `T` from `EventLoopTargetWindow` (#3081)
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/proxy.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
Owners: @daxpedda

Make iOS fully thread safe (#3045)
  CHANGELOG.md
  src/platform/ios.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/ios/monitor.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/macos/app.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window_delegate.rs
Owners: @madsmtm

Fix CHANGELOG entry for Event::MemoryWarning
  CHANGELOG.md
Owners: none

Install `cargo-apk` with the stable toolchain
  .github/workflows/ci.yml
Owners: none

Add `Window::show_window_menu`
  CHANGELOG.md
  examples/drag_window.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

On macOS, fix globe key triggering assertion
  CHANGELOG.md
  src/platform_impl/macos/view.rs
Owners: @madsmtm

Use `setTimeout()` trick instead of `Window.requestIdleCallback()` (#3044)
  CHANGELOG.md
  Cargo.toml
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/state.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/web_sys/schedule.rs
  src/platform_impl/web/web_sys/timeout.rs
Owners: @daxpedda

Windows: Add #[deny(unsafe_op_in_unsafe_fn)] (#3070)
  src/platform_impl/windows/dpi.rs
  src/platform_impl/windows/drop_handler.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
  src/platform_impl/windows/ime.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/monitor.rs
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Use `frame` instead of `visibleRect` (#3043)
  CHANGELOG.md
  clippy.toml
  src/platform_impl/macos/appkit/view.rs
  src/platform_impl/macos/view.rs
Owners: @madsmtm

Update SCTK to 0.18.0
  CHANGELOG.md
  Cargo.toml
  deny.toml
  src/event.rs
  src/platform_impl/linux/common/xkb_state.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/seat/keyboard/mod.rs
  src/platform_impl/linux/wayland/seat/mod.rs
  src/platform_impl/linux/wayland/seat/pointer/mod.rs
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Ensure that winit initializes NSApplication (#3069)
  src/platform_impl/macos/event_loop.rs
Owners: @madsmtm

Add `Window::set_blur`
  CHANGELOG.md
  Cargo.toml
  FEATURES.md
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/types/kwin_blur.rs
  src/platform_impl/linux/wayland/types/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

On Wayland, fix TouchPhase::Canceled sent for Move
  CHANGELOG.md
  src/platform_impl/linux/wayland/seat/touch/mod.rs
Owners: @kchibisov

Remove old docs about EventLoop::run
  src/event_loop.rs
  src/lib.rs
Owners: none

Rename `PollType` to `PollStrategy` (#3089)
  CHANGELOG.md
  src/platform/web.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/schedule.rs
Owners: @daxpedda

Mark `startup_notify` unsafe functions as safe
  CHANGELOG.md
  src/platform/startup_notify.rs
Owners: none

On macOS, fix tabGroup misuse
  CHANGELOG.md
  src/platform_impl/macos/appkit/tab_group.rs
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

Make `WindowBuilder` `Send + Sync`
  CHANGELOG.md
  src/lib.rs
  src/platform/web.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
  tests/send_objects.rs
  tests/sync_object.rs
Owners: @daxpedda, @madsmtm, @kchibisov, @msiglreith

Winit version 0.29.2
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51
