Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51

MacOS: check if cursor changed before applying (#3324)
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

Add `WindowBuilder::with_cursor()`
  CHANGELOG.md
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @kchibisov, @madsmtm, @daxpedda, @msiglreith

Add `WindowBuilder::with_cursor()` (#3319)
  CHANGELOG.md
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @kchibisov, @madsmtm, @daxpedda, @msiglreith

Remove unsound `SendSyncWrapper`
  CHANGELOG.md
  src/lib.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/monitor.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @madsmtm, @kchibisov, @daxpedda, @msiglreith

Address review
  src/platform_impl/macos/monitor.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

Remove unsound `SendSyncWrapper` (#3303)
  CHANGELOG.md
  src/lib.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/monitor.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @madsmtm, @kchibisov, @daxpedda, @msiglreith

Rename `VideoMode` to `VideoModeHandle`
  CHANGELOG.md
  src/monitor.rs
  src/platform/ios.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/ios/monitor.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/mod.rs
  src/platform_impl/linux/wayland/output.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/monitor.rs
  src/platform_impl/linux/x11/util/randr.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/monitor.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/mod.rs
  src/platform_impl/orbital/mod.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/web/monitor.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/monitor.rs
  src/window.rs
Owners: @madsmtm, @msiglreith, @kchibisov, @jackpot51, @daxpedda

Rename `VideoMode` to `VideoModeHandle` (#3328)
  CHANGELOG.md
  src/monitor.rs
  src/platform/ios.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/ios/monitor.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/mod.rs
  src/platform_impl/linux/wayland/output.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/monitor.rs
  src/platform_impl/linux/x11/util/randr.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/monitor.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/mod.rs
  src/platform_impl/orbital/mod.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/web/monitor.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/monitor.rs
  src/window.rs
Owners: @madsmtm, @msiglreith, @kchibisov, @jackpot51, @daxpedda

Move `PlatformSpecificWindowBuilderAttributes`
  src/platform/ios.rs
  src/platform/macos.rs
  src/platform/startup_notify.rs
  src/platform/wayland.rs
  src/platform/web.rs
  src/platform/windows.rs
  src/platform/x11.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @madsmtm, @kchibisov, @daxpedda, @msiglreith, @jackpot51

Add deprecated `Window::set_cursor_icon()`
  src/window.rs
Owners: none

Add deprecated `Window::set_cursor_icon()` (#3329)
  src/window.rs
Owners: none

Change value sent to X server during minimize
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

bugfix: Change value sent to X server during minimize
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

bugfix: Reload Xft database on DPI change
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/xdisplay.rs
Owners: @kchibisov

bugfix: Change value sent to X server during minimize
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Winit version 0.29.7
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

bugfix: Change value sent to X server during minimize
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Winit version 0.29.7
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

bugfix: Reload Xft database on DPI change
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/xdisplay.rs
Owners: @kchibisov

Bump version on master
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

Bump version on master (#3332)
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

On Wayland, fix `Window::request_inner_size` during resize
  CHANGELOG.md
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/mod.rs
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

Query for higher Xrandr version
  src/platform_impl/linux/x11/monitor.rs
Owners: @kchibisov

Changelog entry 2: electic boogaloo
  CHANGELOG.md
Owners: none

On X11, query for higher Xrandr version
  CHANGELOG.md
  src/platform_impl/linux/x11/monitor.rs
Owners: @kchibisov

Cache the XRandR extension version
  src/platform_impl/linux/x11/monitor.rs
  src/platform_impl/linux/x11/xdisplay.rs
Owners: @kchibisov

Add le epic changelog entry
  CHANGELOG.md
Owners: none

Fix #3335 in here as well
  src/platform_impl/linux/x11/xdisplay.rs
Owners: @kchibisov

On Wayland, fix `Window::request_inner_size` during resize
  CHANGELOG.md
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/mod.rs
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

On X11, update keymap on XkbMapNotify
  CHANGELOG.md
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

On X11, update keymap on XkbMapNotify
  CHANGELOG.md
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

On X11, fix `ModifiersChanged` from xdotool
  CHANGELOG.md
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

On X11, fix `ModifiersChanged` from xdotool
  CHANGELOG.md
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

Fixup changelog
  CHANGELOG.md
Owners: none

On X11, cache the XRandR extension version
  src/platform_impl/linux/x11/monitor.rs
  src/platform_impl/linux/x11/xdisplay.rs
Owners: @kchibisov

On X11, query for higher Xrandr version
  CHANGELOG.md
  src/platform_impl/linux/x11/monitor.rs
Owners: @kchibisov

On Wayland, fix `Window::request_inner_size` during resize
  CHANGELOG.md
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/mod.rs
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

On X11, update keymap on XkbMapNotify
  CHANGELOG.md
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

On X11, fix `ModifiersChanged` from xdotool
  CHANGELOG.md
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

On X11, cache the XRandR extension version
  src/platform_impl/linux/x11/monitor.rs
  src/platform_impl/linux/x11/xdisplay.rs
Owners: @kchibisov
