Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51

Add android ime support
  src/event.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

Refactor android ime support, use Ime::Replace instead of separate event
  src/event.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

Update icrate to v0.0.4 (#2992)
  Cargo.toml
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/appkit/application.rs
  src/platform_impl/macos/appkit/screen.rs
  src/platform_impl/macos/appkit/view.rs
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window_delegate.rs
Owners: @madsmtm

Export smol_str; impl Ord for Key
  CHANGELOG.md
  src/keyboard.rs
Owners: none

Add fn ElementState::is_pressed
  CHANGELOG.md
  src/event.rs
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update src/event.rs
  src/event.rs
Owners: none

Export smol_str and impl Ord for Key
  CHANGELOG.md
  src/event.rs
  src/keyboard.rs
Owners: none

Add `Window::on_present_notify` to ack about drawing
  CHANGELOG.md
  examples/window.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

On Wayland, use frame callbacks to throttle RedrawRequested
  CHANGELOG.md
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/window.rs
Owners: @kchibisov

On Web, use `requestAnimationFrame` for `RedrawRequested`
  CHANGELOG.md
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/animation_frame.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/window.rs
  src/window.rs
Owners: @daxpedda

Add `Window::on_present_notify` to ack about drawing
  CHANGELOG.md
  examples/window.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

On Web, use `requestAnimationFrame` for `RedrawRequested`
  CHANGELOG.md
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/animation_frame.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/window.rs
  src/window.rs
Owners: @daxpedda

On Wayland, use frame callbacks to throttle RedrawRequested
  CHANGELOG.md
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/window.rs
Owners: @kchibisov

use sketch of pointer api
  src/event.rs
  src/platform_impl/linux/wayland/seat/pointer/mod.rs
  src/platform_impl/linux/wayland/seat/touch/mod.rs
Owners: @kchibisov

remove extra types
  src/event.rs
  src/platform_impl/linux/wayland/seat/pointer/mod.rs
  src/platform_impl/linux/wayland/seat/touch/mod.rs
Owners: @kchibisov

detach info from event
  src/event.rs
  src/platform_impl/linux/wayland/seat/pointer/mod.rs
  src/platform_impl/linux/wayland/seat/touch/mod.rs
Owners: @kchibisov

remove spurious g
  src/event.rs
Owners: none

100% coverage for dpi module
  tests/dpi.rs
Owners: none

100% coverage for the event module
  tests/event.rs
Owners: none

Eat some coverage in error.rs
  src/error.rs
Owners: none

Fix review comments
  src/dpi.rs
  src/error.rs
  src/event.rs
  tests/dpi.rs
  tests/event.rs
Owners: none

Increase test coverage for generic modules
  src/dpi.rs
  src/error.rs
  src/event.rs
Owners: none

Remove hinstance and hwnd methods on WindowExtWindows
  src/platform/windows.rs
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Remove some pointer accessor methods on WindowExtIOS
  FEATURES.md
  src/platform/ios.rs
  src/platform_impl/ios/window.rs
Owners: @madsmtm

Remove ns_window and ns_view methods on WindowExtMacOS
  src/platform/macos.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

Remove pointer accessor methods on wayland extension traits
  src/platform/wayland.rs
  src/platform_impl/linux/wayland/window/mod.rs
Owners: @kchibisov

Remove pointer accessor methods on WindowExtX11
  CHANGELOG.md
  src/platform/x11.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Remove functionality already exposed through `raw-window-handle`
  CHANGELOG.md
  FEATURES.md
  src/platform/ios.rs
  src/platform/macos.rs
  src/platform/wayland.rs
  src/platform/windows.rs
  src/platform/x11.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/windows/window.rs
Owners: @madsmtm, @kchibisov, @msiglreith

Make with_x11_visual take ID instead of a pointer
  CHANGELOG.md
  src/platform/x11.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Rewrite an iterator collection
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

On Wayland, reduce amount of spurious wakeups
  CHANGELOG.md
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/event_loop/sink.rs
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/window/mod.rs
Owners: @kchibisov

On Wayland, reduce amount of spurious wakeups
  CHANGELOG.md
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/event_loop/sink.rs
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/window/mod.rs
Owners: @kchibisov

Remove 'static requirement on `run`
  src/event_loop.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith, @madsmtm, @jackpot51, @daxpedda

Implement Web
  src/event_loop.rs
  src/platform_impl/web/event_loop/mod.rs
Owners: @daxpedda

Add ios
  src/platform_impl/ios/event_loop.rs
Owners: @madsmtm

Use then_some instead of a manual implementation
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Remove 'static requirement on `run`
  src/event_loop.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith, @madsmtm, @jackpot51, @daxpedda

Make with_x11_visual take ID instead of a pointer
  CHANGELOG.md
  src/platform/x11.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

On X11, set visual_id in raw-window-handle
  CHANGELOG.md
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov
