Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda, @jackpot51, @richerfu, @jschwe

.github/CODEOWNERS:

# Android
/winit-android                      @MarijnS95

# Apple (AppKit + UIKit)
/winit-appkit                       @madsmtm
/winit-uikit                        @madsmtm
/winit-common/src/core_foundation   @madsmtm
/winit-common/src/event_handler.rs  @madsmtm

# XKB
/winit-common/src/xkb               @kchibisov

# Wayland
/winit-wayland                      @kchibisov

# X11
/winit-x11                          @kchibisov

# Web
/winit-web                          @daxpedda

# Windows (Win32) (UNOWNED)
#/winit-win32                       

# Orbital (Redox OS)
/winit-orbital                      @jackpot51

# OpenHarmony
/winit-ohos                         @richerfu @jschwe

Clarify that dynamic accepts_first_mouse takes precedence over static setting
  winit-core/src/application/macos.rs
Owners: none

Warn when accepts_first_mouse handler cannot be called due to re-entrancy
  winit-appkit/src/view.rs
Owners: @madsmtm

Add accepts_first_mouse example usage and document when to use static vs dynamic
  winit-core/src/application/macos.rs
  winit/examples/application.rs
Owners: none

Fix formatting
  winit-appkit/src/view.rs
Owners: @madsmtm

Can be send also when more than two fingers are set
  winit-wayland/src/seat/pointer/pointer_gesture.rs
Owners: @kchibisov

AppKit: Synthesize per-key modifier events on focus changes
  winit-appkit/src/event.rs
  winit-appkit/src/ffi.rs
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/event.rs
  winit/examples/modifier_keys.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

replace Hold TouchPhase with Started
  winit-core/src/event.rs
  winit-wayland/src/seat/pointer/pointer_gesture.rs
Owners: @kchibisov

extend comment
  winit-core/src/window.rs
Owners: none

Emit `destroy_surfaces()` consistently on all platforms
  winit-appkit/src/event_loop.rs
  winit-core/src/application/mod.rs
  winit-orbital/src/event_loop.rs
  winit-wayland/src/event_loop/mod.rs
  winit-win32/src/event_loop.rs
  winit-win32/src/event_loop/runner.rs
  winit-x11/src/event_loop.rs
  winit/src/changelog/v0.31.md
  winit/src/event_loop.rs
Owners: @madsmtm, @jackpot51, @kchibisov

winit-wayland: use `ext-background-effect` if available
  winit-core/src/window.rs
  winit-wayland/src/state.rs
  winit-wayland/src/types/bgr_effects.rs
  winit-wayland/src/types/ext_background_effect.rs
  winit-wayland/src/types/mod.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

winit-wayland: use `ext-background-effect` if available
  winit-core/src/window.rs
  winit-wayland/src/state.rs
  winit-wayland/src/types/bgr_effects.rs
  winit-wayland/src/types/ext_background_effect.rs
  winit-wayland/src/types/mod.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

add explicit HoldGesture event instead of sending every gesture event
  winit-core/src/event.rs
  winit-wayland/src/seat/pointer/pointer_gesture.rs
Owners: @kchibisov

fix clippy
  winit-wayland/src/seat/pointer/pointer_gesture.rs
Owners: @kchibisov

Fix compilation of the examples
  winit/examples/application.rs
Owners: none

add better documentation
  winit-core/src/event.rs
  winit/src/changelog/unreleased.md
Owners: none

Fix min size hint with Wayland CSD frame
  winit-wayland/src/window/state.rs
Owners: @kchibisov

fix: win32 taskbar_created deadlock
  winit-win32/src/event_loop.rs
Owners: none

Add windows-only attribute to enable WS_EX_NOACTIVATE
  winit-win32/src/lib.rs
  winit-win32/src/window.rs
  winit-win32/src/window_state.rs
  winit/src/changelog/unreleased.md
Owners: none

wayland: treat flush WouldBlock as recoverable back-pressure
  winit-wayland/src/event_loop/mod.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

chore: base of wayland layer_shell needed
  winit-wayland/src/lib.rs
  winit-wayland/src/output.rs
  winit-wayland/src/state.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

feat: set wayland namespace attribute
  winit-wayland/src/lib.rs
  winit-wayland/src/window/mod.rs
Owners: @kchibisov

feat: use layer_shell to instance layer
  winit-wayland/src/lib.rs
  winit-wayland/src/window/mod.rs
Owners: @kchibisov

fix: clippy suggestion on using box
  winit-wayland/src/window/state.rs
Owners: @kchibisov

fix: resolve clippy suggestions
  winit-wayland/src/window/state.rs
Owners: @kchibisov

chore: set xdg_toplevel_icon from specific shell
  winit-wayland/src/lib.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

fix: change visibility of params
  winit-wayland/src/window/state.rs
Owners: @kchibisov

feat: optional layer_shell and return error to notify when is required
  winit-wayland/src/state.rs
  winit-wayland/src/window/mod.rs
Owners: @kchibisov

refactor: move fractional scale from specific state to main window state
  winit-wayland/src/window/state.rs
Owners: @kchibisov

feat(wayland): global viewport and fractional scaling
  winit-wayland/src/window/state.rs
Owners: @kchibisov

refactor: create window attribute with layer shell function
  winit-wayland/src/lib.rs
Owners: @kchibisov

fix: resolve format suggestions
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/seat/pointer/relative_pointer.rs
  winit-wayland/src/state.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

winit-uikit: detect system dark/light theme
  winit-core/src/event.rs
  winit-core/src/window.rs
  winit-uikit/Cargo.toml
  winit-uikit/src/view.rs
  winit-uikit/src/window.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

docs: clarify ActiveEventLoop window creation
  winit/src/lib.rs
Owners: none

win32: avoid showing hidden windows when applying window state
  winit-win32/src/window_state.rs
  winit/src/changelog/unreleased.md
Owners: none

macOS: fix IME punctuation dropped when hasMarkedText() is false
  winit-appkit/src/view.rs
  winit/src/changelog/v0.31.md
Owners: @madsmtm

winit-x11: fix clippy::iter_kv_map on map values iteration
  winit-x11/src/event_processor.rs
Owners: @kchibisov

winit-orbital: provide last mouse position with button events
  winit-orbital/src/event_loop.rs
Owners: @jackpot51

winit-orbital: Fix i586 build
  winit-orbital/src/event_loop.rs
Owners: @jackpot51

wayland: use `ext-background-effect` if available
  src/changelog/unreleased.md
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/types/bgr_effects.rs
  src/platform_impl/linux/wayland/types/ext_background_effect.rs
  src/platform_impl/linux/wayland/types/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/window.rs
Owners: none

fix clippy and format
  winit-x11/src/event_processor.rs
Owners: @kchibisov
