Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda, @jackpot51, @richerfu, @jschwe

wayland IME: Discard completed delete request
  winit-wayland/src/seat/text_input/mod.rs
Owners: @kchibisov

macOS: Fix Korean composing text commit key handling
  winit-appkit/src/view.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

fix borderless game presentation options not sticking after screen change
  winit-appkit/src/window_delegate.rs
  winit/examples/application.rs
Owners: @madsmtm

update changelog
  winit/src/changelog/unreleased.md
Owners: none

fixed changelog typo
  winit/src/changelog/unreleased.md
Owners: none

comment borderless_game reason for being in windowDidChangeOcclusionState
  winit-appkit/src/window_delegate.rs
Owners: @madsmtm

fix application example
  winit/examples/application.rs
Owners: none

macOS: fix borderless game resetting after switching spaces (#4482)
  winit-appkit/src/window_delegate.rs
  winit/examples/application.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

win32: fix WM_IME_SETCONTEXT flag masking
  winit-win32/src/event_loop.rs
Owners: none

changelog: note Win32 IME context flag fix
  winit/src/changelog/unreleased.md
Owners: none

fix: add explicit closure type annotations for Rust 1.92+ compatibility
  src/changelog/unreleased.md
  src/platform_impl/linux/x11/ime/context.rs
  src/window.rs
Owners: none

macOS: add dynamic `ApplicationHandlerExtMacOS::accepts_first_mouse`
  winit-appkit/src/app_state.rs
  winit-appkit/src/view.rs
  winit-common/src/event_handler.rs
  winit-core/src/application/macos.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

Deduplicate Pixel impl for integers using a macro
  dpi/src/lib.rs
Owners: none

Deduplicate [Logical|Physical][Size|Position] From impls using a macro
  dpi/src/lib.rs
Owners: none

Reduce duplication in `dpi` module (#2148)
  dpi/src/lib.rs
Owners: none

Use new macOS 15 cursors for resize icons
  winit-appkit/src/cursor.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

Refactor usage of CFRunLoopObserver
  winit-appkit/src/app_state.rs
  winit-appkit/src/event_loop.rs
  winit-appkit/src/observer.rs
  winit-appkit/src/window_delegate.rs
  winit-common/Cargo.toml
  winit-common/src/core_foundation/main_run_loop.rs
  winit-common/src/core_foundation/main_run_loop_observer.rs
  winit-common/src/core_foundation/mod.rs
  winit-uikit/src/event_loop.rs
Owners: @madsmtm

Refactor usage of CFRunLoopObserver (#4349)
  winit-appkit/src/app_state.rs
  winit-appkit/src/event_loop.rs
  winit-appkit/src/observer.rs
  winit-appkit/src/window_delegate.rs
  winit-common/Cargo.toml
  winit-common/src/core_foundation/main_run_loop.rs
  winit-common/src/core_foundation/main_run_loop_observer.rs
  winit-common/src/core_foundation/mod.rs
  winit-uikit/src/event_loop.rs
Owners: @madsmtm

Update to softbuffer v0.4.8
  Cargo.toml
Owners: none

Allow building examples using `softbuffer` on Android
  winit/Cargo.toml
  winit/examples/application.rs
  winit/examples/util/fill.rs
Owners: none

Remove indentation in fill.rs helper
  winit/examples/util/fill.rs
Owners: none

Remove hacky symlinking between winit-appkit and winit-uikit
  winit-appkit/Cargo.toml
  winit-appkit/src/event_loop.rs
  winit-appkit/src/lib.rs
  winit-common/Cargo.toml
  winit-common/src/foundation/mod.rs
  winit-common/src/foundation/notification_center.rs
  winit-common/src/lib.rs
  winit-uikit/Cargo.toml
  winit-uikit/src/event_loop.rs
  winit-uikit/src/lib.rs
  winit-uikit/src/notification_center.rs
Owners: @madsmtm

Add debug assertions that observers run on the expected thread
  winit-common/src/foundation/notification_center.rs
Owners: none

Track spans across queued closures
  winit-common/src/core_foundation/main_run_loop.rs
Owners: @madsmtm

Use tracing macros in examples instead of println!
  clippy.toml
  winit-common/src/event_handler.rs
  winit-win32/src/keyboard_layout.rs
  winit-x11/src/util/mod.rs
  winit/build.rs
  winit/examples/child_window.rs
  winit/examples/control_flow.rs
  winit/examples/dnd.rs
  winit/examples/ime.rs
  winit/examples/pump_events.rs
  winit/examples/run_on_demand.rs
  winit/examples/util/tracing.rs
  winit/examples/window.rs
  winit/examples/x11_embed.rs
Owners: @madsmtm, @kchibisov

Use tracing spans instead of custom trace_scope! macro
  winit-appkit/src/app_state.rs
  winit-appkit/src/event_loop.rs
  winit-appkit/src/util.rs
  winit-appkit/src/view.rs
  winit-appkit/src/window.rs
  winit-appkit/src/window_delegate.rs
  winit/src/event_loop.rs
Owners: @madsmtm

Trace CFRunLoop activities
  winit-appkit/src/event_loop.rs
  winit-common/src/core_foundation/mod.rs
  winit-common/src/core_foundation/tracing_observers.rs
  winit-uikit/src/event_loop.rs
Owners: @madsmtm

Fix tracing registration in pump_events example
  winit/examples/pump_events.rs
Owners: none

Add tracing spans to UIKit backend
  winit-uikit/src/event_loop.rs
  winit-uikit/src/view.rs
  winit-uikit/src/view_controller.rs
  winit-uikit/src/window.rs
Owners: @madsmtm

Trace sendEvent: calls in AppKit
  winit-appkit/src/app.rs
Owners: @madsmtm

Use tracing helper module in all examples
  winit/examples/pump_events.rs
  winit/examples/run_on_demand.rs
  winit/examples/x11_embed.rs
Owners: none

winit-x11: fix debug mode overflow panic in `set_timestamp`
  winit-x11/src/xdisplay.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

winit-x11: fix debug mode overflow panic in `set_timestamp`
  winit-x11/src/xdisplay.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

fix(macos): clamp IME selected_range to prevent substringToIndex crash
  winit-appkit/src/view.rs
Owners: @madsmtm

changelog: add entry for macOS IME crash fix
  winit/src/changelog/unreleased.md
Owners: none

Fix panic at startup when wacom tablet connected
  winit-wayland/src/types/wp_tablet_input_v2.rs
Owners: @kchibisov

Add additional wayland tablet event handlers
  winit-wayland/src/types/wp_tablet_input_v2.rs
Owners: @kchibisov

replace XQueryKeymap with equivalent x11rb call
  winit-x11/src/util/keys.rs
Owners: @kchibisov

remove commented-out xlib call
  winit-x11/src/util/keys.rs
Owners: @kchibisov

wayland: use `ext-background-effect` if available
  winit-core/src/window.rs
  winit-wayland/src/state.rs
  winit-wayland/src/types/ext_background_effect.rs
  winit-wayland/src/types/mod.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

.github/CODEOWNERS:

# Android
/winit-android                      @MarijnS95

# Apple (AppKit + UIKit)
/winit-appkit                       @madsmtm
/winit-uikit                        @madsmtm
/winit-common/src/core_foundation   @madsmtm
/winit-common/src/event_handler.rs  @madsmtm

# XKB
/winit-common/src/xkb               @kchibisov

# Wayland
/winit-wayland                      @kchibisov

# X11
/winit-x11                          @kchibisov

# Web
/winit-web                          @daxpedda

# Windows (Win32) (UNOWNED)
#/winit-win32                       

# Orbital (Redox OS)
/winit-orbital                      @jackpot51

# OpenHarmony
/winit-ohos                         @richerfu @jschwe
