Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51

Add `Window::on_present_notify` to ack about drawing
  CHANGELOG.md
  examples/window.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

On Wayland, use frame callbacks to throttle RedrawRequested
  CHANGELOG.md
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/window.rs
Owners: @kchibisov

On Web, use `requestAnimationFrame` for `RedrawRequested`
  CHANGELOG.md
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/animation_frame.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/window.rs
  src/window.rs
Owners: @daxpedda

Remove functionality already exposed through `raw-window-handle`
  CHANGELOG.md
  FEATURES.md
  src/platform/ios.rs
  src/platform/macos.rs
  src/platform/wayland.rs
  src/platform/windows.rs
  src/platform/x11.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/windows/window.rs
Owners: @madsmtm, @kchibisov, @msiglreith

Increase test coverage for generic modules
  src/dpi.rs
  src/error.rs
  src/event.rs
Owners: none

On Wayland, reduce amount of spurious wakeups
  CHANGELOG.md
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/event_loop/sink.rs
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/window/mod.rs
Owners: @kchibisov

Remove 'static requirement on `run`
  src/event_loop.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith, @madsmtm, @jackpot51, @daxpedda

Make with_x11_visual take ID instead of a pointer
  CHANGELOG.md
  src/platform/x11.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

On X11, set visual_id in raw-window-handle
  CHANGELOG.md
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Android: Support unicode character mapping + dead keys
  Cargo.toml
  src/platform_impl/android/keycodes.rs
  src/platform_impl/android/mod.rs
Owners: @msiglreith

Fix event loop not waking up due to repeat source
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/seat/keyboard/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
Owners: @kchibisov

iOS: Use NSOperatingSystemVersion from icrate (#3019)
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/ffi.rs
Owners: @madsmtm

Add a way to embed the X11 window into another
  CHANGELOG.md
  examples/x11_embed.rs
  src/platform/x11.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/atoms.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Fix touch force for Apple Pencil
  CHANGELOG.md
  src/platform_impl/ios/view.rs
Owners: @madsmtm

Reexport raw-window-handle in window module
  CHANGELOG.md
  examples/child_window.rs
  src/window.rs
Owners: none

Pin android-activity git dependency
  Cargo.toml
Owners: none

Improve macOS/iOS/Web thread safety
  CHANGELOG.md
  Cargo.toml
  src/platform/ios.rs
  src/platform/macos.rs
  src/platform/web.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/util.rs
  src/platform_impl/macos/util/async.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/async.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @madsmtm, @daxpedda, @msiglreith, @kchibisov, @jackpot51

Winit version 0.29.0-beta.1
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

On Wayland, reduce amount of spurious wakeups
  CHANGELOG.md
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/event_loop/sink.rs
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/window/mod.rs
Owners: @kchibisov

Remove 'static requirement on `run`
  src/event_loop.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith, @madsmtm, @jackpot51, @daxpedda

window_ondemand: wait for Destroyed event before exiting app
  examples/window_ondemand.rs
Owners: none

Don't unnecessarily clone canvas on Web (#2934)
  src/platform_impl/web/web_sys/mod.rs
Owners: @daxpedda

Correctly detect that we don't support Emscripten (#2971)
  build.rs
Owners: none

Add `platform::startup_notify` for Wayland/X11
  CHANGELOG.md
  Cargo.toml
  examples/startup_notification.rs
  src/event.rs
  src/event_loop.rs
  src/platform/mod.rs
  src/platform/startup_notify.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/types/xdg_activation.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/activation.rs
  src/platform_impl/linux/x11/atoms.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/linux/x11/xdisplay.rs
  src/window.rs
Owners: @kchibisov

Add EventLoopExtPumpEvents and EventLoopExtRunOnDemand
  src/error.rs
  src/platform/pump_events.rs
  src/platform/run_ondemand.rs
Owners: none

Fix typos on Web (#2933)
  src/event.rs
Owners: none

Increase accuracy of various Web APIs (#2946)
  CHANGELOG.md
  src/platform/web.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/intersection_handle.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/window.rs
  src/window.rs
Owners: @daxpedda

Make with_x11_visual take ID instead of a pointer
  CHANGELOG.md
  src/platform/x11.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Remove `lifetime` from the `Event`
  CHANGELOG.md
  examples/child_window.rs
  examples/multithreaded.rs
  src/error.rs
  src/event.rs
  src/event_loop.rs
  src/platform/pump_events.rs
  src/platform/run_ondemand.rs
  src/platform/web.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/event_loop/sink.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window_delegate.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/windows/drop_handler.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
Owners: @daxpedda, @msiglreith, @madsmtm, @kchibisov, @jackpot51

On Web, cache commonly used values (#2947)
  clippy.toml
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/web_sys/resize_scaling.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

On macOS, add a way to query amount of tabbed windows
  examples/window_tabbing.rs
  src/platform/macos.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

Remove RedrawEventsCleared + MainEventsCleared, and added AboutToWait
  CHANGELOG.md
  examples/control_flow.rs
  examples/web.rs
  examples/window.rs
  examples/window_ondemand.rs
  examples/window_option_as_alt.rs
  examples/window_pump_events.rs
  examples/window_resize_increments.rs
  src/event.rs
  src/event_loop.rs
  src/lib.rs
  src/platform/pump_events.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/observer.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

Rename `LoopDestroyed` to `LoopExiting`
  CHANGELOG.md
  src/event.rs
  src/event_loop.rs
  src/lib.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/observer.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

Add timeout argument to pump_events
  examples/window_pump_events.rs
  src/platform/pump_events.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith, @kchibisov, @madsmtm

Fix event loop not waking up due to repeat source
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/seat/keyboard/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
Owners: @kchibisov

Windows: implement pump_events_with_timeout internally
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

Fix mentions of Wasm (#2950)
  FEATURES.md
  src/event_loop.rs
  src/window.rs
Owners: none

Improve macOS/iOS/Web thread safety
  CHANGELOG.md
  Cargo.toml
  src/platform/ios.rs
  src/platform/macos.rs
  src/platform/web.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/util.rs
  src/platform_impl/macos/util/async.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/async.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @madsmtm, @daxpedda, @msiglreith, @kchibisov, @jackpot51

iOS: Use NSOperatingSystemVersion from icrate (#3019)
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/ffi.rs
Owners: @madsmtm

Improve documentation of `WindowBuilderExtWebSys` methods (#2952)
  src/platform/web.rs
Owners: @daxpedda
