Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda, @jackpot51, @richerfu, @jschwe

.github/CODEOWNERS:

# Android
/winit-android                      @MarijnS95

# Apple (AppKit + UIKit)
/winit-appkit                       @madsmtm
/winit-uikit                        @madsmtm
/winit-common/src/core_foundation   @madsmtm
/winit-common/src/event_handler.rs  @madsmtm

# XKB
/winit-common/src/xkb               @kchibisov

# Wayland
/winit-wayland                      @kchibisov

# X11
/winit-x11                          @kchibisov

# Web
/winit-web                          @daxpedda

# Windows (Win32) (UNOWNED)
#/winit-win32                       

# Orbital (Redox OS)
/winit-orbital                      @jackpot51

# OpenHarmony
/winit-ohos                         @richerfu @jschwe

winit-web: Add IME support with EditContext API
  winit-web/Cargo.toml
  winit-web/src/event_loop/window_target.rs
  winit-web/src/web_sys/canvas.rs
  winit-web/src/window.rs
Owners: @daxpedda

Add changelog entry
  winit/src/changelog/unreleased.md
Owners: none

feat(macos): add `EventLoopBuilderExtMacOS::with_nsapplication_subclass`
  winit-appkit/src/event_loop.rs
  winit-appkit/src/lib.rs
  winit/src/changelog/unreleased.md
  winit/src/event_loop.rs
Owners: @madsmtm

fmt
  winit-appkit/src/lib.rs
Owners: @madsmtm

implement resize increments under wayland
  winit-core/src/window.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
  winit/examples/resize_increments.rs
Owners: @kchibisov

Fix ABI mismatch in INIT_MAIN_THREAD_ID for Windows runtime
  winit-win32/src/event_loop.rs
Owners: none

Initial support for popups. Currently only supports wayland
  winit-core/src/event_loop/mod.rs
  winit-core/src/lib.rs
  winit-core/src/popup.rs
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/lib.rs
  winit-wayland/src/seat/keyboard/mod.rs
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/seat/pointer/pointer_gesture.rs
  winit-wayland/src/seat/text_input/mod.rs
  winit-wayland/src/seat/touch/mod.rs
  winit-wayland/src/state.rs
  winit-wayland/src/types/wp_tablet_input_v2.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
  winit-x11/src/event_loop.rs
  winit/src/lib.rs
  winit/src/platform/startup_notify.rs
Owners: @kchibisov

Fix typo
  winit-wayland/src/window/mod.rs
Owners: @kchibisov

Run `cargo fmt`
  winit-wayland/src/state.rs
  winit-wayland/src/window/mod.rs
  winit-x11/src/event_loop.rs
Owners: @kchibisov

winit-win32: Fix ABI mismatch in INIT_MAIN_THREAD_ID
  winit-win32/src/event_loop.rs
Owners: none

Remove unused import
  winit-wayland/src/seat/text_input/mod.rs
Owners: @kchibisov

Remove unused parameter
  winit-x11/src/event_loop.rs
Owners: @kchibisov

fix(winit-orbital): handle `EINTR` when reading from `event_socket`
  winit-orbital/src/event_loop.rs
Owners: @jackpot51

misc(changelog): add Redox changes
  winit/src/changelog/unreleased.md
Owners: none

fix(winit-orbital): return error instead of panicking on read failure
  winit-orbital/src/event_loop.rs
Owners: @jackpot51

fix(winit-orbital): handle `EINTR` when reading from `event_socket`
  winit-orbital/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: @jackpot51

Add windows-only attribute to enable WS_EX_NOACTIVATE
  winit-win32/src/lib.rs
  winit-win32/src/window.rs
  winit-win32/src/window_state.rs
  winit/src/changelog/unreleased.md
Owners: none

Fix formatting errors
  winit-win32/src/lib.rs
  winit-win32/src/window_state.rs
Owners: none

feat: set wayland namespace attribute
  winit-wayland/src/lib.rs
  winit-wayland/src/window/mod.rs
Owners: @kchibisov

fix: change visibility of params
  winit-wayland/src/window/state.rs
Owners: @kchibisov

refactor: create window attribute with layer shell function
  winit-wayland/src/lib.rs
Owners: @kchibisov

refactor: move fractional scale from specific state to main window state
  winit-wayland/src/window/state.rs
Owners: @kchibisov

chore: set xdg_toplevel_icon from specific shell
  winit-wayland/src/lib.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

feat: use layer_shell to instance layer
  winit-wayland/src/lib.rs
  winit-wayland/src/window/mod.rs
Owners: @kchibisov

fix: resolve format suggestions
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/seat/pointer/relative_pointer.rs
  winit-wayland/src/state.rs
Owners: @kchibisov

chore: base of wayland layer_shell needed
  winit-wayland/src/lib.rs
  winit-wayland/src/output.rs
  winit-wayland/src/state.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

feat(wayland): global viewport and fractional scaling
  winit-wayland/src/window/state.rs
Owners: @kchibisov

feat: optional layer_shell and return error to notify when is required
  winit-wayland/src/state.rs
  winit-wayland/src/window/mod.rs
Owners: @kchibisov

fix(wayland): fractional scale destroy
  winit-wayland/src/window/state.rs
Owners: @kchibisov

fix: clippy suggestion on using box
  winit-wayland/src/window/state.rs
Owners: @kchibisov

fix: resolve clippy suggestions
  winit-wayland/src/window/state.rs
Owners: @kchibisov

Add Apple Pencil support on iOS with force, altitude, and azimuth data handling
  winit-uikit/src/view.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

feat(titlebar): add customizable titlebar options for macOS and Windows
  winit-appkit/src/lib.rs
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
  winit/examples/custom_titlebar.rs
Owners: @madsmtm

feat(titlebar): better support of custom titlebar on other systems
  winit-core/src/window.rs
  winit-x11/src/atoms.rs
  winit-x11/src/window.rs
  winit/examples/custom_titlebar.rs
Owners: @kchibisov

feat(titlebar): implement custom titlebar-less window with drag and resize support
  winit/examples/custom_decorations.rs
  winit/examples/util/fill.rs
Owners: none

feat(titlebar): add support for custom caption buttons and hit testing
  winit-x11/src/window.rs
  winit/examples/custom_decorations.rs
  winit/examples/custom_titlebar.rs
  winit/examples/util/fill.rs
Owners: @kchibisov

inline
  winit-wayland/src/window/state.rs
Owners: @kchibisov

rm empty lines
  winit-wayland/src/window/state.rs
Owners: @kchibisov

Update winit-core/src/window.rs
  winit-core/src/window.rs
Owners: none

Update winit-core/src/window.rs
  winit-core/src/window.rs
Owners: none
