Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda, @jackpot51, @richerfu, @jschwe

fix: resolve clippy suggestions
  winit-wayland/src/window/state.rs
Owners: @kchibisov

refactor: create window attribute with layer shell function
  winit-wayland/src/lib.rs
Owners: @kchibisov

fix: resolve format suggestions
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/seat/pointer/relative_pointer.rs
  winit-wayland/src/state.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

WIP
  winit-wayland/src/popup.rs
  winit-wayland/src/popup/state.rs
Owners: @kchibisov

Fix that PopupHandle::configure will be called
  winit-wayland/src/popup.rs
  winit-wayland/src/popup/state.rs
  winit-wayland/src/state.rs
Owners: @kchibisov

send window_requests to redraw to draw the background. Now it crashed because the windowid is not in the windows list.
  winit-wayland/src/popup.rs
  winit-wayland/src/popup/state.rs
  winit-wayland/src/state.rs
Owners: @kchibisov

initial commit to use a WindowType and using the WindowState also for the popup
  winit-wayland/src/window/state.rs
Owners: @kchibisov

WIP
  winit-wayland/src/window/state.rs
Owners: @kchibisov

ci: fix unicode-segmentation bumping MSRV
  .github/workflows/ci.yml
Owners: none

cargo-deny: fix erroring on new jni-sys version
  deny.toml
Owners: none

cargo-deny: fix new android-activity
  deny.toml
Owners: none

Fix CI (#4546)
  .github/workflows/ci.yml
  deny.toml
Owners: none

Clean up cargo-deny
  .github/workflows/ci.yml
  deny.toml
Owners: none

Remove symlinking between winit-appkit and winit-uikit (#4530)
  winit-appkit/Cargo.toml
  winit-appkit/src/event_loop.rs
  winit-appkit/src/lib.rs
  winit-common/Cargo.toml
  winit-common/src/foundation/mod.rs
  winit-common/src/foundation/notification_center.rs
  winit-common/src/lib.rs
  winit-uikit/Cargo.toml
  winit-uikit/src/event_loop.rs
  winit-uikit/src/lib.rs
  winit-uikit/src/notification_center.rs
Owners: @madsmtm

Remove leftover apple/appkit/mod.rs (#4533)
  winit/src/platform_impl/apple/appkit/mod.rs
Owners: none

AppKit: Use fn_addr_eq now that it's in MSRV (#4532)
  winit-appkit/src/app.rs
Owners: @madsmtm

Avoid unsafety in application example
  winit/examples/application.rs
  winit/examples/util/fill.rs
Owners: none

Reduce the use of custom cfgs in examples
  winit/examples/application.rs
  winit/examples/child_window.rs
  winit/examples/control_flow.rs
  winit/examples/ime.rs
  winit/examples/pump_events.rs
  winit/examples/run_on_demand.rs
  winit/examples/util/fill.rs
  winit/examples/util/tracing.rs
  winit/examples/window.rs
Owners: none

Avoid thread local hack in examples
  winit/Cargo.toml
  winit/examples/child_window.rs
  winit/examples/control_flow.rs
  winit/examples/dnd.rs
  winit/examples/ime.rs
  winit/examples/pump_events.rs
  winit/examples/run_on_demand.rs
  winit/examples/util/fill.rs
  winit/examples/window.rs
  winit/examples/x11_embed.rs
Owners: none

Remove x11-dl from winit-common
  winit-common/Cargo.toml
  winit-common/src/xkb/keymap.rs
  winit-common/src/xkb/mod.rs
  winit-common/src/xkb/state.rs
Owners: @kchibisov

got the popups working but they are not yet at the desired position
  winit-wayland/src/popup.rs
  winit-wayland/src/state.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

use dedicated type to determine if the window is a popup or not
  winit-core/src/window.rs
  winit-wayland/src/event_loop/mod.rs
Owners: @kchibisov

determine the scale factor from the parent window
  winit-wayland/src/popup.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

add comment, thtat positioning is now also working on wayland with popups
  winit-core/src/window.rs
Owners: none

set the positioner gravity
  winit-wayland/src/popup.rs
Owners: @kchibisov

remnove popup::state
  winit-wayland/src/popup.rs
  winit-wayland/src/popup/state.rs
Owners: @kchibisov

no need to store the positioner
  winit-wayland/src/popup.rs
Owners: @kchibisov

add comment
  winit-wayland/src/popup.rs
Owners: @kchibisov

Fix formatting in event.rs documentation
  winit-core/src/event.rs
Owners: none

use official sctk
  winit-wayland/Cargo.toml
Owners: @kchibisov

consider the location of the frame for client side decoration
  winit-wayland/src/popup.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

initial add of the ZwpPointerGestureHoldV1 to be able to detect touchpad touches
  winit-wayland/Cargo.toml
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/seat/pointer/pointer_gesture.rs
Owners: @kchibisov

ZwpPointerGestureHoldV1 is from version 3 on available
  winit-wayland/src/seat/pointer/pointer_gesture.rs
Owners: @kchibisov

Implement TouchPhase::Hold
  winit-core/src/event.rs
  winit-wayland/src/seat/pointer/pointer_gesture.rs
Owners: @kchibisov

add changelog and remove not needed variable
  winit-wayland/src/seat/pointer/pointer_gesture.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

fix typo
  winit-core/src/event.rs
Owners: none

no need to update wayland-protocols-plasma
  winit-wayland/Cargo.toml
Owners: @kchibisov

Clean up cargo-deny
  .github/workflows/ci.yml
  deny.toml
Owners: none

macOS: add dynamic `ApplicationHandlerExtMacOS::accepts_first_mouse`
  winit-appkit/src/app_state.rs
  winit-appkit/src/view.rs
  winit-common/src/event_handler.rs
  winit-core/src/application/macos.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

Remove stale 'after the refactoring' from comment
  winit-common/src/event_handler.rs
Owners: @madsmtm

.github/CODEOWNERS:

# Android
/winit-android                      @MarijnS95

# Apple (AppKit + UIKit)
/winit-appkit                       @madsmtm
/winit-uikit                        @madsmtm
/winit-common/src/core_foundation   @madsmtm
/winit-common/src/event_handler.rs  @madsmtm

# XKB
/winit-common/src/xkb               @kchibisov

# Wayland
/winit-wayland                      @kchibisov

# X11
/winit-x11                          @kchibisov

# Web
/winit-web                          @daxpedda

# Windows (Win32) (UNOWNED)
#/winit-win32                       

# Orbital (Redox OS)
/winit-orbital                      @jackpot51

# OpenHarmony
/winit-ohos                         @richerfu @jschwe
