Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda, @jackpot51, @richerfu, @jschwe

chore: fix nightly clippy
  dpi/src/lib.rs
  winit-core/src/cursor.rs
  winit-core/src/icon.rs
  winit-core/src/monitor.rs
  winit-core/src/window.rs
  winit/src/lib.rs
Owners: none

chore: update to objc2 frameworks v0.3.2
  Cargo.toml
  winit-appkit/src/app.rs
  winit-appkit/src/app_state.rs
  winit-appkit/src/cursor.rs
  winit-appkit/src/event.rs
  winit-appkit/src/event_loop.rs
  winit-appkit/src/menu.rs
  winit-appkit/src/monitor.rs
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
  winit-uikit/src/event_loop.rs
  winit-uikit/src/monitor.rs
  winit-uikit/src/window.rs
Owners: @madsmtm

chore: update to objc2 frameworks v0.3.2
  Cargo.toml
  winit-appkit/src/app.rs
  winit-appkit/src/app_state.rs
  winit-appkit/src/cursor.rs
  winit-appkit/src/event.rs
  winit-appkit/src/event_loop.rs
  winit-appkit/src/menu.rs
  winit-appkit/src/monitor.rs
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
  winit-uikit/src/event_loop.rs
  winit-uikit/src/monitor.rs
  winit-uikit/src/window.rs
Owners: @madsmtm

chore: fix nightly clippy
  dpi/src/lib.rs
  winit-core/src/cursor.rs
  winit-core/src/icon.rs
  winit-core/src/monitor.rs
  winit-core/src/window.rs
  winit/src/lib.rs
Owners: none

chore: fix typos causing dead links
  winit-core/src/window.rs
  winit-wayland/src/lib.rs
  winit-x11/src/lib.rs
Owners: @kchibisov

chore: fix typos causing dead links
  winit-core/src/window.rs
  winit-wayland/src/lib.rs
  winit-x11/src/lib.rs
Owners: @kchibisov

winit-core:winit: add tablet input support
  clippy.toml
  winit-core/src/event.rs
  winit-uikit/src/view.rs
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/state.rs
  winit-wayland/src/types/mod.rs
  winit-wayland/src/types/wp_tablet_input_v2.rs
  winit-web/src/cursor.rs
  winit-web/src/event_loop/runner.rs
  winit-web/src/web_sys/event.rs
  winit-web/src/web_sys/pointer.rs
  winit-win32/src/event_loop.rs
  winit-win32/src/util.rs
  winit-win32/src/window.rs
  winit-x11/src/atoms.rs
  winit-x11/src/event_loop.rs
  winit-x11/src/event_processor.rs
  winit/docs/ATTRIBUTION.md
  winit/docs/res/tool_altitude.webp
  winit/docs/res/tool_azimuth.webp
  winit/docs/res/tool_tilt_x.webp
  winit/docs/res/tool_tilt_y.webp
  winit/src/changelog/unreleased.md
Owners: @madsmtm, @kchibisov, @daxpedda

winit-core:winit: add tablet input support
  clippy.toml
  winit-core/src/event.rs
  winit-uikit/src/view.rs
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/state.rs
  winit-wayland/src/types/mod.rs
  winit-wayland/src/types/wp_tablet_input_v2.rs
  winit-web/src/cursor.rs
  winit-web/src/event_loop/runner.rs
  winit-web/src/web_sys/event.rs
  winit-web/src/web_sys/pointer.rs
  winit-win32/src/event_loop.rs
  winit-win32/src/util.rs
  winit-win32/src/window.rs
  winit-x11/src/atoms.rs
  winit-x11/src/event_loop.rs
  winit-x11/src/event_processor.rs
  winit/docs/ATTRIBUTION.md
  winit/docs/res/tool_altitude.webp
  winit/docs/res/tool_azimuth.webp
  winit/docs/res/tool_tilt_x.webp
  winit/docs/res/tool_tilt_y.webp
  winit/src/changelog/unreleased.md
Owners: @madsmtm, @kchibisov, @daxpedda

wayland: Handle `axis_value120` scroll events
  winit-wayland/src/seat/pointer/mod.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

wayland: handle `axis_value120` scroll events
  winit-wayland/src/seat/pointer/mod.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

wayland: add wayland-csd-adwaita-notitlebar feature
  winit-wayland/Cargo.toml
  winit-wayland/src/lib.rs
  winit-wayland/src/window/state.rs
  winit/Cargo.toml
Owners: @kchibisov

wayland: add prefer_csd attribute
  winit-wayland/src/lib.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

Fix deadlock in request_ime_update
  winit-x11/src/window.rs
Owners: @kchibisov

x11: fix deadlock in request_ime_update
  winit-x11/src/window.rs
Owners: @kchibisov

macOS:IME prefer insertText over keyDown when ime is enabled
  winit-appkit/src/view.rs
Owners: @madsmtm

Add with_simple_fullscreen to WindowAttributesMacOS
  winit-appkit/src/lib.rs
  winit-appkit/src/window_delegate.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

Implement set_window_icon for macOS
  winit-appkit/Cargo.toml
  winit-appkit/src/window_delegate.rs
  winit-core/src/window.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

wayland: handle wl_seat v10 repeated state
  winit-wayland/src/seat/keyboard/mod.rs
Owners: @kchibisov

x11: ignore mouse scroll button release events
  winit-x11/src/event_processor.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

wayland: handle wl_seat v10 repeated state
  deny.toml
  winit-wayland/src/seat/keyboard/mod.rs
Owners: @kchibisov

wayland: handle wl_seat v10 repeated state
  deny.toml
  winit-wayland/src/seat/keyboard/mod.rs
Owners: @kchibisov

Add with_simple_fullscreen to WindowAttributesMacOS
  winit-appkit/src/lib.rs
  winit-appkit/src/window_delegate.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

On Windows, don't confine cursor to center of window when grabbed and hidden
  winit-win32/src/window_state.rs
  winit/src/changelog/unreleased.md
Owners: none

api: revamp device event button API
  winit-core/src/event.rs
Owners: none

win32: update `DeviceEvent::Button` to `DeviceEvent::PointerButton`
  winit-win32/src/event_loop.rs
  winit-win32/src/raw_input.rs
Owners: none

x11: update `DeviceEvent::Button` to `DeviceEvent::PointerButton`
  winit-x11/src/event_processor.rs
Owners: @kchibisov

web: update `DeviceEvent::Button` to `DeviceEvent::PointerButton`
  winit-web/src/event_loop/runner.rs
Owners: @daxpedda

appkit: update `DeviceEvent::Button` to `DeviceEvent::PointerButton`
  winit-appkit/src/app.rs
  winit-appkit/src/event.rs
  winit-appkit/src/view.rs
Owners: @madsmtm

changelog: add device pointer button to pointer overhaul entry
  winit/src/changelog/unreleased.md
Owners: none

x11: ignore mouse scroll button release events
  winit-x11/src/event_processor.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

ci: fix version of smol_str
  .github/workflows/ci.yml
Owners: none

ci: fix version of smol_str
  .github/workflows/ci.yml
Owners: none

wayland: add prefer_csd attribute
  winit-wayland/src/lib.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

Fix build on android.
  Cargo.toml
Owners: none

Update the changelog.
  winit/src/changelog/unreleased.md
Owners: none

ime example: Fix crash
  winit/examples/ime.rs
Owners: none

KeyEvent: clarify text_with_all_modifiers
  winit-core/src/event.rs
Owners: none

examples/ime: fix crash on wayland
  winit-core/src/event.rs
  winit/examples/ime.rs
Owners: none

ci: fix eslint version to 9.38.0
  .github/workflows/ci.yml
Owners: none

ci: fix eslint version to 9.38.0
  .github/workflows/ci.yml
Owners: none

.github/CODEOWNERS:

# Android
/winit-android                      @MarijnS95

# Apple (AppKit + UIKit)
/winit-appkit                       @madsmtm
/winit-uikit                        @madsmtm
/winit-common/src/core_foundation   @madsmtm
/winit-common/src/event_handler.rs  @madsmtm

# XKB
/winit-common/src/xkb               @kchibisov

# Wayland
/winit-wayland                      @kchibisov

# X11
/winit-x11                          @kchibisov

# Web
/winit-web                          @daxpedda

# Windows (Win32) (UNOWNED)
#/winit-win32                       

# Orbital (Redox OS)
/winit-orbital                      @jackpot51

# OpenHarmony
/winit-ohos                         @richerfu @jschwe
