Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

Update Clippy to v1.73
  src/platform_impl/linux/wayland/seat/keyboard/mod.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/view.rs
Owners: @kchibisov, @madsmtm

Update Clippy to v1.73 (#3135)
  src/platform_impl/linux/wayland/seat/keyboard/mod.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/view.rs
Owners: @kchibisov, @madsmtm

Remove unnecessary usage of `once_cell::unsync::Lazy`
  src/platform_impl/web/async.rs
  src/platform_impl/web/web_sys/fullscreen.rs
  src/platform_impl/web/web_sys/resize_scaling.rs
  src/platform_impl/web/web_sys/schedule.rs
Owners: @daxpedda

Web: remove unnecessary usage of `once_cell::unsync::Lazy` (#3134)
  src/platform_impl/web/async.rs
  src/platform_impl/web/web_sys/fullscreen.rs
  src/platform_impl/web/web_sys/resize_scaling.rs
  src/platform_impl/web/web_sys/schedule.rs
Owners: @daxpedda

Support KDE Wayland blur protocol
  CHANGELOG.md
  Cargo.toml
  FEATURES.md
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/types/kwin_blur.rs
  src/platform_impl/linux/wayland/types/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

Update src/window.rs
  src/window.rs
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Add `Window::set_blur`
  CHANGELOG.md
  Cargo.toml
  FEATURES.md
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/types/kwin_blur.rs
  src/platform_impl/linux/wayland/types/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

Web: fix `ControlFlow::WaitUntil` to never wake up **before** the given time
  CHANGELOG.md
  src/platform_impl/web/web_sys/schedule.rs
Owners: @daxpedda

Web: fix `ControlFlow::WaitUntil` to never wake up **before** the given time (#3133)
  CHANGELOG.md
  src/platform_impl/web/web_sys/schedule.rs
Owners: @daxpedda

Add configuration for preferred status bar style
  src/platform/ios.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/ios/uikit/mod.rs
  src/platform_impl/ios/uikit/status_bar.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
Owners: @madsmtm

Update CHANGELOG
  CHANGELOG.md
Owners: none

PR feedback
  src/platform/ios.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/ios/uikit/mod.rs
  src/platform_impl/ios/uikit/status_bar.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
Owners: @madsmtm

Update FEATURES.md
  FEATURES.md
Owners: none

Remove unused import
  src/platform_impl/ios/mod.rs
Owners: @madsmtm

UIStatusBarStyle => StatusBarStyle
  src/platform/ios.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
Owners: @madsmtm

Add UIStatusBarStyle again to prevent exposing repr and objc2 dependency version
  src/platform/ios.rs
  src/platform_impl/ios/uikit/mod.rs
  src/platform_impl/ios/uikit/status_bar_style.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
Owners: @madsmtm

Remove obsolete docs about wayland CSD env variable
  src/window.rs
Owners: none

On Wayland, fix MonitorHandle position
  src/platform_impl/linux/wayland/output.rs
Owners: @kchibisov

Fix reset to `Poll` after the event loop starts
  README.md
  src/lib.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/windows/event_loop/runner.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov

Fix docs compilation
  src/window.rs
Owners: none

Add `Window::show_window_menu`
  CHANGELOG.md
  examples/drag_window.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

Use an unique window class name per winit version and check for errors when registering class names
  src/platform/windows.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Add Occluded and MemoryWarning events for iOS/Android
  CHANGELOG.md
  src/event.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/view.rs
Owners: @msiglreith, @madsmtm

Fix CHANGELOG entry for Event::MemoryWarning
  CHANGELOG.md
Owners: none

Fix CHANGELOG entry for Event::MemoryWarning
  CHANGELOG.md
Owners: none

Use an unique event loop window class name
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Support multiple event loop instances on Windows
  src/event_loop.rs
  src/platform/windows.rs
Owners: @msiglreith

implement set_cursor_hittest for x11
  FEATURES.md
  src/platform_impl/linux/x11/window.rs
  src/window.rs
Owners: @kchibisov

feat: Implement set_cursor_hittest for X11
  FEATURES.md
  src/platform_impl/linux/x11/window.rs
  src/window.rs
Owners: @kchibisov

examples/ime, web: prefer use of logical_key
  examples/ime.rs
  examples/web.rs
Owners: none

Split enum KeyCode into PhysicalKey, KeyCode
  examples/resizable.rs
  examples/window_debug.rs
  src/event.rs
  src/keyboard.rs
  src/platform/scancode.rs
  src/platform_impl/android/keycodes.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/linux/common/keymap.rs
  src/platform_impl/linux/common/xkb_state.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/keyboard.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/event.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/keyboard.rs
  src/platform_impl/windows/keyboard_layout.rs
  tests/serde_objects.rs
Owners: @msiglreith, @kchibisov, @madsmtm, @jackpot51, @daxpedda

Add validation notes on previous commit
  src/platform_impl/windows/keyboard_layout.rs
Owners: @msiglreith

Fix windows lifetimes
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/window.rs
Owners: @msiglreith

More fixes for CI errors
  examples/child_window.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/window.rs
Owners: @kchibisov

Make the compile errors go away on web
  src/platform/web.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
  src/window.rs
Owners: @daxpedda

Finish the iOS and Orbital backends
  src/platform/ios.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/orbital/window.rs
Owners: @madsmtm, @jackpot51

Make the compile errors go away on WIndows
  src/platform/windows.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
Owners: @msiglreith

Make the compile errors go away on X11
  Cargo.toml
  examples/child_window.rs
  examples/util/fill.rs
  src/event_loop.rs
  src/lib.rs
  src/platform/startup_notify.rs
  src/platform/wayland.rs
  src/platform/x11.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/window.rs
Owners: @kchibisov

Make the Android build errors go away
  src/platform/android.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/window.rs
Owners: @msiglreith, @daxpedda

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51
