Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51

Remaining review comments
  examples/child_window.rs
  src/lib.rs
  src/platform/android.rs
  src/platform/ios.rs
  src/platform/macos.rs
  src/platform/startup_notify.rs
  src/platform/wayland.rs
  src/platform/web.rs
  src/platform/windows.rs
  src/platform/x11.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

Partially fix review comments
  examples/util/fill.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
Owners: @madsmtm, @kchibisov, @jackpot51

Fix CI errors
  deny.toml
  examples/child_window.rs
  src/platform/windows.rs
  src/window.rs
Owners: @msiglreith

Fix X11 CI error
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Make the errors go away on macOS
  src/platform/macos.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

Update to new raw-window-handle strategy
  Cargo.toml
  deny.toml
  examples/child_window.rs
  examples/util/fill.rs
  src/event_loop.rs
  src/lib.rs
  src/platform/ios.rs
  src/platform/macos.rs
  src/platform/windows.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @madsmtm, @msiglreith, @kchibisov, @jackpot51, @daxpedda

Fix ndk deps versions
  Cargo.toml
Owners: none

Fix ndk deps versions
  Cargo.toml
Owners: none

Fix potentially unaligned references in X11 device
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

Update SCTK to 0.18.0
  CHANGELOG.md
  Cargo.toml
  deny.toml
  src/event.rs
  src/platform_impl/linux/common/xkb_state.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/seat/keyboard/mod.rs
  src/platform_impl/linux/wayland/seat/mod.rs
  src/platform_impl/linux/wayland/seat/pointer/mod.rs
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Update SCTK to 0.18.0
  CHANGELOG.md
  Cargo.toml
  deny.toml
  src/event.rs
  src/platform_impl/linux/common/xkb_state.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/seat/keyboard/mod.rs
  src/platform_impl/linux/wayland/seat/mod.rs
  src/platform_impl/linux/wayland/seat/pointer/mod.rs
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Fix potentially unaligned references in X11 device
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

Implement `AsFd`/`AsRawFd` for `EventLoop<T>`
  CHANGELOG.md
  src/event_loop.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

Disable test builds on Android
  .github/workflows/ci.yml
Owners: none

Fix compile error in xbuild-target
  .github/workflows/ci.yml
  xbuild-target/src/main.rs
Owners: none

Review comments
  .github/workflows/ci.yml
  Cargo.toml
  android-xbuild-target/Cargo.toml
  android-xbuild-target/README.md
  android-xbuild-target/src/lib.rs
  ios-xbuild-target/Cargo.toml
  ios-xbuild-target/README.md
  ios-xbuild-target/src/main.rs
Owners: none

Typo!
  .github/workflows/ci.yml
Owners: none

fmt
  android-xbuild-target/src/lib.rs
Owners: none

Once more unto the breach!
  .github/workflows/ci.yml
Owners: none

Eyepatch for the android linker error
  .github/workflows/ci.yml
Owners: none

Hacky way to exclude 1.65.0 on Android
  .github/workflows/ci.yml
Owners: none

Don't use CMD subselection on Android
  .github/workflows/ci.yml
Owners: none

Review comments
  .github/workflows/ci.yml
  Cargo.toml
  android-xbuild-target/README.md
  ios-xbuild-target/README.md
  xbuild/README.md
  xbuild/android-target/Cargo.toml
  xbuild/android-target/src/lib.rs
  xbuild/ios-target/Cargo.toml
  xbuild/ios-target/src/main.rs
Owners: none

Fix malformed install-action call
  .github/workflows/ci.yml
Owners: none

Use xbuild instead of cargo apk in the CI
  .github/workflows/ci.yml
  Cargo.toml
  xbuild-target/Cargo.toml
  xbuild-target/README.md
  xbuild-target/src/main.rs
Owners: none

TEST CI PLEASE IGNORE
  .github/workflows/ci.yml
Owners: none

Install more things
  .github/workflows/ci.yml
Owners: none

Use clang as a linker
  .github/workflows/ci.yml
Owners: none

Test Rust to use lld more strongly
  .github/workflows/ci.yml
Owners: none

Explicitly add -shared to linker args
  .github/workflows/ci.yml
Owners: none

Add some From impls for NativeKey, PhysicalKey, Key
  src/keyboard.rs
Owners: none

Fixes for KeyCode / PhysicalKey split
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/keyboard.rs
Owners: @madsmtm, @msiglreith

Add some PartialEq impls for NativeKey, Key, etc.
  examples/multiwindow.rs
  examples/startup_notification.rs
  src/keyboard.rs
Owners: none

Split enum Key into Key, Action
  examples/control_flow.rs
  examples/cursor_grab.rs
  examples/fullscreen.rs
  examples/ime.rs
  examples/multithreaded.rs
  examples/multiwindow.rs
  examples/window_resize_increments.rs
  examples/window_tabbing.rs
  src/event.rs
  src/keyboard.rs
  src/platform_impl/android/keycodes.rs
  src/platform_impl/linux/common/keymap.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/web/keyboard.rs
  src/platform_impl/web/web_sys/event.rs
  src/platform_impl/windows/keyboard.rs
  src/platform_impl/windows/keyboard_layout.rs
Owners: @msiglreith, @madsmtm, @daxpedda

Update src/platform/ios.rs
  src/platform/ios.rs
Owners: @madsmtm

Format.
  src/platform/ios.rs
Owners: @madsmtm

Implement `AsFd`/`AsRawFd` for `EventLoop<T>`
  CHANGELOG.md
  src/event_loop.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

Add a note on `Window::request_redraw` on Windows
  src/window.rs
Owners: none

Add a note on `Window::request_redraw` on Windows
  src/window.rs
Owners: none

Rework Web async types
  src/platform_impl/web/async.rs
Owners: @daxpedda
