Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51

Wayland implementation
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/output.rs
Owners: @kchibisov

X11 implementation
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

Windows implementation
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
Owners: @msiglreith

MacOS implementation
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
Owners: @madsmtm

Android implementation
  src/platform_impl/android/mod.rs
Owners: @msiglreith

iOS implementation
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
Owners: @madsmtm

Redox implementation
  src/platform_impl/orbital/event_loop.rs
Owners: @jackpot51

On Wayland, fix TouchPhase::Canceled sent for move
  CHANGELOG.md
  src/platform_impl/linux/wayland/seat/touch/mod.rs
Owners: @kchibisov

Remove rust-mobile from the MSRV
  README.md
Owners: none

Add Window::builder, which replaces WindowBuilder::new
  CHANGELOG.md
  examples/child_window.rs
  examples/control_flow.rs
  examples/cursor.rs
  examples/cursor_grab.rs
  examples/custom_events.rs
  examples/drag_window.rs
  examples/fullscreen.rs
  examples/handling_close.rs
  examples/ime.rs
  examples/key_binding.rs
  examples/monitor_list.rs
  examples/mouse_wheel.rs
  examples/multithreaded.rs
  examples/request_redraw.rs
  examples/request_redraw_threaded.rs
  examples/resizable.rs
  examples/startup_notification.rs
  examples/theme.rs
  examples/timer.rs
  examples/touchpad_gestures.rs
  examples/transparent.rs
  examples/web.rs
  examples/web_aspect_ratio.rs
  examples/window.rs
  examples/window_buttons.rs
  examples/window_debug.rs
  examples/window_drag_resize.rs
  examples/window_icon.rs
  examples/window_ondemand.rs
  examples/window_option_as_alt.rs
  examples/window_pump_events.rs
  examples/window_resize_increments.rs
  examples/window_tabbing.rs
  examples/x11_embed.rs
  src/lib.rs
  src/platform/pump_events.rs
  src/platform/x11.rs
  src/window.rs
Owners: @kchibisov

Add EventLoop::builder, which replaces EventLoopBuilder::new
  CHANGELOG.md
  examples/custom_events.rs
  src/event_loop.rs
Owners: none

Refactor RequestIgnored error
  src/error.rs
  src/event.rs
Owners: none

Clean up BadIcon Display messages, and fix Error::source
  src/icon.rs
Owners: none

Split EventLoopError into a Creation and a Run variant
  examples/window_ondemand.rs
  src/error.rs
  src/event_loop.rs
  src/platform/run_ondemand.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

Refactor window errors
  src/error.rs
  src/platform/startup_notify.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

Remove internal os_error! macro
  src/error.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/windows/window.rs
Owners: @kchibisov, @madsmtm, @jackpot51, @daxpedda, @msiglreith

Add changelog entry
  CHANGELOG.md
Owners: none

Fix missing quote
  src/window.rs
Owners: none

Fix missing quote (#3068)
  src/window.rs
Owners: none

Ensure that winit initializes NSApplication
  src/platform_impl/macos/event_loop.rs
Owners: @madsmtm

Ensure that winit initializes NSApplication (#3069)
  src/platform_impl/macos/event_loop.rs
Owners: @madsmtm

Make EventLoopWindowTarget independent of the user type on Orbital (#3055)
  src/platform_impl/orbital/event_loop.rs
Owners: @jackpot51

Don't use a cfg in set_content_protected
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

Don't use a cfg in listen_device_events
  src/event_loop.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/orbital/event_loop.rs
Owners: @msiglreith, @madsmtm, @jackpot51

Make Linux platforms less dependent on the root monitor handle
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/output.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/monitor.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Add various functions to the Wayland platform to reduce cfgs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/util/icon.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Fix instance of a target_os cfg
  src/event.rs
Owners: none

Add ApplicationHandler trait
  examples/control_flow.rs
  examples/multiwindow.rs
  examples/window.rs
  examples/window_ondemand.rs
  examples/window_pump_events.rs
  src/application.rs
  src/event_loop.rs
  src/lib.rs
Owners: none

Alternative suspension mechanism (requires #![impl_trait_in_assoc_type])
  examples/window.rs
  src/application.rs
Owners: none

On Wayland, fix TouchPhase::Canceled sent for Move
  CHANGELOG.md
  src/platform_impl/linux/wayland/seat/touch/mod.rs
Owners: @kchibisov

Slightly reduce number of `cfg`s (#3071)
  src/event.rs
  src/event_loop.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/output.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/monitor.rs
  src/platform_impl/linux/x11/util/icon.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

Mark `startup_notify` unsafe functions as safe
  CHANGELOG.md
  src/platform/startup_notify.rs
Owners: none

Mark `startup_notify` unsafe functions as safe
  CHANGELOG.md
  src/platform/startup_notify.rs
Owners: none

Fix docs on request_inner_size
  src/event.rs
Owners: none

Make RequestIgnored not non_exhaustive (since it has a private field)
  src/event.rs
Owners: none

Slightly more descriptive error messages
  src/event_loop.rs
  src/window.rs
Owners: none

Change how our raw-window-handle dependency is exposed
  Cargo.toml
  examples/child_window.rs
  examples/util/fill.rs
  src/event_loop.rs
  src/lib.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

Fix conditional compilation
  src/platform_impl/linux/mod.rs
Owners: @kchibisov

Allow the user to force X11 under Wayland
  src/platform_impl/linux/mod.rs
Owners: @kchibisov

Add changelog entry
  CHANGELOG.md
Owners: none
