Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda, @jackpot51, @richerfu, @jschwe

revert failed experiment
  winit-appkit/Cargo.toml
  winit-appkit/src/view.rs
Owners: @madsmtm

remove keyboard mappings as requested
  winit-orbital/src/event_loop.rs
Owners: @jackpot51

add missing keymaps
  winit-orbital/src/event_loop.rs
Owners: @jackpot51

Update unreleased.md
  winit/src/changelog/unreleased.md
Owners: none

Update unreleased.md
  winit/src/changelog/unreleased.md
Owners: none

Update fill.rs
  winit/examples/util/fill.rs
Owners: none

fmt fill.rs and exclude android for new examples
  winit/examples/util/fill.rs
  winit/examples/win_with_soft.rs
  winit/examples/win_with_soft_2.rs
Owners: none

fix examples
  winit/examples/win_with_soft.rs
  winit/examples/win_with_soft_2.rs
Owners: none

fmt examples
  winit/examples/win_with_soft.rs
  winit/examples/win_with_soft_2.rs
Owners: none

fix examples
  winit/examples/win_with_soft.rs
  winit/examples/win_with_soft_2.rs
Owners: none

.
  winit/examples/win_with_soft.rs
  winit/examples/win_with_soft_2.rs
Owners: none

feature(macOS) add option to treat control clicks as right (secondary) clicks
  winit-appkit/src/lib.rs
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

Document potential user expectation of ctrl+left click behavior on macOS.
  winit-core/src/event.rs
Owners: none

winit-x11: replace XQueryKeymap with equivalent x11rb call (#4497)
  winit-x11/src/util/keys.rs
Owners: @kchibisov

Add missing scancodes for orbital (#4515)
  winit-orbital/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: @jackpot51

Document potential user expectation of ctrl+left click behavior on macOS. (#4518)
  winit-core/src/event.rs
Owners: none

Add Send and Sync to OwnedDisplayHandle (#4509)
  winit-core/src/event_loop/mod.rs
  winit/src/changelog/unreleased.md
  winit/tests/send_objects.rs
  winit/tests/sync_object.rs
Owners: none

Update to softbuffer v0.4.8
  Cargo.toml
Owners: none

Allow building examples using `softbuffer` on Android
  winit/Cargo.toml
  winit/examples/application.rs
  winit/examples/util/fill.rs
Owners: none

Remove indentation in fill.rs helper
  winit/examples/util/fill.rs
Owners: none

Allow building examples using `softbuffer` on Android
  winit/Cargo.toml
  winit/examples/application.rs
  winit/examples/util/fill.rs
Owners: none

Remove indentation in fill.rs helper
  winit/examples/util/fill.rs
Owners: none

Update to softbuffer v0.4.8
  Cargo.toml
Owners: none

blah
  winit-appkit/docs/IME_SUPPORT.md
  winit-appkit/src/ime_support.rs
  winit-appkit/src/lib.rs
  winit-appkit/src/view.rs
Owners: @madsmtm

Synchronize changelogs with v0.30.13
  winit/src/changelog/unreleased.md
  winit/src/changelog/v0.30.md
  winit/src/changelog/v0.31.md
Owners: none

fix clippy warnings in test cases
  winit-core/src/as_any.rs
  winit-core/src/window.rs
Owners: none

cleanup some #[allow]s
  dpi/src/libm.rs
  winit-appkit/src/app_state.rs
  winit-appkit/src/view.rs
  winit/src/event_loop.rs
Owners: @madsmtm

remove unneeded #[allow(non_upper_case_globals)] at usage sites
  winit-appkit/src/app.rs
  winit-appkit/src/view.rs
  winit-win32/src/event_loop.rs
Owners: @madsmtm

cleanup attributes on appkit ffi bindings/types
  winit-appkit/src/ffi.rs
Owners: @madsmtm

cleanup/clarify unneeded `#[allow(dead_code)]`s
  winit-web/src/main_thread.rs
  winit/tests/send_objects.rs
  winit/tests/serde_objects.rs
  winit/tests/sync_object.rs
Owners: @daxpedda

`#[allow(deprecated)]` -> `#[expect(deprecated)]`
  winit-android/src/event_loop.rs
  winit-appkit/src/cursor.rs
  winit-appkit/src/monitor.rs
  winit-appkit/src/window_delegate.rs
  winit-common/src/xkb/keymap.rs
  winit-uikit/src/app_state.rs
  winit-uikit/src/event_loop.rs
  winit-uikit/src/monitor.rs
  winit-uikit/src/view_controller.rs
  winit-uikit/src/window.rs
  winit-win32/src/keyboard_layout.rs
Owners: @MarijnS95, @madsmtm, @kchibisov

Update changelog
  winit/src/changelog/unreleased.md
Owners: none

Synchronize changelogs with v0.30.13
  winit/src/changelog/unreleased.md
  winit/src/changelog/v0.30.md
  winit/src/changelog/v0.31.md
Owners: none

locate additional implementations for reference
  winit-appkit/docs/IME_SUPPORT.md
  winit-appkit/src/ime.rs
  winit-appkit/src/ime_support.rs
  winit-appkit/src/lib.rs
  winit-appkit/src/view.rs
Owners: @madsmtm

continue documenting event handling
  winit-appkit/docs/IME_SUPPORT.md
  winit-appkit/src/ime.rs
Owners: @madsmtm

WIP on making the safe area on iOS track the keyboard as well
  winit-core/src/window.rs
  winit-uikit/Cargo.toml
  winit-uikit/src/app_state.rs
  winit-uikit/src/view.rs
  winit-uikit/src/view_controller.rs
  winit-uikit/src/window.rs
  winit/examples/window.rs
Owners: @madsmtm

internal(macOS) use `NSTrackingArea` instead of `trackingRect`
  winit-appkit/Cargo.toml
  winit-appkit/src/view.rs
  winit-core/src/event.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

internal(macOS) use `NSTrackingArea` instead of `trackingRect` (#4514)
  winit-appkit/Cargo.toml
  winit-appkit/src/view.rs
  winit-core/src/event.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

Add timestamps to events
  Cargo.toml
  winit-appkit/Cargo.toml
  winit-appkit/src/app.rs
  winit-appkit/src/app_state.rs
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/application/mod.rs
  winit/examples/window.rs
Owners: @madsmtm

Use new macOS 15 cursors for resize icons (#4422)
  winit-appkit/src/cursor.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

.github/CODEOWNERS:

# Android
/winit-android                      @MarijnS95

# Apple (AppKit + UIKit)
/winit-appkit                       @madsmtm
/winit-uikit                        @madsmtm
/winit-common/src/core_foundation   @madsmtm
/winit-common/src/event_handler.rs  @madsmtm

# XKB
/winit-common/src/xkb               @kchibisov

# Wayland
/winit-wayland                      @kchibisov

# X11
/winit-x11                          @kchibisov

# Web
/winit-web                          @daxpedda

# Windows (Win32) (UNOWNED)
#/winit-win32                       

# Orbital (Redox OS)
/winit-orbital                      @jackpot51

# OpenHarmony
/winit-ohos                         @richerfu @jschwe
