Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51

On X11, fix cursor_hittest not reloaded on Resize
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

On X11, fix cursor_hittest not reloaded on Resize
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

On Windows, fix `CursorEntered`/`CursorLeft` not sent during mouse grab
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

Fix examples not render on Wayland
  Cargo.toml
Owners: none

Ensure that DISPLAY vars are non-empty before using
  src/platform_impl/linux/mod.rs
Owners: @kchibisov

Revise Key and KeyCode enums
  examples/control_flow.rs
  examples/cursor_grab.rs
  examples/fullscreen.rs
  examples/ime.rs
  examples/multithreaded.rs
  examples/multiwindow.rs
  examples/resizable.rs
  examples/startup_notification.rs
  examples/web.rs
  examples/window_debug.rs
  examples/window_resize_increments.rs
  examples/window_tabbing.rs
  src/event.rs
  src/keyboard.rs
  src/platform/scancode.rs
  src/platform_impl/android/keycodes.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/linux/common/keymap.rs
  src/platform_impl/linux/common/xkb_state.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/keyboard.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/event.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/keyboard.rs
  src/platform_impl/windows/keyboard_layout.rs
  tests/serde_objects.rs
Owners: @msiglreith, @kchibisov, @madsmtm, @jackpot51, @daxpedda

Remove garbage from README
  README.md
Owners: none

On macOS, fix tabGroup misuse
  CHANGELOG.md
  src/platform_impl/macos/appkit/tab_group.rs
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

On iOS, add configuration for status bar style
  CHANGELOG.md
  FEATURES.md
  src/platform/ios.rs
  src/platform_impl/ios/uikit/mod.rs
  src/platform_impl/ios/uikit/status_bar_style.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
Owners: @madsmtm

On Windows, fix invalid hmonitor panic
  src/platform_impl/windows/monitor.rs
Owners: @msiglreith

Implement `Ord`/`PartialOrd` for `ModifiersState`
  src/keyboard.rs
Owners: none

On Windows, fix `RedrawRequested` delivery
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
  src/window.rs
Owners: @msiglreith

On Windows, fix IME APIs MT-safety
  CHANGELOG.md
  src/platform_impl/windows/window.rs
Owners: @msiglreith

feat(windows): Fix inconsistency in mouse button device events, add hwheel device event on Windows
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/raw_input.rs
Owners: @msiglreith

On X11, fix cursor_hittest not reloaded on Resize
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Fix rwhd_05 doc links
  src/event_loop.rs
  src/window.rs
Owners: none

Winit version 0.29.2
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

Improve CI caching, and give each job names
  .github/workflows/ci.yml
Owners: none

On Windows, fix IME APIs MT-safety
  CHANGELOG.md
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Fix examples not render on Wayland
  Cargo.toml
Owners: none

On X11, fix cursor_hittest not reloaded on Resize
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Implement `Ord`/`PartialOrd` for `ModifiersState`
  src/keyboard.rs
Owners: none

Fix reset to `Poll` after the event loop starts
  README.md
  src/lib.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/windows/event_loop/runner.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov

On Wayland, fix MonitorHandle position
  src/platform_impl/linux/wayland/output.rs
Owners: @kchibisov

Ensure that DISPLAY vars are non-empty before using
  src/platform_impl/linux/mod.rs
Owners: @kchibisov

Remove `DeviceEvent::Text` event
  CHANGELOG.md
  src/event.rs
Owners: none

Fix ndk deps versions
  Cargo.toml
Owners: none

On iOS, add configuration for status bar style
  CHANGELOG.md
  FEATURES.md
  src/platform/ios.rs
  src/platform_impl/ios/uikit/mod.rs
  src/platform_impl/ios/uikit/status_bar_style.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
Owners: @madsmtm

Make `ControlFlow::Wait` the default (#3106)
  CHANGELOG.md
  README.md
  examples/child_window.rs
  examples/cursor.rs
  examples/cursor_grab.rs
  examples/custom_events.rs
  examples/fullscreen.rs
  examples/handling_close.rs
  examples/ime.rs
  examples/key_binding.rs
  examples/mouse_wheel.rs
  examples/multithreaded.rs
  examples/multiwindow.rs
  examples/request_redraw.rs
  examples/request_redraw_threaded.rs
  examples/resizable.rs
  examples/startup_notification.rs
  examples/theme.rs
  examples/touchpad_gestures.rs
  examples/transparent.rs
  examples/web.rs
  examples/web_aspect_ratio.rs
  examples/window.rs
  examples/window_buttons.rs
  examples/window_debug.rs
  examples/window_icon.rs
  examples/window_ondemand.rs
  examples/window_option_as_alt.rs
  examples/window_pump_events.rs
  examples/window_resize_increments.rs
  examples/window_tabbing.rs
  examples/x11_embed.rs
  src/event_loop.rs
  src/window.rs
Owners: none

Enable event propagation (#3062)
  CHANGELOG.md
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/event_handle.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/web_sys/pointer.rs
Owners: @daxpedda

Lock the cargo-apk deps on CI
  .github/workflows/ci.yml
Owners: none

Implement X11 extensions using x11rb instead of Xlib
  Cargo.toml
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/ffi.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/monitor.rs
  src/platform_impl/linux/x11/util/input.rs
  src/platform_impl/linux/x11/util/randr.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/linux/x11/xdisplay.rs
Owners: @kchibisov

Correct Wayland section in dpi docs
  src/dpi.rs
Owners: none

Revert select_xkb_events to its previous impl
  src/platform_impl/linux/x11/util/input.rs
Owners: @kchibisov

Fix macOS deminiaturize (#3054)
  CHANGELOG.md
  src/platform_impl/macos/appkit/window.rs
Owners: @madsmtm

Update to new raw-window-handle strategy
  Cargo.toml
  deny.toml
  examples/child_window.rs
  examples/util/fill.rs
  src/event_loop.rs
  src/lib.rs
  src/platform/ios.rs
  src/platform/macos.rs
  src/platform/windows.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @madsmtm, @msiglreith, @kchibisov, @jackpot51, @daxpedda

On X11, fix WaitUntil and Poll behavior
  CHANGELOG.md
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

Update Clippy to v1.73 (#3135)
  src/platform_impl/linux/wayland/seat/keyboard/mod.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/view.rs
Owners: @kchibisov, @madsmtm

Link to areweguiyet.com and arewegameyet.rs for extra deps
  README.md
Owners: none

feat(windows): Fix inconsistency in mouse button device events, add hwheel device event on Windows
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/raw_input.rs
Owners: @msiglreith
