Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

On Web, implement and fix missing methods on `Window(Builder)` (#2949)
  CHANGELOG.md
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/window.rs
  src/window.rs
Owners: @daxpedda

Fix mentions of Wasm (#2950)
  FEATURES.md
  src/event_loop.rs
  src/window.rs
Owners: none

On Web, remove `Window::is_dark_mode()` (#2951)
  CHANGELOG.md
  src/platform/web.rs
  src/platform_impl/web/web_sys/mod.rs
Owners: @daxpedda

Replace parts of the Xlib backend with x11-rb
  Cargo.toml
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/atoms.rs
  src/platform_impl/linux/x11/dnd.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/ime/context.rs
  src/platform_impl/linux/x11/ime/input_method.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/monitor.rs
  src/platform_impl/linux/x11/util/atom.rs
  src/platform_impl/linux/x11/util/client_msg.rs
  src/platform_impl/linux/x11/util/cursor.rs
  src/platform_impl/linux/x11/util/format.rs
  src/platform_impl/linux/x11/util/geometry.rs
  src/platform_impl/linux/x11/util/hint.rs
  src/platform_impl/linux/x11/util/input.rs
  src/platform_impl/linux/x11/util/memory.rs
  src/platform_impl/linux/x11/util/mod.rs
  src/platform_impl/linux/x11/util/modifiers.rs
  src/platform_impl/linux/x11/util/randr.rs
  src/platform_impl/linux/x11/util/window_property.rs
  src/platform_impl/linux/x11/util/wm.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/linux/x11/xdisplay.rs
Owners: @kchibisov

Improve documentation of `WindowBuilderExtWebSys` methods (#2952)
  src/platform/web.rs
Owners: @daxpedda

On Web, add `WindowBuilderExtWebSys::with_append()` (#2953)
  CHANGELOG.md
  examples/web.rs
  examples/web_aspect_ratio.rs
  src/platform/web.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

On macOS, add tabbing APIs
  CHANGELOG.md
  examples/window_tabbing.rs
  src/platform/macos.rs
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/appkit/tab_group.rs
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

On macOS, move automatic tabbing setting to ELWT
  CHANGELOG.md
  src/platform/macos.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

On macOS, set that we prefer tabbing
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

On macOS, add a way to query amount of tabbed windows
  examples/window_tabbing.rs
  src/platform/macos.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

On Wayland, fix `Window::is_decorated` with CSD
  examples/window_drag_resize.rs
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

On Wayland, make the CSD frame double click reliable
  CHANGELOG.md
  src/platform_impl/linux/wayland/seat/pointer/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

Add `platform::startup_notify` for Wayland/X11
  CHANGELOG.md
  Cargo.toml
  examples/startup_notification.rs
  src/event.rs
  src/event_loop.rs
  src/platform/mod.rs
  src/platform/startup_notify.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/types/xdg_activation.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/activation.rs
  src/platform_impl/linux/x11/atoms.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/linux/x11/xdisplay.rs
  src/window.rs
Owners: @kchibisov

On Windows, add `drag_resize_window` method support (#2966)
  CHANGELOG.md
  FEATURES.md
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith

Replace libc with rustix in some modules
  Cargo.toml
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/linux/x11/xdisplay.rs
Owners: @kchibisov

Correctly detect that we don't support Emscripten (#2971)
  build.rs
Owners: none

Add EventLoopExtPumpEvents and EventLoopExtRunOnDemand
  src/error.rs
  src/platform/pump_events.rs
  src/platform/run_ondemand.rs
Owners: none

Android: Implement EventLoopExtPumpEvents and EventLoopExtRunOnDemand
  src/platform/mod.rs
  src/platform_impl/android/mod.rs
Owners: @msiglreith

Windows: Implement EventLoopExtPumpEvents and EventLoopExtRunOnDemand
  src/platform/mod.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith

MacOS: Implement EventLoopExtPumpEvents and EventLoopExtRunOnDemand
  src/platform/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
Owners: @madsmtm

Linux: Implement EventLoopExtPumpEvents and EventLoopExtRunOnDemand
  src/platform/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Remove EventLoopExtRunReturn
  examples/window_run_return.rs
  src/event_loop.rs
  src/lib.rs
  src/platform/mod.rs
  src/platform/run_return.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith, @kchibisov, @madsmtm, @jackpot51

Re-work event loop run() API so it can return a Result
  examples/child_window.rs
  examples/control_flow.rs
  examples/cursor.rs
  examples/cursor_grab.rs
  examples/custom_events.rs
  examples/drag_window.rs
  examples/fullscreen.rs
  examples/handling_close.rs
  examples/ime.rs
  examples/key_binding.rs
  examples/mouse_wheel.rs
  examples/multithreaded.rs
  examples/multiwindow.rs
  examples/request_redraw.rs
  examples/request_redraw_threaded.rs
  examples/resizable.rs
  examples/startup_notification.rs
  examples/theme.rs
  examples/timer.rs
  examples/touchpad_gestures.rs
  examples/transparent.rs
  examples/web.rs
  examples/web_aspect_ratio.rs
  examples/window.rs
  examples/window_buttons.rs
  examples/window_debug.rs
  examples/window_drag_resize.rs
  examples/window_icon.rs
  examples/window_option_as_alt.rs
  examples/window_resize_increments.rs
  examples/window_tabbing.rs
  src/event_loop.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith, @kchibisov, @madsmtm, @jackpot51

Add examples/window_pump_events
  examples/window_pump_events.rs
Owners: none

Add examples/window_ondemand
  examples/window_ondemand.rs
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

window_ondemand: wait for Destroyed event before exiting app
  examples/window_ondemand.rs
Owners: none

Linux: Sync with server/compositor before exiting run_ondemand
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

MacOS: implement pump_events_with_timeout internally
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/observer.rs
Owners: @madsmtm

Windows: implement pump_events_with_timeout internally
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

Add timeout argument to pump_events
  examples/window_pump_events.rs
  src/platform/pump_events.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith, @kchibisov, @madsmtm

iOS: Always set timer when polling to avoid slow waking (#2979)
  CHANGELOG.md
  src/platform_impl/ios/app_state.rs
Owners: @madsmtm

Rename `LoopDestroyed` to `LoopExiting`
  CHANGELOG.md
  src/event.rs
  src/event_loop.rs
  src/lib.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/observer.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

Remove RedrawEventsCleared + MainEventsCleared, and added AboutToWait
  CHANGELOG.md
  examples/control_flow.rs
  examples/web.rs
  examples/window.rs
  examples/window_ondemand.rs
  examples/window_option_as_alt.rs
  examples/window_pump_events.rs
  examples/window_resize_increments.rs
  src/event.rs
  src/event_loop.rs
  src/lib.rs
  src/platform/pump_events.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/observer.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

On Windows, add option to customize window class name (#2978)
  CHANGELOG.md
  FEATURES.md
  src/platform/windows.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
Owners: @msiglreith

On Windows, keep window maximized when setting size bounds (#2899)
  examples/fullscreen.rs
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Remove `lifetime` from the `Event`
  CHANGELOG.md
  examples/child_window.rs
  examples/multithreaded.rs
  src/error.rs
  src/event.rs
  src/event_loop.rs
  src/platform/pump_events.rs
  src/platform/run_ondemand.rs
  src/platform/web.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/event_loop/sink.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window_delegate.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/windows/drop_handler.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
Owners: @daxpedda, @msiglreith, @madsmtm, @kchibisov, @jackpot51

On X11, remove the now-unrefrenced events.rs source file
  src/platform_impl/linux/x11/events.rs
Owners: @kchibisov

Update icrate to v0.0.4 (#2992)
  Cargo.toml
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/appkit/application.rs
  src/platform_impl/macos/appkit/screen.rs
  src/platform_impl/macos/appkit/view.rs
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window_delegate.rs
Owners: @madsmtm

Export smol_str and impl Ord for Key
  CHANGELOG.md
  src/event.rs
  src/keyboard.rs
Owners: none

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51
