Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda, @jackpot51, @richerfu, @jschwe

winit-x11: don't classify VM tablet pointers as pens
  winit-x11/src/atoms.rs
  winit-x11/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

win32: Drop the icon conversion regression test
  winit-win32/src/icon.rs
Owners: none

win32: Copy icon pixels to BGRA instead of mutating the shared buffer
  winit-win32/src/icon.rs
  winit/src/changelog/unreleased.md
Owners: none

x11: fix crash when XInput 2 is unavailable
  winit-x11/src/event_loop.rs
  winit-x11/src/xdisplay.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

winit-core/ime: implement `Error` for `ImeSurroundingTextError`
  winit-core/src/window.rs
Owners: none

Fix issue template labels (#4421)
  .github/ISSUE_TEMPLATE/bug_appkit.yml
  .github/ISSUE_TEMPLATE/bug_uikit.yml
  .github/ISSUE_TEMPLATE/bug_win32.yml
Owners: none

winit-x11: replace xfixes with x11rb in set_hittest
  winit-x11/src/window.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

winit-win32: Fix ABI mismatch in INIT_MAIN_THREAD_ID
  winit-win32/src/event_loop.rs
Owners: none

fix(winit-orbital): handle `EINTR` when reading from `event_socket`
  winit-orbital/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: @jackpot51

Upgrade `windows-sys` dependency to 0.61 (#4464)
  Cargo.toml
  winit-win32/src/dark_mode.rs
  winit-win32/src/definitions.rs
  winit-win32/src/monitor.rs
  winit-win32/src/util.rs
  winit/src/changelog/unreleased.md
Owners: none

chore: appease clippy (#4471)
  winit-x11/src/ime/inner.rs
Owners: @kchibisov

Add Apple Pencil support on iOS (#4449)
  winit-uikit/src/view.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

wayland: Move hash algorithm to foldhash
  Cargo.toml
  deny.toml
  winit-wayland/Cargo.toml
  winit-wayland/src/lib.rs
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/state.rs
  winit-wayland/src/window/state.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

reafactor(orbital): Reimplement Orbital support using std::fs and redox_event (#4470)
  Cargo.toml
  winit-orbital/Cargo.toml
  winit-orbital/src/event_loop.rs
  winit-orbital/src/lib.rs
  winit-orbital/src/window.rs
Owners: @jackpot51

wayland IME: Discard completed delete request
  winit-wayland/src/seat/text_input/mod.rs
Owners: @kchibisov

macOS: fix borderless game resetting after switching spaces (#4482)
  winit-appkit/src/window_delegate.rs
  winit/examples/application.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

Reduce duplication in `dpi` module (#2148)
  dpi/src/lib.rs
Owners: none

Refactor usage of CFRunLoopObserver (#4349)
  winit-appkit/src/app_state.rs
  winit-appkit/src/event_loop.rs
  winit-appkit/src/observer.rs
  winit-appkit/src/window_delegate.rs
  winit-common/Cargo.toml
  winit-common/src/core_foundation/main_run_loop.rs
  winit-common/src/core_foundation/main_run_loop_observer.rs
  winit-common/src/core_foundation/mod.rs
  winit-uikit/src/event_loop.rs
Owners: @madsmtm

winit-x11: fix debug mode overflow panic in `set_timestamp`
  winit-x11/src/xdisplay.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

wayland: fix panic when fancy wacom tablet is connected
  winit-wayland/src/types/wp_tablet_input_v2.rs
Owners: @kchibisov

fix(macOS): clamp IME selected_range to prevent substringToIndex crash
  winit-appkit/src/view.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

win32: fix ime setcontext lparam
  winit-win32/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: none

wayland: implement resize increments
  winit-core/src/window.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

fix(android): Populate `KeyEvent.text` via `Key::to_text()`
  winit-android/src/event_loop.rs
  winit-core/src/event.rs
  winit/src/changelog/v0.31.md
Owners: @MarijnS95

fix(macOS) "fix" toggling IME on appkit backend (#4512)
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

winit-x11: replace XQueryKeymap with equivalent x11rb call (#4497)
  winit-x11/src/util/keys.rs
Owners: @kchibisov

Add missing scancodes for orbital (#4515)
  winit-orbital/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: @jackpot51

Document potential user expectation of ctrl+left click behavior on macOS. (#4518)
  winit-core/src/event.rs
Owners: none

Add Send and Sync to OwnedDisplayHandle (#4509)
  winit-core/src/event_loop/mod.rs
  winit/src/changelog/unreleased.md
  winit/tests/send_objects.rs
  winit/tests/sync_object.rs
Owners: none

Update to softbuffer v0.4.8
  Cargo.toml
Owners: none

Allow building examples using `softbuffer` on Android
  winit/Cargo.toml
  winit/examples/application.rs
  winit/examples/util/fill.rs
Owners: none

Remove indentation in fill.rs helper
  winit/examples/util/fill.rs
Owners: none

Synchronize changelogs with v0.30.13
  winit/src/changelog/unreleased.md
  winit/src/changelog/v0.30.md
  winit/src/changelog/v0.31.md
Owners: none

internal(macOS) use `NSTrackingArea` instead of `trackingRect` (#4514)
  winit-appkit/Cargo.toml
  winit-appkit/src/view.rs
  winit-core/src/event.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

Use new macOS 15 cursors for resize icons (#4422)
  winit-appkit/src/cursor.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

Apple: Trace CFRunLoop activities
  winit-appkit/src/event_loop.rs
  winit-common/src/core_foundation/mod.rs
  winit-common/src/core_foundation/tracing_observers.rs
  winit-uikit/src/event_loop.rs
Owners: @madsmtm

Apple: Use tracing spans instead of custom trace_scope! macro
  winit-appkit/src/app_state.rs
  winit-appkit/src/event_loop.rs
  winit-appkit/src/util.rs
  winit-appkit/src/view.rs
  winit-appkit/src/window.rs
  winit-appkit/src/window_delegate.rs
  winit/src/event_loop.rs
Owners: @madsmtm

Apple: Track spans across queued closures
  winit-common/src/core_foundation/main_run_loop.rs
Owners: @madsmtm

UIKit: Add tracing spans
  winit-uikit/src/event_loop.rs
  winit-uikit/src/view.rs
  winit-uikit/src/view_controller.rs
  winit-uikit/src/window.rs
Owners: @madsmtm

AppKit: Trace sendEvent: calls
  winit-appkit/src/app.rs
Owners: @madsmtm

.github/CODEOWNERS:

# Android
/winit-android                      @MarijnS95

# Apple (AppKit + UIKit)
/winit-appkit                       @madsmtm
/winit-uikit                        @madsmtm
/winit-common/src/core_foundation   @madsmtm
/winit-common/src/event_handler.rs  @madsmtm

# XKB
/winit-common/src/xkb               @kchibisov

# Wayland
/winit-wayland                      @kchibisov

# X11
/winit-x11                          @kchibisov

# Web
/winit-web                          @daxpedda

# Windows (Win32) (UNOWNED)
#/winit-win32                       

# Orbital (Redox OS)
/winit-orbital                      @jackpot51

# OpenHarmony
/winit-ohos                         @richerfu @jschwe
