Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda, @jackpot51, @richerfu, @jschwe

[`winit-web`]: Remove `thread_local` from `has_fullscreen_api_support`
  winit-web/src/web_sys/fullscreen.rs
Owners: @daxpedda

[`winit-web`]: Remove `thread_local` from `has_idle_callback_support`
  winit-web/src/web_sys/schedule.rs
Owners: @daxpedda

[`winit`]: Make `std` usage explicit
  winit/src/event_loop.rs
  winit/src/lib.rs
  winit/src/platform_impl/linux/mod.rs
Owners: none

[`winit-web`]: Use `ConcurrentQueue` for channels
  winit-web/src/async/channel.rs
  winit-web/src/async/mod.rs
Owners: @daxpedda

[`winit-web`]: Remove `thread_local` from `request_fullscreen`
  winit-web/src/web_sys/fullscreen.rs
Owners: @daxpedda

[`winit-web`]: Remove `thread_local` from `new_worker`
  winit-web/src/web_sys/schedule.rs
Owners: @daxpedda

[`winit`]: Include `wasm32v1-none` as a `web_platform`
  winit/build.rs
Owners: none

[`winit`]: Remove unused dependencies
  winit/Cargo.toml
Owners: none

[CI]: Test `wasm32v1-none`
  .github/workflows/ci.yml
Owners: none

fix comment
  winit-appkit/src/window_delegate.rs
Owners: @madsmtm

Fix compilation
  winit-wayland/src/dialog.rs
  winit-wayland/src/window/state/core_window.rs
Owners: @kchibisov

On macOS, add fullscreen auxiliary window support
  winit-appkit/src/lib.rs
  winit-appkit/src/window_delegate.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

Expose macOS live resize state
  winit-appkit/src/lib.rs
  winit-appkit/src/window_delegate.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

Expose macOS fullscreen transition state
  winit-appkit/src/lib.rs
  winit-appkit/src/window_delegate.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

macOS: add `WindowEvent::PointerButton::is_macos_activation_click`
  winit-android/src/event_loop.rs
  winit-appkit/src/lib.rs
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/event.rs
  winit-orbital/src/event_loop.rs
  winit-uikit/src/view.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/seat/touch/mod.rs
  winit-wayland/src/types/wp_tablet_input_v2.rs
  winit-web/src/event_loop/window_target.rs
  winit-win32/src/event_loop.rs
  winit-x11/src/event_processor.rs
  winit/examples/application.rs
  winit/src/changelog/unreleased.md
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

macOS: add `WindowEvent::PointerButton::is_macos_activation_click`
  winit-android/src/event_loop.rs
  winit-appkit/src/lib.rs
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/event.rs
  winit-orbital/src/event_loop.rs
  winit-uikit/src/view.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/seat/touch/mod.rs
  winit-wayland/src/types/wp_tablet_input_v2.rs
  winit-web/src/event_loop/window_target.rs
  winit-win32/src/event_loop.rs
  winit-x11/src/event_processor.rs
  winit/examples/application.rs
  winit/src/changelog/unreleased.md
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

Mark extensible enums in winit-core as #[non_exhaustive]
  winit-android/src/event_loop.rs
  winit-appkit/src/cursor.rs
  winit-appkit/src/dnd.rs
  winit-appkit/src/event_loop.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/cursor.rs
  winit-core/src/data_transfer.rs
  winit-core/src/event.rs
  winit-core/src/event_loop/mod.rs
  winit-core/src/icon.rs
  winit-core/src/keyboard.rs
  winit-core/src/monitor.rs
  winit-core/src/window.rs
  winit-orbital/src/window.rs
  winit-uikit/src/window.rs
  winit-wayland/src/dnd.rs
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
  winit-web/src/cursor.rs
  winit-web/src/web_sys/event.rs
  winit-web/src/web_sys/fullscreen.rs
  winit-web/src/web_sys/pointer.rs
  winit-win32/src/dnd.rs
  winit-win32/src/event_loop.rs
  winit-win32/src/window.rs
  winit-x11/src/util/cursor.rs
  winit-x11/src/window.rs
  winit/examples/application.rs
  winit/examples/ime.rs
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

Mark platform extension enums as #[non_exhaustive]
  winit-appkit/src/lib.rs
  winit-common/src/xkb/mod.rs
  winit-uikit/src/lib.rs
  winit-web/src/lib.rs
  winit-win32/src/lib.rs
  winit-x11/src/dnd.rs
  winit-x11/src/lib.rs
Owners: @madsmtm, @kchibisov, @daxpedda

Warn on exhaustive exported enums
  winit-android/src/lib.rs
  winit-appkit/src/lib.rs
  winit-common/src/lib.rs
  winit-core/src/cursor.rs
  winit-core/src/event.rs
  winit-core/src/event_loop/mod.rs
  winit-core/src/event_loop/pump_events.rs
  winit-core/src/keyboard.rs
  winit-core/src/lib.rs
  winit-core/src/window.rs
  winit-orbital/src/event_loop.rs
  winit-orbital/src/lib.rs
  winit-uikit/src/lib.rs
  winit-wayland/src/lib.rs
  winit-web/src/lib.rs
  winit-win32/src/lib.rs
  winit-x11/src/lib.rs
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

Add changelog entry for the non_exhaustive enums
  winit/src/changelog/unreleased.md
Owners: none

Fix formatting
  winit-android/src/lib.rs
  winit-appkit/src/lib.rs
  winit-uikit/src/lib.rs
  winit-wayland/src/lib.rs
  winit-win32/src/lib.rs
Owners: @MarijnS95, @madsmtm, @kchibisov

WIP update for wayland-rs git
  Cargo.toml
  winit-wayland/Cargo.toml
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/lib.rs
  winit-wayland/src/popup.rs
  winit-wayland/src/seat/keyboard/mod.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/seat/pointer/pointer_gesture.rs
  winit-wayland/src/seat/pointer/relative_pointer.rs
  winit-wayland/src/seat/text_input/mod.rs
  winit-wayland/src/state.rs
  winit-wayland/src/types/ext_background_effect.rs
  winit-wayland/src/types/kwin_blur.rs
  winit-wayland/src/types/wp_fractional_scaling.rs
  winit-wayland/src/types/wp_tablet_input_v2.rs
  winit-wayland/src/types/wp_viewporter.rs
  winit-wayland/src/types/xdg_activation.rs
  winit-wayland/src/types/xdg_toplevel_icon_manager.rs
  winit-wayland/src/window/mod.rs
Owners: @kchibisov

Mark extensible enums in winit-core as #[non_exhaustive]
  winit-android/src/event_loop.rs
  winit-appkit/src/cursor.rs
  winit-appkit/src/dnd.rs
  winit-appkit/src/event_loop.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/cursor.rs
  winit-core/src/data_transfer.rs
  winit-core/src/event.rs
  winit-core/src/event_loop/mod.rs
  winit-core/src/icon.rs
  winit-core/src/keyboard.rs
  winit-core/src/monitor.rs
  winit-core/src/window.rs
  winit-orbital/src/window.rs
  winit-uikit/src/window.rs
  winit-wayland/src/dnd.rs
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
  winit-web/src/cursor.rs
  winit-web/src/web_sys/event.rs
  winit-web/src/web_sys/fullscreen.rs
  winit-web/src/web_sys/pointer.rs
  winit-win32/src/dnd.rs
  winit-win32/src/event_loop.rs
  winit-win32/src/window.rs
  winit-x11/src/util/cursor.rs
  winit-x11/src/window.rs
  winit/examples/application.rs
  winit/examples/ime.rs
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

Fix formatting
  winit-android/src/lib.rs
  winit-appkit/src/lib.rs
  winit-uikit/src/lib.rs
  winit-wayland/src/lib.rs
  winit-win32/src/lib.rs
Owners: @MarijnS95, @madsmtm, @kchibisov

Mark platform extension enums as #[non_exhaustive]
  winit-appkit/src/lib.rs
  winit-common/src/xkb/mod.rs
  winit-uikit/src/lib.rs
  winit-web/src/lib.rs
  winit-win32/src/lib.rs
  winit-x11/src/dnd.rs
  winit-x11/src/lib.rs
Owners: @madsmtm, @kchibisov, @daxpedda

Add changelog entry for the non_exhaustive enums
  winit/src/changelog/unreleased.md
Owners: none

Warn on exhaustive exported enums
  winit-android/src/lib.rs
  winit-appkit/src/lib.rs
  winit-common/src/lib.rs
  winit-core/src/cursor.rs
  winit-core/src/event.rs
  winit-core/src/event_loop/mod.rs
  winit-core/src/event_loop/pump_events.rs
  winit-core/src/keyboard.rs
  winit-core/src/lib.rs
  winit-core/src/window.rs
  winit-orbital/src/event_loop.rs
  winit-orbital/src/lib.rs
  winit-uikit/src/lib.rs
  winit-wayland/src/lib.rs
  winit-web/src/lib.rs
  winit-win32/src/lib.rs
  winit-x11/src/lib.rs
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

fix(macos): NSTextInputClient IME commit flow
  src/platform_impl/macos/view.rs
Owners: none

fix(macos): NSTextInputClient IME commit flow
  winit-appkit/src/view.rs
Owners: @madsmtm

Fix UIKit WaitUntil timer after GPU redraw
  winit-uikit/src/app_state.rs
Owners: @madsmtm

Android: gate surface redraws by native surface lifetime
  winit-android/src/event_loop.rs
Owners: @MarijnS95

Format UIKit redraw timer regression test
  winit-uikit/src/app_state.rs
Owners: @madsmtm

Apple: Fix main run loop observer removal
  winit-common/src/core_foundation/main_run_loop.rs
Owners: @madsmtm

Android: Track scale factor changes
  winit-android/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: @MarijnS95

dpi: Fix MIN constant documentation
  dpi/src/lib.rs
Owners: none

win32: fix multi-window redraw starvation
  winit-win32/src/event_loop.rs
  winit-win32/src/event_loop/runner.rs
  winit/src/changelog/unreleased.md
Owners: none

winit-wayland: add new font backend
  deny.toml
  winit-wayland/Cargo.toml
  winit/Cargo.toml
Owners: @kchibisov

Win32: release cursor clip on focus loss
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/window_state.rs
Owners: none

Win32: release cursor clip on focus loss
  winit-win32/src/event_loop.rs
  winit-win32/src/window_state.rs
  winit/src/changelog/unreleased.md
Owners: none

Fix new clippy and rustdoc lints
  src/keyboard.rs
  src/platform_impl/linux/common/xkb/compose.rs
  src/platform_impl/linux/x11/event_processor.rs
Owners: none

.github/CODEOWNERS:

# Android
/winit-android                      @MarijnS95

# Apple (AppKit + UIKit)
/winit-appkit                       @madsmtm
/winit-uikit                        @madsmtm
/winit-common/src/core_foundation   @madsmtm
/winit-common/src/event_handler.rs  @madsmtm

# XKB
/winit-common/src/xkb               @kchibisov

# Wayland
/winit-wayland                      @kchibisov

# X11
/winit-x11                          @kchibisov

# Web
/winit-web                          @daxpedda

# Windows (Win32) (UNOWNED)
#/winit-win32                       

# Orbital (Redox OS)
/winit-orbital                      @jackpot51

# OpenHarmony
/winit-ohos                         @richerfu @jschwe
