Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda, @jackpot51, @richerfu, @jschwe

Update winit-wayland/src/window/mod.rs
  winit-wayland/src/window/mod.rs
Owners: @kchibisov

redundant
  winit/examples/resize_increments.rs
Owners: none

Add basic IME support for Android
  src/changelog/v0.30.md
  src/event.rs
  src/platform_impl/android/mod.rs
Owners: none

chore: Add Zlib to deny.toml
  deny.toml
Owners: none

wayland: Move hash algorithm to foldhash
  Cargo.toml
  winit-wayland/Cargo.toml
  winit-wayland/src/lib.rs
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/state.rs
  winit-wayland/src/window/state.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

implementing QueryInterface for windows
  winit-win32/src/drop_handler.rs
Owners: none

adding format to QueryInterface
  winit-win32/src/drop_handler.rs
Owners: none

Apply rustfmt formatting to drop_handler.rs
  winit-win32/src/drop_handler.rs
Owners: none

fix(windows): use registry value to detect dark mode
  winit-win32/Cargo.toml
  winit-win32/src/dark_mode.rs
  winit/src/changelog/unreleased.md
Owners: none

Add `keycode_to_key` method for getting logical keys from physical
  winit-win32/src/keyboard_layout.rs
  winit-win32/src/lib.rs
Owners: none

Remove unnecessary changes
  winit-win32/src/keyboard_layout.rs
Owners: none

macos implementation of keycode_to_key
  winit-appkit/src/event.rs
Owners: @madsmtm

Expose keycode_to_key
  winit-appkit/src/lib.rs
Owners: @madsmtm

Rename to physical_to_logical_key, add stubs for other platforms
  winit-android/src/lib.rs
  winit-appkit/src/event.rs
  winit-appkit/src/lib.rs
  winit-orbital/src/lib.rs
  winit-uikit/src/lib.rs
  winit-web/src/lib.rs
  winit-win32/src/lib.rs
  winit/src/platform/key_map.rs
  winit/src/platform/mod.rs
  winit/src/platform_impl/linux/mod.rs
Owners: @MarijnS95, @madsmtm, @jackpot51, @daxpedda

Better docs
  winit/src/platform/key_map.rs
Owners: none

Add basic IME support for Android (Winit 0.31)
  winit-android/src/event_loop.rs
  winit-core/src/event.rs
Owners: @MarijnS95

Add basic IME support for Android
  Cargo.toml
  src/changelog/v0.30.md
  src/event.rs
  src/platform_impl/android/keycodes.rs
  src/platform_impl/android/mod.rs
Owners: none

better explanation of resizing logic
  winit-wayland/src/window/state.rs
Owners: @kchibisov

Upgrade `windows-sys` dependency to 0.61
  Cargo.toml
  winit-win32/src/dark_mode.rs
  winit-win32/src/definitions.rs
  winit-win32/src/monitor.rs
  winit-win32/src/util.rs
  winit/src/changelog/unreleased.md
Owners: none

Add macOS traffic-light inset support and example
  winit-appkit/src/lib.rs
  winit-appkit/src/window_delegate.rs
  winit/examples/traffic_lights.rs
Owners: @madsmtm

Cleanup of traffic light docs and formatting
  winit-appkit/src/lib.rs
  winit-appkit/src/window_delegate.rs
  winit/examples/traffic_lights.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

Refactor platform-specific window attribute setup
  winit/examples/traffic_lights.rs
Owners: none

Upgrade `windows-sys` dependency to 0.61 (#4464)
  Cargo.toml
  winit-win32/src/dark_mode.rs
  winit-win32/src/definitions.rs
  winit-win32/src/monitor.rs
  winit-win32/src/util.rs
  winit/src/changelog/unreleased.md
Owners: none

docs: Minor fix on v0.31 release note
  winit/src/changelog/v0.31.md
Owners: none

Emit `destroy_surfaces()` consistently on all platforms
  winit-appkit/src/event_loop.rs
  winit-core/src/application/mod.rs
  winit-orbital/src/event_loop.rs
  winit-wayland/src/event_loop/mod.rs
  winit-win32/src/event_loop.rs
  winit-win32/src/event_loop/runner.rs
  winit-x11/src/event_loop.rs
  winit/src/changelog/v0.31.md
  winit/src/event_loop.rs
Owners: @madsmtm, @jackpot51, @kchibisov

reafactor(orbital): Reimplement Orbital suppport using std::fs and redox_event
  Cargo.toml
  winit-orbital/Cargo.toml
  winit-orbital/src/event_loop.rs
  winit-orbital/src/lib.rs
  winit-orbital/src/window.rs
Owners: @jackpot51

wip: Use redox_event from my repository.
  Cargo.toml
Owners: none

Fix availability check
  winit-uikit/src/view.rs
Owners: @madsmtm

chore: appease clippy
  winit-x11/src/ime/inner.rs
Owners: @kchibisov

chore: appease clippy (#4471)
  winit-x11/src/ime/inner.rs
Owners: @kchibisov

Add Apple Pencil support on iOS (#4449)
  winit-uikit/src/view.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

wayland: Move hash algorithm to foldhash
  Cargo.toml
  deny.toml
  winit-wayland/Cargo.toml
  winit-wayland/src/lib.rs
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/state.rs
  winit-wayland/src/window/state.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

Use the EXE icon as the window class icon on win32
  winit-win32/src/window.rs
Owners: none

Add changelog entry to indicate the EXE icon is now the default on win32
  winit/src/changelog/v0.31.md
Owners: none

Format the window.rs file
  winit-win32/src/window.rs
Owners: none

Fix formatting issue
  winit-win32/src/window.rs
Owners: none

Fix lint error in window.rs
  winit-win32/src/window.rs
Owners: none

chore: Use redox_event from crates.io.
  Cargo.toml
Owners: none

reafactor(orbital): Reimplement Orbital support using std::fs and redox_event (#4470)
  Cargo.toml
  winit-orbital/Cargo.toml
  winit-orbital/src/event_loop.rs
  winit-orbital/src/lib.rs
  winit-orbital/src/window.rs
Owners: @jackpot51

wayland IME: Discard completed delete request
  winit-wayland/src/seat/text_input/mod.rs
Owners: @kchibisov

.github/CODEOWNERS:

# Android
/winit-android                      @MarijnS95

# Apple (AppKit + UIKit)
/winit-appkit                       @madsmtm
/winit-uikit                        @madsmtm
/winit-common/src/core_foundation   @madsmtm
/winit-common/src/event_handler.rs  @madsmtm

# XKB
/winit-common/src/xkb               @kchibisov

# Wayland
/winit-wayland                      @kchibisov

# X11
/winit-x11                          @kchibisov

# Web
/winit-web                          @daxpedda

# Windows (Win32) (UNOWNED)
#/winit-win32                       

# Orbital (Redox OS)
/winit-orbital                      @jackpot51

# OpenHarmony
/winit-ohos                         @richerfu @jschwe
