Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

Enable event propagation (#3062)
  CHANGELOG.md
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/event_handle.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/web_sys/pointer.rs
Owners: @daxpedda

Web: Fullscreen Overhaul (#3063)
  CHANGELOG.md
  examples/web.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/animation_frame.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/fullscreen.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/web_sys/pointer.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

Implement X11 extensions using x11rb instead of Xlib
  Cargo.toml
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/ffi.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/monitor.rs
  src/platform_impl/linux/x11/util/input.rs
  src/platform_impl/linux/x11/util/randr.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/linux/x11/xdisplay.rs
Owners: @kchibisov

Fix missing quote (#3068)
  src/window.rs
Owners: none

Ensure that winit initializes NSApplication (#3069)
  src/platform_impl/macos/event_loop.rs
Owners: @madsmtm

On Wayland, fix TouchPhase::Canceled sent for Move
  CHANGELOG.md
  src/platform_impl/linux/wayland/seat/touch/mod.rs
Owners: @kchibisov

Make EventLoopWindowTarget independent of the user type on Orbital (#3055)
  src/platform_impl/orbital/event_loop.rs
Owners: @jackpot51

Slightly reduce number of `cfg`s (#3071)
  src/event.rs
  src/event_loop.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/output.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/monitor.rs
  src/platform_impl/linux/x11/util/icon.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

Mark `startup_notify` unsafe functions as safe
  CHANGELOG.md
  src/platform/startup_notify.rs
Owners: none

Remove `T` from `EventLoopTargetWindow` (#3081)
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/proxy.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
Owners: @daxpedda

Allow the user to force X11 under Wayland
  CHANGELOG.md
  src/platform_impl/linux/mod.rs
Owners: @kchibisov

Revert select_xkb_events to its previous impl
  src/platform_impl/linux/x11/util/input.rs
Owners: @kchibisov

Correct set_exit() -> exit() in the changelog (#3088)
  CHANGELOG.md
Owners: none

Add `Window.requestIdleCallback()` support (#3084)
  CHANGELOG.md
  src/platform/web.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/schedule.rs
Owners: @daxpedda

Rename `PollType` to `PollStrategy` (#3089)
  CHANGELOG.md
  src/platform/web.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/schedule.rs
Owners: @daxpedda

Add an MSRV policy to the README (#3046)
  .github/workflows/ci.yml
  README.md
Owners: none

Ignore foreign-types* duplicate deps on macOS
  Cargo.toml
  deny.toml
Owners: none

Install `cargo-apk` with the stable toolchain
  .github/workflows/ci.yml
Owners: none

Correct Wayland section in dpi docs
  src/dpi.rs
Owners: none

Implement `PartialOrd` and `Ord` for `MouseButton`
  CHANGELOG.md
  src/event.rs
Owners: none

On X11, fix WaitUntil and Poll behavior
  CHANGELOG.md
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

Remove old docs about EventLoop::run
  src/event_loop.rs
  src/lib.rs
Owners: none

Make `ControlFlow::Wait` the default (#3106)
  CHANGELOG.md
  README.md
  examples/child_window.rs
  examples/cursor.rs
  examples/cursor_grab.rs
  examples/custom_events.rs
  examples/fullscreen.rs
  examples/handling_close.rs
  examples/ime.rs
  examples/key_binding.rs
  examples/mouse_wheel.rs
  examples/multithreaded.rs
  examples/multiwindow.rs
  examples/request_redraw.rs
  examples/request_redraw_threaded.rs
  examples/resizable.rs
  examples/startup_notification.rs
  examples/theme.rs
  examples/touchpad_gestures.rs
  examples/transparent.rs
  examples/web.rs
  examples/web_aspect_ratio.rs
  examples/window.rs
  examples/window_buttons.rs
  examples/window_debug.rs
  examples/window_icon.rs
  examples/window_ondemand.rs
  examples/window_option_as_alt.rs
  examples/window_pump_events.rs
  examples/window_resize_increments.rs
  examples/window_tabbing.rs
  examples/x11_embed.rs
  src/event_loop.rs
  src/window.rs
Owners: none

Pass force on touch events on android
  CHANGELOG.md
  src/event.rs
  src/platform_impl/android/mod.rs
Owners: @msiglreith

Remove `DeviceEvent::Text` event
  CHANGELOG.md
  src/event.rs
Owners: none

Fix transparent windows on X11
  src/platform_impl/linux/x11/window.rs
  src/window.rs
Owners: @kchibisov

Bump version on master (#3119)
  CHANGELOG.md
Owners: none

Windows: Add #[deny(unsafe_op_in_unsafe_fn)] (#3070)
  src/platform_impl/windows/dpi.rs
  src/platform_impl/windows/drop_handler.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
  src/platform_impl/windows/ime.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/monitor.rs
  src/platform_impl/windows/window.rs
Owners: @msiglreith

X11: Add `#[deny(unsafe_op_in_unsafe_fn)]` (#3121)
  src/event.rs
  src/lib.rs
  src/platform_impl/ios/uikit/mod.rs
  src/platform_impl/linux/common/xkb_state.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/ime/callbacks.rs
  src/platform_impl/linux/x11/ime/context.rs
  src/platform_impl/linux/x11/ime/inner.rs
  src/platform_impl/linux/x11/ime/input_method.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/windows/mod.rs
  src/window.rs
Owners: @madsmtm, @kchibisov, @msiglreith

Link to areweguiyet.com and arewegameyet.rs for extra deps
  README.md
Owners: none

Make DeviceId contain device id's on Android
  CHANGELOG.md
  src/platform_impl/android/mod.rs
Owners: @msiglreith

Rename run_ondemand to run_on_demand
  CHANGELOG.md
  examples/window_on_demand.rs
  src/platform/mod.rs
  src/platform/run_on_demand.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
Owners: @msiglreith, @kchibisov, @madsmtm

Web: remove unnecessary usage of `once_cell::unsync::Lazy` (#3134)
  src/platform_impl/web/async.rs
  src/platform_impl/web/web_sys/fullscreen.rs
  src/platform_impl/web/web_sys/resize_scaling.rs
  src/platform_impl/web/web_sys/schedule.rs
Owners: @daxpedda

Update Clippy to v1.73 (#3135)
  src/platform_impl/linux/wayland/seat/keyboard/mod.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/view.rs
Owners: @kchibisov, @madsmtm

Add `Window::set_blur`
  CHANGELOG.md
  Cargo.toml
  FEATURES.md
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/types/kwin_blur.rs
  src/platform_impl/linux/wayland/types/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

Web: fix `ControlFlow::WaitUntil` to never wake up **before** the given time (#3133)
  CHANGELOG.md
  src/platform_impl/web/web_sys/schedule.rs
Owners: @daxpedda

Remove obsolete docs about wayland CSD env variable
  src/window.rs
Owners: none

On Wayland, fix MonitorHandle position
  src/platform_impl/linux/wayland/output.rs
Owners: @kchibisov

Fix reset to `Poll` after the event loop starts
  README.md
  src/lib.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/windows/event_loop/runner.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov

Add `Window::show_window_menu`
  CHANGELOG.md
  examples/drag_window.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51
