Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

Remove RedrawEventsCleared + MainEventsCleared, and added AboutToWait
  CHANGELOG.md
  examples/control_flow.rs
  examples/web.rs
  examples/window.rs
  examples/window_ondemand.rs
  examples/window_option_as_alt.rs
  examples/window_pump_events.rs
  examples/window_resize_increments.rs
  src/event.rs
  src/event_loop.rs
  src/lib.rs
  src/platform/pump_events.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/observer.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update src/platform_impl/windows/window.rs
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Update src/platform_impl/windows/window.rs
  src/platform_impl/windows/window.rs
Owners: @msiglreith

On Windows, set name of Window Class, closes #2977 allow to customize it instead of current value hard coded "Window Class"
  src/platform/windows.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
Owners: @msiglreith

On Windows, set name of Window Class, closes #2977 allow to customize it instead of current value hard coded "Window Class"
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Use ClassType::alloc
  src/platform_impl/ios/view.rs
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/appkit/cursor.rs
  src/platform_impl/macos/appkit/image.rs
  src/platform_impl/macos/appkit/menu_item.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Owners: @madsmtm

Fix `touchBar` method
  src/platform_impl/macos/view.rs
Owners: @madsmtm

Use #[method_id(...)] functionality in declare_class!
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window_delegate.rs
Owners: @madsmtm

Update FEATURES.md
  FEATURES.md
Owners: none

On Windows, add option to customize window class name (#2978)
  CHANGELOG.md
  FEATURES.md
  src/platform/windows.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
Owners: @msiglreith

fix formatting
  src/platform_impl/windows/window.rs
Owners: @msiglreith

On Windows, keep window maximized when setting size bounds (#2899)
  examples/fullscreen.rs
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Port to use raw-window-handle v0.6
  Cargo.toml
  examples/child_window.rs
  src/event_loop.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51

Oopsie
  deny.toml
  src/window.rs
Owners: none

Add rwh v0.5 compatibility
  CHANGELOG.md
  src/event_loop.rs
  src/window.rs
Owners: none

Missed one
  src/event_loop.rs
Owners: none

Fix Web backend
  src/platform_impl/web/window.rs
Owners: @daxpedda

Implement borrowed display traits
  src/event_loop.rs
  src/window.rs
Owners: none

Add an OwnedDisplayHandle type
  src/event_loop.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/mod.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

Port examples to use the new softbuffer
  Cargo.toml
  examples/child_window.rs
  examples/control_flow.rs
  examples/cursor.rs
  examples/cursor_grab.rs
  examples/custom_events.rs
  examples/drag_window.rs
  examples/fullscreen.rs
  examples/handling_close.rs
  examples/ime.rs
  examples/key_binding.rs
  examples/mouse_wheel.rs
  examples/multithreaded.rs
  examples/multiwindow.rs
  examples/request_redraw.rs
  examples/resizable.rs
  examples/theme.rs
  examples/timer.rs
  examples/touchpad_gestures.rs
  examples/transparent.rs
  examples/util/fill.rs
  examples/web.rs
  examples/web_aspect_ratio.rs
  examples/window.rs
  examples/window_buttons.rs
  examples/window_debug.rs
  examples/window_drag_resize.rs
  examples/window_icon.rs
  examples/window_option_as_alt.rs
  examples/window_pump_events.rs
  examples/window_resize_increments.rs
Owners: none

Remove the ManuallyDrop workaround
  examples/util/fill.rs
  examples/window_tabbing.rs
  src/platform_impl/orbital/mod.rs
Owners: @jackpot51

Use notgull/next branch
  Cargo.toml
Owners: none

Mollycoddle the madsmtm
  examples/util/fill.rs
  examples/window_ondemand.rs
  examples/window_pump_events.rs
  src/event_loop.rs
  src/window.rs
Owners: none

Silence the unused warning
  examples/util/fill.rs
Owners: none

Remove `lifetime` from the `Event`
  CHANGELOG.md
  examples/child_window.rs
  examples/multithreaded.rs
  src/error.rs
  src/event.rs
  src/event_loop.rs
  src/platform/pump_events.rs
  src/platform/run_ondemand.rs
  src/platform/web.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/event_loop/sink.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window_delegate.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/windows/drop_handler.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
Owners: @daxpedda, @msiglreith, @madsmtm, @kchibisov, @jackpot51

Remove `lifetime` from the `Event`
  CHANGELOG.md
  examples/child_window.rs
  examples/multithreaded.rs
  src/error.rs
  src/event.rs
  src/event_loop.rs
  src/platform/pump_events.rs
  src/platform/run_ondemand.rs
  src/platform/web.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/event_loop/sink.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window_delegate.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/windows/drop_handler.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
Owners: @daxpedda, @msiglreith, @madsmtm, @kchibisov, @jackpot51

Use dtolnay/rust-toolchain instead of hecrj/setup-rust-action
  .github/workflows/ci.yml
Owners: none

Make cargo-deny failures clearer and a bit faster in the workflow
  .github/workflows/ci.yml
Owners: none

Make test runs clearer
  .github/workflows/ci.yml
Owners: none

Remove mentions of cargo-web
  .github/workflows/ci.yml
Owners: none

Make cargo caching more intelligent
  .github/workflows/ci.yml
Owners: none

Simplify CI a little bit
  .github/workflows/ci.yml
Owners: none

CI: Don't try to check the index before the cache is loaded
  .github/workflows/ci.yml
Owners: none

CI: Don't bother to specify the shell
  .github/workflows/ci.yml
Owners: none

Merge stable, nightly and MSRV tests into a single CI job
  .github/workflows/ci.yml
Owners: none

Check speed after caching
  .github/workflows/ci.yml
Owners: none

On X11, remove the now-unrefrenced events.rs source file
  src/platform_impl/linux/x11/events.rs
Owners: @kchibisov

On X11, remove the now-unrefrenced events.rs source file
  src/platform_impl/linux/x11/events.rs
Owners: @kchibisov

Update icrate to v0.0.4
  Cargo.toml
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/appkit/application.rs
  src/platform_impl/macos/appkit/screen.rs
  src/platform_impl/macos/appkit/view.rs
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window_delegate.rs
Owners: @madsmtm

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51
