Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

fix CI clippy failure.
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

make UserEventPlaceholder a new type instead of alias
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

invariance is maintained by top-level EventLoopWindowTarget<T>
  src/event_loop.rs
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

make `EventLoopWindowTarget` independent of UserEvent type
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Windows: Make `EventLoopWindowTarget` independent of UserEvent type (#3061)
  src/event_loop.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
  src/platform_impl/windows/window.rs
Owners: @msiglreith

On X11, fix error propagation in EventLoop::new
  CHANGELOG.md
  src/platform_impl/linux/mod.rs
Owners: @kchibisov

Report correct logical key on Mac when Ctrl or Cmd is pressed
  CHANGELOG.md
  src/platform_impl/macos/event.rs
Owners: @madsmtm

On X11 and Wayland, fix numpad up being ArrowLeft
  CHANGELOG.md
  src/platform_impl/linux/common/keymap.rs
Owners: none

Issue resize due to scale change on Wayland
  CHANGELOG.md
  src/platform_impl/linux/wayland/event_loop/mod.rs
Owners: @kchibisov

On X11, fix error propagation in EventLoop::new
  CHANGELOG.md
  src/platform_impl/linux/mod.rs
Owners: @kchibisov

Improve comment
  src/platform_impl/macos/event.rs
Owners: @madsmtm

Revert first fix, do a different one
  src/platform_impl/macos/event.rs
Owners: @madsmtm

Improve comments
  src/platform_impl/macos/event.rs
Owners: @madsmtm

improve comment
  src/platform_impl/macos/event.rs
Owners: @madsmtm

Remove useful comment
  src/platform_impl/macos/event.rs
Owners: @madsmtm

On macOS, reported shifted key with shift+Ctrl/Cmd
  CHANGELOG.md
  src/platform_impl/macos/event.rs
Owners: @madsmtm

On macOS, reported shifted key with shift+Ctrl/Cmd
  CHANGELOG.md
  src/platform_impl/macos/event.rs
Owners: @madsmtm

Winit version 0.29.9
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

On X11 and Wayland, fix numpad up being ArrowLeft
  CHANGELOG.md
  src/platform_impl/linux/common/keymap.rs
Owners: none

On macOS, reported shifted key with shift+Ctrl/Cmd
  CHANGELOG.md
  src/platform_impl/macos/event.rs
Owners: @madsmtm

Issue resize due to scale change on Wayland
  CHANGELOG.md
  src/platform_impl/linux/wayland/event_loop/mod.rs
Owners: @kchibisov

Winit version 0.29.9
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

On X11, fix error propagation in EventLoop::new
  CHANGELOG.md
  src/platform_impl/linux/mod.rs
Owners: @kchibisov

Bump version on master
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

Bump version on master
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

Deploy master docs to GitHub Pages
  .github/workflows/docs.yml
  Cargo.toml
  README.md
Owners: none

Deploy master docs to GitHub Pages (#3359)
  .github/workflows/docs.yml
  Cargo.toml
  README.md
Owners: none

Windows: cache custom cursors
  src/platform_impl/windows/icon.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Windows: cache custom cursors (#3293)
  src/platform_impl/windows/icon.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Update Redox
  Cargo.toml
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update deny.toml
  deny.toml
Owners: none

Web: account for canvas being focused already
  src/platform_impl/web/event_loop/window_target.rs
Owners: @daxpedda

Web: account for canvas being focused already (#3369)
  src/platform_impl/web/event_loop/window_target.rs
Owners: @daxpedda

Fix nightly CI
  src/platform_impl/linux/x11/ime/callbacks.rs
  src/platform_impl/linux/x11/ime/input_method.rs
  src/platform_impl/linux/x11/ime/mod.rs
  src/platform_impl/web/main_thread.rs
  src/platform_impl/windows/window.rs
Owners: @kchibisov, @daxpedda, @msiglreith

ci: Fix dead code error on nightly
  src/platform_impl/linux/x11/ime/callbacks.rs
  src/platform_impl/linux/x11/ime/input_method.rs
  src/platform_impl/linux/x11/ime/mod.rs
  src/platform_impl/web/main_thread.rs
  src/platform_impl/windows/window.rs
Owners: @kchibisov, @daxpedda, @msiglreith

Revert "Update CHANGELOG.md"
  CHANGELOG.md
Owners: none

Web: support Firefox `privacy.resistFingerprinting`
  src/platform_impl/web/web_sys/resize_scaling.rs
Owners: @daxpedda

Web: support Firefox `privacy.resistFingerprinting` (#3371)
  src/platform_impl/web/web_sys/resize_scaling.rs
Owners: @daxpedda

iOS: fix `request_redraw` from `RedrawRequested`
  CHANGELOG.md
  src/platform_impl/ios/app_state.rs
Owners: @madsmtm

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51
