Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

On X11, simplify available_monitors() impl
  src/platform_impl/linux/x11/monitor.rs
Owners: @kchibisov

On Web, fix context menu not being disabled
  CHANGELOG.md
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
Owners: @daxpedda

On Windows, refactor dynamic function definitions and raw input keyboard handling (#3286)
  src/platform_impl/windows/dpi.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/raw_input.rs
  src/platform_impl/windows/util.rs
Owners: @msiglreith

Fix some doc nits (#3274)
  src/window.rs
Owners: none

On Windows, remove internal WindowWrapper (#3294)
  src/platform_impl/windows/window.rs
Owners: @msiglreith

bugfix(rwh): Bump rwh_05 min version to 0.5.2
  Cargo.toml
Owners: none

On Wayland, fix WindowEvent::Destroyed delivery
  CHANGELOG.md
  src/platform_impl/linux/wayland/event_loop/mod.rs
Owners: @kchibisov

Fix run_on_demand exiting on consequent call
  CHANGELOG.md
  examples/util/fill.rs
  examples/window_on_demand.rs
  src/platform/run_on_demand.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/output.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
Owners: @msiglreith, @kchibisov, @madsmtm

On X11, simplify available_monitors() impl
  src/platform_impl/linux/x11/monitor.rs
Owners: @kchibisov

Winit version 0.29.6
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

Fix run_on_demand exiting on consequent call
  CHANGELOG.md
  examples/util/fill.rs
  examples/window_on_demand.rs
  src/platform/run_on_demand.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/output.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
Owners: @msiglreith, @kchibisov, @madsmtm

bugfix(rwh): Bump rwh_05 min version to 0.5.2
  Cargo.toml
Owners: none

On Web, fix context menu not being disabled
  CHANGELOG.md
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
Owners: @daxpedda

Winit version 0.29.6
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

On Wayland, fix WindowEvent::Destroyed delivery
  CHANGELOG.md
  src/platform_impl/linux/wayland/event_loop/mod.rs
Owners: @kchibisov

On X11, simplify available_monitors() impl
  src/platform_impl/linux/x11/monitor.rs
Owners: @kchibisov

Fix some doc nits (#3274)
  src/window.rs
Owners: none

On Windows, remove internal WindowWrapper (#3294)
  src/platform_impl/windows/window.rs
Owners: @msiglreith

On Windows, refactor dynamic function definitions and raw input keyboard handling (#3286)
  src/platform_impl/windows/dpi.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/raw_input.rs
  src/platform_impl/windows/util.rs
Owners: @msiglreith

Bump version on master
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

Bump version on master
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

Reload Xft database on DPI change
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/xdisplay.rs
Owners: @kchibisov

rustfmt
  src/platform_impl/linux/x11/event_processor.rs
Owners: @kchibisov

Doc fixes
  src/cursor.rs
  src/platform/web.rs
  src/window.rs
Owners: @daxpedda

Doc fixes (#3312)
  src/cursor.rs
  src/platform/web.rs
  src/window.rs
Owners: @daxpedda

Merge `Window::set_cursor_icon()` and `Window::set_custom_cursor()`
  CHANGELOG.md
  examples/cursor.rs
  examples/custom_cursors.rs
  examples/multithreaded.rs
  examples/window_drag_resize.rs
  src/cursor.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/cursor.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

Merge `Window::set_cursor_icon()` and `Window::set_custom_cursor()` (#3308)
  CHANGELOG.md
  examples/cursor.rs
  examples/custom_cursors.rs
  examples/multithreaded.rs
  examples/window_drag_resize.rs
  src/cursor.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/cursor.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

Remove wrong documentation on `EventLoop::run()`
  src/event_loop.rs
Owners: none

Remove wrong documentation on `EventLoop::run()` (#3314)
  src/event_loop.rs
Owners: none

Document `Window` `Drop` behavior
  src/window.rs
Owners: none

Remove `extern crate` statements
  src/dpi.rs
  src/event.rs
  src/keyboard.rs
  src/lib.rs
  src/platform/ios.rs
  src/platform/macos.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/uikit/view_controller.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/common/xkb_state.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/ime/context.rs
  src/platform_impl/linux/x11/ime/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/util/hint.rs
  src/platform_impl/linux/x11/util/input.rs
  src/platform_impl/linux/x11/util/randr.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/cursor.rs
  src/platform_impl/macos/util.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/web_sys/event.rs
  src/platform_impl/web/web_sys/resize_scaling.rs
  src/platform_impl/windows/drop_handler.rs
  src/platform_impl/windows/keyboard.rs
  src/platform_impl/windows/keyboard_layout.rs
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
  src/window.rs
Owners: @madsmtm, @msiglreith, @kchibisov, @jackpot51, @daxpedda

Remove `extern crate` statements (#3310)
  src/dpi.rs
  src/event.rs
  src/keyboard.rs
  src/lib.rs
  src/platform/ios.rs
  src/platform/macos.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/uikit/view_controller.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/common/xkb_state.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/ime/context.rs
  src/platform_impl/linux/x11/ime/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/util/hint.rs
  src/platform_impl/linux/x11/util/input.rs
  src/platform_impl/linux/x11/util/randr.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/cursor.rs
  src/platform_impl/macos/util.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/web_sys/event.rs
  src/platform_impl/web/web_sys/resize_scaling.rs
  src/platform_impl/windows/drop_handler.rs
  src/platform_impl/windows/keyboard.rs
  src/platform_impl/windows/keyboard_layout.rs
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
  src/window.rs
Owners: @madsmtm, @msiglreith, @kchibisov, @jackpot51, @daxpedda

On Web, add `Window::(set_)prevent_default()`
  CHANGELOG.md
  src/platform/web.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/pointer.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

On Web, add `Window::(set_)prevent_default()` (#3307)
  CHANGELOG.md
  src/platform/web.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/pointer.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

Make `canvas` in `WindowBuilder` safe
  src/platform/web.rs
  src/platform_impl/web/async/dispatcher.rs
  src/platform_impl/web/async/waker.rs
  src/platform_impl/web/async/wrapper.rs
  src/platform_impl/web/cursor.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/main_thread.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

Make `canvas` in `WindowBuilder` safe (#3320)
  src/platform/web.rs
  src/platform_impl/web/async/dispatcher.rs
  src/platform_impl/web/async/waker.rs
  src/platform_impl/web/async/wrapper.rs
  src/platform_impl/web/cursor.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/main_thread.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

Web: improve custom cursor loading
  src/platform_impl/web/cursor.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

Web: improve custom cursor loading (#3321)
  src/platform_impl/web/cursor.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

bugfix: Reload Xft database on DPI change
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/xdisplay.rs
Owners: @kchibisov

MacOS: check if cursor changed before applying
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51
