Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51

Add changelog entry.
  CHANGELOG.md
Owners: none

On macOS, send a Resized event after ScaleFactorChanged
  CHANGELOG.md
  src/platform_impl/macos/app_state.rs
Owners: @madsmtm

Windows: move prepare_wait before querying the control_flow
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

On Windows, fix `set_control_flow` from `AboutToWait
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

On Wayland, fix wl_surface being dropped first
  CHANGELOG.md
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

Web: forbid additional functions in favor of caching them
  clippy.toml
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/web_sys/resize_scaling.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

Web: forbid additional functions in favor of caching them (#3219)
  clippy.toml
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/web_sys/resize_scaling.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

On Wayland, fix wl_surface being dropped first
  CHANGELOG.md
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

On macOS, fix assertion when pressing `Fn` key
  CHANGELOG.md
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/view.rs
Owners: @madsmtm

Reload DPI on PropertyChange
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Fix crash when running iPad build on macOS
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
Owners: @madsmtm

Add CHANGELOG entry
  CHANGELOG.md
Owners: none

support open urls macos
  Cargo.toml
  src/event.rs
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/app_state.rs
Owners: @madsmtm

On macOS, fix assertion when pressing `Fn` key
  CHANGELOG.md
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/view.rs
Owners: @madsmtm

Fix crash when running iPad build on macOS
  CHANGELOG.md
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
Owners: @madsmtm

Add changelog entry and remove some nesting
  CHANGELOG.md
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Make Android docs build on docs.rs
  Cargo.toml
  src/platform/android.rs
Owners: @msiglreith

Make Android docs build on docs.rs (#3236)
  Cargo.toml
  src/platform/android.rs
Owners: @msiglreith

Fix infinite recursion in `BadIcon` reporting
  src/icon.rs
Owners: none

Fix infinite recursion in `BadIcon` reporting (#3237)
  src/icon.rs
Owners: none

Review comments
  src/platform_impl/linux/x11/event_processor.rs
Owners: @kchibisov

On X11, reload DPI on PropertyChange
  CHANGELOG.md
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

On Windows, fix MT safety when starting drag
  CHANGELOG.md
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Fix crash when minimizing example on Windows
  examples/util/fill.rs
Owners: none

Fix typo in pre_present_notify docs
  src/window.rs
Owners: none

Disable `default-features` for the `ndk` crate
  Cargo.toml
Owners: none

On X11, try alternative cursor icon names as well
  CHANGELOG.md
  Cargo.toml
  src/platform_impl/linux/x11/util/cursor.rs
Owners: @kchibisov

On macOS, send a Resized event after ScaleFactorChanged
  CHANGELOG.md
  src/platform_impl/macos/app_state.rs
Owners: @madsmtm

On Windows, fix `set_control_flow` from `AboutToWait
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

On Wayland, fix wl_surface being dropped first
  CHANGELOG.md
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

On macOS, fix assertion when pressing `Fn` key
  CHANGELOG.md
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/view.rs
Owners: @madsmtm

Fix crash when running iPad build on macOS
  CHANGELOG.md
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
Owners: @madsmtm

Make Android docs build on docs.rs (#3236)
  Cargo.toml
  src/platform/android.rs
Owners: @msiglreith

Fix infinite recursion in `BadIcon` reporting (#3237)
  src/icon.rs
Owners: none

On X11, reload DPI on PropertyChange
  CHANGELOG.md
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Winit version 0.29.4
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

Fix crash when running iPad build on macOS
  CHANGELOG.md
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
Owners: @madsmtm

On X11, reload DPI on PropertyChange
  CHANGELOG.md
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Winit version 0.29.4
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

Disable `default-features` for the `ndk` crate
  Cargo.toml
Owners: none
