Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda, @jackpot51, @richerfu, @jschwe

winit-wayland: add hold gesture support
  winit-core/src/event.rs
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/seat/pointer/pointer_gesture.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

winit-win32: Fix Window focus after showing hidden maximized window
  winit-win32/src/window_state.rs
  winit/src/changelog/unreleased.md
Owners: none

initial commit to implement popup
  winit-wayland/Cargo.toml
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/lib.rs
  winit-wayland/src/popup.rs
  winit-wayland/src/popup/state.rs
  winit-wayland/src/state.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

use dedicated type to determine if the window is a popup or not
  winit-core/src/window.rs
  winit-wayland/src/event_loop/mod.rs
Owners: @kchibisov

determine the scale factor from the parent window
  winit-wayland/src/popup.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

add comment, thtat positioning is now also working on wayland with popups
  winit-core/src/window.rs
Owners: none

set the positioner gravity
  winit-wayland/src/popup.rs
Owners: @kchibisov

cleanup
  winit-wayland/Cargo.toml
  winit-wayland/src/popup.rs
  winit-wayland/src/popup/state.rs
Owners: @kchibisov

consider the location of the frame for client side decoration
  winit-wayland/src/popup.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

extend comment
  winit-core/src/window.rs
Owners: none

fix closing popups
  winit-wayland/src/popup.rs
Owners: @kchibisov

implement resizing of the popup using the positioner
  winit-wayland/src/popup.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

Positioner: Set anchor point once and then use the offset to change the position
  winit-core/src/window.rs
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/lib.rs
  winit-wayland/src/popup.rs
  winit-wayland/src/state.rs
  winit-wayland/src/window/handles.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

implement popup for macos
  winit-appkit/src/window_delegate.rs
Owners: @madsmtm

implement popup for windows
  winit-win32/src/window.rs
  winit-win32/src/window_state.rs
Owners: none

Fix popup size for different scalings
  winit-wayland/src/window/state.rs
Owners: @kchibisov

add changelog entry
  winit/src/changelog/unreleased.md
Owners: none

update example to show how to use the WindowType
  winit/examples/child_window.rs
Owners: none

winit-x11: fix clippy lint
  winit-x11/src/event_processor.rs
Owners: @kchibisov

fix format
  winit-core/src/event.rs
Owners: none

wayland: implement null-buffer unmap/remap for set_visible
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
Owners: none

Update changelog and example
  examples/window.rs
  src/changelog/unreleased.md
  src/window.rs
Owners: none

fmt check
  src/platform_impl/linux/wayland/window/state.rs
Owners: none

iOS: Implement UITextInput so multi-stage IMEs (CJK) work
  Cargo.toml
  src/platform_impl/ios/ime.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/ios/view.rs
Owners: none

AppKit: Add tablet tool support
  winit-appkit/src/view.rs
  winit-core/src/event.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

iOS: Commit marked text when an IME session ends without a candidate
  src/platform_impl/ios/view.rs
Owners: none

iOS: cargo fmt fixes for ime.rs
  src/platform_impl/ios/ime.rs
Owners: none

ci: pin log to 0.4.29 so 1.70 MSRV jobs build again
  .github/workflows/ci.yml
Owners: none

iOS: Implement UITextInput so multi-stage IMEs (CJK) work
  winit-uikit/src/ime.rs
  winit-uikit/src/lib.rs
  winit-uikit/src/view.rs
Owners: @madsmtm

windows: fix freeze on keyboard layout switch (Punto Switcher)
  winit-win32/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: none

Windows: return PhysicalPosition from translate_outer_position
  winit-win32/src/window.rs
Owners: none

Fix review
  winit-core/src/window.rs
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/popup.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
  winit/examples/child_window.rs
Owners: @kchibisov

winit-wayland: add pointer gesture hold
  winit-core/src/event.rs
  winit-wayland/Cargo.toml
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/seat/pointer/pointer_gesture.rs
  winit/examples/application.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

fix(macos): make Ime::Preedit cursor range surrogate-safe in set_marked_text
  winit-appkit/src/view.rs
Owners: @madsmtm

windows: fix freeze on keyboard layout switch
  winit-win32/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: none

chore: avoid `unsafe` in examples
  winit/Cargo.toml
  winit/examples/application.rs
  winit/examples/child_window.rs
  winit/examples/control_flow.rs
  winit/examples/dnd.rs
  winit/examples/ime.rs
  winit/examples/pump_events.rs
  winit/examples/run_on_demand.rs
  winit/examples/util/fill.rs
  winit/examples/window.rs
  winit/examples/x11_embed.rs
Owners: none

docs: add changelog entry for macOS IME preedit surrogate fix
  winit/src/changelog/unreleased.md
Owners: none

Address comments
  winit-appkit/src/view.rs
Owners: @madsmtm

WIP: wayland: `sctk` with `Dispatch2`
  winit-wayland/Cargo.toml
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/seat/pointer/pointer_gesture.rs
  winit-wayland/src/seat/pointer/relative_pointer.rs
  winit-wayland/src/seat/touch/mod.rs
  winit-wayland/src/state.rs
  winit-wayland/src/types/wp_tablet_input_v2.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
  winit-web/src/web_sys/canvas.rs
Owners: @kchibisov, @daxpedda

WIP update for wayland-rs git
  Cargo.toml
  winit-wayland/Cargo.toml
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/lib.rs
  winit-wayland/src/seat/keyboard/mod.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/seat/pointer/pointer_gesture.rs
  winit-wayland/src/seat/pointer/relative_pointer.rs
  winit-wayland/src/seat/text_input/mod.rs
  winit-wayland/src/seat/touch/mod.rs
  winit-wayland/src/state.rs
  winit-wayland/src/types/ext_background_effect.rs
  winit-wayland/src/types/kwin_blur.rs
  winit-wayland/src/types/wp_fractional_scaling.rs
  winit-wayland/src/types/wp_tablet_input_v2.rs
  winit-wayland/src/types/wp_viewporter.rs
  winit-wayland/src/types/xdg_activation.rs
  winit-wayland/src/types/xdg_toplevel_icon_manager.rs
  winit-wayland/src/window/mod.rs
Owners: @kchibisov

.github/CODEOWNERS:

# Android
/winit-android                      @MarijnS95

# Apple (AppKit + UIKit)
/winit-appkit                       @madsmtm
/winit-uikit                        @madsmtm
/winit-common/src/core_foundation   @madsmtm
/winit-common/src/event_handler.rs  @madsmtm

# XKB
/winit-common/src/xkb               @kchibisov

# Wayland
/winit-wayland                      @kchibisov

# X11
/winit-x11                          @kchibisov

# Web
/winit-web                          @daxpedda

# Windows (Win32) (UNOWNED)
#/winit-win32                       

# Orbital (Redox OS)
/winit-orbital                      @jackpot51

# OpenHarmony
/winit-ohos                         @richerfu @jschwe
