Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51

On X11, remove the now-unrefrenced events.rs source file
  src/platform_impl/linux/x11/events.rs
Owners: @kchibisov

On X11, set visual_id in raw-window-handle
  CHANGELOG.md
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

On Web, implement `WindowEvent::Occluded` (#2940)
  CHANGELOG.md
  Cargo.toml
  examples/web.rs
  src/event.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/intersection_handle.rs
  src/platform_impl/web/web_sys/mod.rs
Owners: @daxpedda

Increase test coverage for generic modules
  src/dpi.rs
  src/error.rs
  src/event.rs
Owners: none

Replace libc with rustix in some modules
  Cargo.toml
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/linux/x11/xdisplay.rs
Owners: @kchibisov

Pin android-activity git dependency
  Cargo.toml
Owners: none

On Web, add `WindowBuilderExtWebSys::with_append()` (#2953)
  CHANGELOG.md
  examples/web.rs
  examples/web_aspect_ratio.rs
  src/platform/web.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

MacOS: Implement EventLoopExtPumpEvents and EventLoopExtRunOnDemand
  src/platform/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
Owners: @madsmtm

Android: Support unicode character mapping + dead keys
  Cargo.toml
  src/platform_impl/android/keycodes.rs
  src/platform_impl/android/mod.rs
Owners: @msiglreith

On Web, remove `Window::is_dark_mode()` (#2951)
  CHANGELOG.md
  src/platform/web.rs
  src/platform_impl/web/web_sys/mod.rs
Owners: @daxpedda

On Web, implement and fix missing methods on `Window(Builder)` (#2949)
  CHANGELOG.md
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/window.rs
  src/window.rs
Owners: @daxpedda

On Web, use `requestAnimationFrame` for `RedrawRequested`
  CHANGELOG.md
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/animation_frame.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/window.rs
  src/window.rs
Owners: @daxpedda

Replace parts of the Xlib backend with x11-rb
  Cargo.toml
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/atoms.rs
  src/platform_impl/linux/x11/dnd.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/ime/context.rs
  src/platform_impl/linux/x11/ime/input_method.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/monitor.rs
  src/platform_impl/linux/x11/util/atom.rs
  src/platform_impl/linux/x11/util/client_msg.rs
  src/platform_impl/linux/x11/util/cursor.rs
  src/platform_impl/linux/x11/util/format.rs
  src/platform_impl/linux/x11/util/geometry.rs
  src/platform_impl/linux/x11/util/hint.rs
  src/platform_impl/linux/x11/util/input.rs
  src/platform_impl/linux/x11/util/memory.rs
  src/platform_impl/linux/x11/util/mod.rs
  src/platform_impl/linux/x11/util/modifiers.rs
  src/platform_impl/linux/x11/util/randr.rs
  src/platform_impl/linux/x11/util/window_property.rs
  src/platform_impl/linux/x11/util/wm.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/linux/x11/xdisplay.rs
Owners: @kchibisov

On X11, avoid false positive key repeats
  CHANGELOG.md
  src/platform_impl/linux/common/xkb_state.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

Android: Implement EventLoopExtPumpEvents and EventLoopExtRunOnDemand
  src/platform/mod.rs
  src/platform_impl/android/mod.rs
Owners: @msiglreith

Linux: Sync with server/compositor before exiting run_ondemand
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

iOS: Always set timer when polling to avoid slow waking (#2979)
  CHANGELOG.md
  src/platform_impl/ios/app_state.rs
Owners: @madsmtm

Export smol_str and impl Ord for Key
  CHANGELOG.md
  src/event.rs
  src/keyboard.rs
Owners: none

On Wayland, make the CSD frame double click reliable
  CHANGELOG.md
  src/platform_impl/linux/wayland/seat/pointer/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

On Wayland, use frame callbacks to throttle RedrawRequested
  CHANGELOG.md
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/window.rs
Owners: @kchibisov

Add Fullscreen API compatibility for Safari (#2948)
  CHANGELOG.md
  clippy.toml
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/fullscreen.rs
  src/platform_impl/web/web_sys/mod.rs
Owners: @daxpedda

Stop using `&mut` in Objective-C delegate methods (#2925)
  src/platform_impl/ios/ffi.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/appkit/responder.rs
  src/platform_impl/macos/appkit/view.rs
  src/platform_impl/macos/util/async.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Owners: @madsmtm

On macOS, set that we prefer tabbing
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

Remove EventLoopExtRunReturn
  examples/window_run_return.rs
  src/event_loop.rs
  src/lib.rs
  src/platform/mod.rs
  src/platform/run_return.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith, @kchibisov, @madsmtm, @jackpot51

MacOS: implement pump_events_with_timeout internally
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/observer.rs
Owners: @madsmtm

Linux: Implement EventLoopExtPumpEvents and EventLoopExtRunOnDemand
  src/platform/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

On Windows, add `drag_resize_window` method support (#2966)
  CHANGELOG.md
  FEATURES.md
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith

On macOS, add tabbing APIs
  CHANGELOG.md
  examples/window_tabbing.rs
  src/platform/macos.rs
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/appkit/tab_group.rs
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

Fix touch location accuracy (#2944)
  CHANGELOG.md
  src/platform_impl/web/web_sys/event.rs
  src/platform_impl/web/web_sys/pointer.rs
Owners: @daxpedda

Reexport raw-window-handle in window module
  CHANGELOG.md
  examples/child_window.rs
  src/window.rs
Owners: none

Remove functionality already exposed through `raw-window-handle`
  CHANGELOG.md
  FEATURES.md
  src/platform/ios.rs
  src/platform/macos.rs
  src/platform/wayland.rs
  src/platform/windows.rs
  src/platform/x11.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/windows/window.rs
Owners: @madsmtm, @kchibisov, @msiglreith

Add a way to embed the X11 window into another
  CHANGELOG.md
  examples/x11_embed.rs
  src/platform/x11.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/atoms.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Add `Window::on_present_notify` to ack about drawing
  CHANGELOG.md
  examples/window.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

On Windows, keep window maximized when setting size bounds (#2899)
  examples/fullscreen.rs
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Update icrate to v0.0.4 (#2992)
  Cargo.toml
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/appkit/application.rs
  src/platform_impl/macos/appkit/screen.rs
  src/platform_impl/macos/appkit/view.rs
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window_delegate.rs
Owners: @madsmtm

Rename `Window::set_inner_size` to `Window::request_inner_size`
  CHANGELOG.md
  examples/multithreaded.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

On Wayland, fix `Window::is_decorated` with CSD
  examples/window_drag_resize.rs
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

Re-work event loop run() API so it can return a Result
  examples/child_window.rs
  examples/control_flow.rs
  examples/cursor.rs
  examples/cursor_grab.rs
  examples/custom_events.rs
  examples/drag_window.rs
  examples/fullscreen.rs
  examples/handling_close.rs
  examples/ime.rs
  examples/key_binding.rs
  examples/mouse_wheel.rs
  examples/multithreaded.rs
  examples/multiwindow.rs
  examples/request_redraw.rs
  examples/request_redraw_threaded.rs
  examples/resizable.rs
  examples/startup_notification.rs
  examples/theme.rs
  examples/timer.rs
  examples/touchpad_gestures.rs
  examples/transparent.rs
  examples/web.rs
  examples/web_aspect_ratio.rs
  examples/window.rs
  examples/window_buttons.rs
  examples/window_debug.rs
  examples/window_drag_resize.rs
  examples/window_icon.rs
  examples/window_option_as_alt.rs
  examples/window_resize_increments.rs
  examples/window_tabbing.rs
  src/event_loop.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith, @kchibisov, @madsmtm, @jackpot51

On macOS, move automatic tabbing setting to ELWT
  CHANGELOG.md
  src/platform/macos.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm
