Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda, @jackpot51, @richerfu, @jschwe

[`winit-web`]: Remove `thread_local` from `has_screen_details_support`
  winit-web/src/monitor.rs
Owners: @daxpedda

[`winit-web`]: Remove `thread_local` from `MainThreadMarker::new`
  winit-web/src/main_thread.rs
Owners: @daxpedda

[`winit-web`]: Remove `thread_local` from `new_scheduler`
  winit-web/src/web_sys/schedule.rs
Owners: @daxpedda

[`winit-web`]: Remove `thread_local` from `has_idle_callback_support`
  winit-web/src/web_sys/schedule.rs
Owners: @daxpedda

[`winit-web`]: Remove `thread_local` from `has_scheduler_support`
  winit-web/src/web_sys/schedule.rs
Owners: @daxpedda

[`winit-web`]: Use `once_cell` instead of `std::sync::OnceLock`
  Cargo.toml
  winit-web/Cargo.toml
  winit-web/src/async/notifier.rs
  winit-web/src/main_thread.rs
  winit-web/src/monitor.rs
Owners: @daxpedda

[`winit`]: Make `std` usage explicit
  winit/src/event_loop.rs
  winit/src/lib.rs
  winit/src/platform_impl/linux/mod.rs
Owners: none

[`winit`]: Remove unused dependencies
  winit/Cargo.toml
Owners: none

[`winit`]: Include `wasm32v1-none` as a `web_platform`
  winit/build.rs
Owners: none

[`winit-web`]: Remove `thread_local` from `is_cursor_lock_raw`
  winit-web/src/lock.rs
Owners: @daxpedda

[`winit-web`]: Remove `thread_local` from `new_worker`
  winit-web/src/web_sys/schedule.rs
Owners: @daxpedda

[`winit-web`]: Remove `thread_local` for `UserAgentData`
  winit-web/src/web_sys/mod.rs
Owners: @daxpedda

[`winit-web`]: Remove `std`
  winit-web/src/lib.rs
Owners: @daxpedda

[CI]: Test `wasm32v1-none`
  .github/workflows/ci.yml
Owners: none

[CI]: Unrelated `cargo-deny` failure bypasses
  deny.toml
Owners: none

nightly format
  winit-win32/src/event_loop.rs
Owners: none

wayland: bump sctk-adwaita to 0.11, sctk to 0.20, calloop to 0.14
  Cargo.toml
  deny.toml
  src/changelog/unreleased.md
Owners: none

chore(changelog): add note to the `unreleased` changelog
  src/changelog/unreleased.md
Owners: none

macOS: Handle Character Viewer text input
  winit-appkit/src/view.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

chore: `cargo fmt`
  src/platform_impl/linux/common/xkb/compose.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/windows/util.rs
Owners: none

fix CI: MSRV bump, syn ambiguity, cargo-deny
  .github/workflows/ci.yml
  Cargo.toml
  deny.toml
  src/changelog/unreleased.md
Owners: none

fix clippy lints and pin wayland-protocols for MSRV
  .github/workflows/ci.yml
  src/platform_impl/linux/common/xkb/compose.rs
  src/platform_impl/linux/x11/event_processor.rs
Owners: none

fix(ci): specify precise versions for msrv 1.70
  .github/workflows/ci.yml
Owners: none

ci: pin calloop, unicode-segmentation, indexmap for MSRV 1.71
  .github/workflows/ci.yml
Owners: none

ci: pin toml_edit for MSRV, use unicode-segmentation 1.12.0
  .github/workflows/ci.yml
Owners: none

ci/deny: skip syn 2 and allow libc's packaged script
  deny.toml
Owners: none

ci/deny: skip syn 2 and allow libc's packaged script
  deny.toml
Owners: none

macOS: Feature-gate CGSSetWindowBackgroundBlurRadius
  winit-appkit/Cargo.toml
  winit-appkit/src/ffi.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/window.rs
  winit/Cargo.toml
  winit/src/changelog/unreleased.md
  winit/src/lib.rs
Owners: @madsmtm

wayland: Update `sctk` to 0.21
  winit-wayland/Cargo.toml
  winit-wayland/src/dnd.rs
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/seat/pointer/pointer_gesture.rs
  winit-wayland/src/seat/touch/mod.rs
  winit-wayland/src/state.rs
  winit-wayland/src/types/wp_tablet_input_v2.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

winit-wayland: bump `sctk-adwaita`
  winit-wayland/Cargo.toml
  winit/Cargo.toml
Owners: @kchibisov

WIP update for wayland-rs git
  Cargo.toml
  winit-wayland/Cargo.toml
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/lib.rs
  winit-wayland/src/seat/keyboard/mod.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/seat/pointer/pointer_gesture.rs
  winit-wayland/src/seat/pointer/relative_pointer.rs
  winit-wayland/src/seat/text_input/mod.rs
  winit-wayland/src/state.rs
  winit-wayland/src/types/ext_background_effect.rs
  winit-wayland/src/types/kwin_blur.rs
  winit-wayland/src/types/wp_fractional_scaling.rs
  winit-wayland/src/types/wp_tablet_input_v2.rs
  winit-wayland/src/types/wp_viewporter.rs
  winit-wayland/src/types/xdg_activation.rs
  winit-wayland/src/types/xdg_toplevel_icon_manager.rs
  winit-wayland/src/window/mod.rs
Owners: @kchibisov

macOS: Feature-gate CGSSetWindowBackgroundBlurRadius
  winit-appkit/Cargo.toml
  winit-appkit/src/ffi.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/window.rs
  winit/Cargo.toml
  winit/src/changelog/unreleased.md
  winit/src/lib.rs
Owners: @madsmtm

Bump MSRV to 1.86
  .github/workflows/ci.yml
  Cargo.toml
  README.md
  winit-win32/src/dnd.rs
  winit/src/changelog/v0.31.md
Owners: none

wayland: Update `sctk` to 0.21
  winit-wayland/Cargo.toml
  winit-wayland/src/dnd.rs
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/seat/pointer/pointer_gesture.rs
  winit-wayland/src/seat/touch/mod.rs
  winit-wayland/src/state.rs
  winit-wayland/src/types/wp_tablet_input_v2.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

implement window_type function also for Android
  winit-android/src/event_loop.rs
Owners: @MarijnS95

fix ci
  winit-appkit/src/window.rs
  winit-web/src/window.rs
  winit-win32/src/window.rs
Owners: @madsmtm, @daxpedda

fix ci for iOs
  winit-uikit/src/window.rs
Owners: @madsmtm

subtract for set_outer_position also the parent origin
  winit-wayland/src/popup.rs
Owners: @kchibisov

we are already in the None path, so use attributes.position directly
  winit-wayland/src/popup.rs
Owners: @kchibisov

fix review
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/lib.rs
  winit-wayland/src/popup.rs
  winit-wayland/src/window/state.rs
  winit-win32/src/window_state.rs
Owners: @kchibisov

.github/CODEOWNERS:

# Android
/winit-android                      @MarijnS95

# Apple (AppKit + UIKit)
/winit-appkit                       @madsmtm
/winit-uikit                        @madsmtm
/winit-common/src/core_foundation   @madsmtm
/winit-common/src/event_handler.rs  @madsmtm

# XKB
/winit-common/src/xkb               @kchibisov

# Wayland
/winit-wayland                      @kchibisov

# X11
/winit-x11                          @kchibisov

# Web
/winit-web                          @daxpedda

# Windows (Win32) (UNOWNED)
#/winit-win32                       

# Orbital (Redox OS)
/winit-orbital                      @jackpot51

# OpenHarmony
/winit-ohos                         @richerfu @jschwe
