Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda, @jackpot51, @richerfu, @jschwe

fix clippy
  winit-wayland/src/popup.rs
Owners: @kchibisov

Ignore quick-xml and ttf-parser advisories in cargo-deny
  deny.toml
Owners: none

Use the MSRV-aware resolver instead of pinning versions in CI
  .github/workflows/ci.yml
  Cargo.toml
Owners: none

wayland: don't send set_buffer_scale on wl_surface below version 3
  winit-wayland/src/window/state.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

initial dialog implementation
  Cargo.toml
  winit-core/src/window.rs
  winit-wayland/Cargo.toml
  winit-wayland/src/dialog.rs
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/lib.rs
  winit-wayland/src/popup.rs
  winit-wayland/src/state.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
  winit-wayland/src/window/state/core_window.rs
Owners: @kchibisov

Add documentation for Anchor, Gravity and ConstraintAdjustment
  winit-wayland/src/lib.rs
Owners: @kchibisov

document position
  winit-core/src/window.rs
Owners: none

fix clippy
  winit-common/src/xkb/compose.rs
  winit/examples/child_window.rs
Owners: @kchibisov

return an error if the size of the popup is zero
  winit-wayland/src/popup.rs
Owners: @kchibisov

fix compilation
  winit-wayland/src/popup.rs
Owners: @kchibisov

fix clippy
  winit-common/src/xkb/compose.rs
  winit/examples/child_window.rs
Owners: @kchibisov

set transparancy and plur for the popup
  winit-wayland/src/popup.rs
Owners: @kchibisov

reuse the active flag to grab the keyboard for popups
  winit-appkit/src/window_delegate.rs
  winit-core/src/window.rs
  winit-wayland/src/lib.rs
  winit-wayland/src/popup.rs
  winit-win32/src/window_state.rs
Owners: @madsmtm, @kchibisov

start implementing dynamic changing the popup anchor point
  winit-wayland/src/lib.rs
  winit-wayland/src/popup.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

make PopupExtWayland &self instead of mut
  winit-wayland/src/lib.rs
  winit-wayland/src/popup.rs
Owners: @kchibisov

Implement new drag-and-drop API for `winit-appkit`
  winit-appkit/Cargo.toml
  winit-appkit/src/app_state.rs
  winit-appkit/src/cursor.rs
  winit-appkit/src/dnd.rs
  winit-appkit/src/event_loop.rs
  winit-appkit/src/lib.rs
  winit-appkit/src/view.rs
  winit-appkit/src/window.rs
  winit-appkit/src/window_delegate.rs
Owners: @madsmtm

Remove monomorphic drag-and-drop implementation
  winit-appkit/src/window_delegate.rs
  winit-win32/src/drop_handler.rs
  winit-x11/src/dnd.rs
  winit-x11/src/event_processor.rs
Owners: @madsmtm, @kchibisov

Drop the `Ref` returned by `current_drag_actions`
  winit-win32/src/dnd.rs
Owners: none

Rename `drop_handler.rs` to `dnd.rs` in `winit-win32`
  winit-win32/src/dnd.rs
Owners: none

Implement new drag-and-drop API for `winit-win32`
  typos.toml
  winit-win32/Cargo.toml
  winit-win32/src/definitions.rs
  winit-win32/src/dnd.rs
  winit-win32/src/event_loop.rs
  winit-win32/src/event_loop/runner.rs
  winit-win32/src/lib.rs
  winit-win32/src/window.rs
  winit-win32/src/window_state.rs
Owners: none

Implement new drag-and-drop API for `winit-wayland`
  winit-wayland/Cargo.toml
  winit-wayland/src/dnd/mod.rs
  winit-wayland/src/dnd/send_data.rs
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/lib.rs
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/seat/pointer/relative_pointer.rs
  winit-wayland/src/state.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

Implement new drag-and-drop API for `winit-x11`
  winit-x11/src/atoms.rs
  winit-x11/src/dnd.rs
  winit-x11/src/event_loop.rs
  winit-x11/src/event_processor.rs
  winit-x11/src/lib.rs
  winit-x11/src/util/window_property.rs
  winit-x11/src/window.rs
Owners: @kchibisov

Implement new drag-and-drop API in `winit-core`
  winit-core/src/data_transfer.rs
  winit-core/src/event.rs
  winit-core/src/event_loop/mod.rs
  winit-core/src/lib.rs
  winit-core/src/window.rs
  winit/examples/dnd.rs
  winit/src/lib.rs
Owners: none

make the positioner offset explicit and use the anchor rect position as normal position
  winit-core/src/window.rs
  winit-wayland/src/lib.rs
  winit-wayland/src/popup.rs
Owners: @kchibisov

implementing dynamic changing the popup anchor point
  winit-wayland/src/lib.rs
  winit-wayland/src/popup.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

Respond to PR feedback
  winit-appkit/src/cursor.rs
  winit-appkit/src/window.rs
  winit-appkit/src/window_delegate.rs
  winit-wayland/Cargo.toml
  winit-wayland/src/dnd/mod.rs
  winit-wayland/src/dnd/send_data.rs
  winit-wayland/src/event_loop/mod.rs
  winit-x11/src/dnd.rs
  winit-x11/src/event_loop.rs
  winit-x11/src/event_processor.rs
Owners: @madsmtm, @kchibisov

Replicate cfg for URL file path handling on web targets
  winit-core/src/data_transfer.rs
Owners: none

Fix bitset | in win32
  winit-win32/src/event_loop/runner.rs
Owners: none

`copy_from_slice`->`extend_from_slice` in Wayland
  winit-wayland/src/dnd/send_data.rs
Owners: @kchibisov

Actually truly enforce URIs being URIs, and provide helpers to/from paths
  Cargo.toml
  winit-appkit/src/dnd.rs
  winit-appkit/src/event_loop.rs
  winit-core/Cargo.toml
  winit-core/src/data_transfer.rs
  winit-wayland/src/dnd/mod.rs
  winit-wayland/src/dnd/send_data.rs
  winit-win32/Cargo.toml
  winit-win32/src/dnd.rs
  winit-x11/src/dnd.rs
  winit/examples/dnd.rs
Owners: @madsmtm, @kchibisov

Fix 32-bit Linux
  winit-x11/src/event_processor.rs
Owners: @kchibisov

amend! Respond to PR feedback
  winit-wayland/src/dnd/mod.rs
  winit-wayland/src/dnd/send_data.rs
  winit-x11/src/event_loop.rs
Owners: @kchibisov

AppKit: Avoid incorrectly synthesising window ID
  winit-appkit/src/dnd.rs
  winit-appkit/src/event_loop.rs
  winit-appkit/src/window_delegate.rs
Owners: @madsmtm

Better documentation
  winit-appkit/src/event_loop.rs
  winit-core/src/data_transfer.rs
  winit-core/src/event.rs
  winit-core/src/event_loop/mod.rs
  winit-core/src/window.rs
Owners: @madsmtm

amend! AppKit: Avoid incorrectly synthesising window ID
  winit-appkit/src/dnd.rs
  winit-appkit/src/event_loop.rs
Owners: @madsmtm

fix clippy
  winit-wayland/src/popup.rs
Owners: @kchibisov

Make writing URI lists eager (winit-wayland)
  winit-wayland/src/dnd/mod.rs
  winit-wayland/src/dnd/send_data.rs
Owners: @kchibisov

`dnd/mod.rs`->`dnd.rs` (winit-wayland)
  winit-wayland/src/dnd.rs
Owners: @kchibisov

Fix large data transfer on Wayland
  winit-core/src/data_transfer.rs
  winit-wayland/src/dnd.rs
  winit-wayland/src/event_loop/mod.rs
Owners: @kchibisov

Fix weston panic (winit-wayland)
  winit/examples/dnd.rs
Owners: none

.github/CODEOWNERS:

# Android
/winit-android                      @MarijnS95

# Apple (AppKit + UIKit)
/winit-appkit                       @madsmtm
/winit-uikit                        @madsmtm
/winit-common/src/core_foundation   @madsmtm
/winit-common/src/event_handler.rs  @madsmtm

# XKB
/winit-common/src/xkb               @kchibisov

# Wayland
/winit-wayland                      @kchibisov

# X11
/winit-x11                          @kchibisov

# Web
/winit-web                          @daxpedda

# Windows (Win32) (UNOWNED)
#/winit-win32                       

# Orbital (Redox OS)
/winit-orbital                      @jackpot51

# OpenHarmony
/winit-ohos                         @richerfu @jschwe
