Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

Bump `web-time` to v1
  Cargo.toml
Owners: none

Bump `web-time` to v1 (#3392)
  Cargo.toml
Owners: none

Platform is called Web not Wasm
  Cargo.toml
  README.md
  build.rs
  examples/control_flow.rs
  examples/custom_cursors.rs
  examples/custom_events.rs
  examples/focus.rs
  examples/multithreaded.rs
  examples/request_redraw_threaded.rs
  examples/timer.rs
  examples/web.rs
  examples/web_aspect_ratio.rs
  examples/window_pump_events.rs
  src/event.rs
  src/event_loop.rs
  src/platform/mod.rs
  src/platform/run_on_demand.rs
  src/platform/web.rs
  src/platform_impl/mod.rs
Owners: @daxpedda

Platform is called Web not Wasm (#3393)
  Cargo.toml
  README.md
  build.rs
  examples/control_flow.rs
  examples/custom_cursors.rs
  examples/custom_events.rs
  examples/focus.rs
  examples/multithreaded.rs
  examples/request_redraw_threaded.rs
  examples/timer.rs
  examples/web.rs
  examples/web_aspect_ratio.rs
  examples/window_pump_events.rs
  src/event.rs
  src/event_loop.rs
  src/platform/mod.rs
  src/platform/run_on_demand.rs
  src/platform/web.rs
  src/platform_impl/mod.rs
Owners: @daxpedda

Web: account for canvas being focused already (#3369)
  CHANGELOG.md
  src/platform_impl/web/event_loop/window_target.rs
Owners: @daxpedda

Web: increase cursor position accuracy (#3380)
  CHANGELOG.md
  src/platform_impl/web/web_sys/event.rs
Owners: @daxpedda

ci: Fix dead code error on nightly
  src/platform_impl/linux/x11/ime/callbacks.rs
  src/platform_impl/linux/x11/ime/input_method.rs
  src/platform_impl/linux/x11/ime/mod.rs
  src/platform_impl/windows/window.rs
Owners: @kchibisov, @msiglreith

Winit version 0.29.10
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

First attempt at using UIRotationGestureRecognizer
  src/platform_impl/ios/uikit/gesture_recognizer.rs
  src/platform_impl/ios/uikit/mod.rs
  src/platform_impl/ios/uikit/view.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/mod.rs
Owners: @madsmtm

Web: account for canvas being focused already (#3369)
  CHANGELOG.md
  src/platform_impl/web/event_loop/window_target.rs
Owners: @daxpedda

Web: increase cursor position accuracy (#3380)
  CHANGELOG.md
  src/platform_impl/web/web_sys/event.rs
Owners: @daxpedda

ci: Fix dead code error on nightly
  src/platform_impl/linux/x11/ime/callbacks.rs
  src/platform_impl/linux/x11/ime/input_method.rs
  src/platform_impl/linux/x11/ime/mod.rs
  src/platform_impl/windows/window.rs
Owners: @kchibisov, @msiglreith

Winit version 0.29.10
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

Bump version on master
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

Bump version on master
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

Replace EventLoopWindowTarget with ActiveEventLoop
  CHANGELOG.md
  examples/child_window.rs
  examples/custom_cursors.rs
  src/cursor.rs
  src/event_loop.rs
  src/lib.rs
  src/monitor.rs
  src/platform/android.rs
  src/platform/macos.rs
  src/platform/pump_events.rs
  src/platform/run_on_demand.rs
  src/platform/startup_notify.rs
  src/platform/wayland.rs
  src/platform/web.rs
  src/platform/x11.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/orbital/mod.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/mod.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

Rename elwt -> event_loop
  examples/child_window.rs
  examples/control_flow.rs
  examples/cursor.rs
  examples/cursor_grab.rs
  examples/custom_cursors.rs
  examples/custom_events.rs
  examples/drag_window.rs
  examples/focus.rs
  examples/fullscreen.rs
  examples/handling_close.rs
  examples/ime.rs
  examples/key_binding.rs
  examples/mouse_wheel.rs
  examples/multithreaded.rs
  examples/multiwindow.rs
  examples/request_redraw.rs
  examples/request_redraw_threaded.rs
  examples/resizable.rs
  examples/startup_notification.rs
  examples/theme.rs
  examples/timer.rs
  examples/touchpad_gestures.rs
  examples/transparent.rs
  examples/web.rs
  examples/window.rs
  examples/window_buttons.rs
  examples/window_debug.rs
  examples/window_drag_resize.rs
  examples/window_icon.rs
  examples/window_on_demand.rs
  examples/window_option_as_alt.rs
  examples/window_pump_events.rs
  examples/window_resize_increments.rs
  examples/window_tabbing.rs
  examples/x11_embed.rs
  src/event.rs
  src/lib.rs
  src/platform/pump_events.rs
  src/window.rs
Owners: none

feat: Add an owned display handle type
  src/event_loop.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/orbital/mod.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/mod.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

Fix errors on Linux
  src/event_loop.rs
  src/platform_impl/linux/mod.rs
Owners: @kchibisov

Remove `WindowBuilder` in favour of `WindowAttributes`
  examples/custom_cursors.rs
  examples/startup_notification.rs
  examples/web.rs
  examples/web_aspect_ratio.rs
  examples/window_tabbing.rs
  examples/x11_embed.rs
  src/platform/android.rs
  src/platform/ios.rs
  src/platform/macos.rs
  src/platform/startup_notify.rs
  src/platform/wayland.rs
  src/platform/web.rs
  src/platform/windows.rs
  src/platform/x11.rs
  src/window.rs
  tests/send_objects.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda

pub => pub(crate)
  src/platform_impl/linux/mod.rs
Owners: @kchibisov

Fix dead code warnings
  src/platform_impl/linux/mod.rs
Owners: @kchibisov

CHANGELOG
  CHANGELOG.md
Owners: none

feat: Add an owned display handle type
  CHANGELOG.md
  src/event_loop.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/orbital/mod.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/mod.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

Apply suggestions from code review
  src/event.rs
  src/platform_impl/ios/view.rs
Owners: @madsmtm

use a newtype instead of an enum for the state
  src/platform_impl/ios/uikit/gesture_recognizer.rs
Owners: @madsmtm

Make DeviceId simpler on iOS
  src/platform_impl/ios/mod.rs
  src/platform_impl/ios/view.rs
Owners: @madsmtm

doc
  src/event.rs
Owners: none

regroup objc2 imports
  src/platform_impl/ios/uikit/gesture_recognizer.rs
Owners: @madsmtm

use UIView
  src/platform_impl/ios/uikit/gesture_recognizer.rs
Owners: @madsmtm

Make DeviceId simpler on iOS (#3402)
  src/platform_impl/ios/mod.rs
  src/platform_impl/ios/view.rs
Owners: @madsmtm

rename example and enable gesture on iOS
  examples/touch_gestures.rs
Owners: none

document that it's off by default on iOS
  src/event.rs
Owners: none

update for #3402
  src/platform_impl/ios/view.rs
Owners: @madsmtm

don't link to ios extension
  src/event.rs
Owners: none

fix logic
  src/platform_impl/ios/view.rs
Owners: @madsmtm

logic 2
  src/platform_impl/ios/view.rs
Owners: @madsmtm

logic 3 :facepalm:
  src/platform_impl/ios/view.rs
Owners: @madsmtm

wrong and unused impl
  src/platform_impl/ios/view.rs
Owners: @madsmtm

simplify
  src/platform_impl/ios/uikit/gesture_recognizer.rs
  src/platform_impl/ios/view.rs
Owners: @madsmtm

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51
