Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda, @jackpot51, @richerfu, @jschwe

.github/CODEOWNERS:

# Android
/winit-android                      @MarijnS95

# Apple (AppKit + UIKit)
/winit-appkit                       @madsmtm
/winit-uikit                        @madsmtm
/winit-common/src/core_foundation   @madsmtm
/winit-common/src/event_handler.rs  @madsmtm

# XKB
/winit-common/src/xkb               @kchibisov

# Wayland
/winit-wayland                      @kchibisov

# X11
/winit-x11                          @kchibisov

# Web
/winit-web                          @daxpedda

# Windows (Win32) (UNOWNED)
#/winit-win32                       

# Orbital (Redox OS)
/winit-orbital                      @jackpot51

# OpenHarmony
/winit-ohos                         @richerfu @jschwe

Fix wasm build
  winit-core/src/data_transfer.rs
Owners: none

Fix wasm build
  winit-core/src/data_transfer.rs
Owners: none

Allow future incompatibility lint from cfg_aliases 0.2.1
  winit/build.rs
Owners: none

Only copy is implemented on X11, so we should remove X11 link/move from the `DndAction` docs even though they're technically supported
  winit-core/src/event_loop/mod.rs
Owners: none

Fix remaining issues
  winit-appkit/src/event_loop.rs
  winit-x11/src/atoms.rs
  winit-x11/src/dnd.rs
  winit-x11/src/event_processor.rs
Owners: @madsmtm, @kchibisov

Update cfg_aliases to 0.2.2
  Cargo.toml
  winit/build.rs
Owners: none

Update cfg_aliases to 0.2.2
  Cargo.toml
  winit/build.rs
Owners: none

This is #4541 with its TODO filled in.
  .github/workflows/ci.yml
  winit-appkit/Cargo.toml
  winit-appkit/src/ffi.rs
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/window.rs
  winit/Cargo.toml
  winit/src/changelog/unreleased.md
  winit/src/lib.rs
Owners: @madsmtm

fix compilation
  winit-wayland/src/seat/mod.rs
Owners: @kchibisov

winit-orbital: Implement pump_app_events
  Cargo.toml
  winit-orbital/src/event_loop.rs
  winit-orbital/src/lib.rs
  winit/examples/pump_events.rs
  winit/src/changelog/unreleased.md
  winit/src/event_loop.rs
  winit/src/lib.rs
Owners: @jackpot51

initial x11 support
  winit-x11/src/event_loop.rs
  winit-x11/src/event_processor.rs
  winit-x11/src/lib.rs
  winit-x11/src/tablet.rs
  winit/examples/application.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

• Fixed both review findings:
  winit-x11/src/event_loop.rs
  winit-x11/src/event_processor.rs
  winit-x11/src/tablet.rs
Owners: @kchibisov

centralised pointer detection
  winit-x11/src/event_loop.rs
  winit-x11/src/event_processor.rs
  winit-x11/src/tablet.rs
Owners: @kchibisov

simplified the code
  winit-x11/src/event_loop.rs
  winit-x11/src/event_processor.rs
  winit-x11/src/tablet.rs
Owners: @kchibisov

winit-orbital: Respect ORBITAL_DISPLAY
  winit-orbital/src/lib.rs
Owners: @jackpot51

winit-orbital: Fix i586 build
  winit-orbital/src/event_loop.rs
Owners: @jackpot51

winit-orbital: Fix i586 build
  winit-orbital/src/event_loop.rs
Owners: @jackpot51

winit-orbital: provide last mouse position with button events
  winit-orbital/src/event_loop.rs
Owners: @jackpot51

winit-orbital: provide last mouse position with button events
  winit-orbital/src/event_loop.rs
Owners: @jackpot51

winit-orbital: Implement pump_app_events
  Cargo.toml
  winit-orbital/src/event_loop.rs
  winit-orbital/src/lib.rs
  winit/examples/pump_events.rs
  winit/src/changelog/unreleased.md
  winit/src/event_loop.rs
  winit/src/lib.rs
Owners: @jackpot51

implement set_positioner offset and use of outer position the anchor rect not the offset
  winit-wayland/src/lib.rs
  winit-wayland/src/popup.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

fix clippy
  winit-wayland/src/popup.rs
Owners: @kchibisov

implement window_type getter function
  winit-appkit/src/window.rs
  winit-core/src/window.rs
  winit-orbital/src/window.rs
  winit-uikit/src/window.rs
  winit-wayland/src/popup.rs
  winit-wayland/src/window/mod.rs
  winit-win32/src/window.rs
  winit-x11/src/window.rs
Owners: @madsmtm, @jackpot51, @kchibisov

Resample deferred macOS surface resize events
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

[`winit-core`]: Make `std` usage explicit
  winit-core/src/application/mod.rs
  winit-core/src/as_any.rs
  winit-core/src/cursor.rs
  winit-core/src/data_transfer.rs
  winit-core/src/error.rs
  winit-core/src/event.rs
  winit-core/src/event_loop/mod.rs
  winit-core/src/event_loop/pump_events.rs
  winit-core/src/icon.rs
  winit-core/src/keyboard.rs
  winit-core/src/lib.rs
  winit-core/src/monitor.rs
  winit-core/src/window.rs
Owners: none

[`winit-core`]: Disable unused features
  Cargo.toml
  winit-core/Cargo.toml
Owners: none

[`winit-web`]: Remove `thread_local` from `has_coalesced_events_support`
  winit-web/src/web_sys/event.rs
Owners: @daxpedda

[`winit-core`]: Omit `BadIcon::OsError` on `wasm32v1-none`
  winit-core/src/icon.rs
Owners: none

[`winit-web`]: Remove `thread_local` from `has_fullscreen_api_support`
  winit-web/src/web_sys/fullscreen.rs
Owners: @daxpedda

[`winit-web`]: Use `ConcurrentQueue` for channels
  winit-web/src/async/channel.rs
  winit-web/src/async/mod.rs
Owners: @daxpedda

[`winit-web`]: Make `std` usage explicit
  winit-web/src/async/abortable.rs
  winit-web/src/async/atomic_waker.rs
  winit-web/src/async/channel.rs
  winit-web/src/async/concurrent_queue.rs
  winit-web/src/async/dispatcher.rs
  winit-web/src/async/notifier.rs
  winit-web/src/async/wrapper.rs
  winit-web/src/cursor.rs
  winit-web/src/event_loop/mod.rs
  winit-web/src/event_loop/proxy.rs
  winit-web/src/event_loop/runner.rs
  winit-web/src/event_loop/window_target.rs
  winit-web/src/lib.rs
  winit-web/src/lock.rs
  winit-web/src/main_thread.rs
  winit-web/src/monitor.rs
  winit-web/src/web_sys/animation_frame.rs
  winit-web/src/web_sys/canvas.rs
  winit-web/src/web_sys/event.rs
  winit-web/src/web_sys/fullscreen.rs
  winit-web/src/web_sys/mod.rs
  winit-web/src/web_sys/pointer.rs
  winit-web/src/web_sys/resize_scaling.rs
  winit-web/src/web_sys/schedule.rs
  winit-web/src/window.rs
Owners: @daxpedda

[`winit-web`]: Disable unused features
  Cargo.toml
  winit-web/Cargo.toml
Owners: @daxpedda

[`winit-web`]: Switch `Dispatcher` to channels
  winit-web/src/async/dispatcher.rs
Owners: @daxpedda

[`winit-core`]: Refactor `SurfaceSizeWriter` to encapsulate `Arc`, `Weak` and `Mutex`
  winit-android/src/event_loop.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/event.rs
  winit-uikit/src/app_state.rs
  winit-wayland/src/event_loop/mod.rs
  winit-web/src/web_sys/canvas.rs
  winit-win32/src/event_loop.rs
  winit-win32/src/event_loop/runner.rs
  winit-x11/src/event_processor.rs
  winit-x11/src/window.rs
Owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda

[`winit-core`]: Use `libm` for `wasm32v1-none`
  Cargo.toml
  winit-core/Cargo.toml
  winit-core/src/event.rs
  winit-core/src/lib.rs
  winit-core/src/libm.rs
Owners: none

[`winit-web`]: Swap `HashSet` for `BTreeSet`
  winit-web/src/event_loop/runner.rs
Owners: @daxpedda

[`winit-core`]: Use `String` as a replacement for `PathBuf` on `wasm32v1-none`
  winit-core/src/data_transfer.rs
  winit-core/src/event.rs
Owners: none

[`winit-web`]: Remove `thread_local` from `request_pointer_lock`
  winit-web/src/lock.rs
Owners: @daxpedda

[`winit-web`]: Remove `thread_local` from `has_device_pixel_support`
  winit-web/src/web_sys/resize_scaling.rs
Owners: @daxpedda

[`winit-web`]: Remove `thread_local` from `request_fullscreen`
  winit-web/src/web_sys/fullscreen.rs
Owners: @daxpedda
