Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51

On Winows, Fix deedlock with `WM_MOUSEMOVE`
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

On macOS, fix deadlock during nested event loops (e.g. rfd)
  CHANGELOG.md
  src/platform_impl/macos/app_state.rs
Owners: @madsmtm

On wasm, provide intradoc-link for `spawn()` function in `EventLoop` docs (#3178)
  src/event_loop.rs
  src/lib.rs
  src/platform/run_on_demand.rs
  src/platform/web.rs
Owners: @daxpedda

On Wayland, fix `RedrawRequsted` loop
  CHANGELOG.md
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

On Wayland, improve initial user size handling
  CHANGELOG.md
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/platform_impl/linux/x11/monitor.rs
Owners: @kchibisov

On Windows, add support for Window::set_transparent
  CHANGELOG.md
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith

On macOS, add support for `Window::set_blur`
  CHANGELOG.md
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/ffi.rs
  src/platform_impl/macos/window.rs
  src/window.rs
Owners: @madsmtm

Clarify `scale_factor` docs
  src/dpi.rs
  src/monitor.rs
  src/window.rs
Owners: none

Winit version 0.29.3
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

On Winows, Fix deedlock with `WM_MOUSEMOVE`
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

On macOS, fix deadlock during nested event loops (e.g. rfd)
  CHANGELOG.md
  src/platform_impl/macos/app_state.rs
Owners: @madsmtm

Winit version 0.29.3
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

On macOS, add support for `Window::set_blur`
  CHANGELOG.md
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/ffi.rs
  src/platform_impl/macos/window.rs
  src/window.rs
Owners: @madsmtm

On Wayland, fix `RedrawRequsted` loop
  CHANGELOG.md
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

On Windows, fix deadlock during `Cursor{Enter,Leave}`
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

Clarify `scale_factor` docs
  src/dpi.rs
  src/monitor.rs
  src/window.rs
Owners: none

On Windows, add support for Window::set_transparent
  CHANGELOG.md
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith

On Wayland, improve initial user size handling
  CHANGELOG.md
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/platform_impl/linux/x11/monitor.rs
Owners: @kchibisov

On wasm, provide intradoc-link for `spawn()` function in `EventLoop` docs (#3178)
  src/event_loop.rs
  src/lib.rs
  src/platform/run_on_demand.rs
  src/platform/web.rs
Owners: @daxpedda

Fix unused import warnings on nightly
  src/platform_impl/linux/x11/ffi.rs
  src/platform_impl/linux/x11/util/mod.rs
Owners: @kchibisov

Bump version on master
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

Bump version on master
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

Implement `WindowEvent::Minimized` and `WindowEvent::Restored` for Windows
  CHANGELOG.md
  examples/util/fill.rs
  src/event.rs
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

Fix examples crash when minimizing a window on Windows
  examples/util/fill.rs
Owners: none

🐉 Support window dragging from outside the main thread
  CHANGELOG.md
  src/platform_impl/windows/window.rs
Owners: @msiglreith

On Windows, fix MT safety when starting drag
  CHANGELOG.md
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Fix crash when minimizing example on Windows
  examples/util/fill.rs
Owners: none

Fix typo in pre_present_notify docs
  src/window.rs
Owners: none

Doc wording: pre_present_notify
  src/window.rs
Owners: none

Fix typo in pre_present_notify docs
  src/window.rs
Owners: none

Rebased branch
  CHANGELOG.md
  examples/hit_test.rs
  src/event.rs
  src/platform_impl/windows/event_loop.rs
  src/window.rs
Owners: @msiglreith

Fix warnings in example
  examples/hit_test.rs
Owners: none

Remove commented code
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

Move self
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

On X11, try alternative cursor icon names as well
  CHANGELOG.md
  Cargo.toml
  src/platform_impl/linux/x11/util/cursor.rs
Owners: @kchibisov

Disable `default-features` for the `ndk` crate
  Cargo.toml
Owners: none

Disable `default-features` for the `ndk` crate
  Cargo.toml
Owners: none

On X11, try alternative cursor icon names as well
  CHANGELOG.md
  Cargo.toml
  src/platform_impl/linux/x11/util/cursor.rs
Owners: @kchibisov

Remove `WS_CLIPCHILDREN` from window style
  CHANGELOG.md
  src/platform_impl/windows/window_state.rs
Owners: @msiglreith

Send a Resized event after ScaleFactorChanged
  src/platform_impl/macos/app_state.rs
Owners: @madsmtm
