Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda, @jackpot51, @richerfu, @jschwe

.github/CODEOWNERS:

# Android
/winit-android                      @MarijnS95

# Apple (AppKit + UIKit)
/winit-appkit                       @madsmtm
/winit-uikit                        @madsmtm
/winit-common/src/core_foundation   @madsmtm
/winit-common/src/event_handler.rs  @madsmtm

# XKB
/winit-common/src/xkb               @kchibisov

# Wayland
/winit-wayland                      @kchibisov

# X11
/winit-x11                          @kchibisov

# Web
/winit-web                          @daxpedda

# Windows (Win32) (UNOWNED)
#/winit-win32                       

# Orbital (Redox OS)
/winit-orbital                      @jackpot51

# OpenHarmony
/winit-ohos                         @richerfu @jschwe

Fix formatting
  winit-android/src/lib.rs
  winit-appkit/src/lib.rs
  winit-uikit/src/lib.rs
  winit-wayland/src/lib.rs
  winit-win32/src/lib.rs
Owners: @MarijnS95, @madsmtm, @kchibisov

winit-core: add `EventLoopProvider` for common methods
  winit-core/src/application/mod.rs
  winit-core/src/event_loop/mod.rs
  winit-core/src/event_loop/run_on_demand.rs
  winit/src/changelog/unreleased.md
  winit/src/event_loop.rs
  winit/src/lib.rs
Owners: none

chore: implement `EventLoopProvider` in each winit-* crate
  winit-android/src/event_loop.rs
  winit-appkit/src/event_loop.rs
  winit-orbital/src/event_loop.rs
  winit-uikit/src/event_loop.rs
  winit-wayland/src/event_loop/mod.rs
  winit-web/src/event_loop/mod.rs
  winit-win32/src/event_loop.rs
  winit-x11/src/event_loop.rs
  winit/src/event_loop.rs
  winit/src/platform_impl/linux/mod.rs
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

orbital: Fix EventLoop::run_app_on_demand
  winit-orbital/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: @jackpot51

orbital: Handle window closes during app drop
  winit-orbital/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: @jackpot51

orbital: Merge TextInputEvent and KeyEvent together (#4663)
  winit-orbital/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: @jackpot51

Fix clippy warning with Rust 1.98
  winit-core/src/event.rs
Owners: none

Remove the AsAny helper trait
  winit-core/src/casting.rs
  winit-core/src/cursor.rs
  winit-core/src/data_transfer.rs
  winit-core/src/event_loop/mod.rs
  winit-core/src/icon.rs
  winit-core/src/lib.rs
  winit-core/src/monitor.rs
  winit-core/src/window.rs
Owners: none

Popup anchor system refinement (#4646)
  winit-appkit/Cargo.toml
  winit-appkit/src/monitor.rs
  winit-appkit/src/window.rs
  winit-appkit/src/window_delegate.rs
  winit-common/Cargo.toml
  winit-common/src/lib.rs
  winit-common/src/positioner.rs
  winit-core/src/window.rs
  winit-core/src/window/positioner.rs
  winit-wayland/src/lib.rs
  winit-wayland/src/popup.rs
  winit-wayland/src/window/state.rs
  winit-win32/Cargo.toml
  winit-win32/src/event_loop.rs
  winit-win32/src/monitor.rs
  winit-win32/src/window.rs
  winit-win32/src/window_state.rs
  winit/examples/popup.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm, @kchibisov

fix(macos): NSTextInputClient IME commit flow
  winit-appkit/src/view.rs
Owners: @madsmtm

winit-wayland: add new font backends
  deny.toml
  winit-wayland/Cargo.toml
  winit/Cargo.toml
Owners: @kchibisov

macOS: resample deferred macOS surface resize events
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

winit-x11: don't classify VM tablet pointers as pens
  winit-x11/src/atoms.rs
  winit-x11/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

macOS: defer native transitions during event handling
  winit-appkit/src/app_state.rs
  winit-appkit/src/window_delegate.rs
Owners: @madsmtm

win32: Copy icon pixels to BGRA instead of mutating the shared buffer
  winit-win32/src/icon.rs
  winit/src/changelog/unreleased.md
Owners: none

x11: fix crash when XInput 2 is unavailable
  winit-x11/src/event_loop.rs
  winit-x11/src/xdisplay.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

macOS: implement `set_blur` using `NSVisualEffectView`
  .github/workflows/ci.yml
  winit-appkit/Cargo.toml
  winit-appkit/src/lib.rs
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/window.rs
  winit/src/changelog/unreleased.md
  winit/src/lib.rs
Owners: @madsmtm

add WindowCommon to reuse functions for Window, Dialog and Popup
  winit-core/src/window.rs
  winit-wayland/src/dialog.rs
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/popup.rs
  winit-wayland/src/window/common.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
  winit-wayland/src/window/state/core_window.rs
  winit/examples/dialog.rs
Owners: @kchibisov

fix set_decorations for dialogs
  winit-wayland/src/dialog.rs
  winit-wayland/src/state.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

use more common
  winit-wayland/src/dialog.rs
  winit-wayland/src/state.rs
  winit-wayland/src/window/common.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

remove local sctk version usage
  Cargo.toml
  winit-wayland/src/window/state.rs
Owners: @kchibisov

fix clippy
  winit-wayland/src/dialog.rs
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/popup.rs
  winit-wayland/src/state.rs
  winit-wayland/src/window/common.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

implement set_title also for the dialog
  winit-wayland/src/window/state.rs
Owners: @kchibisov

implement more TODO
  winit-wayland/src/dialog.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

WIP
  winit-android/src/event_loop.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/window.rs
  winit-orbital/src/window.rs
  winit-wayland/Cargo.toml
  winit-wayland/src/dialog.rs
  winit-wayland/src/window/state.rs
  winit-web/src/window.rs
  winit-win32/src/window.rs
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

macOS: implement `set_blur` using `NSVisualEffectView`
  .github/workflows/ci.yml
  winit-appkit/Cargo.toml
  winit-appkit/src/lib.rs
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/window.rs
  winit/src/changelog/unreleased.md
  winit/src/lib.rs
Owners: @madsmtm

Winit version 0.31.0-beta.3
  Cargo.toml
  README.md
  winit-android/src/lib.rs
  winit/src/changelog/unreleased.md
  winit/src/changelog/v0.31.md
Owners: @MarijnS95

wayland: Update `sctk` to 0.21
  winit-wayland/Cargo.toml
  winit-wayland/src/dnd.rs
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/seat/pointer/pointer_gesture.rs
  winit-wayland/src/seat/touch/mod.rs
  winit-wayland/src/state.rs
  winit-wayland/src/types/wp_tablet_input_v2.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

winit-wayland: add new font backends
  deny.toml
  winit-wayland/Cargo.toml
  winit/Cargo.toml
Owners: @kchibisov

Apple: Track spans across queued closures
  winit-common/src/core_foundation/main_run_loop.rs
Owners: @madsmtm

winit-orbital: Fix i586 build
  winit-orbital/src/event_loop.rs
Owners: @jackpot51

example: Fix tracing registration in pump_events
  winit/examples/pump_events.rs
Owners: none

Android: Add further scancode conversions (#4023)
  winit-android/src/keycodes.rs
  winit/src/changelog/unreleased.md
Owners: @MarijnS95

winit-x11: fix clippy lint
  winit-x11/src/event_processor.rs
Owners: @kchibisov

internal(macOS) use `NSTrackingArea` instead of `trackingRect` (#4514)
  winit-appkit/Cargo.toml
  winit-appkit/src/view.rs
  winit-core/src/event.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

winit-orbital: Implement pump_app_events
  Cargo.toml
  winit-orbital/src/event_loop.rs
  winit-orbital/src/lib.rs
  winit/examples/pump_events.rs
  winit/src/changelog/unreleased.md
  winit/src/event_loop.rs
  winit/src/lib.rs
Owners: @jackpot51

chore: implement `EventLoopProvider` in each winit-* crate
  winit-android/src/event_loop.rs
  winit-appkit/src/event_loop.rs
  winit-orbital/src/event_loop.rs
  winit-uikit/src/event_loop.rs
  winit-wayland/src/event_loop/mod.rs
  winit-web/src/event_loop/mod.rs
  winit-win32/src/event_loop.rs
  winit-x11/src/event_loop.rs
  winit/src/event_loop.rs
  winit/src/platform_impl/linux/mod.rs
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

winit-x11: fix debug mode overflow panic in `set_timestamp`
  winit-x11/src/xdisplay.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

ci/deny: skip syn 2 and allow libc's packaged script
  deny.toml
Owners: none

winit-x11: replace xfixes with x11rb in set_hittest
  winit-x11/src/window.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov
