Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

X11: Add `#[deny(unsafe_op_in_unsafe_fn)]` (#3121)
  src/event.rs
  src/lib.rs
  src/platform_impl/ios/uikit/mod.rs
  src/platform_impl/linux/common/xkb_state.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/ime/callbacks.rs
  src/platform_impl/linux/x11/ime/context.rs
  src/platform_impl/linux/x11/ime/inner.rs
  src/platform_impl/linux/x11/ime/input_method.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/windows/mod.rs
  src/window.rs
Owners: @madsmtm, @kchibisov, @msiglreith

Add `Window.requestIdleCallback()` support (#3084)
  CHANGELOG.md
  src/platform/web.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/schedule.rs
Owners: @daxpedda

On Windows, fix `CursorEntered`/`CursorLeft` not sent during mouse grab
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

Implement `PartialOrd` and `Ord` for `MouseButton`
  CHANGELOG.md
  src/event.rs
Owners: none

Remove resolved deny.toml entries
  Cargo.toml
  deny.toml
Owners: none

Fix potentially unaligned references in X11 device
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

Bump version on master (#3119)
  CHANGELOG.md
Owners: none

Fix missing quote (#3068)
  src/window.rs
Owners: none

Add an MSRV policy to the README (#3046)
  .github/workflows/ci.yml
  README.md
Owners: none

On Web, never return a `MonitorHandle` (#3051)
  CHANGELOG.md
  src/event_loop.rs
  src/monitor.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/monitor.rs
  src/platform_impl/web/window.rs
  src/window.rs
Owners: @daxpedda

feat: Implement set_cursor_hittest for X11
  FEATURES.md
  src/platform_impl/linux/x11/window.rs
  src/window.rs
Owners: @kchibisov

Upgrade to `ndk 0.8`, `ndk-sys 0.5` + `android-activity 0.5` releases
  CHANGELOG.md
  Cargo.toml
  src/platform_impl/android/keycodes.rs
  src/platform_impl/android/mod.rs
Owners: @msiglreith

Add a note on `Window::request_redraw` on Windows
  src/window.rs
Owners: none

Remove garbage from README
  README.md
Owners: none

On Windows, fix invalid hmonitor panic
  src/platform_impl/windows/monitor.rs
Owners: @msiglreith

Bump version on master
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

Bump version on master
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

On Windows, fix deadlock during `Cursor{Enter,Leave}`
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

On Windows, fix deadlock during `Cursor{Enter,Leave}`
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

On Winows, Fix deedlock with `WM_MOUSEMOVE`
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

redox: Update `redox_syscall` dependency
  Cargo.toml
  deny.toml
Owners: none

Fix unused import warnings on nightly
  src/platform_impl/linux/x11/ffi.rs
  src/platform_impl/linux/x11/util/mod.rs
Owners: @kchibisov

Fix unused import warnings on nightly
  src/platform_impl/linux/x11/ffi.rs
  src/platform_impl/linux/x11/util/mod.rs
Owners: @kchibisov

On Winows, Fix deedlock with `WM_MOUSEMOVE`
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

On macOS, fix deadlock during nested event loops (e.g. rfd)
  CHANGELOG.md
  src/platform_impl/macos/app_state.rs
Owners: @madsmtm

On Wayland, fix `RedrawRequsted` loop
  CHANGELOG.md
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

On macOS, fix deadlock during nested event loops (e.g. rfd)
  CHANGELOG.md
  src/platform_impl/macos/app_state.rs
Owners: @madsmtm

On wasm, provide intradoc-link for `spawn()` function in `EventLoop` docs
  src/event_loop.rs
  src/lib.rs
  src/platform/run_on_demand.rs
  src/platform/web.rs
Owners: @daxpedda

On wasm, provide intradoc-link for `spawn()` function in `EventLoop` docs (#3178)
  src/event_loop.rs
  src/lib.rs
  src/platform/run_on_demand.rs
  src/platform/web.rs
Owners: @daxpedda

On Wayland, fix `RedrawRequsted` loop
  CHANGELOG.md
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

On Wayland, improve initial user size handling
  CHANGELOG.md
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/platform_impl/linux/x11/monitor.rs
Owners: @kchibisov

On Wayland, improve initial user size handling
  CHANGELOG.md
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/platform_impl/linux/x11/monitor.rs
Owners: @kchibisov

On Windows, add support for Window::set_transparent
  CHANGELOG.md
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith

Clarify `scale_factor` docs
  src/dpi.rs
  src/monitor.rs
  src/window.rs
Owners: none

On Windows, add support for Window::set_transparent
  CHANGELOG.md
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith

On macOS, add support for `Window::set_blur`
  CHANGELOG.md
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/ffi.rs
  src/platform_impl/macos/window.rs
  src/window.rs
Owners: @madsmtm

On macOS, add support for `Window::set_blur`
  CHANGELOG.md
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/ffi.rs
  src/platform_impl/macos/window.rs
  src/window.rs
Owners: @madsmtm

Clarify `scale_factor` docs
  src/dpi.rs
  src/monitor.rs
  src/window.rs
Owners: none

On Windows, fix deadlock during `Cursor{Enter,Leave}`
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

Fix unused import warnings on nightly
  src/platform_impl/linux/x11/ffi.rs
  src/platform_impl/linux/x11/util/mod.rs
Owners: @kchibisov

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51
