Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda, @jackpot51, @richerfu, @jschwe

initial implementation for key grabbing for wayland
  winit-appkit/src/window_delegate.rs
  winit-core/src/window.rs
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/popup.rs
  winit-wayland/src/seat/keyboard/mod.rs
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/window/mod.rs
  winit-win32/src/window.rs
Owners: @madsmtm, @kchibisov

implement correct order destroyment of popup childrens
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/popup.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

Do not store the popup state in the Popup but only a weak pointer
  winit-wayland/src/popup.rs
Owners: @kchibisov

Fix clippy
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/popup.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

format
  winit-wayland/src/seat/keyboard/mod.rs
  winit-wayland/src/seat/mod.rs
Owners: @kchibisov

store serial of mouse input press/release and keyboard press/release
  winit-wayland/src/seat/keyboard/mod.rs
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/seat/pointer/mod.rs
Owners: @kchibisov

macOS: add `WindowEvent::PointerButton::is_macos_activation_click`
  winit-android/src/event_loop.rs
  winit-appkit/src/lib.rs
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/event.rs
  winit-orbital/src/event_loop.rs
  winit-uikit/src/view.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/seat/touch/mod.rs
  winit-wayland/src/types/wp_tablet_input_v2.rs
  winit-web/src/event_loop/window_target.rs
  winit-win32/src/event_loop.rs
  winit-x11/src/event_processor.rs
  winit/examples/application.rs
  winit/src/changelog/unreleased.md
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

latest_serial() returns an option
  winit-wayland/src/popup.rs
Owners: @kchibisov

The SctkPopup must exist also only once
  winit-wayland/src/popup.rs
Owners: @kchibisov

store serial only for the press event and not for the release event
  winit-wayland/src/seat/pointer/mod.rs
Owners: @kchibisov

Remove monomorphic drag-and-drop implementation
  winit-appkit/src/window_delegate.rs
  winit-win32/src/drop_handler.rs
  winit-x11/src/dnd.rs
  winit-x11/src/event_processor.rs
Owners: @madsmtm, @kchibisov

Implement new drag-and-drop API in `winit-core`
  winit-core/src/data_transfer.rs
  winit-core/src/event.rs
  winit-core/src/event_loop/mod.rs
  winit-core/src/lib.rs
  winit-core/src/window.rs
  winit/examples/child_window.rs
  winit/examples/dnd.rs
  winit/src/lib.rs
Owners: none

Implement new drag-and-drop API for `winit-appkit`
  winit-appkit/Cargo.toml
  winit-appkit/src/app_state.rs
  winit-appkit/src/cursor.rs
  winit-appkit/src/dnd.rs
  winit-appkit/src/event_loop.rs
  winit-appkit/src/lib.rs
  winit-appkit/src/view.rs
  winit-appkit/src/window.rs
  winit-appkit/src/window_delegate.rs
Owners: @madsmtm

Implement new drag-and-drop API for `winit-wayland`
  winit-wayland/Cargo.toml
  winit-wayland/src/dnd/mod.rs
  winit-wayland/src/dnd/send_data.rs
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/lib.rs
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/seat/pointer/relative_pointer.rs
  winit-wayland/src/state.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

Implement new drag-and-drop API for `winit-x11`
  winit-x11/src/atoms.rs
  winit-x11/src/dnd.rs
  winit-x11/src/event_loop.rs
  winit-x11/src/event_processor.rs
  winit-x11/src/lib.rs
  winit-x11/src/util/window_property.rs
  winit-x11/src/window.rs
Owners: @kchibisov

Rename `drop_handler.rs` to `dnd.rs` in `winit-win32`
  winit-win32/src/dnd.rs
Owners: none

Implement new drag-and-drop API for `winit-win32`
  typos.toml
  winit-win32/Cargo.toml
  winit-win32/src/definitions.rs
  winit-win32/src/dnd.rs
  winit-win32/src/event_loop.rs
  winit-win32/src/event_loop/runner.rs
  winit-win32/src/lib.rs
  winit-win32/src/window.rs
  winit-win32/src/window_state.rs
Owners: none

implement anchoring
  winit-wayland/src/lib.rs
  winit-wayland/src/popup.rs
Owners: @kchibisov

macOS: make Ime::Preedit cursor range surrogate-safe in setMarkedText
  winit-appkit/src/view.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

winit-orbital: Respect ORBITAL_DISPLAY
  winit-orbital/src/lib.rs
Owners: @jackpot51

fix clippy and typo
  typos.toml
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/popup.rs
  winit-wayland/src/seat/keyboard/mod.rs
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

Fix AppKit live resize redraw timing
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
Owners: @madsmtm

Fix CI
  .github/workflows/ci.yml
Owners: none

Fix CI
  .github/workflows/ci.yml
Owners: none

Fix AppKit live resize redraw timing
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
Owners: @madsmtm

Remove monomorphic drag-and-drop implementation
  winit-appkit/src/window_delegate.rs
  winit-win32/src/drop_handler.rs
  winit-x11/src/dnd.rs
  winit-x11/src/event_processor.rs
Owners: @madsmtm, @kchibisov

Implement new drag-and-drop API in `winit-core`
  winit-core/src/data_transfer.rs
  winit-core/src/event.rs
  winit-core/src/event_loop/mod.rs
  winit-core/src/lib.rs
  winit-core/src/window.rs
  winit/examples/child_window.rs
  winit/examples/dnd.rs
  winit/src/lib.rs
Owners: none

Rename `drop_handler.rs` to `dnd.rs` in `winit-win32`
  winit-win32/src/dnd.rs
Owners: none

Implement new drag-and-drop API for `winit-win32`
  typos.toml
  winit-win32/Cargo.toml
  winit-win32/src/definitions.rs
  winit-win32/src/dnd.rs
  winit-win32/src/event_loop.rs
  winit-win32/src/event_loop/runner.rs
  winit-win32/src/lib.rs
  winit-win32/src/window.rs
  winit-win32/src/window_state.rs
Owners: none

Implement new drag-and-drop API for `winit-appkit`
  winit-appkit/Cargo.toml
  winit-appkit/src/app_state.rs
  winit-appkit/src/cursor.rs
  winit-appkit/src/dnd.rs
  winit-appkit/src/event_loop.rs
  winit-appkit/src/lib.rs
  winit-appkit/src/view.rs
  winit-appkit/src/window.rs
  winit-appkit/src/window_delegate.rs
Owners: @madsmtm

Implement new drag-and-drop API for `winit-x11`
  winit-x11/src/atoms.rs
  winit-x11/src/dnd.rs
  winit-x11/src/event_loop.rs
  winit-x11/src/event_processor.rs
  winit-x11/src/lib.rs
  winit-x11/src/util/window_property.rs
  winit-x11/src/window.rs
Owners: @kchibisov

Implement new drag-and-drop API for `winit-wayland`
  winit-wayland/Cargo.toml
  winit-wayland/src/dnd/mod.rs
  winit-wayland/src/dnd/send_data.rs
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/lib.rs
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/seat/pointer/relative_pointer.rs
  winit-wayland/src/state.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

Defer macOS native transitions during event handling
  winit-appkit/src/app_state.rs
  winit-appkit/src/lib.rs
  winit-appkit/src/window_delegate.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

Private CGSSetWindowBackgroundBlurRadius call removed; NSVisualEffectView replacement.
  winit-appkit/Cargo.toml
  winit-appkit/src/ffi.rs
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

winit-win32: Fix Window focus after showing hidden maximized window
  winit-win32/src/window_state.rs
  winit/src/changelog/unreleased.md
Owners: none

Implement new drag-and-drop API for `winit-wayland`
  winit-wayland/Cargo.toml
  winit-wayland/src/dnd/mod.rs
  winit-wayland/src/dnd/send_data.rs
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/lib.rs
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/seat/pointer/relative_pointer.rs
  winit-wayland/src/state.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

Implement new drag-and-drop API for `winit-x11`
  winit-x11/src/atoms.rs
  winit-x11/src/dnd.rs
  winit-x11/src/event_loop.rs
  winit-x11/src/event_processor.rs
  winit-x11/src/lib.rs
  winit-x11/src/util/window_property.rs
  winit-x11/src/window.rs
Owners: @kchibisov

winit-win32: fix `redraw_requested` can be ignored
  winit-win32/src/event_loop.rs
  winit-win32/src/window_state.rs
  winit/src/changelog/unreleased.md
Owners: none

macOS: add `WindowEvent::PointerButton::is_macos_activation_click`
  winit-android/src/event_loop.rs
  winit-appkit/src/lib.rs
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/event.rs
  winit-orbital/src/event_loop.rs
  winit-uikit/src/view.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/seat/touch/mod.rs
  winit-wayland/src/types/wp_tablet_input_v2.rs
  winit-web/src/event_loop/window_target.rs
  winit-win32/src/event_loop.rs
  winit-x11/src/event_processor.rs
  winit/examples/application.rs
  winit/src/changelog/unreleased.md
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

Defer macOS native transitions during event handling
  winit-appkit/src/app_state.rs
  winit-appkit/src/window_delegate.rs
Owners: @madsmtm

.github/CODEOWNERS:

# Android
/winit-android                      @MarijnS95

# Apple (AppKit + UIKit)
/winit-appkit                       @madsmtm
/winit-uikit                        @madsmtm
/winit-common/src/core_foundation   @madsmtm
/winit-common/src/event_handler.rs  @madsmtm

# XKB
/winit-common/src/xkb               @kchibisov

# Wayland
/winit-wayland                      @kchibisov

# X11
/winit-x11                          @kchibisov

# Web
/winit-web                          @daxpedda

# Windows (Win32) (UNOWNED)
#/winit-win32                       

# Orbital (Redox OS)
/winit-orbital                      @jackpot51

# OpenHarmony
/winit-ohos                         @richerfu @jschwe
