Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda, @jackpot51, @richerfu, @jschwe

.github/CODEOWNERS:

# Android
/winit-android                      @MarijnS95

# Apple (AppKit + UIKit)
/winit-appkit                       @madsmtm
/winit-uikit                        @madsmtm
/winit-common/src/core_foundation   @madsmtm
/winit-common/src/event_handler.rs  @madsmtm

# XKB
/winit-common/src/xkb               @kchibisov

# Wayland
/winit-wayland                      @kchibisov

# X11
/winit-x11                          @kchibisov

# Web
/winit-web                          @daxpedda

# Windows (Win32) (UNOWNED)
#/winit-win32                       

# Orbital (Redox OS)
/winit-orbital                      @jackpot51

# OpenHarmony
/winit-ohos                         @richerfu @jschwe

fix format
  winit-win32/src/monitor.rs
Owners: none

fix clippy
  winit/examples/popup.rs
Owners: none

format
  winit/examples/popup.rs
Owners: none

fix: ensure window type is always set when using WS_EX_TOPMOST
  winit-win32/src/window_state.rs
  winit/src/changelog/unreleased.md
Owners: none

add clipboard methods to ActiveEventLoop
  winit-core/src/data_transfer.rs
  winit-core/src/event_loop/mod.rs
Owners: none

wayland: rename dnd module to data_transfer
  winit-wayland/src/data_transfer.rs
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/lib.rs
  winit-wayland/src/state.rs
Owners: @kchibisov

wayland: mark dispatched events when a data transfer fetch completes
  winit-wayland/src/event_loop/mod.rs
Owners: @kchibisov

wayland: implement clipboard support via the data transfer API
  winit-wayland/src/data_transfer.rs
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/state.rs
Owners: @kchibisov

appkit: implement clipboard support via the data transfer API
  winit-appkit/src/app_state.rs
  winit-appkit/src/data_transfer.rs
  winit-appkit/src/event_loop.rs
  winit-appkit/src/lib.rs
  winit-appkit/src/window_delegate.rs
Owners: @madsmtm

examples: add clipboard example
  winit/examples/clipboard.rs
  winit/src/changelog/unreleased.md
Owners: none

win32: implement clipboard support via the data transfer API
  winit-win32/src/data_transfer.rs
  winit-win32/src/event_loop.rs
  winit-win32/src/event_loop/runner.rs
  winit-win32/src/lib.rs
  winit-win32/src/window.rs
Owners: none

Don't attempt to draw when the surface buffer size does not match the window size in the application.rs example.
  winit/examples/application.rs
Owners: none

rename positioner_offset to offset
  winit-core/src/window.rs
  winit-core/src/window/positioner.rs
  winit-wayland/src/popup.rs
Owners: @kchibisov

move place_window into winit-common
  winit-appkit/Cargo.toml
  winit-appkit/src/window.rs
  winit-appkit/src/window_delegate.rs
  winit-common/Cargo.toml
  winit-common/src/lib.rs
  winit-common/src/positioner.rs
  winit-core/src/window.rs
  winit-core/src/window/positioner.rs
  winit-win32/Cargo.toml
  winit-win32/src/window.rs
Owners: @madsmtm

do not use the position from another window
  winit/examples/popup.rs
Owners: none

set_reactive and reposition is only available above version 3
  winit-wayland/src/popup.rs
Owners: @kchibisov

add possibility to use the place_window also for windows and macos if no parent is specified
  winit-appkit/src/window_delegate.rs
  winit-core/src/window.rs
  winit-win32/src/window.rs
Owners: @madsmtm

use workarea instead of screen area for macos as well
  winit-appkit/src/monitor.rs
  winit-appkit/src/window_delegate.rs
Owners: @madsmtm

remove redudant clear of the maximized flags
  winit-win32/src/window.rs
Owners: none

Add inspect.software health badge
  README.md
Owners: none

Fix clippy warning with Rust 1.98
  winit-core/src/event.rs
Owners: none

Fix clippy warning with Rust 1.98
  winit-core/src/event.rs
Owners: none

Remove the AsAny helper trait
  winit-core/src/casting.rs
  winit-core/src/cursor.rs
  winit-core/src/data_transfer.rs
  winit-core/src/event_loop/mod.rs
  winit-core/src/icon.rs
  winit-core/src/lib.rs
  winit-core/src/monitor.rs
  winit-core/src/window.rs
Owners: none

Remove the AsAny helper trait
  winit-core/src/casting.rs
  winit-core/src/cursor.rs
  winit-core/src/data_transfer.rs
  winit-core/src/event_loop/mod.rs
  winit-core/src/icon.rs
  winit-core/src/lib.rs
  winit-core/src/monitor.rs
  winit-core/src/window.rs
Owners: none

HiDPI cursor support for MacOS and Windows
  winit-appkit/src/cursor.rs
  winit-core/src/cursor.rs
  winit-win32/src/event_loop.rs
  winit-win32/src/icon.rs
  winit-win32/src/window.rs
  winit/examples/application.rs
  winit/examples/data/128.png
  winit/examples/data/32.png
  winit/examples/data/40.png
  winit/examples/data/48.png
  winit/examples/data/64.png
  winit/examples/data/80.png
  winit/examples/data/96.png
Owners: @madsmtm

HiDPI cursor support for wayland and x11, also win32 is using now representation_for_scale_factor
  winit-core/src/cursor.rs
  winit-wayland/src/types/cursor.rs
  winit-wayland/src/window/state.rs
  winit-win32/src/icon.rs
  winit-x11/src/event_processor.rs
  winit-x11/src/util/cursor.rs
  winit-x11/src/window.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

android: request a redraw on GameTextInput commits
  winit-android/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: @MarijnS95

Wayland: bound the frame-callback wait before delivering RedrawRequested
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/state.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

Wayland: test the frame-callback gate fold
  winit-wayland/src/state.rs
Owners: @kchibisov

Add a changelog entry for the frame-callback stall fix
  winit/src/changelog/unreleased.md
Owners: none

win32: Copy icon pixels to BGRA instead of mutating the shared buffer
  winit-win32/src/icon.rs
  winit/src/changelog/unreleased.md
Owners: none

Popup anchor system refinement (#4646)
  winit-appkit/Cargo.toml
  winit-appkit/src/monitor.rs
  winit-appkit/src/window.rs
  winit-appkit/src/window_delegate.rs
  winit-common/Cargo.toml
  winit-common/src/lib.rs
  winit-common/src/positioner.rs
  winit-core/src/window.rs
  winit-core/src/window/positioner.rs
  winit-wayland/src/lib.rs
  winit-wayland/src/popup.rs
  winit-wayland/src/window/state.rs
  winit-win32/Cargo.toml
  winit-win32/src/event_loop.rs
  winit-win32/src/monitor.rs
  winit-win32/src/window.rs
  winit-win32/src/window_state.rs
  winit/examples/popup.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm, @kchibisov

fix(macos): NSTextInputClient IME commit flow
  winit-appkit/src/view.rs
Owners: @madsmtm

winit-wayland: add new font backends
  deny.toml
  winit-wayland/Cargo.toml
  winit/Cargo.toml
Owners: @kchibisov

macOS: resample deferred macOS surface resize events
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

macOS: defer native transitions during event handling
  winit-appkit/src/app_state.rs
  winit-appkit/src/window_delegate.rs
Owners: @madsmtm

x11: fix crashes when XRandR or XKB are unavailable
  winit-x11/src/event_loop.rs
  winit-x11/src/xdisplay.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

macOS: implement `set_blur` using `NSVisualEffectView`
  .github/workflows/ci.yml
  winit-appkit/Cargo.toml
  winit-appkit/src/lib.rs
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/window.rs
  winit/src/changelog/unreleased.md
  winit/src/lib.rs
Owners: @madsmtm

win32: dispatch redraws fairly in batches
  winit-win32/src/event_loop.rs
  winit-win32/src/event_loop/runner.rs
  winit-win32/src/window.rs
  winit-win32/src/window_state.rs
  winit-win32/tests/redraw_fairness.rs
  winit/src/changelog/unreleased.md
Owners: none

Fix clippy
  winit-x11/src/atoms.rs
  winit-x11/src/event_loop.rs
Owners: @kchibisov
