Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda, @jackpot51, @richerfu, @jschwe

return an error on all platforms if Popup is not yet implemented
  winit-android/src/event_loop.rs
  winit-core/src/window.rs
  winit-orbital/src/window.rs
  winit-uikit/src/window.rs
  winit-web/src/window.rs
Owners: @MarijnS95, @jackpot51, @madsmtm, @daxpedda

winit-uikit: detect system dark/light theme
  winit-core/src/event.rs
  winit-core/src/window.rs
  winit-uikit/Cargo.toml
  winit-uikit/src/view.rs
  winit-uikit/src/window.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

Bump MSRV to 1.86
  .github/workflows/ci.yml
  Cargo.toml
  README.md
  winit-win32/src/dnd.rs
  winit/src/changelog/v0.31.md
Owners: none

wayland: Update `sctk` to 0.21
  winit-wayland/Cargo.toml
  winit-wayland/src/dnd.rs
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/seat/pointer/pointer_gesture.rs
  winit-wayland/src/seat/touch/mod.rs
  winit-wayland/src/state.rs
  winit-wayland/src/types/wp_tablet_input_v2.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

win32: fix window `hwnd_dpi` leaks `HDC` handles
  winit-win32/src/dpi.rs
  winit/src/changelog/unreleased.md
Owners: none

fix compilation
  winit-wayland/src/popup.rs
  winit-wayland/src/seat/pointer/mod.rs
Owners: @kchibisov

fix: win32 taskbar_created deadlock
  winit-win32/src/event_loop.rs
Owners: none

Remove unsafe UIKit backing layer lookup
  winit-uikit/Cargo.toml
  winit-uikit/src/window.rs
Owners: @madsmtm

Wayland, Windows, MacOS: Popup Implementation (#4543)
  winit-android/src/event_loop.rs
  winit-appkit/src/window.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/window.rs
  winit-orbital/src/window.rs
  winit-uikit/src/window.rs
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/lib.rs
  winit-wayland/src/popup.rs
  winit-wayland/src/seat/keyboard/mod.rs
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/state.rs
  winit-wayland/src/window/handles.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
  winit-web/src/window.rs
  winit-win32/src/window.rs
  winit-win32/src/window_state.rs
  winit-x11/src/window.rs
  winit/examples/child_window.rs
  winit/src/changelog/unreleased.md
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

initial commit to implement anchoring system for wayland, windows and macos
  winit-appkit/src/window.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/lib.rs
  winit-core/src/popup.rs
  winit-core/src/window.rs
  winit-orbital/src/window.rs
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/lib.rs
  winit-wayland/src/popup.rs
  winit-wayland/src/window/state.rs
  winit-win32/src/event_loop.rs
  winit-win32/src/window.rs
  winit-win32/src/window_state.rs
  winit-x11/src/window.rs
  winit/src/lib.rs
Owners: @madsmtm, @jackpot51, @kchibisov

format
  winit-core/src/window.rs
  winit-win32/src/event_loop.rs
  winit-win32/src/window.rs
  winit-win32/src/window_state.rs
Owners: none

no need to use a Cell for is_popup because it is set only at construction
  winit-appkit/src/window_delegate.rs
Owners: @madsmtm

Fix clippy
  winit-android/src/event_loop.rs
  winit-core/src/popup.rs
  winit-wayland/src/lib.rs
  winit-wayland/src/popup.rs
Owners: @MarijnS95, @kchibisov

fix clippy
  winit-uikit/src/window.rs
  winit-web/src/window.rs
  winit-win32/src/window.rs
Owners: @madsmtm, @daxpedda

fix clippy macos
  winit-appkit/src/window_delegate.rs
Owners: @madsmtm

initial dialog implementation #Conflicts: # winit-core/src/window.rs # winit-wayland/Cargo.toml # winit-wayland/src/lib.rs # winit-wayland/src/state.rs # winit-wayland/src/window/state.rs
  Cargo.toml
  winit-core/src/window.rs
  winit-wayland/Cargo.toml
  winit-wayland/src/dialog.rs
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/lib.rs
  winit-wayland/src/popup.rs
  winit-wayland/src/state.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
  winit-wayland/src/window/state/core_window.rs
Owners: @kchibisov

add changelog entry
  winit-wayland/src/popup.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

fix clippy
  winit-wayland/src/popup.rs
Owners: @kchibisov

On macOS, add fullscreen auxiliary window support
  winit-appkit/src/lib.rs
  winit-appkit/src/window_delegate.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

[`winit-core`]: Use `String` as a replacement for `PathBuf` on `wasm32v1-none`
  winit-core/src/data_transfer.rs
  winit-core/src/event.rs
Owners: none

[`winit-core`]: Disable unused features
  Cargo.toml
  winit-core/Cargo.toml
Owners: none

[`winit-web`]: Disable unused features
  Cargo.toml
  winit-web/Cargo.toml
Owners: @daxpedda

[`winit-web`]: Swap `HashSet` for `BTreeSet`
  winit-web/src/event_loop/runner.rs
Owners: @daxpedda

[`winit-core`]: Use `libm` for `wasm32v1-none`
  Cargo.toml
  winit-core/Cargo.toml
  winit-core/src/event.rs
  winit-core/src/lib.rs
  winit-core/src/libm.rs
Owners: none

[`winit-web`]: Make `std` usage explicit
  winit-web/src/async/abortable.rs
  winit-web/src/async/atomic_waker.rs
  winit-web/src/async/channel.rs
  winit-web/src/async/concurrent_queue.rs
  winit-web/src/async/dispatcher.rs
  winit-web/src/async/notifier.rs
  winit-web/src/async/wrapper.rs
  winit-web/src/cursor.rs
  winit-web/src/event_loop/mod.rs
  winit-web/src/event_loop/proxy.rs
  winit-web/src/event_loop/runner.rs
  winit-web/src/event_loop/window_target.rs
  winit-web/src/lib.rs
  winit-web/src/lock.rs
  winit-web/src/main_thread.rs
  winit-web/src/monitor.rs
  winit-web/src/web_sys/animation_frame.rs
  winit-web/src/web_sys/canvas.rs
  winit-web/src/web_sys/event.rs
  winit-web/src/web_sys/fullscreen.rs
  winit-web/src/web_sys/mod.rs
  winit-web/src/web_sys/pointer.rs
  winit-web/src/web_sys/resize_scaling.rs
  winit-web/src/web_sys/schedule.rs
  winit-web/src/window.rs
Owners: @daxpedda

[`winit-core`]: Make `std` usage explicit
  winit-core/src/application/mod.rs
  winit-core/src/as_any.rs
  winit-core/src/cursor.rs
  winit-core/src/data_transfer.rs
  winit-core/src/error.rs
  winit-core/src/event.rs
  winit-core/src/event_loop/mod.rs
  winit-core/src/event_loop/pump_events.rs
  winit-core/src/icon.rs
  winit-core/src/keyboard.rs
  winit-core/src/lib.rs
  winit-core/src/monitor.rs
  winit-core/src/window.rs
Owners: none

[`winit-core`]: Omit `BadIcon::OsError` on `wasm32v1-none`
  winit-core/src/icon.rs
Owners: none

[`winit-core`]: Refactor `SurfaceSizeWriter` to encapsulate `Arc`, `Weak` and `Mutex`
  winit-android/src/event_loop.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/event.rs
  winit-uikit/src/app_state.rs
  winit-wayland/src/event_loop/mod.rs
  winit-web/src/web_sys/canvas.rs
  winit-win32/src/event_loop.rs
  winit-win32/src/event_loop/runner.rs
  winit-x11/src/event_processor.rs
  winit-x11/src/window.rs
Owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda

[`winit-web`]: Remove `thread_local` from `has_device_pixel_support`
  winit-web/src/web_sys/resize_scaling.rs
Owners: @daxpedda

[`winit-web`]: Remove `thread_local` from `has_coalesced_events_support`
  winit-web/src/web_sys/event.rs
Owners: @daxpedda

[`winit-web`]: Use `once_cell` instead of `std::sync::OnceLock`
  Cargo.toml
  winit-web/Cargo.toml
  winit-web/src/async/notifier.rs
  winit-web/src/main_thread.rs
  winit-web/src/monitor.rs
Owners: @daxpedda

[`winit-web`]: Remove `thread_local` for `UserAgentData`
  winit-web/src/web_sys/mod.rs
Owners: @daxpedda

[`winit-web`]: Remove `thread_local` from `has_screen_details_support`
  winit-web/src/monitor.rs
Owners: @daxpedda

[`winit-web`]: Remove `thread_local` from `has_scheduler_support`
  winit-web/src/web_sys/schedule.rs
Owners: @daxpedda

[`winit-web`]: Remove `thread_local` from `is_cursor_lock_raw`
  winit-web/src/lock.rs
Owners: @daxpedda

[`winit-web`]: Switch `Dispatcher` to channels
  winit-web/src/async/dispatcher.rs
Owners: @daxpedda

[`winit-web`]: Remove `thread_local` from `request_pointer_lock`
  winit-web/src/lock.rs
Owners: @daxpedda

[`winit-web`]: Remove `std`
  winit-web/src/lib.rs
Owners: @daxpedda

[`winit-web`]: Remove `thread_local` from `MainThreadMarker::new`
  winit-web/src/main_thread.rs
Owners: @daxpedda

[`winit-web`]: Remove `thread_local` from `new_scheduler`
  winit-web/src/web_sys/schedule.rs
Owners: @daxpedda

.github/CODEOWNERS:

# Android
/winit-android                      @MarijnS95

# Apple (AppKit + UIKit)
/winit-appkit                       @madsmtm
/winit-uikit                        @madsmtm
/winit-common/src/core_foundation   @madsmtm
/winit-common/src/event_handler.rs  @madsmtm

# XKB
/winit-common/src/xkb               @kchibisov

# Wayland
/winit-wayland                      @kchibisov

# X11
/winit-x11                          @kchibisov

# Web
/winit-web                          @daxpedda

# Windows (Win32) (UNOWNED)
#/winit-win32                       

# Orbital (Redox OS)
/winit-orbital                      @jackpot51

# OpenHarmony
/winit-ohos                         @richerfu @jschwe
