Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51

Bump version on master
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

Bump version on master
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

On Web, fix context menu not being disabled
  CHANGELOG.md
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
Owners: @daxpedda

On Web, fix context menu not being disabled
  CHANGELOG.md
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
Owners: @daxpedda

On Web, fix context menu not being disabled (#3282)
  CHANGELOG.md
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
Owners: @daxpedda

On Windows, refactor dynamic function definitions and raw input keyboard handling
  src/platform_impl/windows/dpi.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/raw_input.rs
  src/platform_impl/windows/util.rs
Owners: @msiglreith

fix typo
  src/platform_impl/windows/util.rs
Owners: @msiglreith

On Windows, refactor dynamic function definitions and raw input keyboard handling (#3286)
  src/platform_impl/windows/dpi.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/raw_input.rs
  src/platform_impl/windows/util.rs
Owners: @msiglreith

Fix some doc nits
  src/window.rs
Owners: none

Fix some doc nits (#3274)
  src/window.rs
Owners: none

Introduce `CustomCursorBuilder`
  examples/custom_cursors.rs
  src/cursor.rs
  src/platform/web.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/mod.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/cursor.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
  src/window.rs
  tests/send_objects.rs
  tests/sync_object.rs
Owners: @daxpedda, @msiglreith, @madsmtm, @kchibisov, @jackpot51

Web: `CustomCursor` caches the object URL
  Cargo.toml
  src/platform_impl/web/cursor.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

Web: cache decoded image as well
  src/platform_impl/web/async/channel.rs
  src/platform_impl/web/async/dispatcher.rs
  src/platform_impl/web/async/mod.rs
  src/platform_impl/web/cursor.rs
Owners: @daxpedda

Allow custom cursor caching (#3276)
  Cargo.toml
  examples/custom_cursors.rs
  src/cursor.rs
  src/platform/web.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/mod.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/async/channel.rs
  src/platform_impl/web/async/dispatcher.rs
  src/platform_impl/web/async/mod.rs
  src/platform_impl/web/cursor.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
  src/window.rs
  tests/send_objects.rs
  tests/sync_object.rs
Owners: @daxpedda, @msiglreith, @madsmtm, @kchibisov, @jackpot51

On Web, use the new `WebCanvasWindowHandle`
  CHANGELOG.md
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

On Web, don't return `WindowHandle` when not in main thread
  src/platform_impl/ios/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/web/window.rs
  src/window.rs
Owners: @madsmtm, @daxpedda

Make sure pointer to `HtmlCanvasElement` doesn't change
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/pointer.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

On Web, use the new `WebCanvasWindowHandle` (#3270)
  CHANGELOG.md
  src/platform_impl/ios/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/pointer.rs
  src/platform_impl/web/window.rs
  src/window.rs
Owners: @madsmtm, @daxpedda

Window handle: Return an error when not on main thread on macOS and iOS
  CHANGELOG.md
  src/platform_impl/ios/window.rs
  src/platform_impl/macos/window.rs
  src/window.rs
Owners: @madsmtm

Window handle: Return an error when not on main thread on macOS and iOS (#3288)
  CHANGELOG.md
  src/platform_impl/ios/window.rs
  src/platform_impl/macos/window.rs
  src/window.rs
Owners: @madsmtm

Bump MSRV to 1.70
  .github/workflows/ci.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.toml
  README.md
Owners: none

Bump MSRV to 1.70 (#3287)
  .github/workflows/ci.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.toml
  README.md
Owners: none

Fix changelog
  CHANGELOG.md
Owners: none

Fix changelog (#3289)
  CHANGELOG.md
Owners: none

Use `std::cell::OnceCell`
  src/platform_impl/web/web_sys/event.rs
  src/platform_impl/web/web_sys/fullscreen.rs
  src/platform_impl/web/web_sys/schedule.rs
Owners: @daxpedda

Use `std::cell::OnceCell` (#3290)
  src/platform_impl/web/web_sys/event.rs
  src/platform_impl/web/web_sys/fullscreen.rs
  src/platform_impl/web/web_sys/schedule.rs
Owners: @daxpedda

Move `PlatformCustomCursorBuilder::build()` to `PlatformCustomCursor`
  src/cursor.rs
  src/platform_impl/web/cursor.rs
Owners: @daxpedda

Move `Arc` in `CustomCursor` to platform implementations
  src/cursor.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/cursor.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

On Windows, remove internal WindowWrapper
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Address review
  src/cursor.rs
  src/platform_impl/linux/wayland/types/cursor.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/platform_impl/linux/x11/util/cursor.rs
  src/platform_impl/web/cursor.rs
  src/platform_impl/windows/icon.rs
Owners: @kchibisov, @daxpedda, @msiglreith

Custom cursor improvements (#3292)
  src/cursor.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/types/cursor.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/platform_impl/linux/x11/util/cursor.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/cursor.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/icon.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

MacOS: cache custom cursors
  src/platform_impl/macos/cursor.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

MacOS: cache custom cursors (#3291)
  src/platform_impl/macos/cursor.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

On Windows, remove internal WindowWrapper (#3294)
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Update objc2 and icrate versions
  Cargo.toml
  src/platform_impl/ios/monitor.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/macos/app.rs
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/appkit/cursor.rs
  src/platform_impl/macos/appkit/screen.rs
  src/platform_impl/macos/menu.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Owners: @madsmtm

Update objc2 and icrate versions (#3256)
  Cargo.toml
  src/platform_impl/ios/monitor.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/macos/app.rs
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/appkit/cursor.rs
  src/platform_impl/macos/appkit/screen.rs
  src/platform_impl/macos/menu.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Owners: @madsmtm

Refactor winit-specific cursor logic out of appkit module
  src/platform_impl/macos/appkit/cursor.rs
  src/platform_impl/macos/cursor.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

Add relevant AppKit features that we depend on
  Cargo.toml
Owners: none

Use icrate's NSImage
  src/platform_impl/macos/appkit/cursor.rs
  src/platform_impl/macos/appkit/image.rs
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/cursor.rs
Owners: @madsmtm

Use icrate's NSAppearance
  src/platform_impl/macos/appkit/appearance.rs
  src/platform_impl/macos/appkit/application.rs
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm
