Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51

Use icrate's NSCursor
  src/platform_impl/macos/appkit/cursor.rs
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/appkit/view.rs
  src/platform_impl/macos/cursor.rs
  src/platform_impl/macos/view.rs
Owners: @madsmtm

Use icrate's NSImageRep and NSBitmapImageRep
  src/platform_impl/macos/appkit/bitmap_image_rep.rs
  src/platform_impl/macos/appkit/image.rs
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/cursor.rs
Owners: @madsmtm

Use icrate's NSButton
  src/platform_impl/macos/appkit/button.rs
  src/platform_impl/macos/appkit/control.rs
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/appkit/window.rs
Owners: @madsmtm

Use icrate's NSTextInputContext
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/appkit/text_input_context.rs
  src/platform_impl/macos/appkit/view.rs
Owners: @madsmtm

Use icrate's NSAppKitVersionNumber
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/appkit/version.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

Use icrate's NSScreen
  src/platform/macos.rs
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/appkit/screen.rs
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/monitor.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

Use icrate's NSColor
  src/platform_impl/macos/appkit/color.rs
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

Use icrate's NSEvent
  src/platform_impl/macos/app.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/appkit/application.rs
  src/platform_impl/macos/appkit/event.rs
  src/platform_impl/macos/appkit/menu_item.rs
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/appkit/responder.rs
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/menu.rs
  src/platform_impl/macos/view.rs
Owners: @madsmtm

Use icrate's NSPasteboard
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/appkit/pasteboard.rs
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Owners: @madsmtm

Use icrate's NSTextInputClient
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/appkit/text_input_client.rs
  src/platform_impl/macos/appkit/view.rs
  src/platform_impl/macos/view.rs
Owners: @madsmtm

Use icrate's NSMenu and NSMenuItem
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/appkit/application.rs
  src/platform_impl/macos/appkit/menu.rs
  src/platform_impl/macos/appkit/menu_item.rs
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/menu.rs
Owners: @madsmtm

Use icrate's NSResponder
  src/platform_impl/macos/app.rs
  src/platform_impl/macos/appkit/application.rs
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/appkit/responder.rs
  src/platform_impl/macos/appkit/view.rs
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

Use icrate's NSView
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/appkit/view.rs
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

Partially replace custom AppKit bindings with icrate's autogenerated bindings (#2982)
  Cargo.toml
  src/platform/macos.rs
  src/platform_impl/macos/app.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/appkit/appearance.rs
  src/platform_impl/macos/appkit/application.rs
  src/platform_impl/macos/appkit/bitmap_image_rep.rs
  src/platform_impl/macos/appkit/button.rs
  src/platform_impl/macos/appkit/color.rs
  src/platform_impl/macos/appkit/control.rs
  src/platform_impl/macos/appkit/cursor.rs
  src/platform_impl/macos/appkit/event.rs
  src/platform_impl/macos/appkit/image.rs
  src/platform_impl/macos/appkit/menu.rs
  src/platform_impl/macos/appkit/menu_item.rs
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/appkit/pasteboard.rs
  src/platform_impl/macos/appkit/responder.rs
  src/platform_impl/macos/appkit/screen.rs
  src/platform_impl/macos/appkit/text_input_client.rs
  src/platform_impl/macos/appkit/text_input_context.rs
  src/platform_impl/macos/appkit/version.rs
  src/platform_impl/macos/appkit/view.rs
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/cursor.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/menu.rs
  src/platform_impl/macos/monitor.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Owners: @madsmtm

Use icrate's window structs and enums
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/ffi.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Owners: @madsmtm

Properly implement protocols
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/window_delegate.rs
Owners: @madsmtm

(Try to) simplify x11's available_monitors()
  src/platform_impl/linux/x11/monitor.rs
Owners: @kchibisov

Use icrate's NSWindow
  src/platform_impl/macos/app.rs
  src/platform_impl/macos/appkit/application.rs
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/appkit/tab_group.rs
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Owners: @madsmtm

Use icrate's NSApplication
  src/platform/pump_events.rs
  src/platform_impl/macos/app.rs
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/appkit/application.rs
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/menu.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/observer.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Owners: @madsmtm

Replace remaining AppKit bindings with `icrate`'s (#3296)
  src/platform/pump_events.rs
  src/platform_impl/macos/app.rs
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/appkit/application.rs
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/appkit/tab_group.rs
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/ffi.rs
  src/platform_impl/macos/menu.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/observer.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Owners: @madsmtm

Add OwnedWindowHandle to avoid lifetime on WindowHandle<'_>
  examples/child_window.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/mod.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

fix CI clippy failure.
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

make `EventLoopWindowTarget` independent of UserEvent type
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
  src/platform_impl/windows/window.rs
Owners: @msiglreith

make UserEventPlaceholder a new type instead of alias
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

invariance is maintained by top-level EventLoopWindowTarget<T>
  src/event_loop.rs
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

Remove generic parameter T from EventLoopWindowTarget
  CHANGELOG.md
  examples/child_window.rs
  examples/custom_cursors.rs
  src/cursor.rs
  src/event_loop.rs
  src/platform/android.rs
  src/platform/macos.rs
  src/platform/pump_events.rs
  src/platform/run_on_demand.rs
  src/platform/startup_notify.rs
  src/platform/wayland.rs
  src/platform/web.rs
  src/platform/x11.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/output.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/cursor.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/cursor.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

Replace EventLoopWindowTarget with ActiveEventLoop
  examples/child_window.rs
  examples/custom_cursors.rs
  src/cursor.rs
  src/event_loop.rs
  src/lib.rs
  src/monitor.rs
  src/platform/android.rs
  src/platform/macos.rs
  src/platform/pump_events.rs
  src/platform/run_on_demand.rs
  src/platform/startup_notify.rs
  src/platform/wayland.rs
  src/platform/web.rs
  src/platform/x11.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/orbital/mod.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/mod.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

Rename elwt -> event_loop
  examples/child_window.rs
  examples/control_flow.rs
  examples/cursor.rs
  examples/cursor_grab.rs
  examples/custom_cursors.rs
  examples/custom_events.rs
  examples/drag_window.rs
  examples/focus.rs
  examples/fullscreen.rs
  examples/handling_close.rs
  examples/ime.rs
  examples/key_binding.rs
  examples/mouse_wheel.rs
  examples/multithreaded.rs
  examples/multiwindow.rs
  examples/request_redraw.rs
  examples/request_redraw_threaded.rs
  examples/resizable.rs
  examples/startup_notification.rs
  examples/theme.rs
  examples/timer.rs
  examples/touchpad_gestures.rs
  examples/transparent.rs
  examples/web.rs
  examples/window.rs
  examples/window_buttons.rs
  examples/window_debug.rs
  examples/window_drag_resize.rs
  examples/window_icon.rs
  examples/window_on_demand.rs
  examples/window_option_as_alt.rs
  examples/window_pump_events.rs
  examples/window_resize_increments.rs
  examples/window_tabbing.rs
  examples/x11_embed.rs
  src/event.rs
  src/lib.rs
  src/platform/pump_events.rs
  src/window.rs
Owners: none

Bump rwh_05 min version to 0.5.2
  Cargo.toml
Owners: none

Bump rwh_05 min version to 0.5.2
  Cargo.toml
Owners: none

bugfix(rwh): Bump rwh_05 min version to 0.5.2
  Cargo.toml
Owners: none

Clean up macOS and iOS monitor code a bit
  src/platform_impl/ios/monitor.rs
  src/platform_impl/macos/monitor.rs
Owners: @madsmtm

Clean up window size methods
  examples/fullscreen.rs
  examples/multithreaded.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Owners: @madsmtm

Clean up window position methods
  clippy.toml
  src/platform_impl/macos/monitor.rs
  src/platform_impl/macos/util.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Owners: @madsmtm

Use a flipped NSView coordinate system
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

macOS: Clean up coordinate system calculations (#3302)
  clippy.toml
  examples/fullscreen.rs
  examples/multithreaded.rs
  src/platform_impl/ios/monitor.rs
  src/platform_impl/macos/monitor.rs
  src/platform_impl/macos/util.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Owners: @madsmtm

On Wayland, fix WindowEvent::Destroyed delivery
  CHANGELOG.md
  src/platform_impl/linux/wayland/event_loop/mod.rs
Owners: @kchibisov

Fix run_on_demand exiting on consequent call
  CHANGELOG.md
  examples/util/fill.rs
  examples/window_on_demand.rs
  src/platform/run_on_demand.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/output.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
Owners: @msiglreith, @kchibisov, @madsmtm

Fix run_on_demand exiting on consequent call
  CHANGELOG.md
  examples/util/fill.rs
  examples/window_on_demand.rs
  src/platform/run_on_demand.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/output.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
Owners: @msiglreith, @kchibisov, @madsmtm

On Wayland, fix WindowEvent::Destroyed delivery
  CHANGELOG.md
  src/platform_impl/linux/wayland/event_loop/mod.rs
Owners: @kchibisov
