Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51

On Windows, fix ime position like like Sogou #2780
  CHANGELOG.md
  src/platform_impl/windows/ime.rs
Owners: @msiglreith

On Wayland, ensure initial resize delivery
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

On Wayland, ensure initial resize delivery
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

On Windows, fix IME area not working
  CHANGELOG.md
  src/platform_impl/windows/ime.rs
Owners: @msiglreith

On macOS, remove spurious error logging when handling `Fn`
  CHANGELOG.md
  src/platform_impl/macos/event.rs
Owners: @madsmtm

Remove unused .gitmodules
  .gitmodules
Owners: none

bugfix(x11): Properly interpret float data in drag ops
  CHANGELOG.md
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

bugfix(x11): Use the right atom type in focus_window()
  CHANGELOG.md
  examples/focus.rs
  src/platform_impl/linux/x11/ffi.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

fix refresh_rate_millihertz on macOS (#3254)
  CHANGELOG.md
  src/platform_impl/macos/monitor.rs
Owners: @madsmtm

Changes and improvements to the documentation (#3253)
  CONTRIBUTING.md
  FEATURES.md
  HALL_OF_CHAMPIONS.md
  README.md
  docs/res/ATTRIBUTION.md
  src/dpi.rs
  src/lib.rs
Owners: none

On Windows, avoid panic in `video_modes()`
  src/platform_impl/windows/monitor.rs
Owners: @msiglreith

m: Update to x11rb 0.13.0
  Cargo.toml
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

On Wayland, make `wl_subcompositor` protocol optional
  CHANGELOG.md
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

Fix typo in `get_xft_dpi`
  CHANGELOG.md
  src/platform_impl/linux/x11/util/randr.rs
Owners: @kchibisov

Update `sctk-adwaita` to 0.8
  Cargo.toml
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

On Windows, fix `set_fullscreen` early return for `Fullscreen::Borderless(None)`
  CHANGELOG.md
  src/platform_impl/windows/window.rs
Owners: @msiglreith

On Wayland, fix resize being sent on focus change
  CHANGELOG.md
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

On windows, remove empty file
  src/platform_impl/windows/event.rs
Owners: @msiglreith

On Wayland, ensure initial resize delivery
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

On Windows, fix IME area not working
  CHANGELOG.md
  src/platform_impl/windows/ime.rs
Owners: @msiglreith

Winit version 0.29.5
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

On Web, correctly mark breaking changes in the changelog
  CHANGELOG.md
Owners: none

On Web, correctly mark breaking changes in the changelog
  CHANGELOG.md
Owners: none

Remove unused .gitmodules
  .gitmodules
Owners: none

fix refresh_rate_millihertz on macOS (#3254)
  CHANGELOG.md
  src/platform_impl/macos/monitor.rs
Owners: @madsmtm

Winit version 0.29.5
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

Fix typo in `get_xft_dpi`
  CHANGELOG.md
  src/platform_impl/linux/x11/util/randr.rs
Owners: @kchibisov

Update `sctk-adwaita` to 0.8
  Cargo.toml
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

On Windows, fix `set_fullscreen` early return for `Fullscreen::Borderless(None)`
  CHANGELOG.md
  src/platform_impl/windows/window.rs
Owners: @msiglreith

m: Update to x11rb 0.13.0
  Cargo.toml
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

On Windows, fix IME area not working
  CHANGELOG.md
  src/platform_impl/windows/ime.rs
Owners: @msiglreith

On macOS, remove spurious error logging when handling `Fn`
  CHANGELOG.md
  src/platform_impl/macos/event.rs
Owners: @madsmtm

On Wayland, make `wl_subcompositor` protocol optional
  CHANGELOG.md
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

Changes and improvements to the documentation (#3253)
  CONTRIBUTING.md
  FEATURES.md
  HALL_OF_CHAMPIONS.md
  README.md
  docs/res/ATTRIBUTION.md
  src/dpi.rs
  src/lib.rs
Owners: none

On Wayland, fix resize being sent on focus change
  CHANGELOG.md
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

bugfix(x11): Use the right atom type in focus_window()
  CHANGELOG.md
  examples/focus.rs
  src/platform_impl/linux/x11/ffi.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

On Wayland, ensure initial resize delivery
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

On Windows, avoid panic in `video_modes()`
  src/platform_impl/windows/monitor.rs
Owners: @msiglreith

On windows, remove empty file
  src/platform_impl/windows/event.rs
Owners: @msiglreith

bugfix(x11): Properly interpret float data in drag ops
  CHANGELOG.md
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov
