Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

Make custom cursors example keyboard layout agnostic
  examples/custom_cursors.rs
Owners: none

Windows: Cursor creation improvements
  src/platform_impl/windows/icon.rs
Owners: @msiglreith

Wayland: Improve cursor allocation & fix bugs
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/types/cursor.rs
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

X11: fix import
  src/platform_impl/linux/x11/util/cursor.rs
Owners: @kchibisov

Wayland: remove useless comment
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

Windows: fix cursor destruction
  src/platform_impl/windows/icon.rs
Owners: @msiglreith

Update custom cursors documentation
  examples/custom_cursors.rs
  src/cursor.rs
  src/lib.rs
  src/window.rs
  tests/send_objects.rs
  tests/sync_object.rs
Owners: none

Add missing custom cursor documentation
  src/cursor.rs
  src/platform/web.rs
Owners: @daxpedda

Fix possible overflow in cursor size checks
  src/cursor.rs
Owners: none

Allow cursors to be created with impl Into<Vec<u8>>
  src/cursor.rs
Owners: none

X11: Destroy custom cursor on drop
  src/platform_impl/linux/x11/util/cursor.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Add documentation about maximum cursor sizes
  src/cursor.rs
Owners: none

Update custom cursors documentation
  src/cursor.rs
Owners: none

Update custom cursor from_url docs
  src/platform/web.rs
Owners: @daxpedda

Ensure that way too large custom cursors can't be created
  examples/custom_cursors.rs
  src/cursor.rs
  src/platform/web.rs
  src/platform_impl/linux/wayland/types/cursor.rs
  src/platform_impl/linux/x11/util/cursor.rs
  src/platform_impl/macos/appkit/cursor.rs
  src/platform_impl/web/cursor.rs
  src/platform_impl/windows/icon.rs
  src/window.rs
Owners: @daxpedda, @kchibisov, @madsmtm, @msiglreith

Update changelog and features
  CHANGELOG.md
  FEATURES.md
Owners: none

Add feature description
  FEATURES.md
Owners: none

Web: don't drop previous cursor until new cursor is applied
  src/platform_impl/web/cursor.rs
Owners: @daxpedda

Web: simplify state machine
  src/platform_impl/web/cursor.rs
Owners: @daxpedda

Web: retain previous cursor as a fallback
  src/platform_impl/web/cursor.rs
Owners: @daxpedda

Web: add failed state in case of `toBlob()` failure
  src/platform_impl/web/cursor.rs
Owners: @daxpedda

Web: retain previous cursor as a fallback for URLs as well
  src/platform_impl/web/cursor.rs
Owners: @daxpedda

Windows: fix cursor mutex scope
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

Windows: keep cursor handle alive when setting in another thread
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Fixup style issues
  src/cursor.rs
  src/platform_impl/linux/wayland/types/cursor.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/platform_impl/linux/x11/util/cursor.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/appkit/cursor.rs
  src/platform_impl/windows/icon.rs
Owners: @kchibisov, @madsmtm, @msiglreith

Update src/cursor.rs
  src/cursor.rs
Owners: none

Web: remove queuing fullscreen request
  CHANGELOG.md
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/fullscreen.rs
  src/platform_impl/web/web_sys/pointer.rs
  src/window.rs
Owners: @daxpedda

Web: remove queuing fullscreen request (#3242)
  CHANGELOG.md
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/fullscreen.rs
  src/platform_impl/web/web_sys/pointer.rs
  src/window.rs
Owners: @daxpedda

On Web, fix setting cursor icon overriding cursor visibility
  CHANGELOG.md
  src/platform_impl/web/cursor.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

On Web, fix setting cursor icon overriding cursor visibility (#3269)
  CHANGELOG.md
  src/platform_impl/web/cursor.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

On Wayland, fix resize being sent on focus change
  CHANGELOG.md
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

Switch to using xim for IME
  Cargo.toml
  src/platform_impl/linux/x11/atoms.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/ime.rs
  src/platform_impl/linux/x11/ime/callbacks.rs
  src/platform_impl/linux/x11/ime/context.rs
  src/platform_impl/linux/x11/ime/inner.rs
  src/platform_impl/linux/x11/ime/input_method.rs
  src/platform_impl/linux/x11/ime/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/util/input.rs
  src/platform_impl/linux/x11/util/memory.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Use x11rb for event handling
  src/platform_impl/linux/x11/dnd.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/ime.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/util/mod.rs
Owners: @kchibisov

Update for 0.29.3 changes
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

Use XSetEventQueueOwner to indicate XCB
  src/platform_impl/linux/x11/xdisplay.rs
Owners: @kchibisov

Remove superseded TODO comment
  src/platform_impl/linux/x11/ime.rs
Owners: @kchibisov

Update to newest master
  Cargo.toml
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

On Wayland, fix resize being sent on focus change
  CHANGELOG.md
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

On windows, remove empty file
  src/platform_impl/windows/event.rs
Owners: @msiglreith

On windows, remove empty file
  src/platform_impl/windows/event.rs
Owners: @msiglreith

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51
