Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

android sticky_exit_callback signature change
  src/platform_impl/android/mod.rs
Owners: @msiglreith

remove TODO
  src/platform_impl/android/mod.rs
Owners: @msiglreith

use `WindowEvent::Occluded`
  CHANGELOG.md
  src/event.rs
  src/platform_impl/ios/view.rs
Owners: @madsmtm

Fix WaitUntil on X11
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

Add changelog entry
  CHANGELOG.md
Owners: none

Ignore x11_readiness, add StartCause::Poll to wake up condition
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

update for android
  src/platform_impl/android/mod.rs
Owners: @msiglreith

On X11, fix WaitUntil and Poll behavior
  CHANGELOG.md
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

Make `ControlFlow::Wait` the default
  CHANGELOG.md
  README.md
  examples/child_window.rs
  examples/cursor.rs
  examples/cursor_grab.rs
  examples/custom_events.rs
  examples/fullscreen.rs
  examples/handling_close.rs
  examples/ime.rs
  examples/key_binding.rs
  examples/mouse_wheel.rs
  examples/multithreaded.rs
  examples/multiwindow.rs
  examples/request_redraw.rs
  examples/request_redraw_threaded.rs
  examples/resizable.rs
  examples/startup_notification.rs
  examples/theme.rs
  examples/touchpad_gestures.rs
  examples/transparent.rs
  examples/web.rs
  examples/web_aspect_ratio.rs
  examples/window.rs
  examples/window_buttons.rs
  examples/window_debug.rs
  examples/window_icon.rs
  examples/window_ondemand.rs
  examples/window_option_as_alt.rs
  examples/window_pump_events.rs
  examples/window_resize_increments.rs
  examples/window_tabbing.rs
  examples/x11_embed.rs
  src/event_loop.rs
  src/window.rs
Owners: none

Fix reset to `Poll` after the event loop starts
  README.md
  src/lib.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/windows/event_loop/runner.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov

Added the show system menu method to window
  CHANGELOG.md
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

Update Usage in README.md to adjust to new version
  README.md
Owners: none

format
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Add doctest for README.md in lib.rs
  src/lib.rs
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Remove old docs about EventLoop::run
  src/event_loop.rs
  src/lib.rs
Owners: none

Remove old docs about EventLoop::run
  src/event_loop.rs
  src/lib.rs
Owners: none

Update README.md
  README.md
Owners: none

removed the comment
  src/window.rs
Owners: none

Apply suggestions from code review
  CHANGELOG.md
  src/window.rs
Owners: none

Update src/window.rs
  src/window.rs
Owners: none

Remove obsolete docs about wayland CSD env variable
  src/window.rs
Owners: none

Address review
  CHANGELOG.md
  src/event_loop.rs
Owners: none

Make `ControlFlow::Wait` the default (#3106)
  CHANGELOG.md
  README.md
  examples/child_window.rs
  examples/cursor.rs
  examples/cursor_grab.rs
  examples/custom_events.rs
  examples/fullscreen.rs
  examples/handling_close.rs
  examples/ime.rs
  examples/key_binding.rs
  examples/mouse_wheel.rs
  examples/multithreaded.rs
  examples/multiwindow.rs
  examples/request_redraw.rs
  examples/request_redraw_threaded.rs
  examples/resizable.rs
  examples/startup_notification.rs
  examples/theme.rs
  examples/touchpad_gestures.rs
  examples/transparent.rs
  examples/web.rs
  examples/web_aspect_ratio.rs
  examples/window.rs
  examples/window_buttons.rs
  examples/window_debug.rs
  examples/window_icon.rs
  examples/window_ondemand.rs
  examples/window_option_as_alt.rs
  examples/window_pump_events.rs
  examples/window_resize_increments.rs
  examples/window_tabbing.rs
  examples/x11_embed.rs
  src/event_loop.rs
  src/window.rs
Owners: none

Pass force on touch events on android
  CHANGELOG.md
  src/event.rs
  src/platform_impl/android/mod.rs
Owners: @msiglreith

added wikipedia page for windows system menu
  src/window.rs
Owners: none

remove doctest for README.md
  README.md
  src/lib.rs
Owners: none

Apply suggestions from code review
  src/window.rs
Owners: none

updated `show_window_menu` to allow receiving a custom position as well updated `show_window_menu` documents
  examples/drag_window.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

format the code
  examples/drag_window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith

changed `mouse` to `cursor`.
  src/window.rs
Owners: none

removed unused map
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Apply suggestions from code review
  src/window.rs
Owners: none

Remove `DeviceEvent::Text` event
  CHANGELOG.md
  src/event.rs
Owners: none

Remove `DeviceEvent::Text` event
  CHANGELOG.md
  src/event.rs
Owners: none

Replace image with png crate, separate PlatformIcon and PlatformCustomCursorIcon
  Cargo.toml
  examples/cursor.rs
  examples/cursor_icon.rs
  examples/web.rs
  src/icon.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/mod.rs
  src/window.rs
Owners: @daxpedda, @msiglreith

Use cow for storing previous pointer
  examples/cursor.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

Allow arbitrary icons for web, add PlatformCustomCursorIcon to all platforms
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/orbital/mod.rs
  src/platform_impl/web/icon.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/web/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51
