Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda, @jackpot51, @richerfu, @jschwe

.github/CODEOWNERS:

# Android
/winit-android                      @MarijnS95

# Apple (AppKit + UIKit)
/winit-appkit                       @madsmtm
/winit-uikit                        @madsmtm
/winit-common/src/core_foundation   @madsmtm
/winit-common/src/event_handler.rs  @madsmtm

# XKB
/winit-common/src/xkb               @kchibisov

# Wayland
/winit-wayland                      @kchibisov

# X11
/winit-x11                          @kchibisov

# Web
/winit-web                          @daxpedda

# Windows (Win32) (UNOWNED)
#/winit-win32                       

# Orbital (Redox OS)
/winit-orbital                      @jackpot51

# OpenHarmony
/winit-ohos                         @richerfu @jschwe

Improve example IME messages
  examples/application.rs
Owners: none

winit-core/ime: add more purposes and content hints
  examples
  winit-core/src/window.rs
  winit-wayland/src/seat/text_input/mod.rs
  winit/examples
  winit/examples/application.rs
  winit/examples/child_window.rs
  winit/examples/control_flow.rs
  winit/examples/data/cross.png
  winit/examples/data/cross2.png
  winit/examples/data/gradient.png
  winit/examples/data/icon.png
  winit/examples/dnd.rs
  winit/examples/ime.rs
  winit/examples/pump_events.rs
  winit/examples/run_on_demand.rs
  winit/examples/util/fill.rs
  winit/examples/util/tracing.rs
  winit/examples/window.rs
  winit/examples/x11_embed.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

winit-core/ime: add more purposes and content hints
  examples
  winit-core/src/window.rs
  winit-wayland/src/seat/text_input/mod.rs
  winit/examples
  winit/examples/application.rs
  winit/examples/child_window.rs
  winit/examples/control_flow.rs
  winit/examples/data/cross.png
  winit/examples/data/cross2.png
  winit/examples/data/gradient.png
  winit/examples/data/icon.png
  winit/examples/dnd.rs
  winit/examples/ime.rs
  winit/examples/pump_events.rs
  winit/examples/run_on_demand.rs
  winit/examples/util/fill.rs
  winit/examples/util/tracing.rs
  winit/examples/window.rs
  winit/examples/x11_embed.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

Only handle Wayland pointer gestures from the top-level surface
  winit-wayland/src/seat/pointer/pointer_gesture.rs
Owners: @kchibisov

Rename scale to pinch in Wayland gestures
  winit-wayland/src/seat/pointer/pointer_gesture.rs
Owners: @kchibisov

Shorten getting window_id in Wayland gestures
  winit-wayland/src/seat/pointer/pointer_gesture.rs
Owners: @kchibisov

winit-wayland: bump sctk and sctk-adwaita
  Cargo.toml
  winit-wayland/Cargo.toml
Owners: @kchibisov

winit-wayland: bump sctk and sctk-adwaita
  Cargo.toml
  winit-wayland/Cargo.toml
Owners: @kchibisov

Clarify handling of rotation_delta in Wayland gestures
  .zed/settings.json
  winit-wayland/src/seat/pointer/pointer_gesture.rs
Owners: @kchibisov

Reset window_id to None in Wayland gestures
  winit-wayland/src/seat/pointer/pointer_gesture.rs
Owners: @kchibisov

Flip is_none_or to is_some_and for older Rust support
  winit-wayland/src/seat/pointer/pointer_gesture.rs
Owners: @kchibisov

Clarify handling of rotation_delta in Wayland gestures
  winit-wayland/src/seat/pointer/pointer_gesture.rs
Owners: @kchibisov

Reset window_id to None in Wayland gestures
  winit-wayland/src/seat/pointer/pointer_gesture.rs
Owners: @kchibisov

Flip is_none_or to is_some_and for older Rust support
  winit-wayland/src/seat/pointer/pointer_gesture.rs
Owners: @kchibisov

chore: cleanup formatting
  winit-wayland/src/seat/pointer/pointer_gesture.rs
Owners: @kchibisov

wayland: support for pinch, rotation, and pan gestures
  winit-core/src/event.rs
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/seat/pointer/pointer_gesture.rs
  winit-wayland/src/state.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

Add web_sys::event::MouseButton; avoid incorrect state check for unknown buttons
  winit-web/src/event_loop/runner.rs
  winit-web/src/web_sys/event.rs
  winit-web/src/web_sys/pointer.rs
Owners: @daxpedda

Standardise extra button codes on Wayland, X11
  winit-wayland/src/seat/pointer/mod.rs
  winit-x11/src/event_processor.rs
Owners: @kchibisov

ButtonSource::Unknown has undefined meaning
  winit-core/src/event.rs
Owners: none

Use ButtonSource::Unknown to handle unknown codes
  winit-wayland/src/seat/pointer/mod.rs
  winit-web/src/web_sys/event.rs
  winit-web/src/web_sys/pointer.rs
Owners: @kchibisov, @daxpedda

winit-win32: deduplicate L/R/M mouse button handling
  winit-win32/src/event_loop.rs
Owners: none

Revise MouseButton type: enum -> struct
  winit-appkit/src/view.rs
  winit-core/src/event.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-win32/src/event_loop.rs
  winit-x11/src/event_processor.rs
  winit/examples/application.rs
Owners: @madsmtm, @kchibisov

refactor: move fractional scale from specific state to main window state
  winit-wayland/src/window/state.rs
Owners: @kchibisov

fix: xdg toplevel id pointer cast
  winit-wayland/src/window/mod.rs
Owners: @kchibisov

chore: set xdg_toplevel_icon from specific shell
  winit-wayland/src/lib.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

feat(wayland): global viewport and fractional scaling
  winit-wayland/src/window/state.rs
Owners: @kchibisov

feat: use layer_shell to instance layer
  winit-wayland/src/lib.rs
  winit-wayland/src/window/mod.rs
Owners: @kchibisov

chore: base of wayland layer_shell needed
  winit-wayland/src/lib.rs
  winit-wayland/src/output.rs
  winit-wayland/src/state.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

feat: optional layer_shell and return error to notify when is required
  winit-wayland/src/state.rs
  winit-wayland/src/window/mod.rs
Owners: @kchibisov

fix: clippy suggestion on using box
  winit-wayland/src/window/state.rs
Owners: @kchibisov

fix(wayland): fractional scale destroy
  winit-wayland/src/window/state.rs
Owners: @kchibisov

fix: resolve clippy suggestions
  winit-wayland/src/window/state.rs
Owners: @kchibisov

feat: set wayland namespace attribute
  winit-wayland/src/lib.rs
  winit-wayland/src/window/mod.rs
Owners: @kchibisov

fix: change visibility of params
  winit-wayland/src/lib.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

refactor: create window attribute with layer shell function
  winit-wayland/src/lib.rs
Owners: @kchibisov

wayland: reduce amount of empty preedits
  winit-wayland/src/seat/text_input/mod.rs
Owners: @kchibisov

wayland: reduce amount of empty preedits
  winit-wayland/src/seat/text_input/mod.rs
Owners: @kchibisov

Fix 'no-decorations' in Windows.
  winit-win32/src/window_state.rs
  winit/src/changelog/unreleased.md
Owners: none

wayland: add wayland-csd-adwaita-notitlebar feature
  winit-wayland/Cargo.toml
  winit-wayland/src/lib.rs
  winit-wayland/src/window/state.rs
  winit/Cargo.toml
Owners: @kchibisov

chore: fix nightly clippy
  winit-core/src/cursor.rs
  winit-core/src/icon.rs
  winit-core/src/monitor.rs
  winit-core/src/window.rs
Owners: none
