Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda, @jackpot51, @richerfu, @jschwe

.github/CODEOWNERS:

# Android
/winit-android                      @MarijnS95

# Apple (AppKit + UIKit)
/winit-appkit                       @madsmtm
/winit-uikit                        @madsmtm
/winit-common/src/core_foundation   @madsmtm
/winit-common/src/event_handler.rs  @madsmtm

# XKB
/winit-common/src/xkb               @kchibisov

# Wayland
/winit-wayland                      @kchibisov

# X11
/winit-x11                          @kchibisov

# Web
/winit-web                          @daxpedda

# Windows (Win32) (UNOWNED)
#/winit-win32                       

# Orbital (Redox OS)
/winit-orbital                      @jackpot51

# OpenHarmony
/winit-ohos                         @richerfu @jschwe

Remove the AsAny helper trait
  winit-core/src/casting.rs
  winit-core/src/cursor.rs
  winit-core/src/data_transfer.rs
  winit-core/src/event_loop/mod.rs
  winit-core/src/icon.rs
  winit-core/src/lib.rs
  winit-core/src/monitor.rs
  winit-core/src/window.rs
Owners: none

wayland: fix panic when fancy wacom tablet is connected
  winit-wayland/src/types/wp_tablet_input_v2.rs
Owners: @kchibisov

macOS: make Ime::Preedit cursor range surrogate-safe in setMarkedText
  winit-appkit/src/view.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

winit-wayland: add pointer gesture hold
  winit-core/src/event.rs
  winit-wayland/Cargo.toml
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/seat/pointer/pointer_gesture.rs
  winit/examples/application.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

wayland: Move hash algorithm to foldhash
  Cargo.toml
  deny.toml
  winit-wayland/Cargo.toml
  winit-wayland/src/lib.rs
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/state.rs
  winit-wayland/src/window/state.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

Bump MSRV to 1.86
  .github/workflows/ci.yml
  Cargo.toml
  README.md
  winit-win32/src/dnd.rs
  winit/src/changelog/v0.31.md
Owners: none

x11: fix crash when XInput 2 is unavailable
  winit-x11/src/event_loop.rs
  winit-x11/src/xdisplay.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

Update cfg_aliases to 0.2.2
  Cargo.toml
  winit/build.rs
Owners: none

wayland: implement resize increments
  winit-core/src/window.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

Clean up cargo-deny
  .github/workflows/ci.yml
  deny.toml
Owners: none

winit-win32: Fix ABI mismatch in INIT_MAIN_THREAD_ID
  winit-win32/src/event_loop.rs
Owners: none

macOS: resample deferred macOS surface resize events
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

Upgrade `windows-sys` dependency to 0.61 (#4464)
  Cargo.toml
  winit-win32/src/dark_mode.rs
  winit-win32/src/definitions.rs
  winit-win32/src/monitor.rs
  winit-win32/src/util.rs
  winit/src/changelog/unreleased.md
Owners: none

fix(android): Populate `KeyEvent.text` via `Key::to_text()`
  winit-android/src/event_loop.rs
  winit-core/src/event.rs
  winit/src/changelog/v0.31.md
Owners: @MarijnS95

Document potential user expectation of ctrl+left click behavior on macOS. (#4518)
  winit-core/src/event.rs
Owners: none

wayland IME: Discard completed delete request
  winit-wayland/src/seat/text_input/mod.rs
Owners: @kchibisov

Fix AppKit live resize redraw timing
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
Owners: @madsmtm

Wayland, Windows, MacOS: Popup Implementation (#4543)
  winit-android/src/event_loop.rs
  winit-appkit/src/window.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/window.rs
  winit-orbital/src/window.rs
  winit-uikit/src/window.rs
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/lib.rs
  winit-wayland/src/popup.rs
  winit-wayland/src/seat/keyboard/mod.rs
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/state.rs
  winit-wayland/src/window/handles.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
  winit-web/src/window.rs
  winit-win32/src/window.rs
  winit-win32/src/window_state.rs
  winit-x11/src/window.rs
  winit/examples/child_window.rs
  winit/src/changelog/unreleased.md
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

Fix clippy warning with Rust 1.98
  winit-core/src/event.rs
Owners: none

winit-x11: replace XQueryKeymap with equivalent x11rb call (#4497)
  winit-x11/src/util/keys.rs
Owners: @kchibisov

macOS: Feature-gate CGSSetWindowBackgroundBlurRadius
  winit-appkit/Cargo.toml
  winit-appkit/src/ffi.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/window.rs
  winit/Cargo.toml
  winit/src/changelog/unreleased.md
  winit/src/lib.rs
Owners: @madsmtm

win32: Copy icon pixels to BGRA instead of mutating the shared buffer
  winit-win32/src/icon.rs
  winit/src/changelog/unreleased.md
Owners: none

Add changelog entry for the non_exhaustive enums
  winit/src/changelog/unreleased.md
Owners: none

windows: fix freeze on keyboard layout switch
  winit-win32/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: none

fix(macOS) "fix" toggling IME on appkit backend (#4512)
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

Ignore quick-xml and ttf-parser advisories in cargo-deny
  deny.toml
Owners: none

winit-orbital: Respect ORBITAL_DISPLAY
  winit-orbital/src/lib.rs
Owners: @jackpot51

macOS: implement `set_blur` using `NSVisualEffectView`
  .github/workflows/ci.yml
  winit-appkit/Cargo.toml
  winit-appkit/src/lib.rs
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/window.rs
  winit/src/changelog/unreleased.md
  winit/src/lib.rs
Owners: @madsmtm

Apple: Use tracing spans instead of custom trace_scope! macro
  winit-appkit/src/app_state.rs
  winit-appkit/src/event_loop.rs
  winit-appkit/src/util.rs
  winit-appkit/src/view.rs
  winit-appkit/src/window.rs
  winit-appkit/src/window_delegate.rs
  winit/src/event_loop.rs
Owners: @madsmtm

Apple: Trace CFRunLoop activities
  winit-appkit/src/event_loop.rs
  winit-common/src/core_foundation/mod.rs
  winit-common/src/core_foundation/tracing_observers.rs
  winit-uikit/src/event_loop.rs
Owners: @madsmtm

Popup anchor system refinement (#4646)
  winit-appkit/Cargo.toml
  winit-appkit/src/monitor.rs
  winit-appkit/src/window.rs
  winit-appkit/src/window_delegate.rs
  winit-common/Cargo.toml
  winit-common/src/lib.rs
  winit-common/src/positioner.rs
  winit-core/src/window.rs
  winit-core/src/window/positioner.rs
  winit-wayland/src/lib.rs
  winit-wayland/src/popup.rs
  winit-wayland/src/window/state.rs
  winit-win32/Cargo.toml
  winit-win32/src/event_loop.rs
  winit-win32/src/monitor.rs
  winit-win32/src/window.rs
  winit-win32/src/window_state.rs
  winit/examples/popup.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm, @kchibisov

Mark platform extension enums as #[non_exhaustive]
  winit-appkit/src/lib.rs
  winit-common/src/xkb/mod.rs
  winit-uikit/src/lib.rs
  winit-web/src/lib.rs
  winit-win32/src/lib.rs
  winit-x11/src/dnd.rs
  winit-x11/src/lib.rs
Owners: @madsmtm, @kchibisov, @daxpedda

macOS: defer native transitions during event handling
  winit-appkit/src/app_state.rs
  winit-appkit/src/window_delegate.rs
Owners: @madsmtm

fix(typo): dependant -> dependent (#4540)
  winit-web/src/monitor.rs
  winit/src/event_loop.rs
Owners: @daxpedda

fix clippy
  winit-common/src/xkb/compose.rs
  winit/examples/child_window.rs
Owners: @kchibisov

Fix CI
  .github/workflows/ci.yml
Owners: none

Fix formatting
  winit-android/src/lib.rs
  winit-appkit/src/lib.rs
  winit-uikit/src/lib.rs
  winit-wayland/src/lib.rs
  winit-win32/src/lib.rs
Owners: @MarijnS95, @madsmtm, @kchibisov

macOS: add `WindowEvent::PointerButton::is_macos_activation_click`
  winit-android/src/event_loop.rs
  winit-appkit/src/lib.rs
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/event.rs
  winit-orbital/src/event_loop.rs
  winit-uikit/src/view.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/seat/touch/mod.rs
  winit-wayland/src/types/wp_tablet_input_v2.rs
  winit-web/src/event_loop/window_target.rs
  winit-win32/src/event_loop.rs
  winit-x11/src/event_processor.rs
  winit/examples/application.rs
  winit/src/changelog/unreleased.md
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

winit-wayland: use `ext-background-effect` if available
  winit-core/src/window.rs
  winit-wayland/src/state.rs
  winit-wayland/src/types/bgr_effects.rs
  winit-wayland/src/types/ext_background_effect.rs
  winit-wayland/src/types/mod.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

orbital: Handle window closes during app drop
  winit-orbital/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: @jackpot51
