Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51

Fix infinite recursion in `BadIcon` reporting (#3237)
  src/icon.rs
Owners: none

Fix crash when minimizing example on Windows
  examples/util/fill.rs
Owners: none

Make Android docs build on docs.rs (#3236)
  Cargo.toml
  src/platform/android.rs
Owners: @msiglreith

Fix typo in pre_present_notify docs
  src/window.rs
Owners: none

On Wayland, fix wl_surface being dropped first
  CHANGELOG.md
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

On Windows, fix `set_control_flow` from `AboutToWait
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

On X11, try alternative cursor icon names as well
  CHANGELOG.md
  Cargo.toml
  src/platform_impl/linux/x11/util/cursor.rs
Owners: @kchibisov

On macOS, send a Resized event after ScaleFactorChanged
  CHANGELOG.md
  src/platform_impl/macos/app_state.rs
Owners: @madsmtm

On macOS, fix assertion when pressing `Fn` key
  CHANGELOG.md
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/view.rs
Owners: @madsmtm

On Windows, fix MT safety when starting drag
  CHANGELOG.md
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Bump version on master
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

Bump version on master
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

Add way to set taskbar progress
  examples/cursor.rs
  src/platform/windows.rs
  src/platform_impl/windows/definitions.rs
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Add CHANGELOG entry
  CHANGELOG.md
Owners: none

Add FEATURES entry
  FEATURES.md
Owners: none

Satisfy clippy, higher precision
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Move ptr deref to call
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Correct names in defs
  src/platform_impl/windows/definitions.rs
Owners: @msiglreith

Remove erroneous `must_use` from `Window::request_inner_size()`
  src/window.rs
Owners: none

Mac: Remove error log when pressing Fn key
  src/platform_impl/macos/event.rs
Owners: @madsmtm

Update changelog
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

On macOS, remove spurious error logging when handling `Fn`
  CHANGELOG.md
  src/platform_impl/macos/event.rs
Owners: @madsmtm

feat: macos services menu added
  CHANGELOG.md
  src/platform_impl/macos/appkit/application.rs
  src/platform_impl/macos/appkit/menu_item.rs
  src/platform_impl/macos/menu.rs
Owners: @madsmtm

Remove unused .gitmodules
  .gitmodules
Owners: none

feat: macos services menu added (#3231)
  CHANGELOG.md
  src/platform_impl/macos/appkit/application.rs
  src/platform_impl/macos/appkit/menu_item.rs
  src/platform_impl/macos/menu.rs
Owners: @madsmtm

Remove unused .gitmodules
  .gitmodules
Owners: none

add 64-bit format
  src/platform_impl/linux/x11/util/window_property.rs
Owners: @kchibisov

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Properly interpret float data in drag ops
  CHANGELOG.md
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Move xinput_fp1616 conversion to modrs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

bugfix(x11): Properly interpret float data in drag ops
  CHANGELOG.md
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Use the right atom type in focus_window()
  examples/focus.rs
  src/platform_impl/linux/x11/ffi.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Fix web builds
  CHANGELOG.md
  examples/focus.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

bugfix(x11): Use the right atom type in focus_window()
  CHANGELOG.md
  examples/focus.rs
  src/platform_impl/linux/x11/ffi.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

FEATURES.md improvements
  FEATURES.md
Owners: none

docs improvements
  CONTRIBUTING.md
  HALL_OF_CHAMPIONS.md
  README.md
  docs/res/ATTRIBUTION.md
  src/dpi.rs
  src/lib.rs
Owners: none

typo fix: 'mean' -> 'main'
  src/lib.rs
Owners: none

fix refresh_rate_millihertz on macOS
  src/platform_impl/macos/monitor.rs
Owners: @madsmtm

round after conversion to mHz
  src/platform_impl/macos/monitor.rs
Owners: @madsmtm
