Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

Fix transparent windows not working on X11
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Update docs to reflect X11 transparency behavior
  src/window.rs
Owners: none

CustomCursorIcon ext for Web and Windows
  src/icon.rs
  src/platform/web.rs
  src/platform/windows.rs
Owners: @daxpedda, @msiglreith

Fix transparent windows on X11
  src/platform_impl/linux/x11/window.rs
  src/window.rs
Owners: @kchibisov

renamed run_ondemand to run_on_demand
  CHANGELOG.md
  examples/window_on_demand.rs
  src/platform/mod.rs
  src/platform/run_on_demand.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
Owners: @msiglreith, @kchibisov, @madsmtm

Android: Make DeviceId contain device id's
  CHANGELOG.md
  src/platform_impl/android/mod.rs
Owners: @msiglreith

Link to areweguiyet.com and arewegameyet.rs instead of winit's wiki page
  README.md
Owners: none

Use `frame` instead of `visibleRect` (#3043)
  CHANGELOG.md
  src/platform_impl/macos/appkit/view.rs
  src/platform_impl/macos/view.rs
Owners: @madsmtm

Winit version 0.28.7
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

Bump version on master
  CHANGELOG.md
Owners: none

Bump version on master (#3119)
  CHANGELOG.md
Owners: none

fix wayland MonitorHandle position
  src/platform_impl/linux/wayland/output.rs
Owners: @kchibisov

formatting
  src/platform_impl/linux/wayland/output.rs
Owners: @kchibisov

Windows: Add #[deny(unsafe_op_in_unsafe_fn)]
  src/platform_impl/windows/dpi.rs
  src/platform_impl/windows/drop_handler.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
  src/platform_impl/windows/ime.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/monitor.rs
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Windows: Add #[deny(unsafe_op_in_unsafe_fn)] (#3070)
  src/platform_impl/windows/dpi.rs
  src/platform_impl/windows/drop_handler.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
  src/platform_impl/windows/ime.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/monitor.rs
  src/platform_impl/windows/window.rs
Owners: @msiglreith

more accurate, use real logical postion if present, otherwise use location from geometry data
  src/platform_impl/linux/wayland/output.rs
Owners: @kchibisov

X11: Add #[deny(unsafe_op_in_unsafe_fn)]
  src/platform_impl/linux/common/xkb_state.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/ime/callbacks.rs
  src/platform_impl/linux/x11/ime/context.rs
  src/platform_impl/linux/x11/ime/inner.rs
  src/platform_impl/linux/x11/ime/input_method.rs
Owners: @kchibisov

Enable #![deny(unsafe_op_in_unsafe_fn)] everywhere
  src/event.rs
  src/lib.rs
  src/platform_impl/ios/uikit/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/windows/mod.rs
  src/window.rs
Owners: @madsmtm, @kchibisov, @msiglreith

X11: Add `#[deny(unsafe_op_in_unsafe_fn)]` (#3121)
  src/event.rs
  src/lib.rs
  src/platform_impl/ios/uikit/mod.rs
  src/platform_impl/linux/common/xkb_state.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/ime/callbacks.rs
  src/platform_impl/linux/x11/ime/context.rs
  src/platform_impl/linux/x11/ime/inner.rs
  src/platform_impl/linux/x11/ime/input_method.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/windows/mod.rs
  src/window.rs
Owners: @madsmtm, @kchibisov, @msiglreith

Make the compile errors go away on X11
  Cargo.toml
  examples/child_window.rs
  examples/util/fill.rs
  src/event_loop.rs
  src/lib.rs
  src/platform/startup_notify.rs
  src/platform/wayland.rs
  src/platform/x11.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/window.rs
Owners: @kchibisov

Make the errors go away on macOS
  src/platform/macos.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

Make the compile errors go away on WIndows
  src/platform/windows.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
Owners: @msiglreith

Make the compile errors go away on web
  src/platform/web.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
  src/window.rs
Owners: @daxpedda

Make the Android build errors go away
  src/platform/android.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/window.rs
Owners: @msiglreith, @daxpedda

Finish the iOS and Orbital backends
  src/platform/ios.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/orbital/window.rs
Owners: @madsmtm, @jackpot51

Fix CI errors
  deny.toml
  examples/child_window.rs
  src/platform/windows.rs
  src/window.rs
Owners: @msiglreith

More fixes for CI errors
  examples/child_window.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/window.rs
Owners: @kchibisov

Fix X11 CI error
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Partially fix review comments
  examples/util/fill.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
Owners: @madsmtm, @kchibisov, @jackpot51

Link to areweguiyet.com and arewegameyet.rs for extra deps
  README.md
Owners: none

Make DeviceId contain device id's on Android
  CHANGELOG.md
  src/platform_impl/android/mod.rs
Owners: @msiglreith

Rename run_ondemand to run_on_demand
  CHANGELOG.md
  examples/window_on_demand.rs
  src/platform/mod.rs
  src/platform/run_on_demand.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
Owners: @msiglreith, @kchibisov, @madsmtm

Remaining review comments
  examples/child_window.rs
  src/lib.rs
  src/platform/android.rs
  src/platform/ios.rs
  src/platform/macos.rs
  src/platform/startup_notify.rs
  src/platform/wayland.rs
  src/platform/web.rs
  src/platform/windows.rs
  src/platform/x11.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

removed the ability to show window menu at current mouse position updated the `drag_window` example based on new changes
  examples/drag_window.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

extract common code
  src/platform_impl/ios/view.rs
Owners: @madsmtm

doc formatting
  src/event.rs
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

fixed the code to not warn on `unsafe_op_in_unsafe_fn` lint
  src/platform_impl/windows/window.rs
Owners: @msiglreith

remove unneeded lifetime of struct
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/window.rs
Owners: @msiglreith

`cargo fmt`
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51
