Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda, @jackpot51, @richerfu, @jschwe

.github/CODEOWNERS:

# Android
/winit-android                      @MarijnS95

# Apple (AppKit + UIKit)
/winit-appkit                       @madsmtm
/winit-uikit                        @madsmtm
/winit-common/src/core_foundation   @madsmtm
/winit-common/src/event_handler.rs  @madsmtm

# XKB
/winit-common/src/xkb               @kchibisov

# Wayland
/winit-wayland                      @kchibisov

# X11
/winit-x11                          @kchibisov

# Web
/winit-web                          @daxpedda

# Windows (Win32) (UNOWNED)
#/winit-win32                       

# Orbital (Redox OS)
/winit-orbital                      @jackpot51

# OpenHarmony
/winit-ohos                         @richerfu @jschwe

Add Send and Sync to OwnedDisplayHandle (#4509)
  winit-core/src/event_loop/mod.rs
  winit/src/changelog/unreleased.md
  winit/tests/send_objects.rs
  winit/tests/sync_object.rs
Owners: none

reafactor(orbital): Reimplement Orbital support using std::fs and redox_event (#4470)
  Cargo.toml
  winit-orbital/Cargo.toml
  winit-orbital/src/event_loop.rs
  winit-orbital/src/lib.rs
  winit-orbital/src/window.rs
Owners: @jackpot51

Add Apple Pencil support on iOS (#4449)
  winit-uikit/src/view.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

fix(macos): NSTextInputClient IME commit flow
  winit-appkit/src/view.rs
Owners: @madsmtm

Allow building examples using `softbuffer` on Android
  winit/Cargo.toml
  winit/examples/application.rs
  winit/examples/util/fill.rs
Owners: none

Use new macOS 15 cursors for resize icons (#4422)
  winit-appkit/src/cursor.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

examples: Always use tracing helper module
  winit/examples/pump_events.rs
  winit/examples/run_on_demand.rs
  winit/examples/x11_embed.rs
Owners: none

chore: appease clippy (#4471)
  winit-x11/src/ime/inner.rs
Owners: @kchibisov

fix(macOS): clamp IME selected_range to prevent substringToIndex crash
  winit-appkit/src/view.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

win32: fix window `hwnd_dpi` leaks `HDC` handles
  winit-win32/src/dpi.rs
  winit/src/changelog/unreleased.md
Owners: none

Reduce duplication in `dpi` module (#2148)
  dpi/src/lib.rs
Owners: none

Add missing scancodes for orbital (#4515)
  winit-orbital/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: @jackpot51

Fix CI (#4546)
  .github/workflows/ci.yml
  deny.toml
Owners: none

orbital: Fix EventLoop::run_app_on_demand
  winit-orbital/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: @jackpot51

examples: Use tracing macros instead of println!
  clippy.toml
  winit-common/src/event_handler.rs
  winit-win32/src/keyboard_layout.rs
  winit-x11/src/util/mod.rs
  winit/build.rs
  winit/examples/child_window.rs
  winit/examples/control_flow.rs
  winit/examples/dnd.rs
  winit/examples/ime.rs
  winit/examples/pump_events.rs
  winit/examples/run_on_demand.rs
  winit/examples/util/tracing.rs
  winit/examples/window.rs
  winit/examples/x11_embed.rs
Owners: @madsmtm, @kchibisov

Remove symlinking between winit-appkit and winit-uikit (#4530)
  winit-appkit/Cargo.toml
  winit-appkit/src/event_loop.rs
  winit-appkit/src/lib.rs
  winit-common/Cargo.toml
  winit-common/src/foundation/mod.rs
  winit-common/src/foundation/notification_center.rs
  winit-common/src/lib.rs
  winit-uikit/Cargo.toml
  winit-uikit/src/event_loop.rs
  winit-uikit/src/lib.rs
  winit-uikit/src/notification_center.rs
Owners: @madsmtm

Synchronize changelogs with v0.30.13
  winit/src/changelog/unreleased.md
  winit/src/changelog/v0.30.md
  winit/src/changelog/v0.31.md
Owners: none

Fix issue template labels (#4421)
  .github/ISSUE_TEMPLATE/bug_appkit.yml
  .github/ISSUE_TEMPLATE/bug_uikit.yml
  .github/ISSUE_TEMPLATE/bug_win32.yml
Owners: none

Warn on exhaustive exported enums
  winit-android/src/lib.rs
  winit-appkit/src/lib.rs
  winit-common/src/lib.rs
  winit-core/src/cursor.rs
  winit-core/src/event.rs
  winit-core/src/event_loop/mod.rs
  winit-core/src/event_loop/pump_events.rs
  winit-core/src/keyboard.rs
  winit-core/src/lib.rs
  winit-core/src/window.rs
  winit-orbital/src/event_loop.rs
  winit-orbital/src/lib.rs
  winit-uikit/src/lib.rs
  winit-wayland/src/lib.rs
  winit-web/src/lib.rs
  winit-win32/src/lib.rs
  winit-x11/src/lib.rs
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

chore: avoid `unsafe` in examples
  winit/Cargo.toml
  winit/examples/application.rs
  winit/examples/child_window.rs
  winit/examples/control_flow.rs
  winit/examples/dnd.rs
  winit/examples/ime.rs
  winit/examples/pump_events.rs
  winit/examples/run_on_demand.rs
  winit/examples/util/fill.rs
  winit/examples/window.rs
  winit/examples/x11_embed.rs
Owners: none

fix: win32 taskbar_created deadlock
  winit-win32/src/event_loop.rs
Owners: none

Update to softbuffer v0.4.8
  Cargo.toml
Owners: none

Remove leftover apple/appkit/mod.rs (#4533)
  winit/src/platform_impl/apple/appkit/mod.rs
Owners: none

winit-core/ime: implement `Error` for `ImeSurroundingTextError`
  winit-core/src/window.rs
Owners: none

AppKit: Use fn_addr_eq now that it's in MSRV (#4532)
  winit-appkit/src/app.rs
Owners: @madsmtm

Remove indentation in fill.rs helper
  winit/examples/util/fill.rs
Owners: none

Refactor usage of CFRunLoopObserver (#4349)
  winit-appkit/src/app_state.rs
  winit-appkit/src/event_loop.rs
  winit-appkit/src/observer.rs
  winit-appkit/src/window_delegate.rs
  winit-common/Cargo.toml
  winit-common/src/core_foundation/main_run_loop.rs
  winit-common/src/core_foundation/main_run_loop_observer.rs
  winit-common/src/core_foundation/mod.rs
  winit-uikit/src/event_loop.rs
Owners: @madsmtm

Use the MSRV-aware resolver instead of pinning versions in CI
  .github/workflows/ci.yml
  Cargo.toml
Owners: none

Mark extensible enums in winit-core as #[non_exhaustive]
  winit-android/src/event_loop.rs
  winit-appkit/src/cursor.rs
  winit-appkit/src/dnd.rs
  winit-appkit/src/event_loop.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/cursor.rs
  winit-core/src/data_transfer.rs
  winit-core/src/event.rs
  winit-core/src/event_loop/mod.rs
  winit-core/src/icon.rs
  winit-core/src/keyboard.rs
  winit-core/src/monitor.rs
  winit-core/src/window.rs
  winit-orbital/src/window.rs
  winit-uikit/src/window.rs
  winit-wayland/src/dnd.rs
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
  winit-web/src/cursor.rs
  winit-web/src/web_sys/event.rs
  winit-web/src/web_sys/fullscreen.rs
  winit-web/src/web_sys/pointer.rs
  winit-win32/src/dnd.rs
  winit-win32/src/event_loop.rs
  winit-win32/src/window.rs
  winit-x11/src/util/cursor.rs
  winit-x11/src/window.rs
  winit/examples/application.rs
  winit/examples/ime.rs
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

fix(winit-orbital): handle `EINTR` when reading from `event_socket`
  winit-orbital/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: @jackpot51

winit-core: add `EventLoopProvider` for common methods
  winit-core/src/application/mod.rs
  winit-core/src/event_loop/mod.rs
  winit-core/src/event_loop/run_on_demand.rs
  winit/src/changelog/unreleased.md
  winit/src/event_loop.rs
  winit/src/lib.rs
Owners: none

wayland: don't send set_buffer_scale on wl_surface below version 3
  winit-wayland/src/window/state.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

Winit version 0.31.0-beta.3
  Cargo.toml
  README.md
  winit-android/src/lib.rs
  winit/src/changelog/unreleased.md
  winit/src/changelog/v0.31.md
Owners: @MarijnS95

AppKit: Trace sendEvent: calls
  winit-appkit/src/app.rs
Owners: @madsmtm

macOS: fix borderless game resetting after switching spaces (#4482)
  winit-appkit/src/window_delegate.rs
  winit/examples/application.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

winit-orbital: provide last mouse position with button events
  winit-orbital/src/event_loop.rs
Owners: @jackpot51

winit-x11: don't classify VM tablet pointers as pens
  winit-x11/src/atoms.rs
  winit-x11/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

orbital: Merge TextInputEvent and KeyEvent together (#4663)
  winit-orbital/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: @jackpot51

On macOS, add fullscreen auxiliary window support
  winit-appkit/src/lib.rs
  winit-appkit/src/window_delegate.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

UIKit: Add tracing spans
  winit-uikit/src/event_loop.rs
  winit-uikit/src/view.rs
  winit-uikit/src/view_controller.rs
  winit-uikit/src/window.rs
Owners: @madsmtm
