Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

Update macos.rs
  src/platform/macos.rs
Owners: @madsmtm

Update window.rs
  src/platform_impl/macos/appkit/window.rs
Owners: @madsmtm

add missing self
  src/platform/macos.rs
Owners: @madsmtm

Update window.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

Fix mentions of Wasm
  FEATURES.md
  src/event_loop.rs
  src/window.rs
Owners: none

On Web, remove `Window::is_dark_mode()`
  CHANGELOG.md
  src/platform/web.rs
  src/platform_impl/web/web_sys/mod.rs
Owners: @daxpedda

Fix mentions of Wasm (#2950)
  FEATURES.md
  src/event_loop.rs
  src/window.rs
Owners: none

On Web, remove `Window::is_dark_mode()` (#2951)
  CHANGELOG.md
  src/platform/web.rs
  src/platform_impl/web/web_sys/mod.rs
Owners: @daxpedda

On Web, add `WindowBuilderExtWebSys::with_append()`
  CHANGELOG.md
  examples/web.rs
  examples/web_aspect_ratio.rs
  src/platform/web.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

Improve documentation of `WindowBuilderExtWebSys` methods
  src/platform/web.rs
Owners: @daxpedda

support for window states on macos and windows
  src/platform_impl/macos/window_delegate.rs
  src/platform_impl/windows/event_loop.rs
Owners: @madsmtm, @msiglreith

Replace parts of the Xlib backend with x11-rb
  Cargo.toml
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/atoms.rs
  src/platform_impl/linux/x11/dnd.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/ime/context.rs
  src/platform_impl/linux/x11/ime/input_method.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/monitor.rs
  src/platform_impl/linux/x11/util/atom.rs
  src/platform_impl/linux/x11/util/client_msg.rs
  src/platform_impl/linux/x11/util/cursor.rs
  src/platform_impl/linux/x11/util/format.rs
  src/platform_impl/linux/x11/util/geometry.rs
  src/platform_impl/linux/x11/util/hint.rs
  src/platform_impl/linux/x11/util/input.rs
  src/platform_impl/linux/x11/util/memory.rs
  src/platform_impl/linux/x11/util/mod.rs
  src/platform_impl/linux/x11/util/modifiers.rs
  src/platform_impl/linux/x11/util/randr.rs
  src/platform_impl/linux/x11/util/window_property.rs
  src/platform_impl/linux/x11/util/wm.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/linux/x11/xdisplay.rs
Owners: @kchibisov

Improve documentation of `WindowBuilderExtWebSys` methods (#2952)
  src/platform/web.rs
Owners: @daxpedda

On Web, add `WindowBuilderExtWebSys::with_append()` (#2953)
  CHANGELOG.md
  examples/web.rs
  examples/web_aspect_ratio.rs
  src/platform/web.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

On macOS, add tabbing APIs
  CHANGELOG.md
  examples/window_tabbing.rs
  src/platform/macos.rs
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/appkit/tab_group.rs
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

On macOS, add tabbing APIs
  CHANGELOG.md
  examples/window_tabbing.rs
  src/platform/macos.rs
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/appkit/tab_group.rs
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

On macOS, move automatic tabbing setting to ELWT
  CHANGELOG.md
  src/platform/macos.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

On macOS, move automatic tabbing setting to ELWT
  CHANGELOG.md
  src/platform/macos.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

Set tabbingMode on all macOS windows so that new tabs are correctly created as tabs, rather than separate windows. (see https://github.com/rust-windowing/winit/pull/2956#issuecomment-1634647001)
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

Only set tabbing mode when tabbing identifier is set.
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

On macOS, set that we prefer tabbing
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

On macOS, add a way to query amount of tabbed windows
  examples/window_tabbing.rs
  src/platform/macos.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

On macOS, add a way to query amount of tabbed windows
  examples/window_tabbing.rs
  src/platform/macos.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

On Wayland, make the CSD frame double click reliable
  CHANGELOG.md
  src/platform_impl/linux/wayland/seat/pointer/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

On Wayland, make the CSD frame double click reliable
  CHANGELOG.md
  src/platform_impl/linux/wayland/seat/pointer/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

Adapt the return value of the function is_hidden of a frame to validate the fact that the window is decorated or not
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

Suggesting the handling of the window drag in the drag resize example
  examples/window_drag_resize.rs
Owners: none

On Wayland, fix `Window::is_decorated` with CSD
  examples/window_drag_resize.rs
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

x11: reload dpi on PropertyChangeEvent
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/util/randr.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

On Windows, add `drag_resize_window` method support
  CHANGELOG.md
  FEATURES.md
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith

Fix formatting
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Add `platform::startup_notify` for Wayland/X11
  CHANGELOG.md
  Cargo.toml
  examples/startup_notification.rs
  src/event.rs
  src/event_loop.rs
  src/platform/mod.rs
  src/platform/startup_notify.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/types/xdg_activation.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/activation.rs
  src/platform_impl/linux/x11/atoms.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/linux/x11/xdisplay.rs
  src/window.rs
Owners: @kchibisov

Add `platform::startup_notify` for Wayland/X11
  CHANGELOG.md
  Cargo.toml
  examples/startup_notification.rs
  src/event.rs
  src/event_loop.rs
  src/platform/mod.rs
  src/platform/startup_notify.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/types/xdg_activation.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/activation.rs
  src/platform_impl/linux/x11/atoms.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/linux/x11/xdisplay.rs
  src/window.rs
Owners: @kchibisov

On Windows, add `drag_resize_window` method support (#2966)
  CHANGELOG.md
  FEATURES.md
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith

Replace libc with rustix in some modules
  Cargo.toml
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/linux/x11/xdisplay.rs
Owners: @kchibisov

feat: Cross-platform popup windows
  CHANGELOG.md
  FEATURES.md
  examples/window_popup.rs
  src/platform/mod.rs
  src/platform/popup.rs
  src/platform/windows.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
Owners: @msiglreith, @kchibisov

Re-implement for X11 with x11rb
  examples/window_popup.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Make rustix non-optional
  Cargo.toml
Owners: none

Replace libc with rustix in some modules
  Cargo.toml
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/linux/x11/xdisplay.rs
Owners: @kchibisov

Correctly detect that we don't support Emscripten
  build.rs
Owners: none

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51
