Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51

Split into modules
  src/platform_impl/web/async.rs
  src/platform_impl/web/async/channel.rs
  src/platform_impl/web/async/dispatcher.rs
  src/platform_impl/web/async/mod.rs
  src/platform_impl/web/async/waker.rs
  src/platform_impl/web/async/wrapper.rs
  src/platform_impl/web/event_loop/proxy.rs
Owners: @daxpedda

Improve reworked code
  src/platform_impl/web/async/dispatcher.rs
  src/platform_impl/web/async/waker.rs
  src/platform_impl/web/async/wrapper.rs
Owners: @daxpedda

Reimplement `Waker` type without channels
  src/platform_impl/web/async/waker.rs
  src/platform_impl/web/event_loop/proxy.rs
Owners: @daxpedda

Merge `Arc`s
  src/platform_impl/web/async/channel.rs
  src/platform_impl/web/async/waker.rs
Owners: @daxpedda

Split `Waker` into `WakerSpawner` and `Waker`
  src/platform_impl/web/async/mod.rs
  src/platform_impl/web/async/waker.rs
  src/platform_impl/web/async/wrapper.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/proxy.rs
Owners: @daxpedda

Simplify `Dispatcher` drop behavior
  src/platform_impl/web/async/channel.rs
  src/platform_impl/web/async/dispatcher.rs
Owners: @daxpedda

Remove unnecessary `has_focus` optimization
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

Return `EventLoopClosed` instead of panicking
  src/platform_impl/web/event_loop/proxy.rs
Owners: @daxpedda

Don't close prematurely
  src/platform_impl/web/async/channel.rs
  src/platform_impl/web/async/waker.rs
  src/platform_impl/web/async/wrapper.rs
Owners: @daxpedda

Encapsulate `unsafe` impl's
  src/platform_impl/web/async/wrapper.rs
Owners: @daxpedda

Move `WakerSpawner` into `EventLoopWindowTarget`
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/proxy.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
Owners: @daxpedda

Pre-fetch user events when possible
  src/platform_impl/web/async/waker.rs
  src/platform_impl/web/event_loop/runner.rs
Owners: @daxpedda

Pre-fetch window commands when possible
  src/platform_impl/web/async/channel.rs
  src/platform_impl/web/async/dispatcher.rs
  src/platform_impl/web/async/mod.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

Replace unnecessary `RwLock` with `RefCell`
  src/platform_impl/web/async/dispatcher.rs
  src/platform_impl/web/async/waker.rs
  src/platform_impl/web/async/wrapper.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

Web Async Rework (#3082)
  src/platform_impl/web/async.rs
  src/platform_impl/web/async/channel.rs
  src/platform_impl/web/async/dispatcher.rs
  src/platform_impl/web/async/mod.rs
  src/platform_impl/web/async/waker.rs
  src/platform_impl/web/async/wrapper.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/proxy.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

Updated `WM_MOUSEMOVE` to detect cursor enter and left to client area if needed.
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

Add from_url_with_hotspot to CustomCursorIconExtWeb
  src/icon.rs
  src/platform/web.rs
Owners: @daxpedda

Android: map unknown `Keycodes` `Key::Unidentified`
  src/platform_impl/android/keycodes.rs
Owners: @msiglreith

Upgrade to `ndk 0.8`, `ndk-sys 0.5` + `android-activity 0.5` releases
  CHANGELOG.md
  Cargo.toml
  src/platform_impl/android/keycodes.rs
  src/platform_impl/android/mod.rs
Owners: @msiglreith

Upgrade to `ndk 0.8`, `ndk-sys 0.5` + `android-activity 0.5` releases
  CHANGELOG.md
  Cargo.toml
  src/platform_impl/android/keycodes.rs
  src/platform_impl/android/mod.rs
Owners: @msiglreith

Remove resolved deny.toml entries
  Cargo.toml
  deny.toml
Owners: none

Remove resolved deny.toml entries
  Cargo.toml
  deny.toml
Owners: none

Make `WindowBuilder` `Send + Sync`
  CHANGELOG.md
  src/lib.rs
  src/platform/web.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
  tests/send_objects.rs
  tests/sync_object.rs
Owners: @daxpedda, @madsmtm, @kchibisov, @msiglreith

Make `WindowBuilder` `Send + Sync`
  CHANGELOG.md
  src/lib.rs
  src/platform/web.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
  tests/send_objects.rs
  tests/sync_object.rs
Owners: @daxpedda, @madsmtm, @kchibisov, @msiglreith

On macOS, fix globe key triggering assertion
  CHANGELOG.md
  src/platform_impl/macos/view.rs
Owners: @madsmtm

moved the kind detection to its own method
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

fmt the code
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

On macOS, fix globe key triggering assertion
  CHANGELOG.md
  src/platform_impl/macos/view.rs
Owners: @madsmtm

removed unsafe from get_pointer_move_kind function and moved to end of file.
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Implement `PartialOrd`/`Ord` for `KeyCode`/`NativeKeyCode`
  CHANGELOG.md
  src/keyboard.rs
Owners: none

Fix recent CI failures (#3041)
  src/event.rs
  src/platform/web.rs
  src/platform_impl/android/keycodes.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/windows/mod.rs
Owners: @daxpedda, @msiglreith, @kchibisov

Use `frame` instead of `visibleRect` (#3043)
  CHANGELOG.md
  clippy.toml
  src/platform_impl/macos/appkit/view.rs
  src/platform_impl/macos/view.rs
Owners: @madsmtm

Use `setTimeout()` trick instead of `Window.requestIdleCallback()` (#3044)
  CHANGELOG.md
  Cargo.toml
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/state.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/web_sys/schedule.rs
  src/platform_impl/web/web_sys/timeout.rs
Owners: @daxpedda

On Web, never return a `MonitorHandle` (#3051)
  CHANGELOG.md
  src/event_loop.rs
  src/monitor.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/monitor.rs
  src/platform_impl/web/window.rs
  src/window.rs
Owners: @daxpedda

Improve CI caching, and give each job names
  .github/workflows/ci.yml
Owners: none

Make iOS fully thread safe (#3045)
  CHANGELOG.md
  src/platform/ios.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/ios/monitor.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/macos/app.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window_delegate.rs
Owners: @madsmtm

Lock the cargo-apk deps on CI
  .github/workflows/ci.yml
Owners: none

Fix macOS deminiaturize (#3054)
  CHANGELOG.md
  src/platform_impl/macos/appkit/window.rs
Owners: @madsmtm
