Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51

On X11, set visual_id in raw-window-handle
  CHANGELOG.md
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Switch to using x11rb for event handling
  Cargo.toml
  src/platform_impl/linux/x11/dnd.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/event_processor/client_message.rs
  src/platform_impl/linux/x11/event_processor/input.rs
  src/platform_impl/linux/x11/event_processor/key_press.rs
  src/platform_impl/linux/x11/event_processor/mod.rs
  src/platform_impl/linux/x11/event_processor/notify.rs
  src/platform_impl/linux/x11/event_processor/randr.rs
  src/platform_impl/linux/x11/event_processor/xkb.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/util/input.rs
  src/platform_impl/linux/x11/util/mod.rs
Owners: @kchibisov

Fix event loop not waking up due to repeat source
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/seat/keyboard/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
Owners: @kchibisov

Fix event loop not waking up due to repeat source
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/seat/keyboard/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
Owners: @kchibisov

Android: Support unicode character mapping + dead keys
  Cargo.toml
  src/platform_impl/android/keycodes.rs
  src/platform_impl/android/mod.rs
Owners: @msiglreith

Android: Support unicode character mapping + dead keys
  Cargo.toml
  src/platform_impl/android/keycodes.rs
  src/platform_impl/android/mod.rs
Owners: @msiglreith

Add a way to embed the X11 window into another
  src/platform/x11.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/atoms.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Add an example for X11 embedding
  examples/x11_embed.rs
  src/platform/x11.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Add CHANGELOG entry
  CHANGELOG.md
Owners: none

Fix failing doctest
  src/platform/x11.rs
Owners: @kchibisov

iOS: Use NSOperatingSystemVersion from icrate
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/ffi.rs
Owners: @madsmtm

iOS: Use NSOperatingSystemVersion from icrate (#3019)
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/ffi.rs
Owners: @madsmtm

Use new Ime::DeleteSurroundingText instead of Ime::Replace
  src/event.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/linux/wayland/seat/text_input/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith, @kchibisov, @madsmtm, @jackpot51

Add a way to embed the X11 window into another
  CHANGELOG.md
  examples/x11_embed.rs
  src/platform/x11.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/atoms.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Fix touch force for Apple Pencil
  CHANGELOG.md
  src/platform_impl/ios/view.rs
Owners: @madsmtm

Fix touch force for Apple Pencil
  CHANGELOG.md
  src/platform_impl/ios/view.rs
Owners: @madsmtm

Reexport raw-window-handle in window module
  CHANGELOG.md
  examples/child_window.rs
  src/window.rs
Owners: none

Reexport raw-window-handle in window module
  CHANGELOG.md
  examples/child_window.rs
  src/window.rs
Owners: none

Pin android-activity git dependency
  Cargo.toml
Owners: none

Begin using MainThreadMarker in event_loop.rs
  src/platform_impl/macos/event_loop.rs
Owners: @madsmtm

Make macOS backend much more thread-safe
  Cargo.toml
  src/platform/macos.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/util.rs
  src/platform_impl/macos/util/async.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @madsmtm, @msiglreith, @kchibisov, @jackpot51, @daxpedda

Make macOS and web backends share infrastructure for main thread safety
  src/platform/web.rs
  src/platform_impl/web/async.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/window.rs
  src/window.rs
Owners: @daxpedda

Make iOS windows usable from other threads
  CHANGELOG.md
  Cargo.toml
  src/platform/ios.rs
  src/platform_impl/ios/window.rs
Owners: @madsmtm

Fix clippy error on web
  src/platform_impl/web/window.rs
Owners: @daxpedda

Remove `'static` requirement from `Dispatcher::queue`
  src/platform_impl/web/async.rs
  src/platform_impl/web/window.rs
  src/window.rs
Owners: @daxpedda

Add documentation about threading behavior
  src/window.rs
Owners: none

Fix web name
  src/window.rs
Owners: none

Pin android-activity git dependency
  Cargo.toml
Owners: none

Improve macOS/iOS/Web thread safety
  CHANGELOG.md
  Cargo.toml
  src/platform/ios.rs
  src/platform/macos.rs
  src/platform/web.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/util.rs
  src/platform_impl/macos/util/async.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/async.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @madsmtm, @daxpedda, @msiglreith, @kchibisov, @jackpot51

Fix typos on Web (#2933)
  src/event.rs
Owners: none

Don't unnecessarily clone canvas on Web (#2934)
  src/platform_impl/web/web_sys/mod.rs
Owners: @daxpedda

Stop using `&mut` in Objective-C delegate methods (#2925)
  src/platform_impl/ios/ffi.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/appkit/responder.rs
  src/platform_impl/macos/appkit/view.rs
  src/platform_impl/macos/util/async.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Owners: @madsmtm

On X11, avoid false positive key repeats
  CHANGELOG.md
  src/platform_impl/linux/common/xkb_state.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

On Web, implement `WindowEvent::Occluded` (#2940)
  CHANGELOG.md
  Cargo.toml
  examples/web.rs
  src/event.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/intersection_handle.rs
  src/platform_impl/web/web_sys/mod.rs
Owners: @daxpedda

Fix touch location accuracy (#2944)
  CHANGELOG.md
  src/platform_impl/web/web_sys/event.rs
  src/platform_impl/web/web_sys/pointer.rs
Owners: @daxpedda

Rename `Window::set_inner_size` to `Window::request_inner_size`
  CHANGELOG.md
  examples/multithreaded.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

Improve Web specific documentation for various APIs (#2941)
  src/event.rs
  src/platform/web.rs
  src/window.rs
Owners: @daxpedda

Increase accuracy of various Web APIs (#2946)
  CHANGELOG.md
  src/platform/web.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/intersection_handle.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/window.rs
  src/window.rs
Owners: @daxpedda

On Web, cache commonly used values (#2947)
  clippy.toml
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/web_sys/resize_scaling.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

Add Fullscreen API compatibility for Safari (#2948)
  CHANGELOG.md
  clippy.toml
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/fullscreen.rs
  src/platform_impl/web/web_sys/mod.rs
Owners: @daxpedda
