Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51

add changelog entry
  CHANGELOG.md
Owners: none

fix refresh_rate_millihertz on macOS (#3254)
  CHANGELOG.md
  src/platform_impl/macos/monitor.rs
Owners: @madsmtm

Changes and improvements to the documentation (#3253)
  CONTRIBUTING.md
  FEATURES.md
  HALL_OF_CHAMPIONS.md
  README.md
  docs/res/ATTRIBUTION.md
  src/dpi.rs
  src/lib.rs
Owners: none

Add DWMWA_SYSTEMBACKDROP_TYPE support on Windows
  CHANGELOG.md
  FEATURES.md
  src/platform/windows.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
Owners: @msiglreith

On Windows, ime area exclude rect calc error
  src/platform_impl/windows/ime.rs
Owners: @msiglreith

Improve enum docs and some fixes
  src/platform/windows.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Remove redundant cast
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Fix formatting
  src/platform/windows.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
Owners: @msiglreith

On Windows, avoid panic in `video_modes()`
  src/platform_impl/windows/monitor.rs
Owners: @msiglreith

On Windows, avoid panic in `video_modes()`
  src/platform_impl/windows/monitor.rs
Owners: @msiglreith

Update to x11rb 0.13.0
  Cargo.toml
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

m: Update to x11rb 0.13.0
  Cargo.toml
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Discard changes to CHANGELOG.md
  CHANGELOG.md
Owners: none

make it configurable
  CHANGELOG.md
  src/platform/windows.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
Owners: @msiglreith

On Windows, fix `set_fullscreen` early return for `Fullscreen::Borderless(None)`
  CHANGELOG.md
  src/platform_impl/windows/window.rs
Owners: @msiglreith

review suggestions
  src/platform_impl/windows/window.rs
Owners: @msiglreith

On Wayland, make `wl_subcompositor` protocol optional
  CHANGELOG.md
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

On Wayland, make `wl_subcompositor` protocol optional
  CHANGELOG.md
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

Add custom cursor icon support on Windows, temporarily using Icon
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
  src/window.rs
Owners: @msiglreith

Add custom cursor example
  examples/cursor.rs
Owners: none

Fix custom cursor creating with hotspot
  src/platform_impl/windows/icon.rs
Owners: @msiglreith

Adjust cursor example
  examples/cursor.rs
Owners: none

Fix `set_cursor_custom_icon` platform assert
  src/window.rs
Owners: none

Fix lint
  examples/cursor.rs
  src/window.rs
Owners: none

Replace `Option.and_then` to `map`
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

Fix incorrect mask; Fix a compatibility issue with fully transparent images
  src/platform_impl/windows/icon.rs
Owners: @msiglreith

Fix typo in `get_xft_dpi`
  CHANGELOG.md
  src/platform_impl/linux/x11/util/randr.rs
Owners: @kchibisov

Fix typo in `get_xft_dpi`
  CHANGELOG.md
  src/platform_impl/linux/x11/util/randr.rs
Owners: @kchibisov

Update `sctk-adwaita` to 0.8
  Cargo.toml
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

Update `sctk-adwaita` to 0.8
  Cargo.toml
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

On Windows, fix `set_fullscreen` early return for `Fullscreen::Borderless(None)`
  CHANGELOG.md
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Implement custom cursor images for all desktop platforms
  Cargo.toml
  examples/custom_cursors.rs
  examples/data/cross.png
  examples/data/cross2.png
  src/cursor.rs
  src/lib.rs
  src/platform/web.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/types/cursor.rs
  src/platform_impl/linux/wayland/types/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/platform_impl/linux/x11/util/cursor.rs
  src/platform_impl/linux/x11/util/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/appkit/bitmap_image_rep.rs
  src/platform_impl/macos/appkit/cursor.rs
  src/platform_impl/macos/appkit/image.rs
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/mod.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/cursor.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/icon.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
  src/window.rs
  tests/send_objects.rs
  tests/sync_object.rs
Owners: @daxpedda, @msiglreith, @madsmtm, @kchibisov, @jackpot51

Web: general improvements
  Cargo.toml
  src/platform_impl/web/cursor.rs
Owners: @daxpedda

Web: generate a cached data URL
  Cargo.toml
  src/platform_impl/web/cursor.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

Handle windows custom cursor creation errors better
  src/platform_impl/windows/icon.rs
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Simplify wayland custom cursor creation
  Cargo.toml
  src/platform_impl/linux/wayland/types/cursor.rs
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

Fix documentation error
  src/cursor.rs
Owners: none

macOS: work around clippy false positive
  src/platform_impl/macos/appkit/bitmap_image_rep.rs
Owners: @madsmtm

Web: change Rc usage to be 1.65 compatible
  src/platform_impl/web/cursor.rs
Owners: @daxpedda

Fix BadImage Error implementation
  src/cursor.rs
Owners: none
