Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51

Add Occluded and MemoryWarning events for iOS/Android
  CHANGELOG.md
  src/event.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/view.rs
Owners: @msiglreith, @madsmtm

Fix CHANGELOG entry for Event::MemoryWarning
  CHANGELOG.md
Owners: none

feat: Implement set_cursor_hittest for X11
  FEATURES.md
  src/platform_impl/linux/x11/window.rs
  src/window.rs
Owners: @kchibisov

Update to new raw-window-handle strategy
  Cargo.toml
  deny.toml
  examples/child_window.rs
  examples/util/fill.rs
  src/event_loop.rs
  src/lib.rs
  src/platform/ios.rs
  src/platform/macos.rs
  src/platform/windows.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @madsmtm, @msiglreith, @kchibisov, @jackpot51, @daxpedda

Fix ndk deps versions
  Cargo.toml
Owners: none

Update SCTK to 0.18.0
  CHANGELOG.md
  Cargo.toml
  deny.toml
  src/event.rs
  src/platform_impl/linux/common/xkb_state.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/seat/keyboard/mod.rs
  src/platform_impl/linux/wayland/seat/mod.rs
  src/platform_impl/linux/wayland/seat/pointer/mod.rs
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

Fix potentially unaligned references in X11 device
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

Implement `AsFd`/`AsRawFd` for `EventLoop<T>`
  CHANGELOG.md
  src/event_loop.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

Web Async Rework (#3082)
  src/platform_impl/web/async.rs
  src/platform_impl/web/async/channel.rs
  src/platform_impl/web/async/dispatcher.rs
  src/platform_impl/web/async/mod.rs
  src/platform_impl/web/async/waker.rs
  src/platform_impl/web/async/wrapper.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/proxy.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

Add a note on `Window::request_redraw` on Windows
  src/window.rs
Owners: none

Upgrade to `ndk 0.8`, `ndk-sys 0.5` + `android-activity 0.5` releases
  CHANGELOG.md
  Cargo.toml
  src/platform_impl/android/keycodes.rs
  src/platform_impl/android/mod.rs
Owners: @msiglreith

Remove resolved deny.toml entries
  Cargo.toml
  deny.toml
Owners: none

Make `WindowBuilder` `Send + Sync`
  CHANGELOG.md
  src/lib.rs
  src/platform/web.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
  tests/send_objects.rs
  tests/sync_object.rs
Owners: @daxpedda, @madsmtm, @kchibisov, @msiglreith

On macOS, fix globe key triggering assertion
  CHANGELOG.md
  src/platform_impl/macos/view.rs
Owners: @madsmtm

Winit version 0.29.2
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

On Windows, fix `CursorEntered`/`CursorLeft` not sent during mouse grab
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

Fix examples not render on Wayland
  Cargo.toml
Owners: none

Fix examples not render on Wayland
  Cargo.toml
Owners: none

Ensure that DISPLAY vars are non-empty before using
  src/platform_impl/linux/mod.rs
Owners: @kchibisov

Remove garbage from README
  README.md
Owners: none

Rename Key::Action -> Key::Named, enum Action -> NamedKey
  examples/control_flow.rs
  examples/cursor_grab.rs
  examples/fullscreen.rs
  examples/ime.rs
  examples/multithreaded.rs
  examples/multiwindow.rs
  examples/window_resize_increments.rs
  examples/window_tabbing.rs
  src/event.rs
  src/keyboard.rs
  src/platform_impl/android/keycodes.rs
  src/platform_impl/linux/common/keymap.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/web/keyboard.rs
  src/platform_impl/web/web_sys/event.rs
  src/platform_impl/windows/keyboard.rs
  src/platform_impl/windows/keyboard_layout.rs
Owners: @msiglreith, @madsmtm, @daxpedda

tests/serde_objects.rs: add NamedKey
  tests/serde_objects.rs
Owners: none

Ensure that DISPLAY vars are non-empty before using
  src/platform_impl/linux/mod.rs
Owners: @kchibisov

Remove TODO (unnecessary validation)
  src/platform_impl/windows/keyboard_layout.rs
Owners: @msiglreith

Revise Key and KeyCode enums
  examples/control_flow.rs
  examples/cursor_grab.rs
  examples/fullscreen.rs
  examples/ime.rs
  examples/multithreaded.rs
  examples/multiwindow.rs
  examples/resizable.rs
  examples/startup_notification.rs
  examples/web.rs
  examples/window_debug.rs
  examples/window_resize_increments.rs
  examples/window_tabbing.rs
  src/event.rs
  src/keyboard.rs
  src/platform/scancode.rs
  src/platform_impl/android/keycodes.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/linux/common/keymap.rs
  src/platform_impl/linux/common/xkb_state.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/keyboard.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/event.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/keyboard.rs
  src/platform_impl/windows/keyboard_layout.rs
  tests/serde_objects.rs
Owners: @msiglreith, @kchibisov, @madsmtm, @jackpot51, @daxpedda

Remove garbage from README
  README.md
Owners: none

On macOS, fix tabGroup misuse
  CHANGELOG.md
  src/platform_impl/macos/appkit/tab_group.rs
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

On macOS, fix tabGroup misuse
  CHANGELOG.md
  src/platform_impl/macos/appkit/tab_group.rs
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/window.rs
Owners: @madsmtm

Remove remapping of button ids in X11
  CHANGELOG.md
  src/platform_impl/linux/x11/event_processor.rs
Owners: @kchibisov

On Windows, fix `RedrawRequested` delivery
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
  src/window.rs
Owners: @msiglreith

On iOS, add configuration for status bar style
  CHANGELOG.md
  FEATURES.md
  src/platform/ios.rs
  src/platform_impl/ios/uikit/mod.rs
  src/platform_impl/ios/uikit/status_bar_style.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
Owners: @madsmtm

Support ModifiersState: Ord
  src/keyboard.rs
Owners: none

On Windows, fix invalid hmonitor panic
  src/platform_impl/windows/monitor.rs
Owners: @msiglreith

Implement `Ord`/`PartialOrd` for `ModifiersState`
  src/keyboard.rs
Owners: none

On Windows, fix `RedrawRequested` delivery
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
  src/window.rs
Owners: @msiglreith

Fix doc links
  src/event_loop.rs
  src/window.rs
Owners: none

On Windows, fix IME APIs MT-safety
  CHANGELOG.md
  src/platform_impl/windows/window.rs
Owners: @msiglreith

On Windows, fix IME APIs MT-safety
  CHANGELOG.md
  src/platform_impl/windows/window.rs
Owners: @msiglreith

feat(windows): Fix inconsistency in mouse button device events, add hwheel device event on Windows
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/raw_input.rs
Owners: @msiglreith

Fix rwhd_05 doc links
  src/event_loop.rs
  src/window.rs
Owners: none
