Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda, @jackpot51, @richerfu, @jschwe

windows: don't confine hidden cursor
  winit-win32/src/window_state.rs
  winit/src/changelog/unreleased.md
Owners: none

Return immediately from run_app on web
  winit-core/src/event_loop/run_on_demand.rs
  winit-uikit/src/event_loop.rs
  winit-web/src/event_loop/mod.rs
  winit-web/src/event_loop/runner.rs
  winit-web/src/event_loop/window_target.rs
  winit-web/src/lib.rs
  winit-web/src/web_sys/mod.rs
  winit/src/changelog/unreleased.md
  winit/src/event_loop.rs
Owners: @madsmtm, @daxpedda

Add register_app and run_app_never_return
  winit-android/src/event_loop.rs
  winit-appkit/src/event_loop.rs
  winit-core/src/event_loop/mod.rs
  winit-core/src/event_loop/never_return.rs
  winit-core/src/event_loop/register.rs
  winit-core/src/event_loop/run_on_demand.rs
  winit-orbital/src/event_loop.rs
  winit-uikit/src/event_loop.rs
  winit-wayland/src/event_loop/mod.rs
  winit-web/src/event_loop/mod.rs
  winit-win32/src/event_loop.rs
  winit-x11/src/event_loop.rs
  winit/examples/run_on_demand.rs
  winit/src/changelog/unreleased.md
  winit/src/event_loop.rs
  winit/src/platform_impl/linux/mod.rs
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

examples/application.rs: add Alt+S: Action::EmitSurfaceSize
  winit/examples/application.rs
Owners: none

Add changelog entry
  winit/src/changelog/unreleased.md
Owners: none

win32: retain PhysicalSize of surface to avoid emitting size zero on minimize
  winit-win32/src/event_loop.rs
  winit-win32/src/window.rs
  winit-win32/src/window_state.rs
Owners: none

chore: latest typos
  winit-appkit/src/event.rs
  winit-core/src/event.rs
  winit-core/src/window.rs
  winit-win32/src/event_loop.rs
Owners: @madsmtm

winit-core: revise MouseButton type
  winit-appkit/src/view.rs
  winit-core/src/event.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-web/src/web_sys/event.rs
  winit-web/src/web_sys/pointer.rs
  winit-win32/src/event_loop.rs
  winit-x11/src/event_processor.rs
  winit/examples/application.rs
Owners: @madsmtm, @kchibisov, @daxpedda

chore: latest typos
  winit-appkit/src/event.rs
  winit-core/src/event.rs
  winit-core/src/window.rs
  winit-win32/src/event_loop.rs
Owners: @madsmtm

winit-core: revise MouseButton type
  winit-appkit/src/view.rs
  winit-core/src/event.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-web/src/web_sys/event.rs
  winit-web/src/web_sys/pointer.rs
  winit-win32/src/event_loop.rs
  winit-x11/src/event_processor.rs
  winit/examples/application.rs
Owners: @madsmtm, @kchibisov, @daxpedda

winit-win32: prevent inner size reported as (0,0) when minimized
  winit-win32/src/event_loop.rs
  winit-win32/src/window.rs
  winit-win32/src/window_state.rs
  winit/examples/application.rs
  winit/src/changelog/unreleased.md
Owners: none

win32: update `DeviceEvent::Button` to `DeviceEvent::PointerButton`
  winit-win32/src/event_loop.rs
  winit-win32/src/raw_input.rs
Owners: none

x11: update `DeviceEvent::Button` to `DeviceEvent::PointerButton`
  winit-x11/src/event_processor.rs
Owners: @kchibisov

api: revamp device event button API
  winit-core/src/event.rs
Owners: none

web: update `DeviceEvent::Button` to `DeviceEvent::PointerButton`
  winit-web/src/event_loop/runner.rs
Owners: @daxpedda

appkit: update `DeviceEvent::Button` to `DeviceEvent::PointerButton`
  winit-appkit/src/app.rs
  winit-appkit/src/view.rs
Owners: @madsmtm

changelog: add device pointer button to pointer overhaul entry
  winit/src/changelog/unreleased.md
Owners: none

update `ButtonSource` docs
  winit-core/src/event.rs
Owners: none

winit-appkit: commit even if marked text is nothing.
  winit-appkit/src/view.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

appkit: let `valid_attributes_for_marked_text` report winit metadata.
  winit-appkit/src/view.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

X11: set_cursor_hittest failures are OS errors
  winit-x11/src/window.rs
Owners: @kchibisov

Remove variant RequestError::Ignored
  winit-appkit/src/window_delegate.rs
  winit-core/src/error.rs
  winit-core/src/event.rs
Owners: @madsmtm

impl From<RequestError> for EventLoopError
  winit-core/src/error.rs
Owners: none

appkit: patch a unit test issue in `monitor.rs` regarding display ID.
  winit-appkit/src/monitor.rs
  winit-appkit/src/view.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/seat/pointer/relative_pointer.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm, @kchibisov

macOS: fix a crash when dragging non-file content onto window
  winit-appkit/src/window_delegate.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

address ci format check
  winit-appkit/src/window_delegate.rs
Owners: @madsmtm

avoid 'let ... else' formatting
  winit-appkit/src/window_delegate.rs
Owners: @madsmtm

macOS: fix a crash when dragging non-file content onto window
  winit-appkit/src/window_delegate.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

appkit: patch a unit test issue in `monitor.rs` regarding display ID.
  winit-appkit/src/monitor.rs
Owners: @madsmtm

winit-appkit: fix tests on systems without MonitorId(1)
  winit-appkit/src/monitor.rs
Owners: @madsmtm

appkit: let `valid_attributes_for_marked_text` report winit metadata.
  winit-appkit/src/view.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

appkit: improve API interaction with InputMethodKit.
  winit-appkit/src/view.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

appkit: fix a regression regarding hotkey failures.
  winit-appkit/src/view.rs
Owners: @madsmtm

Winit version 0.31.0-beta.1
  Cargo.toml
  README.md
  winit-android/src/lib.rs
  winit/src/changelog/unreleased.md
  winit/src/changelog/v0.31.md
Owners: @MarijnS95

chore: fix clippy on X11
  winit-x11/src/ime/context.rs
  winit/Cargo.toml
Owners: @kchibisov

chore: fix clippy on X11
  winit-x11/src/ime/context.rs
  winit/Cargo.toml
Owners: @kchibisov

Winit version 0.31.0-beta.1
  Cargo.toml
  README.md
  winit-android/src/lib.rs
  winit/src/changelog/unreleased.md
  winit/src/changelog/v0.31.md
Owners: @MarijnS95

Winit version 0.31.0-beta.1
  Cargo.toml
  README.md
  winit-android/src/lib.rs
  winit/src/changelog/unreleased.md
  winit/src/changelog/v0.31.md
Owners: @MarijnS95

Bump version on master
  Cargo.toml
  README.md
  winit-android/src/lib.rs
  winit/src/changelog/unreleased.md
  winit/src/changelog/v0.31.md
Owners: @MarijnS95

Bump version on master
  Cargo.toml
  README.md
  winit-android/src/lib.rs
  winit/src/changelog/unreleased.md
  winit/src/changelog/v0.31.md
Owners: @MarijnS95

.github/CODEOWNERS:

# Android
/winit-android                      @MarijnS95

# Apple (AppKit + UIKit)
/winit-appkit                       @madsmtm
/winit-uikit                        @madsmtm
/winit-common/src/core_foundation   @madsmtm
/winit-common/src/event_handler.rs  @madsmtm

# XKB
/winit-common/src/xkb               @kchibisov

# Wayland
/winit-wayland                      @kchibisov

# X11
/winit-x11                          @kchibisov

# Web
/winit-web                          @daxpedda

# Windows (Win32) (UNOWNED)
#/winit-win32                       

# Orbital (Redox OS)
/winit-orbital                      @jackpot51

# OpenHarmony
/winit-ohos                         @richerfu @jschwe
