Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda, @jackpot51, @richerfu, @jschwe

Apple: Trace CFRunLoop activities
  winit-appkit/src/event_loop.rs
  winit-common/src/core_foundation/mod.rs
  winit-common/src/core_foundation/tracing_observers.rs
  winit-uikit/src/event_loop.rs
Owners: @madsmtm

Apple: Use tracing spans instead of custom trace_scope! macro
  winit-appkit/src/app_state.rs
  winit-appkit/src/event_loop.rs
  winit-appkit/src/util.rs
  winit-appkit/src/view.rs
  winit-appkit/src/window.rs
  winit-appkit/src/window_delegate.rs
  winit/src/event_loop.rs
Owners: @madsmtm

examples: Use tracing macros instead of println!
  clippy.toml
  winit-common/src/event_handler.rs
  winit-win32/src/keyboard_layout.rs
  winit-x11/src/util/mod.rs
  winit/build.rs
  winit/examples/child_window.rs
  winit/examples/control_flow.rs
  winit/examples/dnd.rs
  winit/examples/ime.rs
  winit/examples/pump_events.rs
  winit/examples/run_on_demand.rs
  winit/examples/util/tracing.rs
  winit/examples/window.rs
  winit/examples/x11_embed.rs
Owners: @madsmtm, @kchibisov

Apple: Track spans across queued closures
  winit-common/src/core_foundation/main_run_loop.rs
Owners: @madsmtm

examples: Always use tracing helper module
  winit/examples/pump_events.rs
  winit/examples/run_on_demand.rs
  winit/examples/x11_embed.rs
Owners: none

AppKit: Trace sendEvent: calls
  winit-appkit/src/app.rs
Owners: @madsmtm

example: Fix tracing registration in pump_events
  winit/examples/pump_events.rs
Owners: none

UIKit: Add tracing spans
  winit-uikit/src/event_loop.rs
  winit-uikit/src/view.rs
  winit-uikit/src/view_controller.rs
  winit-uikit/src/window.rs
Owners: @madsmtm

examples: Always use tracing helper module
  winit/examples/pump_events.rs
  winit/examples/run_on_demand.rs
  winit/examples/x11_embed.rs
Owners: none

AppKit: Trace sendEvent: calls
  winit-appkit/src/app.rs
Owners: @madsmtm

Apple: Trace CFRunLoop activities
  winit-appkit/src/event_loop.rs
  winit-common/src/core_foundation/mod.rs
  winit-common/src/core_foundation/tracing_observers.rs
  winit-uikit/src/event_loop.rs
Owners: @madsmtm

example: Fix tracing registration in pump_events
  winit/examples/pump_events.rs
Owners: none

UIKit: Add tracing spans
  winit-uikit/src/event_loop.rs
  winit-uikit/src/view.rs
  winit-uikit/src/view_controller.rs
  winit-uikit/src/window.rs
Owners: @madsmtm

examples: Use tracing macros instead of println!
  clippy.toml
  winit-common/src/event_handler.rs
  winit-win32/src/keyboard_layout.rs
  winit-x11/src/util/mod.rs
  winit/build.rs
  winit/examples/child_window.rs
  winit/examples/control_flow.rs
  winit/examples/dnd.rs
  winit/examples/ime.rs
  winit/examples/pump_events.rs
  winit/examples/run_on_demand.rs
  winit/examples/util/tracing.rs
  winit/examples/window.rs
  winit/examples/x11_embed.rs
Owners: @madsmtm, @kchibisov

Apple: Track spans across queued closures
  winit-common/src/core_foundation/main_run_loop.rs
Owners: @madsmtm

Apple: Use tracing spans instead of custom trace_scope! macro
  winit-appkit/src/app_state.rs
  winit-appkit/src/event_loop.rs
  winit-appkit/src/util.rs
  winit-appkit/src/view.rs
  winit-appkit/src/window.rs
  winit-appkit/src/window_delegate.rs
  winit/src/event_loop.rs
Owners: @madsmtm

Remove hacky symlinking between winit-appkit and winit-uikit
  winit-appkit/Cargo.toml
  winit-appkit/src/event_loop.rs
  winit-appkit/src/lib.rs
  winit-common/Cargo.toml
  winit-common/src/foundation/mod.rs
  winit-common/src/foundation/notification_center.rs
  winit-common/src/lib.rs
  winit-uikit/Cargo.toml
  winit-uikit/src/event_loop.rs
  winit-uikit/src/lib.rs
  winit-uikit/src/notification_center.rs
Owners: @madsmtm

Remove leftover apple/appkit/mod.rs
  winit/src/platform_impl/apple/appkit/mod.rs
Owners: none

AppKit: Use fn_addr_eq now that it's in MSRV
  winit-appkit/src/app.rs
Owners: @madsmtm

AppKit: Launch app inside EventLoop::new
  winit-appkit/src/app_state.rs
  winit-appkit/src/event_loop.rs
  winit-appkit/src/lib.rs
  winit/src/changelog/unreleased.md
  winit/src/event_loop.rs
Owners: @madsmtm

Android: Add further scancode conversions
  winit-android/src/keycodes.rs
  winit/src/changelog/unreleased.md
Owners: @MarijnS95

Android: Add further scancode conversions (#4023)
  winit-android/src/keycodes.rs
  winit/src/changelog/unreleased.md
Owners: @MarijnS95

fix(macos): remove private API CGSSetWindowBackgroundBlurRadius
  scripts/rebase-upstream.sh
  winit-appkit/src/ffi.rs
  winit-appkit/src/window_delegate.rs
Owners: @madsmtm

Fix DPI feedback loop when moving window between monitors on Windows 11
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/util.rs
Owners: none

add stylus specific-platform notes
  winit-core/src/event.rs
Owners: none

Fix typo: dependant -> dependent in comments
  winit-web/src/monitor.rs
  winit/src/event_loop.rs
Owners: @daxpedda

macOS: Feature-gate CGSSetWindowBackgroundBlurRadius
  winit-appkit/Cargo.toml
  winit-appkit/src/ffi.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/window.rs
  winit/Cargo.toml
  winit/src/changelog/unreleased.md
  winit/src/lib.rs
Owners: @madsmtm

fix(typo): dependant -> dependent (#4540)
  winit-web/src/monitor.rs
  winit/src/event_loop.rs
Owners: @daxpedda

initial commit to implement popup
  winit-wayland/Cargo.toml
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/lib.rs
  winit-wayland/src/popup.rs
  winit-wayland/src/popup/state.rs
Owners: @kchibisov

Fix compilation
  winit-wayland/src/popup.rs
  winit-wayland/src/popup/state.rs
  winit-wayland/src/state.rs
Owners: @kchibisov

chore: set xdg_toplevel_icon from specific shell
  winit-wayland/src/lib.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

feat: use layer_shell to instance layer
  winit-wayland/src/lib.rs
  winit-wayland/src/window/mod.rs
Owners: @kchibisov

feat(wayland): global viewport and fractional scaling
  winit-wayland/src/window/state.rs
Owners: @kchibisov

chore: base of wayland layer_shell needed
  winit-wayland/src/lib.rs
  winit-wayland/src/output.rs
  winit-wayland/src/state.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

fix: change visibility of params
  winit-wayland/src/window/state.rs
Owners: @kchibisov

feat: set wayland namespace attribute
  winit-wayland/src/lib.rs
  winit-wayland/src/window/mod.rs
Owners: @kchibisov

feat: optional layer_shell and return error to notify when is required
  winit-wayland/src/state.rs
  winit-wayland/src/window/mod.rs
Owners: @kchibisov

fix(wayland): fractional scale destroy
  winit-wayland/src/window/state.rs
Owners: @kchibisov

fix: clippy suggestion on using box
  winit-wayland/src/window/state.rs
Owners: @kchibisov

refactor: move fractional scale from specific state to main window state
  winit-wayland/src/window/state.rs
Owners: @kchibisov

.github/CODEOWNERS:

# Android
/winit-android                      @MarijnS95

# Apple (AppKit + UIKit)
/winit-appkit                       @madsmtm
/winit-uikit                        @madsmtm
/winit-common/src/core_foundation   @madsmtm
/winit-common/src/event_handler.rs  @madsmtm

# XKB
/winit-common/src/xkb               @kchibisov

# Wayland
/winit-wayland                      @kchibisov

# X11
/winit-x11                          @kchibisov

# Web
/winit-web                          @daxpedda

# Windows (Win32) (UNOWNED)
#/winit-win32                       

# Orbital (Redox OS)
/winit-orbital                      @jackpot51

# OpenHarmony
/winit-ohos                         @richerfu @jschwe
