Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda, @jackpot51, @richerfu, @jschwe

.github/CODEOWNERS:

# Android
/winit-android                      @MarijnS95

# Apple (AppKit + UIKit)
/winit-appkit                       @madsmtm
/winit-uikit                        @madsmtm
/winit-common/src/core_foundation   @madsmtm
/winit-common/src/event_handler.rs  @madsmtm

# XKB
/winit-common/src/xkb               @kchibisov

# Wayland
/winit-wayland                      @kchibisov

# X11
/winit-x11                          @kchibisov

# Web
/winit-web                          @daxpedda

# Windows (Win32) (UNOWNED)
#/winit-win32                       

# Orbital (Redox OS)
/winit-orbital                      @jackpot51

# OpenHarmony
/winit-ohos                         @richerfu @jschwe

ci: test MSRV on Rust 1.86 and drop the lockfile version pins
  .github/workflows/ci.yml
Owners: none

deny: allow new advisories, syn duplicate, and libc script
  deny.toml
Owners: none

winit-core: add `EventLoopProvider` for common methods
  winit-core/src/application/mod.rs
  winit-core/src/event_loop/mod.rs
  winit-core/src/event_loop/run_on_demand.rs
  winit/src/changelog/unreleased.md
  winit/src/event_loop.rs
  winit/src/lib.rs
Owners: none

chore: implement `EventLoopProvider` in each winit-* crate
  winit-android/src/event_loop.rs
  winit-appkit/src/event_loop.rs
  winit-orbital/src/event_loop.rs
  winit-uikit/src/event_loop.rs
  winit-wayland/src/event_loop/mod.rs
  winit-web/src/event_loop/mod.rs
  winit-win32/src/event_loop.rs
  winit-x11/src/event_loop.rs
  winit/src/event_loop.rs
  winit/src/platform_impl/linux/mod.rs
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

chore: implement `EventLoopProvider` in each winit-* crate
  winit-android/src/event_loop.rs
  winit-appkit/src/event_loop.rs
  winit-orbital/src/event_loop.rs
  winit-uikit/src/event_loop.rs
  winit-wayland/src/event_loop/mod.rs
  winit-web/src/event_loop/mod.rs
  winit-win32/src/event_loop.rs
  winit-x11/src/event_loop.rs
  winit/src/event_loop.rs
  winit/src/platform_impl/linux/mod.rs
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

winit-core: add `EventLoopProvider` for common methods
  winit-core/src/application/mod.rs
  winit-core/src/event_loop/mod.rs
  winit-core/src/event_loop/run_on_demand.rs
  winit/src/changelog/unreleased.md
  winit/src/event_loop.rs
  winit/src/lib.rs
Owners: none

win32: fix continuous-input redraw starvation
  winit-core/src/window.rs
  winit-win32/src/event_loop.rs
  winit-win32/src/event_loop/runner.rs
  winit-win32/src/window.rs
  winit-win32/src/window_state.rs
  winit/src/changelog/unreleased.md
Owners: none

winit-x11: don't classify VM tablet pointers as pens
  winit-x11/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

Revert "win32: fix continuous-input redraw starvation"
  winit-core/src/window.rs
  winit-win32/src/event_loop.rs
  winit-win32/src/event_loop/runner.rs
  winit-win32/src/window.rs
  winit-win32/src/window_state.rs
  winit/src/changelog/unreleased.md
Owners: none

x11: fix crash when XInput 2 is unavailable
  winit-x11/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

move anchoring system into the window trait instead of a dedicated popup trait
  winit-android/src/event_loop.rs
  winit-appkit/src/window.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/lib.rs
  winit-core/src/window.rs
  winit-core/src/window/positioner.rs
  winit-orbital/src/window.rs
  winit-uikit/src/window.rs
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/popup.rs
  winit-wayland/src/window/state.rs
  winit-web/src/window.rs
  winit-win32/src/window.rs
  winit-win32/src/window_state.rs
  winit-x11/src/window.rs
  winit/src/changelog/unreleased.md
  winit/src/lib.rs
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

orbital: Fix EventLoop::run_app_on_demand
  winit-orbital/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: @jackpot51

orbital: Fix EventLoop::run_app_on_demand
  winit-orbital/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: @jackpot51

orbital: Merge TextInputEvent and KeyEvent together
  winit-orbital/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: @jackpot51

orbital: Handle window closes during app drop
  winit-orbital/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: @jackpot51

orbital: Handle window closes during app drop
  winit-orbital/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: @jackpot51

orbital: Merge TextInputEvent and KeyEvent together (#4663)
  winit-orbital/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: @jackpot51

Windows, MacOs: rename popup_ to window_ because it is not limited to popups only
  winit-appkit/src/window_delegate.rs
  winit-win32/src/window.rs
  winit-win32/src/window_state.rs
Owners: @madsmtm

Windows, MacOs: rename popup_ to window_ because it is not limited to popups only
  winit-appkit/src/window.rs
  winit-appkit/src/window_delegate.rs
  winit-win32/src/window.rs
Owners: @madsmtm

format
  winit-appkit/src/window_delegate.rs
  winit-win32/src/window.rs
Owners: @madsmtm

add another test
  winit-core/src/window/positioner.rs
Owners: none

fix clipping of the trailing edge
  winit-core/src/window/positioner.rs
Owners: none

fix review
  winit-appkit/src/window.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/window.rs
  winit-core/src/window/positioner.rs
  winit-wayland/src/popup.rs
  winit-win32/src/event_loop.rs
  winit-win32/src/window.rs
Owners: @madsmtm, @kchibisov

revert unrelated comparsions
  winit-android/src/event_loop.rs
  winit-orbital/src/window.rs
  winit-uikit/src/window.rs
  winit-web/src/window.rs
Owners: @MarijnS95, @jackpot51, @madsmtm, @daxpedda

use default to align with windows and macos
  winit-wayland/src/popup.rs
Owners: @kchibisov

add tvos support to 0.30
  .github/workflows/ci.yml
  Cargo.toml
  build.rs
  examples/util/fill.rs
  src/changelog/unreleased.md
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/view_controller.rs
Owners: none

Android: Compare scale factors exactly
  winit-android/src/event_loop.rs
Owners: @MarijnS95

align with rest of the code
  winit-win32/src/event_loop.rs
Owners: none

create a single function with_positioner passing a struct instead of having many single functions
  winit-appkit/src/window.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/window.rs
  winit-core/src/window/positioner.rs
  winit-wayland/src/popup.rs
  winit-wayland/src/window/state.rs
  winit-win32/src/window.rs
  winit-win32/src/window_state.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm, @kchibisov

fix consistent usage of inner and outer surface size for the anchor placement
  winit-appkit/src/window_delegate.rs
  winit-win32/src/window.rs
Owners: @madsmtm

instead of an option for the positioner anchor rect use a proper default
  winit-appkit/src/window_delegate.rs
  winit-core/src/window.rs
  winit-wayland/src/popup.rs
  winit-win32/src/window.rs
Owners: @madsmtm, @kchibisov

make WindowPositioner non exhaustive
  winit-core/src/window.rs
  winit-wayland/src/popup.rs
Owners: @kchibisov

Revert taking userdata as Box otherwise I am taking ownership
  winit-win32/src/event_loop.rs
Owners: none

use directly the positioner to place_window
  winit-appkit/src/window_delegate.rs
  winit-core/src/window/positioner.rs
  winit-win32/src/window.rs
Owners: @madsmtm

center windows if there is no parent
  winit-appkit/src/window_delegate.rs
Owners: @madsmtm

add example
  winit/examples/popup.rs
Owners: none

add dot
  winit/examples/popup.rs
Owners: none

macOS: implement `set_blur` using `NSVisualEffectView`
  .github/workflows/ci.yml
  winit-appkit/Cargo.toml
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/window.rs
  winit/src/changelog/unreleased.md
  winit/src/lib.rs
Owners: @madsmtm

fix example when clicking outside of the window
  winit/examples/popup.rs
Owners: none

use the work area instead of the display area for clipping.
  winit-win32/src/monitor.rs
  winit-win32/src/window.rs
Owners: none
