Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda, @jackpot51, @richerfu, @jschwe

win32: fix ime setcontext lparam
  winit-win32/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: none

Bump version on master
  Cargo.toml
  README.md
  winit-android/src/lib.rs
  winit/src/changelog/unreleased.md
  winit/src/changelog/v0.31.md
Owners: @MarijnS95

x11: implement clipboard support via the data transfer API
  winit-x11/Cargo.toml
  winit-x11/src/atoms.rs
  winit-x11/src/data_transfer.rs
  winit-x11/src/dnd.rs
  winit-x11/src/event_loop.rs
  winit-x11/src/event_processor.rs
  winit-x11/src/ffi.rs
  winit-x11/src/lib.rs
  winit-x11/src/util/window_property.rs
  winit-x11/src/window.rs
  winit-x11/src/xdisplay.rs
Owners: @kchibisov

Bump version on master
  Cargo.toml
  README.md
  winit-android/src/lib.rs
  winit/src/changelog/unreleased.md
  winit/src/changelog/v0.31.md
Owners: @MarijnS95

Fix stale pointer hover during macOS live resize
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/event.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

fix: ensure window type is always set when using WS_EX_TOPMOST
  winit-win32/src/window_state.rs
  winit/src/changelog/unreleased.md
Owners: none

.github/CODEOWNERS:

# Android
/winit-android                      @MarijnS95

# Apple (AppKit + UIKit)
/winit-appkit                       @madsmtm
/winit-uikit                        @madsmtm
/winit-common/src/core_foundation   @madsmtm
/winit-common/src/event_handler.rs  @madsmtm

# XKB
/winit-common/src/xkb               @kchibisov

# Wayland
/winit-wayland                      @kchibisov

# X11
/winit-x11                          @kchibisov

# Web
/winit-web                          @daxpedda

# Windows (Win32) (UNOWNED)
#/winit-win32                       

# Orbital (Redox OS)
/winit-orbital                      @jackpot51

# OpenHarmony
/winit-ohos                         @richerfu @jschwe
