Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

Web: increase cursor position accuracy
  CHANGELOG.md
  src/platform_impl/web/web_sys/event.rs
Owners: @daxpedda

Web: increase cursor position accuracy (#3380)
  CHANGELOG.md
  src/platform_impl/web/web_sys/event.rs
Owners: @daxpedda

Update Redox (#3368)
  Cargo.toml
  deny.toml
Owners: none

Fix missing text content in KeyEvent for backspace and escape.
  src/platform_impl/web/web_sys/event.rs
Owners: @daxpedda

Add change to changelog
  CHANGELOG.md
Owners: none

Fix unused import
  src/platform_impl/web/web_sys/event.rs
Owners: @daxpedda

Implement more sophisticated abortion mechanic
  Cargo.toml
  src/platform_impl/web/async/abortable.rs
  src/platform_impl/web/async/mod.rs
  src/platform_impl/web/cursor.rs
Owners: @daxpedda

Rename `Async(Receiver|Sender)` to `Receiver|Sender`
  src/platform_impl/web/async/channel.rs
  src/platform_impl/web/async/dispatcher.rs
  src/platform_impl/web/async/mod.rs
  src/platform_impl/web/main_thread.rs
Owners: @daxpedda

Switch to async-based custom cursor notification
  Cargo.toml
  examples/custom_cursors.rs
  src/platform_impl/web/async/abortable.rs
  src/platform_impl/web/async/mod.rs
  src/platform_impl/web/async/notifier.rs
  src/platform_impl/web/cursor.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

Disable dependencies for single-threaded Wasm
  Cargo.toml
  src/platform_impl/web/async/abortable.rs
  src/platform_impl/web/async/atomic_waker.rs
  src/platform_impl/web/async/channel.rs
  src/platform_impl/web/async/concurrent_queue.rs
  src/platform_impl/web/async/mod.rs
  src/platform_impl/web/async/notifier.rs
  src/platform_impl/web/async/waker.rs
Owners: @daxpedda

Add `CustomCursorBuilder::build_async()`
  Cargo.toml
  src/platform/web.rs
  src/platform_impl/web/async/mod.rs
  src/platform_impl/web/async/notifier.rs
  src/platform_impl/web/cursor.rs
  src/platform_impl/web/mod.rs
Owners: @daxpedda

Refactor to avoid code duplication
  src/platform_impl/web/cursor.rs
Owners: @daxpedda

Add `CustomCursor::from_animation()`
  CHANGELOG.md
  examples/custom_cursors.rs
  src/platform/web.rs
  src/platform_impl/web/cursor.rs
  src/platform_impl/web/web_sys/canvas.rs
Owners: @daxpedda

Web: improve custom cursor handling and add animated cursors (#3384)
  CHANGELOG.md
  Cargo.toml
  examples/custom_cursors.rs
  src/platform/web.rs
  src/platform_impl/web/async/abortable.rs
  src/platform_impl/web/async/atomic_waker.rs
  src/platform_impl/web/async/channel.rs
  src/platform_impl/web/async/concurrent_queue.rs
  src/platform_impl/web/async/dispatcher.rs
  src/platform_impl/web/async/mod.rs
  src/platform_impl/web/async/notifier.rs
  src/platform_impl/web/async/waker.rs
  src/platform_impl/web/cursor.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/main_thread.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

Windows: Set fullscreen or maximized after CreateWindowEx
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Initial ApplicationHandler
  examples/control_flow.rs
  examples/cursor_grab.rs
  src/event_helper.rs
  src/event_loop.rs
  src/handler.rs
  src/lib.rs
Owners: none

Begin migrating macOS and Orbital to ApplicationHandler
  src/event_loop.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/orbital/event_loop.rs
Owners: @madsmtm, @jackpot51

Remove generic parameter T from EventLoopWindowTarget
  CHANGELOG.md
  examples/child_window.rs
  examples/custom_cursors.rs
  src/cursor.rs
  src/event_loop.rs
  src/platform/android.rs
  src/platform/macos.rs
  src/platform/pump_events.rs
  src/platform/run_on_demand.rs
  src/platform/startup_notify.rs
  src/platform/wayland.rs
  src/platform/web.rs
  src/platform/x11.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/output.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/cursor.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/cursor.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/icon.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

Remove generic parameter T from EventLoopWindowTarget (#3298)
  CHANGELOG.md
  examples/child_window.rs
  examples/custom_cursors.rs
  src/cursor.rs
  src/event_loop.rs
  src/platform/android.rs
  src/platform/macos.rs
  src/platform/pump_events.rs
  src/platform/run_on_demand.rs
  src/platform/startup_notify.rs
  src/platform/wayland.rs
  src/platform/web.rs
  src/platform/x11.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/output.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/cursor.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/cursor.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/icon.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

Move activation and menu initialization to ApplicationDelegate
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/app_state.rs
Owners: @madsmtm

Move stop_on_launch to ApplicationDelegate
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
Owners: @madsmtm

Move stopping to ApplicationDelegate
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/app_state.rs
Owners: @madsmtm

Move launched state to ApplicationDelegate
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
Owners: @madsmtm

Move is_running state to ApplicationDelegate
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
Owners: @madsmtm

Move waker to ApplicationDelegate
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/observer.rs
Owners: @madsmtm

Move time fields to ApplicationDelegate
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
Owners: @madsmtm

Move queued events to ApplicationDelegate
  src/platform_impl/macos/app.rs
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/observer.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Owners: @madsmtm

Move conditional stop fields to ApplicationDelegate
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
Owners: @madsmtm

Move control flow state to ApplicationDelegate
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
Owners: @madsmtm

Move exit state to ApplicationDelegate
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
Owners: @madsmtm

Remove HANDLER global
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/view.rs
Owners: @madsmtm

Refactor stop_app_immediately
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/event_loop.rs
Owners: @madsmtm

Remove AppState
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/observer.rs
Owners: @madsmtm

Clean up implementation details in ApplicationDelegate
  src/platform_impl/macos/app_delegate.rs
Owners: @madsmtm

Make it explicit which event types we queue
  src/platform_impl/macos/app_delegate.rs
Owners: @madsmtm

macOS: Remove global `HANDLER` and `AppState` (#3389)
  src/platform_impl/macos/app.rs
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/observer.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Owners: @madsmtm

macOS: Remove unnecessary Mutex in window state
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Owners: @madsmtm

macOS: Remove unnecessary Mutex in window state (#3390)
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Owners: @madsmtm

Merge window and delegate state
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Owners: @madsmtm

macOS: Merge window and delegate state (#3391)
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Owners: @madsmtm

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51
