Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda, @jackpot51, @richerfu, @jschwe

fix: move scale_factor_for out of CoreWindow trait impl on Windows
  winit-win32/src/window.rs
Owners: none

Implement safe area for android
  winit-android/src/event_loop.rs
  winit-android/src/lib.rs
  winit-core/src/window.rs
  winit/src/changelog/unreleased.md
Owners: @MarijnS95

wayland: use `ext-background-effect` if available
  winit-core/src/window.rs
  winit-wayland/src/state.rs
  winit-wayland/src/types/blur.rs
  winit-wayland/src/types/ext_background_effect.rs
  winit-wayland/src/types/mod.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

Add SafeAreaChanged event
  winit-android/src/event_loop.rs
  winit-core/src/event.rs
  winit-uikit/src/view.rs
  winit-uikit/src/window.rs
  winit/examples/application.rs
  winit/src/changelog/unreleased.md
Owners: @MarijnS95, @madsmtm

Add Send and Sync to OwnedDisplayHandle
  winit-core/src/event_loop/mod.rs
Owners: none

Update fill.rs
  winit/examples/util/fill.rs
Owners: none

add new example
  winit/examples/win_with_soft.rs
Owners: none

fix(macOS) "fix" toggling IME on appkit backend
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

fix(macOS) "fix" toggling IME on appkit backend (#4512)
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

[no ci] (mostly) clean slate
  winit-appkit/Cargo.toml
  winit-appkit/src/view.rs
Owners: @madsmtm

Update win_with_soft.rs
  winit/examples/win_with_soft.rs
Owners: none

Update win_with_soft.rs
  winit/examples/win_with_soft.rs
Owners: none

Update fill.rs
  winit/examples/util/fill.rs
Owners: none

Update fill.rs
  winit/examples/util/fill.rs
Owners: none

Update fill.rs
  winit/examples/util/fill.rs
Owners: none

Update win_with_soft.rs
  winit/examples/win_with_soft.rs
Owners: none

Update win_with_soft.rs
  winit/examples/win_with_soft.rs
Owners: none

Update win_with_soft.rs
  winit/examples/win_with_soft.rs
Owners: none

Create win_with_soft_2.rs
  winit/examples/win_with_soft_2.rs
Owners: none

Update win_with_soft_2.rs
  winit/examples/win_with_soft_2.rs
Owners: none

Update win_with_soft_2.rs
  winit/examples/win_with_soft_2.rs
Owners: none

Update win_with_soft_2.rs
  winit/examples/win_with_soft_2.rs
Owners: none

Update win_with_soft_2.rs
  winit/examples/win_with_soft_2.rs
Owners: none

Update win_with_soft_2.rs
  winit/examples/win_with_soft_2.rs
Owners: none

Update win_with_soft_2.rs
  winit/examples/win_with_soft_2.rs
Owners: none

Add Send and Sync tests for OwnedDisplayHandle
  winit/tests/send_objects.rs
  winit/tests/sync_object.rs
Owners: none

Added Send and Sync for OwnedDisplayHandle
  winit/src/changelog/unreleased.md
Owners: none

remove commented-out xlib call
  winit-x11/src/util/keys.rs
Owners: @kchibisov

replace XQueryKeymap with equivalent x11rb call
  winit-x11/src/util/keys.rs
Owners: @kchibisov

complate keywrods and switch softbuffer source
  Cargo.toml
  winit-orbital/src/event_loop.rs
Owners: @jackpot51

Update unreleased.md
  winit/src/changelog/unreleased.md
Owners: none

Update event_loop.rs
  winit-orbital/src/event_loop.rs
Owners: @jackpot51

fix
  winit-orbital/src/event_loop.rs
  winit/examples/win_with_soft_2.rs
Owners: @jackpot51

fix: format
  winit-orbital/src/event_loop.rs
  winit/examples/win_with_soft.rs
Owners: @jackpot51

fix example file named "application.rs"
  winit/examples/application.rs
Owners: none

format example named applicatio.rs
  winit/examples/application.rs
Owners: none

wip junk
  winit-appkit/src/view.rs
Owners: @madsmtm

tracking area redux
  winit-appkit/Cargo.toml
  winit-appkit/src/view.rs
Owners: @madsmtm

experiment: `NSTrackingAreaOptions::InVisibleRect`
  winit-appkit/src/view.rs
Owners: @madsmtm

experiment(episode 2): no `TrackingArea` is best `TrackingArea`??
  winit-appkit/Cargo.toml
  winit-appkit/src/view.rs
Owners: @madsmtm

.github/CODEOWNERS:

# Android
/winit-android                      @MarijnS95

# Apple (AppKit + UIKit)
/winit-appkit                       @madsmtm
/winit-uikit                        @madsmtm
/winit-common/src/core_foundation   @madsmtm
/winit-common/src/event_handler.rs  @madsmtm

# XKB
/winit-common/src/xkb               @kchibisov

# Wayland
/winit-wayland                      @kchibisov

# X11
/winit-x11                          @kchibisov

# Web
/winit-web                          @daxpedda

# Windows (Win32) (UNOWNED)
#/winit-win32                       

# Orbital (Redox OS)
/winit-orbital                      @jackpot51

# OpenHarmony
/winit-ohos                         @richerfu @jschwe
