Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

Use `setTimeout` trick instead of `requestIdleCallback`
  CHANGELOG.md
  Cargo.toml
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/state.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/web_sys/timeout.rs
Owners: @daxpedda

Use a transparent color for the transparent example
  examples/transparent.rs
  examples/util/fill.rs
Owners: none

Update fill.rs
  examples/util/fill.rs
Owners: none

Use the Prioritized Task Scheduling API
  CHANGELOG.md
  Cargo.toml
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/state.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/web_sys/schedule.rs
  src/platform_impl/web/web_sys/timeout.rs
Owners: @daxpedda

Use `setTimeout()` trick instead of `Window.requestIdleCallback()` (#3044)
  CHANGELOG.md
  Cargo.toml
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/state.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/web_sys/schedule.rs
  src/platform_impl/web/web_sys/timeout.rs
Owners: @daxpedda

On Web, never return a `MonitorHandle`
  CHANGELOG.md
  src/event_loop.rs
  src/monitor.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/monitor.rs
  src/platform_impl/web/window.rs
  src/window.rs
Owners: @daxpedda

On Web, never return a `MonitorHandle` (#3051)
  CHANGELOG.md
  src/event_loop.rs
  src/monitor.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/monitor.rs
  src/platform_impl/web/window.rs
  src/window.rs
Owners: @daxpedda

Improve CI caching, and give each job names
  .github/workflows/ci.yml
Owners: none

macOS & iOS: Refactor EventWrapper
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/macos/app.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window_delegate.rs
Owners: @madsmtm

macOS & iOS: Make EventLoopWindowTarget independent of the user event
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
Owners: @madsmtm

iOS: Use MainThreadMarker instead of marking functions unsafe
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
Owners: @madsmtm

Make iOS thread safe
  CHANGELOG.md
  src/platform/ios.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/ios/monitor.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
Owners: @madsmtm

Lock the cargo-apk deps on CI
  .github/workflows/ci.yml
Owners: none

Make iOS fully thread safe (#3045)
  CHANGELOG.md
  src/platform/ios.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/ios/monitor.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/macos/app.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window_delegate.rs
Owners: @madsmtm

Lock the cargo-apk deps on CI
  .github/workflows/ci.yml
Owners: none

Fix macOS deminiaturize
  CHANGELOG.md
  src/platform_impl/macos/appkit/window.rs
Owners: @madsmtm

Make EventLoopWindowTarget independent of the user type on Orbital
  src/platform_impl/orbital/event_loop.rs
Owners: @jackpot51

Fix macOS deminiaturize (#3054)
  CHANGELOG.md
  src/platform_impl/macos/appkit/window.rs
Owners: @madsmtm

Add support for xinput using x11rb
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/util/input.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/linux/x11/xdisplay.rs
Owners: @kchibisov

Use x11rb to implement the xrandr extension
  Cargo.toml
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/ffi.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/monitor.rs
  src/platform_impl/linux/x11/util/input.rs
  src/platform_impl/linux/x11/util/randr.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/linux/x11/xdisplay.rs
Owners: @kchibisov

Use x11rb's resource_manager instead of Xrm
  Cargo.toml
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/util/randr.rs
  src/platform_impl/linux/x11/xdisplay.rs
Owners: @kchibisov

Replace some Xkb functions with x11rb ones
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/util/input.rs
Owners: @kchibisov

Review comments
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/util/randr.rs
  src/platform_impl/linux/x11/xdisplay.rs
Owners: @kchibisov

Review comments
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

Add back Xlib-Xinput2 device handling
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/xdisplay.rs
Owners: @kchibisov

Update based on feedback
  README.md
Owners: none

Add an MSRV policy to the README
  README.md
Owners: none

Accidentally'd a word
  README.md
Owners: none

Returning lost letters
  README.md
Owners: none

Review comments
  .github/workflows/ci.yml
  README.md
Owners: none

Enable event propagation
  CHANGELOG.md
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/event_handle.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/web_sys/pointer.rs
Owners: @daxpedda

Enable event propagation (#3062)
  CHANGELOG.md
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/event_handle.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/web_sys/pointer.rs
Owners: @daxpedda

Properly clean up event handlers
  src/platform_impl/web/web_sys/animation_frame.rs
  src/platform_impl/web/web_sys/canvas.rs
Owners: @daxpedda

Filter newly moved `WindowEvent::RedrawRequested`
  examples/web.rs
Owners: none

Remove unnecessary visibility on `DeviceEvents` detection helper
  src/platform_impl/web/event_loop/runner.rs
Owners: @daxpedda

Overhaul fullscreen functionality
  CHANGELOG.md
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/fullscreen.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/web_sys/pointer.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

Web: Fullscreen Overhaul (#3063)
  CHANGELOG.md
  examples/web.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/animation_frame.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/fullscreen.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/web_sys/pointer.rs
  src/platform_impl/web/window.rs
Owners: @daxpedda

Implement X11 extensions using x11rb instead of Xlib
  Cargo.toml
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/ffi.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/monitor.rs
  src/platform_impl/linux/x11/util/input.rs
  src/platform_impl/linux/x11/util/randr.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/linux/x11/xdisplay.rs
Owners: @kchibisov

Web implementation
  src/platform/web.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/state.rs
  src/platform_impl/web/event_loop/window_target.rs
Owners: @daxpedda

Linux implementation
  src/platform_impl/linux/mod.rs
Owners: @kchibisov

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51
