Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51

Correctly detect that we don't support Emscripten (#2971)
  build.rs
Owners: none

Add `Event::try_into_static`
  CHANGELOG.md
  examples/multithreaded.rs
  src/event.rs
  src/platform_impl/windows/event_loop/runner.rs
Owners: @msiglreith

Add `Event::try_clone`
  src/event.rs
Owners: none

Add EventLoopExtPumpEvents and EventLoopExtRunOnDemand
  src/error.rs
  src/platform/pump_events.rs
  src/platform/run_ondemand.rs
Owners: none

Android: Implement EventLoopExtPumpEvents and EventLoopExtRunOnDemand
  src/platform/mod.rs
  src/platform_impl/android/mod.rs
Owners: @msiglreith

Windows: Implement EventLoopExtPumpEvents and EventLoopExtRunOnDemand
  src/platform/mod.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith

Linux: Implement EventLoopExtPumpEvents and EventLoopExtRunOnDemand
  src/platform/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

MacOS: Implement EventLoopExtPumpEvents and EventLoopExtRunOnDemand
  src/platform/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
Owners: @madsmtm

Remove EventLoopExtRunReturn
  examples/window_run_return.rs
  src/event_loop.rs
  src/lib.rs
  src/platform/mod.rs
  src/platform/run_return.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith, @kchibisov, @madsmtm, @jackpot51

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Re-work event loop run() API so it can return a Result
  examples/child_window.rs
  examples/control_flow.rs
  examples/cursor.rs
  examples/cursor_grab.rs
  examples/custom_events.rs
  examples/drag_window.rs
  examples/fullscreen.rs
  examples/handling_close.rs
  examples/ime.rs
  examples/key_binding.rs
  examples/mouse_wheel.rs
  examples/multithreaded.rs
  examples/multiwindow.rs
  examples/request_redraw.rs
  examples/request_redraw_threaded.rs
  examples/resizable.rs
  examples/startup_notification.rs
  examples/theme.rs
  examples/timer.rs
  examples/touchpad_gestures.rs
  examples/transparent.rs
  examples/web.rs
  examples/web_aspect_ratio.rs
  examples/window.rs
  examples/window_buttons.rs
  examples/window_debug.rs
  examples/window_drag_resize.rs
  examples/window_icon.rs
  examples/window_option_as_alt.rs
  examples/window_resize_increments.rs
  examples/window_tabbing.rs
  src/event_loop.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith, @kchibisov, @madsmtm, @jackpot51

window_ondemand: wait for Destroyed event before exiting app
  examples/window_ondemand.rs
Owners: none

Linux: Sync with server/compositor before exiting run_ondemand
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

Add examples/window_ondemand
  examples/window_ondemand.rs
Owners: none

Add examples/window_pump_events
  examples/window_pump_events.rs
Owners: none

On Windows, set name of Window Class, closes #2977 allow to customize it instead of current value hard coded "Window Class"
  CHANGELOG.md
  FEATURES.md
  src/platform/windows.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
Owners: @msiglreith

Always set timer when polling to avoid slow waking
  src/platform_impl/ios/app_state.rs
Owners: @madsmtm

add comment and changelog
  CHANGELOG.md
  src/platform_impl/ios/app_state.rs
Owners: @madsmtm

MacOS: implement pump_events_with_timeout internally
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/observer.rs
Owners: @madsmtm

Windows: implement pump_events_with_timeout internally
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

Add timeout argument to pump_events
  examples/window_pump_events.rs
  src/platform/pump_events.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith, @kchibisov, @madsmtm

Re-work event loop run() API so it can return a Result
  examples/child_window.rs
  examples/control_flow.rs
  examples/cursor.rs
  examples/cursor_grab.rs
  examples/custom_events.rs
  examples/drag_window.rs
  examples/fullscreen.rs
  examples/handling_close.rs
  examples/ime.rs
  examples/key_binding.rs
  examples/mouse_wheel.rs
  examples/multithreaded.rs
  examples/multiwindow.rs
  examples/request_redraw.rs
  examples/request_redraw_threaded.rs
  examples/resizable.rs
  examples/startup_notification.rs
  examples/theme.rs
  examples/timer.rs
  examples/touchpad_gestures.rs
  examples/transparent.rs
  examples/web.rs
  examples/web_aspect_ratio.rs
  examples/window.rs
  examples/window_buttons.rs
  examples/window_debug.rs
  examples/window_drag_resize.rs
  examples/window_icon.rs
  examples/window_option_as_alt.rs
  examples/window_resize_increments.rs
  examples/window_tabbing.rs
  src/event_loop.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith, @kchibisov, @madsmtm, @jackpot51

Add examples/window_pump_events
  examples/window_pump_events.rs
Owners: none

Windows: Implement EventLoopExtPumpEvents and EventLoopExtRunOnDemand
  src/platform/mod.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Owners: @msiglreith

MacOS: Implement EventLoopExtPumpEvents and EventLoopExtRunOnDemand
  src/platform/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
Owners: @madsmtm

Add examples/window_ondemand
  examples/window_ondemand.rs
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Remove EventLoopExtRunReturn
  examples/window_run_return.rs
  src/event_loop.rs
  src/lib.rs
  src/platform/mod.rs
  src/platform/run_return.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith, @kchibisov, @madsmtm, @jackpot51

Add timeout argument to pump_events
  examples/window_pump_events.rs
  src/platform/pump_events.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith, @kchibisov, @madsmtm

MacOS: implement pump_events_with_timeout internally
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/observer.rs
Owners: @madsmtm

Linux: Implement EventLoopExtPumpEvents and EventLoopExtRunOnDemand
  src/platform/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
Owners: @kchibisov

window_ondemand: wait for Destroyed event before exiting app
  examples/window_ondemand.rs
Owners: none

Windows: implement pump_events_with_timeout internally
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith

Linux: Sync with server/compositor before exiting run_ondemand
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

Add EventLoopExtPumpEvents and EventLoopExtRunOnDemand
  src/error.rs
  src/platform/pump_events.rs
  src/platform/run_ondemand.rs
Owners: none

Android: Implement EventLoopExtPumpEvents and EventLoopExtRunOnDemand
  src/platform/mod.rs
  src/platform_impl/android/mod.rs
Owners: @msiglreith

iOS: Always set timer when polling to avoid slow waking (#2979)
  CHANGELOG.md
  src/platform_impl/ios/app_state.rs
Owners: @madsmtm

Rename `LoopDestroyed` to `LoopExiting`
  CHANGELOG.md
  src/event.rs
  src/event_loop.rs
  src/lib.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/observer.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

Rename `LoopDestroyed` to `LoopExiting`
  CHANGELOG.md
  src/event.rs
  src/event_loop.rs
  src/lib.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/observer.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

Remove RedrawEventsCleared + MainEventsCleared, and added AboutToWait
  CHANGELOG.md
  examples/control_flow.rs
  examples/web.rs
  examples/window.rs
  examples/window_ondemand.rs
  examples/window_option_as_alt.rs
  examples/window_pump_events.rs
  examples/window_resize_increments.rs
  src/event.rs
  src/event_loop.rs
  src/lib.rs
  src/platform/pump_events.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/observer.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda
