Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51

On X11, fix IME input lagging behind
  CHANGELOG.md
  src/platform_impl/linux/x11/event_processor.rs
Owners: @kchibisov

On X11, fix IME input lagging behind
  CHANGELOG.md
  src/platform_impl/linux/x11/event_processor.rs
Owners: @kchibisov

On X11, fix IME input lagging behind
  CHANGELOG.md
  src/platform_impl/linux/x11/event_processor.rs
Owners: @kchibisov

Winit version 0.29.8
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

On X11, cache the XRandR extension version
  src/platform_impl/linux/x11/monitor.rs
  src/platform_impl/linux/x11/xdisplay.rs
Owners: @kchibisov

On X11, fix IME input lagging behind
  CHANGELOG.md
  src/platform_impl/linux/x11/event_processor.rs
Owners: @kchibisov

On X11, update keymap on XkbMapNotify
  CHANGELOG.md
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

On X11, fix `ModifiersChanged` from xdotool
  CHANGELOG.md
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

On X11, query for higher Xrandr version
  CHANGELOG.md
  src/platform_impl/linux/x11/monitor.rs
Owners: @kchibisov

On Wayland, fix `Window::request_inner_size` during resize
  CHANGELOG.md
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/mod.rs
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
Owners: @kchibisov

Winit version 0.29.8
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

Bump version on master
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

Bump version on master
  CHANGELOG.md
  Cargo.toml
  README.md
Owners: none

Bump web-sys to 0.3.66
  Cargo.toml
Owners: none

lint
  src/platform_impl/ios/view.rs
Owners: @madsmtm

lint
  src/platform_impl/ios/view.rs
Owners: @madsmtm

support pinch and double tap gestures on iOS
  examples/touchpad_gestures.rs
  src/event.rs
  src/platform/ios.rs
  src/platform_impl/ios/uikit/gesture_recognizer.rs
  src/platform_impl/ios/uikit/mod.rs
  src/platform_impl/ios/uikit/view.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/macos/view.rs
Owners: @madsmtm

update
  src/platform_impl/ios/view.rs
Owners: @madsmtm

add rotation gesture
  examples/touchpad_gestures.rs
  src/event.rs
  src/platform/ios.rs
  src/platform_impl/ios/uikit/gesture_recognizer.rs
  src/platform_impl/ios/uikit/mod.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/macos/view.rs
Owners: @madsmtm

remove printlns
  src/platform_impl/ios/view.rs
Owners: @madsmtm

comments
  src/platform/ios.rs
Owners: @madsmtm

changelog
  CHANGELOG.md
Owners: none

unused import
  src/platform_impl/ios/view.rs
Owners: @madsmtm

On X11 and Wayland, fix arrow up being ArrowLeft
  CHANGELOG.md
  src/platform_impl/linux/common/keymap.rs
Owners: none

On X11 and Wayland, fix numpad up being ArrowLeft
  CHANGELOG.md
  src/platform_impl/linux/common/keymap.rs
Owners: none

Android: allow EventLoop recreation
  CHANGELOG.md
  src/event_loop.rs
  src/platform_impl/android/mod.rs
Owners: @msiglreith

Issue resize due to scale change on Wayland
  CHANGELOG.md
  src/platform_impl/linux/wayland/event_loop/mod.rs
Owners: @kchibisov

On X11, fix error propagation in EventLoop::new
  CHANGELOG.md
  src/platform_impl/linux/mod.rs
Owners: @kchibisov

Issue resize due to scale change on Wayland
  CHANGELOG.md
  src/platform_impl/linux/wayland/event_loop/mod.rs
Owners: @kchibisov

Implement modifier supplement and scancode traits at the top level
  src/platform/modifier_supplement.rs
  src/platform/scancode.rs
  src/platform/windows.rs
  src/platform_impl/linux/common/keymap.rs
  src/platform_impl/linux/common/xkb_state.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/windows/keyboard.rs
  src/platform_impl/windows/keyboard_layout.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/raw_input.rs
Owners: @msiglreith, @kchibisov, @madsmtm

Always display platform-specific documentation, regardless of target
  CHANGELOG.md
  Cargo.toml
  src/lib.rs
  src/platform/android.rs
  src/platform/ios.rs
  src/platform/macos.rs
  src/platform/mod.rs
  src/platform/modifier_supplement.rs
  src/platform/scancode.rs
  src/platform/wayland.rs
  src/platform/web.rs
  src/platform/windows.rs
  src/platform/x11.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/util/hint.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/linux/x11/xdisplay.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda

Add CI step for testing that cross-platform documentation works
  .github/workflows/ci.yml
Owners: none

Update after review
  src/platform/android.rs
  src/platform/web.rs
Owners: @msiglreith, @daxpedda

Display all platform-specific documentation on docs.rs (#3076)
  .github/workflows/ci.yml
  CHANGELOG.md
  Cargo.toml
  src/lib.rs
  src/platform/android.rs
  src/platform/ios.rs
  src/platform/macos.rs
  src/platform/mod.rs
  src/platform/modifier_supplement.rs
  src/platform/scancode.rs
  src/platform/wayland.rs
  src/platform/web.rs
  src/platform/windows.rs
  src/platform/x11.rs
  src/platform_impl/linux/common/keymap.rs
  src/platform_impl/linux/common/xkb_state.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/util/hint.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/linux/x11/xdisplay.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/windows/keyboard.rs
  src/platform_impl/windows/keyboard_layout.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/raw_input.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda

Test all docs.rs deployments
  .github/workflows/ci.yml
Owners: none

Test all docs.rs deployments (#3356)
  .github/workflows/ci.yml
Owners: none

Add Wasm atomic target to CI
  .github/workflows/ci.yml
Owners: none

Add Wasm atomic target to CI (#3357)
  .github/workflows/ci.yml
Owners: none

Fix missing target in docs.rs test
  .github/workflows/ci.yml
Owners: none

Fix missing target in docs.rs test (#3358)
  .github/workflows/ci.yml
Owners: none
