Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda, @jackpot51, @richerfu, @jschwe

Expose macOS fullscreen transition state
  winit-appkit/src/lib.rs
  winit-appkit/src/window_delegate.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

Expose macOS live resize state
  winit-appkit/src/lib.rs
  winit-appkit/src/window_delegate.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

win32: fix window `hwnd_dpi` leaks `HDC` handles
  winit-win32/src/dpi.rs
  winit/src/changelog/unreleased.md
Owners: none

make WindowType non_exhaustive
  winit-core/src/window.rs
  winit-wayland/src/event_loop/mod.rs
  winit-x11/src/window.rs
Owners: @kchibisov

macOS: add `WindowEvent::PointerButton::is_macos_activation_click`
  winit-android/src/event_loop.rs
  winit-appkit/src/lib.rs
  winit-appkit/src/view.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/event.rs
  winit-orbital/src/event_loop.rs
  winit-uikit/src/view.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/seat/touch/mod.rs
  winit-wayland/src/types/wp_tablet_input_v2.rs
  winit-web/src/event_loop/window_target.rs
  winit-win32/src/event_loop.rs
  winit-x11/src/event_processor.rs
  winit/examples/application.rs
  winit/src/changelog/unreleased.md
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

wayland: seal xdg-activation tokens with the latest pointer serial
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

fix review
  typos.toml
  winit-core/src/window.rs
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/popup.rs
  winit-win32/src/window_state.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

On macOS, add fullscreen auxiliary window support
  winit-appkit/src/lib.rs
  winit-appkit/src/window_delegate.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

return error if no parent was provided
  winit-win32/src/window.rs
Owners: none

outer_position shall return the position relative to the parent for popups
  winit-appkit/src/window_delegate.rs
  winit-core/src/window.rs
  winit-win32/src/window.rs
Owners: @madsmtm

anchor rect is mandatory
  winit-wayland/src/popup.rs
Owners: @kchibisov

make error! as function
  winit-wayland/src/popup.rs
Owners: @kchibisov

return the resulting size from the request_surface_size
  winit-wayland/src/popup.rs
  winit-wayland/src/state.rs
Owners: @kchibisov

use the seat of the most recent event.
  winit-wayland/src/popup.rs
Owners: @kchibisov

Add Android joystick axis motion events
  src/platform_impl/android/mod.rs
Owners: none

On Windows, add window cloaking support via DWMWA_CLOAK
  winit-win32/src/lib.rs
  winit-win32/src/window.rs
  winit/src/changelog/unreleased.md
Owners: none

Add Android joystick axis device events
  winit-android/src/event_loop.rs
  winit-core/src/event.rs
Owners: @MarijnS95

Android: request redraw after surface-affecting events
  winit-android/src/event_loop.rs
Owners: @MarijnS95

UIKit: preserve queued GPU redraws while waiting
  winit-uikit/src/app_state.rs
Owners: @madsmtm

UIKit: detect GL and Metal backing layers
  winit-uikit/src/window.rs
Owners: @madsmtm

UIKit: format queued redraw handling
  winit-uikit/src/app_state.rs
Owners: @madsmtm

UIKit: remove unused foundation protocol import
  winit-uikit/src/window.rs
Owners: @madsmtm

use bitflags instead of enum
  winit-wayland/src/lib.rs
Owners: @kchibisov

fix window_compositor_update resized signal
  winit-wayland/src/state.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

default anchoring should not add anchor_position twice
  winit-wayland/src/popup.rs
Owners: @kchibisov

if the popup is done request a close if not yet done
  winit-wayland/src/state.rs
Owners: @kchibisov

wayland: don't send set_buffer_scale on wl_surface below version 3
  winit-wayland/src/window/state.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

reposition is only available from version 3 on. There is no check on the smithay side
  winit-wayland/src/popup.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

return if a wrong size was provided
  winit-wayland/src/window/state.rs
Owners: @kchibisov

move grab keyboard to wayland
  winit-appkit/src/window_delegate.rs
  winit-core/src/window.rs
  winit-wayland/src/event_loop/mod.rs
  winit-wayland/src/lib.rs
  winit-wayland/src/popup.rs
  winit-win32/src/window.rs
  winit-x11/src/window.rs
Owners: @madsmtm, @kchibisov

fix comment
  winit-core/src/window.rs
Owners: none

Ignore quick-xml and ttf-parser advisories in cargo-deny
  deny.toml
Owners: none

use default position to align with other platforms
  winit-wayland/src/popup.rs
Owners: @kchibisov

Use the MSRV-aware resolver instead of pinning versions in CI
  .github/workflows/ci.yml
  Cargo.toml
Owners: none

do not allow resizing for popups
  winit-win32/src/window.rs
  winit-win32/src/window_state.rs
Owners: none

implement outer_position for the popup
  winit-core/src/window.rs
  winit-wayland/src/popup.rs
Owners: @kchibisov

fix comment
  winit-wayland/src/seat/mod.rs
Owners: @kchibisov

use position and size instead of plain i32 quadruples
  winit-wayland/src/lib.rs
  winit-wayland/src/popup.rs
Owners: @kchibisov

fix changelog
  winit/src/changelog/unreleased.md
Owners: none

fix formatting
  winit-wayland/src/lib.rs
  winit-win32/src/window_state.rs
Owners: @kchibisov

.github/CODEOWNERS:

# Android
/winit-android                      @MarijnS95

# Apple (AppKit + UIKit)
/winit-appkit                       @madsmtm
/winit-uikit                        @madsmtm
/winit-common/src/core_foundation   @madsmtm
/winit-common/src/event_handler.rs  @madsmtm

# XKB
/winit-common/src/xkb               @kchibisov

# Wayland
/winit-wayland                      @kchibisov

# X11
/winit-x11                          @kchibisov

# Web
/winit-web                          @daxpedda

# Windows (Win32) (UNOWNED)
#/winit-win32                       

# Orbital (Redox OS)
/winit-orbital                      @jackpot51

# OpenHarmony
/winit-ohos                         @richerfu @jschwe
