Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @msiglreith, @madsmtm, @kchibisov, @daxpedda, @jackpot51

Remove suspend/resume state encoding
  examples/control_flow.rs
  examples/multiwindow.rs
  examples/window.rs
  src/application.rs
Owners: none

Remove `T` from `EventLoopTargetWindow`
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/proxy.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
Owners: @daxpedda

Remove `T` from `EventLoopTargetWindow` (#3081)
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/proxy.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
Owners: @daxpedda

Allow the user to force X11 under Wayland
  CHANGELOG.md
  src/platform_impl/linux/mod.rs
Owners: @kchibisov

Web implementation
  src/platform/web.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/state.rs
  src/platform_impl/web/event_loop/window_target.rs
Owners: @daxpedda

Linux implementation
  src/platform_impl/linux/mod.rs
Owners: @kchibisov

Wayland implementation
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/output.rs
Owners: @kchibisov

X11 implementation
  src/platform_impl/linux/x11/mod.rs
Owners: @kchibisov

Windows implementation
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
Owners: @msiglreith

MacOS implementation
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
Owners: @madsmtm

Android implementation
  src/platform_impl/android/mod.rs
Owners: @msiglreith

iOS implementation
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
Owners: @madsmtm

Redox implementation
  src/platform_impl/orbital/event_loop.rs
Owners: @jackpot51

Address review
  CHANGELOG.md
  src/event.rs
  src/event_loop.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/output.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/state.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/windows/event_loop.rs
Owners: @msiglreith, @madsmtm, @kchibisov, @jackpot51, @daxpedda

Revert select_xkb_events to its previous impl
  src/platform_impl/linux/x11/util/input.rs
Owners: @kchibisov

Revert select_xkb_events to its previous impl
  src/platform_impl/linux/x11/util/input.rs
Owners: @kchibisov

Correct set_exit() -> exit() in the changelog
  CHANGELOG.md
Owners: none

Correct set_exit() -> exit() in the changelog (#3088)
  CHANGELOG.md
Owners: none

Add `Window.requestIdleCallback()` support
  CHANGELOG.md
  src/platform/web.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/schedule.rs
Owners: @daxpedda

Add `Window.requestIdleCallback()` support (#3084)
  CHANGELOG.md
  src/platform/web.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/schedule.rs
Owners: @daxpedda

Add an MSRV policy to the README (#3046)
  .github/workflows/ci.yml
  README.md
Owners: none

Rename `PollType` to `PollStrategy`
  CHANGELOG.md
  src/platform/web.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/schedule.rs
Owners: @daxpedda

Pass force on touch events on android
  CHANGELOG.md
  src/event.rs
  src/platform_impl/android/mod.rs
Owners: @msiglreith

Update import
  src/platform_impl/android/mod.rs
Owners: @msiglreith

Rename `PollType` to `PollStrategy` (#3089)
  CHANGELOG.md
  src/platform/web.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/schedule.rs
Owners: @daxpedda

Ignore foreign-types* duplicate deps
  Cargo.toml
  deny.toml
Owners: none

Ignore foreign-types* duplicate deps on macOS
  Cargo.toml
  deny.toml
Owners: none

Install `cargo-apk` with the stable toolchain
  .github/workflows/ci.yml
Owners: none

Install `cargo-apk` with the stable toolchain
  .github/workflows/ci.yml
Owners: none

Correct Wayland section in dpi docs
  src/dpi.rs
Owners: none

Correct Wayland section in dpi docs
  src/dpi.rs
Owners: none

Implement `PartialOrd` and `Ord` for `MouseButton`
  CHANGELOG.md
  src/event.rs
Owners: none

Implement `PartialOrd` and `Ord` for `MouseButton`
  CHANGELOG.md
  src/event.rs
Owners: none

add Foreground and Background events
  src/event.rs
  src/platform_impl/ios/view.rs
Owners: @madsmtm

update after #2462
  src/platform_impl/ios/view.rs
Owners: @madsmtm

add MemoryWarning event
  src/event.rs
  src/platform_impl/ios/view.rs
Owners: @madsmtm

improve iOS documentation
  src/event.rs
Owners: none

adding MemoryWarning on Android
  src/event.rs
  src/platform_impl/android/mod.rs
Owners: @msiglreith

changelog
  CHANGELOG.md
Owners: none

update for new version of objc2
  src/platform_impl/ios/view.rs
Owners: @madsmtm

.github/CODEOWNERS:

# Core maintainers:
# - @msiglreith
# - @kchibisov
# - @madsmtm
# - @maroider

# Android
/src/platform/android.rs            @msiglreith
/src/platform_impl/android          @msiglreith

# iOS
/src/platform/ios.rs                @madsmtm
/src/platform_impl/ios              @madsmtm

# Unix
/src/platform_impl/linux/mod.rs     @kchibisov

# Wayland
/src/platform/wayland.rs            @kchibisov
/src/platform_impl/linux/wayland    @kchibisov

# X11
/src/platform/x11.rs                @kchibisov
/src/platform_impl/linux/x11        @kchibisov

# macOS
/src/platform/macos.rs              @madsmtm
/src/platform_impl/macos            @madsmtm

# Web (no maintainer)
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows
/src/platform/windows.rs            @msiglreith
/src/platform_impl/windows          @msiglreith

# Orbital (Redox OS)
/src/platform/orbital.rs            @jackpot51
/src/platform_impl/orbital          @jackpot51
