Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda, @jackpot51, @richerfu, @jschwe

.github/CODEOWNERS:

# Android
/winit-android                      @MarijnS95

# Apple (AppKit + UIKit)
/winit-appkit                       @madsmtm
/winit-uikit                        @madsmtm
/winit-common/src/core_foundation   @madsmtm
/winit-common/src/event_handler.rs  @madsmtm

# XKB
/winit-common/src/xkb               @kchibisov

# Wayland
/winit-wayland                      @kchibisov

# X11
/winit-x11                          @kchibisov

# Web
/winit-web                          @daxpedda

# Windows (Win32) (UNOWNED)
#/winit-win32                       

# Orbital (Redox OS)
/winit-orbital                      @jackpot51

# OpenHarmony
/winit-ohos                         @richerfu @jschwe

wayland: fix panic when fancy wacom tablet is connected
  winit-wayland/src/types/wp_tablet_input_v2.rs
Owners: @kchibisov

fix(macOS): clamp IME selected_range to prevent substringToIndex crash
  winit-appkit/src/view.rs
  winit/src/changelog/unreleased.md
Owners: @madsmtm

win32: fix ime setcontext lparam
  winit-win32/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: none

chore: fmt
  winit-wayland/src/window/state.rs
Owners: @kchibisov

wayland: implement resize increments
  winit-core/src/window.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
Owners: @kchibisov

macOS: fix a crash when dragging non-file content onto window
  src/changelog/unreleased.md
  src/platform_impl/macos/window_delegate.rs
Owners: none

winit-win32: Fix ABI mismatch in INIT_MAIN_THREAD_ID
  src/platform_impl/windows/event_loop.rs
Owners: none

winit-x11: replace xfixes with x11rb in set_hittest
  src/changelog/unreleased.md
  src/platform_impl/linux/x11/window.rs
Owners: none

winit-x11: fix debug mode overflow panic in `set_timestamp`
  src/changelog/unreleased.md
  src/platform_impl/linux/x11/xdisplay.rs
Owners: none

fix(macOS): clamp IME selected_range to prevent substringToIndex crash
  src/changelog/unreleased.md
  src/platform_impl/macos/view.rs
Owners: none

win32: fix ime setcontext lparam
  src/changelog/unreleased.md
  src/platform_impl/windows/event_loop.rs
Owners: none

wayland: implement resize increments
  src/changelog/unreleased.md
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/window.rs
Owners: none

chore: fix ci
  .github/workflows/ci.yml
  deny.toml
  src/event.rs
  src/lib.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/platform_impl/linux/x11/ime/context.rs
  src/platform_impl/linux/x11/ime/inner.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/windows/event_loop.rs
  src/window.rs
Owners: none

Winit version 0.30.13
  Cargo.toml
  README.md
  src/changelog/v0.30.md
  src/platform/android.rs
Owners: none

fix(android): Populate `KeyEvent.text` via `Key::to_text()`
  winit-android/src/event_loop.rs
  winit-core/src/event.rs
  winit/src/changelog/v0.31.md
Owners: @MarijnS95

fix(android): Populate `KeyEvent.text` via `Key::to_text()`
  winit-android/src/event_loop.rs
  winit-core/src/event.rs
  winit/src/changelog/v0.31.md
Owners: @MarijnS95

fix(android): Populate `KeyEvent.text` via `Key::to_text()`
  src/changelog/unreleased.md
  src/platform_impl/android/mod.rs
Owners: none

chore: fix ci
  .github/workflows/ci.yml
  deny.toml
  src/event.rs
  src/lib.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/platform_impl/linux/x11/ime/context.rs
  src/platform_impl/linux/x11/ime/inner.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/windows/event_loop.rs
  src/window.rs
Owners: none

Winit version 0.30.13
  Cargo.toml
  README.md
  src/changelog/unreleased.md
  src/changelog/v0.30.md
  src/platform/android.rs
Owners: none

win32: fix ime setcontext lparam
  src/changelog/unreleased.md
  src/platform_impl/windows/event_loop.rs
Owners: none

winit-x11: replace xfixes with x11rb in set_hittest
  src/changelog/unreleased.md
  src/platform_impl/linux/x11/window.rs
Owners: none

winit-x11: fix debug mode overflow panic in `set_timestamp`
  src/changelog/unreleased.md
  src/platform_impl/linux/x11/xdisplay.rs
Owners: none

wayland: implement resize increments
  src/changelog/unreleased.md
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/window.rs
Owners: none

winit-win32: Fix ABI mismatch in INIT_MAIN_THREAD_ID
  src/platform_impl/windows/event_loop.rs
Owners: none

fix(android): Populate `KeyEvent.text` via `Key::to_text()`
  src/changelog/unreleased.md
  src/platform_impl/android/mod.rs
Owners: none

macOS: fix a crash when dragging non-file content onto window
  src/changelog/unreleased.md
  src/platform_impl/macos/window_delegate.rs
Owners: none

fix(macOS): clamp IME selected_range to prevent substringToIndex crash
  src/changelog/unreleased.md
  src/platform_impl/macos/view.rs
Owners: none

Winit version 0.30.13
  Cargo.toml
  README.md
  src/changelog/unreleased.md
  src/changelog/v0.30.md
  src/platform/android.rs
Owners: none

chore: fix ci
  .github/workflows/ci.yml
  deny.toml
  src/event.rs
  src/lib.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/platform_impl/linux/x11/ime/context.rs
  src/platform_impl/linux/x11/ime/inner.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/windows/event_loop.rs
  src/window.rs
Owners: none

android: add support for stylus
  winit-android/src/event_loop.rs
  winit-core/src/event.rs
Owners: @MarijnS95

android: stylus hover
  winit-android/src/event_loop.rs
Owners: @MarijnS95

fix hovering issue
  winit-android/src/event_loop.rs
Owners: @MarijnS95

fix the behavior of ACTION_CANCELED
  winit-android/src/event_loop.rs
Owners: @MarijnS95

revert the fix actual test ahows that it's wrong
  winit-android/src/event_loop.rs
Owners: @MarijnS95

feat: Wayland DnD (drag and drop) support via SCTK DataDeviceManager
  winit-wayland/src/seat/data_device.rs
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/state.rs
Owners: @kchibisov

fix: use target monitor's scale factor in set_outer_position
  winit-appkit/src/window_delegate.rs
  winit-core/src/monitor.rs
  winit-win32/src/window.rs
  winit-x11/src/window.rs
  winit/examples/cross_monitor_position.rs
Owners: @madsmtm, @kchibisov

revert: remove x11 scale_factor_for change
  winit-x11/src/window.rs
Owners: @kchibisov

docs: remove x11 references from cross_monitor_position example
  winit-core/src/monitor.rs
  winit/examples/cross_monitor_position.rs
Owners: none

docs: add wayland/x11 instructions to cross_monitor_position example
  winit/examples/cross_monitor_position.rs
Owners: none

fix: replace manual Default impl with derive to satisfy clippy
  winit/examples/cross_monitor_position.rs
Owners: none
