Repository rust-windowing/winit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MarijnS95, @madsmtm, @kchibisov, @daxpedda, @jackpot51, @richerfu, @jschwe

.github/CODEOWNERS:

# Android
/winit-android                      @MarijnS95

# Apple (AppKit + UIKit)
/winit-appkit                       @madsmtm
/winit-uikit                        @madsmtm
/winit-common/src/core_foundation   @madsmtm
/winit-common/src/event_handler.rs  @madsmtm

# XKB
/winit-common/src/xkb               @kchibisov

# Wayland
/winit-wayland                      @kchibisov

# X11
/winit-x11                          @kchibisov

# Web
/winit-web                          @daxpedda

# Windows (Win32) (UNOWNED)
#/winit-win32                       

# Orbital (Redox OS)
/winit-orbital                      @jackpot51

# OpenHarmony
/winit-ohos                         @richerfu @jschwe

winit-web: return immediately from run_app on web
  winit-core/src/event_loop/run_on_demand.rs
  winit-uikit/src/event_loop.rs
  winit-web/src/event_loop/mod.rs
  winit-web/src/event_loop/runner.rs
  winit-web/src/event_loop/window_target.rs
  winit-web/src/lib.rs
  winit-web/src/web_sys/mod.rs
  winit/src/changelog/unreleased.md
  winit/src/event_loop.rs
Owners: @madsmtm, @daxpedda

winit/event_loop: Add register_app and run_app_never_return
  winit-android/src/event_loop.rs
  winit-appkit/src/event_loop.rs
  winit-core/src/event_loop/mod.rs
  winit-core/src/event_loop/never_return.rs
  winit-core/src/event_loop/register.rs
  winit-core/src/event_loop/run_on_demand.rs
  winit-orbital/src/event_loop.rs
  winit-uikit/src/event_loop.rs
  winit-wayland/src/event_loop/mod.rs
  winit-web/src/event_loop/mod.rs
  winit-win32/src/event_loop.rs
  winit-x11/src/event_loop.rs
  winit/examples/run_on_demand.rs
  winit/src/changelog/unreleased.md
  winit/src/event_loop.rs
  winit/src/platform_impl/linux/mod.rs
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

winit-web: return immediately from run_app on web
  winit-core/src/event_loop/run_on_demand.rs
  winit-uikit/src/event_loop.rs
  winit-web/src/event_loop/mod.rs
  winit-web/src/event_loop/runner.rs
  winit-web/src/event_loop/window_target.rs
  winit-web/src/lib.rs
  winit-web/src/web_sys/mod.rs
  winit/src/changelog/unreleased.md
  winit/src/event_loop.rs
Owners: @madsmtm, @daxpedda

winit/event_loop: Add register_app and run_app_never_return
  winit-android/src/event_loop.rs
  winit-appkit/src/event_loop.rs
  winit-core/src/event_loop/mod.rs
  winit-core/src/event_loop/never_return.rs
  winit-core/src/event_loop/register.rs
  winit-core/src/event_loop/run_on_demand.rs
  winit-orbital/src/event_loop.rs
  winit-uikit/src/event_loop.rs
  winit-wayland/src/event_loop/mod.rs
  winit-web/src/event_loop/mod.rs
  winit-win32/src/event_loop.rs
  winit-x11/src/event_loop.rs
  winit/examples/run_on_demand.rs
  winit/src/changelog/unreleased.md
  winit/src/event_loop.rs
  winit/src/platform_impl/linux/mod.rs
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

winit-core: fix set_ime_allowed always panicing
  winit-core/src/window.rs
  winit/src/changelog/unreleased.md
Owners: none

winit-core: fix set_ime_allowed always panicing
  winit-core/src/window.rs
  winit/src/changelog/unreleased.md
Owners: none

X11: set_cursor_hittest failures are OS errors
  winit-x11/src/window.rs
Owners: @kchibisov

impl From<RequestError> for EventLoopError
  winit-core/src/error.rs
Owners: none

Remove variant RequestError::Ignored
  winit-appkit/src/window_delegate.rs
  winit-core/src/error.rs
  winit-core/src/event.rs
Owners: @madsmtm

winit-web: return immediately from run_app on web
  winit-core/src/event_loop/run_on_demand.rs
  winit-uikit/src/event_loop.rs
  winit-web/src/event_loop/mod.rs
  winit-web/src/event_loop/runner.rs
  winit-web/src/event_loop/window_target.rs
  winit-web/src/lib.rs
  winit-web/src/web_sys/mod.rs
  winit/src/changelog/unreleased.md
  winit/src/event_loop.rs
Owners: @madsmtm, @daxpedda

winit/event_loop: Add register_app and run_app_never_return
  winit-android/src/event_loop.rs
  winit-appkit/src/event_loop.rs
  winit-core/src/event_loop/mod.rs
  winit-core/src/event_loop/never_return.rs
  winit-core/src/event_loop/register.rs
  winit-core/src/event_loop/run_on_demand.rs
  winit-orbital/src/event_loop.rs
  winit-uikit/src/event_loop.rs
  winit-wayland/src/event_loop/mod.rs
  winit-web/src/event_loop/mod.rs
  winit-win32/src/event_loop.rs
  winit-x11/src/event_loop.rs
  winit/examples/run_on_demand.rs
  winit/src/changelog/unreleased.md
  winit/src/event_loop.rs
  winit/src/platform_impl/linux/mod.rs
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

winit-core: fix set_ime_allowed always panicing
  winit-core/src/window.rs
  winit/src/changelog/unreleased.md
Owners: none

Winit version 0.31.0-beta.2
  Cargo.toml
  README.md
  winit-android/src/lib.rs
  winit/src/changelog/unreleased.md
  winit/src/changelog/v0.31.md
Owners: @MarijnS95

winit/event_loop: Add register_app and run_app_never_return
  winit-android/src/event_loop.rs
  winit-appkit/src/event_loop.rs
  winit-core/src/event_loop/mod.rs
  winit-core/src/event_loop/never_return.rs
  winit-core/src/event_loop/register.rs
  winit-core/src/event_loop/run_on_demand.rs
  winit-orbital/src/event_loop.rs
  winit-uikit/src/event_loop.rs
  winit-wayland/src/event_loop/mod.rs
  winit-web/src/event_loop/mod.rs
  winit-win32/src/event_loop.rs
  winit-x11/src/event_loop.rs
  winit/examples/run_on_demand.rs
  winit/src/changelog/unreleased.md
  winit/src/event_loop.rs
  winit/src/platform_impl/linux/mod.rs
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

winit-core: fix set_ime_allowed always panicing
  winit-core/src/window.rs
  winit/src/changelog/unreleased.md
Owners: none

winit-web: return immediately from run_app on web
  winit-core/src/event_loop/run_on_demand.rs
  winit-uikit/src/event_loop.rs
  winit-web/src/event_loop/mod.rs
  winit-web/src/event_loop/runner.rs
  winit-web/src/event_loop/window_target.rs
  winit-web/src/lib.rs
  winit-web/src/web_sys/mod.rs
  winit/src/changelog/unreleased.md
  winit/src/event_loop.rs
Owners: @madsmtm, @daxpedda

Winit version 0.31.0-beta.2
  Cargo.toml
  README.md
  winit-android/src/lib.rs
  winit/src/changelog/unreleased.md
  winit/src/changelog/v0.31.md
Owners: @MarijnS95

winit-x11: fix cursor hittest
  winit-x11/src/window.rs
Owners: @kchibisov

feat(core): add keyboard for ohos
  winit-core/src/keyboard.rs
Owners: none

docs: add docs
  winit/src/changelog/unreleased.md
Owners: none

Bump version on master
  Cargo.toml
  README.md
  winit-android/src/lib.rs
  winit/src/changelog/unreleased.md
  winit/src/changelog/v0.31.md
Owners: @MarijnS95

Bump version on master
  Cargo.toml
  README.md
  winit-android/src/lib.rs
  winit/src/changelog/unreleased.md
  winit/src/changelog/v0.31.md
Owners: @MarijnS95

feat(core): add keyboard for ohos
  winit-core/src/keyboard.rs
  winit/src/changelog/unreleased.md
Owners: none

support startin app from running UIApplication
  winit-uikit/Cargo.toml
  winit-uikit/src/app_state.rs
  winit-uikit/src/event_loop.rs
  winit-uikit/src/lib.rs
  winit-uikit/src/window.rs
  winit/src/event_loop.rs
Owners: @madsmtm

winit-x11: fix set_cursor_hittest
  winit-x11/src/window.rs
Owners: @kchibisov

fix (x11): replace xfixes with x11rb in set_hittest
  winit-x11/src/window.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

Implement Display, Error for ImeSurroundingTextError
  winit-core/src/window.rs
Owners: none

winit-core/ime: implement `Error` for `ImeSurroundingTextError`
  winit-core/src/window.rs
Owners: none

Emit `destroy_surfaces()` event consistently on all platforms
  winit-android/src/lib.rs
  winit-appkit/src/event_loop.rs
  winit-core/src/application/mod.rs
  winit-wayland/src/event_loop/mod.rs
  winit-win32/src/event_loop.rs
  winit-x11/src/event_loop.rs
  winit/src/changelog/v0.31.md
  winit/src/event_loop.rs
Owners: @MarijnS95, @madsmtm, @kchibisov

Fix issue template labels
  .github/ISSUE_TEMPLATE/bug_appkit.yml
  .github/ISSUE_TEMPLATE/bug_uikit.yml
  .github/ISSUE_TEMPLATE/bug_win32.yml
Owners: none

Fix issue template labels (#4421)
  .github/ISSUE_TEMPLATE/bug_appkit.yml
  .github/ISSUE_TEMPLATE/bug_uikit.yml
  .github/ISSUE_TEMPLATE/bug_win32.yml
Owners: none

winit-win32: add WindowAttributesWindows::with_band
  winit-win32/src/lib.rs
  winit-win32/src/util.rs
  winit-win32/src/window.rs
  winit/src/changelog/unreleased.md
Owners: none

win32: drop application handler on `WM_ENDSESSION`
  winit-win32/src/event_loop.rs
  winit-win32/src/event_loop/runner.rs
  winit/src/changelog/unreleased.md
  winit/src/event_loop.rs
Owners: none

winit-x11: replace xfixes with x11rb in set_hittest
  winit-x11/src/window.rs
  winit/src/changelog/unreleased.md
Owners: @kchibisov

Use `set_exit_code(0)` for restart manager case
  winit-win32/src/event_loop.rs
  winit/src/changelog/unreleased.md
Owners: none

Replace variant ImeRequest::Disable with fn disable_ime
  winit-android/src/event_loop.rs
  winit-appkit/src/window.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/window.rs
  winit-orbital/src/window.rs
  winit-uikit/src/window.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
  winit-web/src/window.rs
  winit-win32/src/window.rs
  winit-x11/src/window.rs
  winit/examples/ime.rs
  winit/src/changelog/unreleased.md
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

Move IME types to new winit_core::ime module
  winit-android/src/event_loop.rs
  winit-appkit/src/view.rs
  winit-appkit/src/window.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/ime.rs
  winit-core/src/lib.rs
  winit-core/src/window.rs
  winit-orbital/src/window.rs
  winit-uikit/src/window.rs
  winit-wayland/src/seat/text_input/mod.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
  winit-web/src/window.rs
  winit-win32/src/window.rs
  winit-win32/src/window_state.rs
  winit-x11/src/window.rs
  winit/examples/ime.rs
  winit/src/lib.rs
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

Move test ime_initial_request_caps_match to mod ime
  winit-core/src/ime.rs
  winit-core/src/window.rs
Owners: none

Remove Ime prefix from winit_core::ime items
  winit-android/src/event_loop.rs
  winit-appkit/src/view.rs
  winit-appkit/src/window.rs
  winit-appkit/src/window_delegate.rs
  winit-core/src/ime.rs
  winit-core/src/window.rs
  winit-orbital/src/window.rs
  winit-uikit/src/window.rs
  winit-wayland/src/seat/text_input/mod.rs
  winit-wayland/src/window/mod.rs
  winit-wayland/src/window/state.rs
  winit-web/src/window.rs
  winit-win32/src/window.rs
  winit-win32/src/window_state.rs
  winit-x11/src/window.rs
  winit/examples/ime.rs
Owners: @MarijnS95, @madsmtm, @jackpot51, @kchibisov, @daxpedda

Fix tests and doc links
  winit-core/src/ime.rs
Owners: none
