Repository rust-windowing/winit, pull requests merged in 2018-07, with the labels that each got.

#583 X11+Windows: Guess initial DPI factor
  .gitignore
  CHANGELOG.md
  Cargo.toml
  src/lib.rs
  src/platform/linux/x11/mod.rs
  src/platform/linux/x11/monitor.rs
  src/platform/linux/x11/util/geometry.rs
  src/platform/linux/x11/util/input.rs
  src/platform/linux/x11/util/randr.rs
  src/platform/linux/x11/window.rs
  src/platform/windows/monitor.rs
  src/platform/windows/util.rs
  src/platform/windows/window.rs
Labels: platform: Windows, platform: X11

#586 X11: Fix compilation when c_char==c_uchar
  CHANGELOG.md
  src/platform/linux/x11/util/format.rs
Labels: platform: X11

#588 Disable maximize button on non-resizable windows
  CHANGELOG.md
  src/platform/windows/window.rs
Labels: platform: Windows

#592 Remove incorrect unreachable usage when guessing DPI factor
  CHANGELOG.md
  src/platform/linux/x11/window.rs
  src/platform/windows/window.rs
Labels: platform: Windows, platform: X11

#595 set the UIViewController's view to the one that was just created
  CHANGELOG.md
  src/platform/ios/mod.rs
Labels: platform: iOS

#605 Use class macro
  Cargo.toml
  src/platform/ios/ffi.rs
  src/platform/ios/mod.rs
  src/platform/macos/events_loop.rs
  src/platform/macos/ffi.rs
  src/platform/macos/util.rs
  src/platform/macos/view.rs
  src/platform/macos/window.rs
Labels: platform: iOS, platform: macOS

#602 Update wayland-client and client-toolkit
  Cargo.toml
Labels: platform: Wayland

#610 Fix key state on MacOS
  CHANGELOG.md
  src/platform/macos/events_loop.rs
Labels: platform: macOS

#609 iOS Abstract Out the UIView type from winit
  CHANGELOG.md
  src/os/ios.rs
  src/platform/ios/ffi.rs
  src/platform/ios/mod.rs
Labels: platform: iOS

#611 macOS: Fix cursor hiding thread unsafety
  CHANGELOG.md
  src/platform/macos/window.rs
Labels: platform: macOS

#601 Fix unsoundness on Windows
  CHANGELOG.md
  src/platform/windows/events_loop.rs
  src/platform/windows/icon.rs
  src/platform/windows/window.rs
Labels: platform: Windows
