Repository rust-windowing/winit, pull requests merged in 2018-08, with the labels that each got.

#618 fix assertion failed: validate_hidpi_factor(dpi_factor) (#607)
  CHANGELOG.md
  src/platform/windows/dpi.rs
  src/platform/windows/window.rs
Labels: platform: Windows

#608 Update cocoa and core-graphics
  CHANGELOG.md
  Cargo.toml
  README.md
  src/platform/macos/ffi.rs
  src/platform/macos/util.rs
  src/platform/macos/view.rs
Labels: platform: macOS

#621 Maintenance/620/fix x11 release mode compilation
  CHANGELOG.md
  Cargo.toml
Labels: platform: X11

#629 625 macos modifiers
  CHANGELOG.md
  src/platform/macos/events_loop.rs
  src/platform/macos/view.rs
Labels: platform: macOS

#628 Add key repetition for the wayland backend
  CHANGELOG.md
  Cargo.toml
  src/platform/linux/wayland/event_loop.rs
  src/platform/linux/wayland/keyboard.rs
Labels: platform: Wayland

#635 Wayland: commit frame surface on resize
  CHANGELOG.md
  src/platform/linux/wayland/event_loop.rs
Labels: platform: Wayland

#634 Remove resize block on Windows
  CHANGELOG.md
  src/platform/windows/events_loop.rs
Labels: platform: Windows
