Repository rust-windowing/winit, pull requests merged in 2018-10, with the labels that each got.

#672 Windows: Fix window.set_maximized()
  CHANGELOG.md
  src/platform/windows/window.rs
Labels: platform: Windows

#666 macOS: fix modifiers during key repeat
  CHANGELOG.md
  src/platform/macos/view.rs
  src/platform/macos/window.rs
Labels: platform: macOS

#676 Provide current modifiers state with pointer events on wayland
  CHANGELOG.md
  src/platform/linux/wayland/event_loop.rs
  src/platform/linux/wayland/keyboard.rs
  src/platform/linux/wayland/pointer.rs
Labels: platform: Wayland

#668 x11: compute resize logical size with new dpi
  CHANGELOG.md
  src/dpi.rs
  src/platform/linux/x11/mod.rs
Labels: platform: X11, status: needs review, type: platform parity

#662 Implement HoveredFile and HoveredFileCancelled on Windows
  CHANGELOG.md
  Cargo.toml
  src/platform/windows/drop_handler.rs
  src/platform/windows/events_loop.rs
  src/platform/windows/mod.rs
Labels: platform: Windows
