Repository rust-windowing/winit, pull requests merged in 2018-11, with the labels that each got.

#688 X11: Fix DND freezing the WM
  CHANGELOG.md
  src/platform/linux/x11/mod.rs
Labels: platform: X11

#685 Make views explicitly layer-backed on macOS Mojave.
  CHANGELOG.md
  Cargo.toml
  src/platform/macos/window.rs
Labels: platform: macOS

#690 Remove From<NSApplicationActivationPolicy> impl from ActivationPolicy
  CHANGELOG.md
  src/os/macos.rs
  src/platform/macos/window.rs
Labels: platform: macOS

#664 Support requesting user attention on macOS
  CHANGELOG.md
  src/os/macos.rs
  src/platform/macos/window.rs
Labels: platform: macOS

#694 X11: Fix panic when dropping window before running event loop
  CHANGELOG.md
  src/platform/linux/x11/mod.rs
Labels: platform: X11

#700 Introduce WindowBuilderExt::with_app_id for wayland
  CHANGELOG.md
  src/os/unix.rs
  src/platform/linux/mod.rs
  src/platform/linux/wayland/window.rs
Labels: platform: Wayland

#710 Replace thread messages with messages to dummy window
  CHANGELOG.md
  src/platform/windows/events_loop.rs
Labels: platform: Windows

#703 On Windows, catch window callback panics and forward them to the calling thread
  CHANGELOG.md
  Cargo.toml
  src/lib.rs
  src/platform/windows/events_loop.rs
Labels: platform: Windows

#709 X11: Check if `XRRGetOutputInfo` returned `NULL`
  CHANGELOG.md
  src/platform/linux/mod.rs
  src/platform/linux/x11/monitor.rs
  src/platform/linux/x11/util/randr.rs
Labels: platform: X11

#719 Handle removed wl_outputs
  CHANGELOG.md
  src/platform/linux/wayland/event_loop.rs
  src/platform/linux/wayland/window.rs
Labels: platform: Wayland

#718 On Windows, fix window shrinking when leaving fullscreen in some situations
  CHANGELOG.md
  src/platform/windows/events_loop.rs
  src/platform/windows/util.rs
  src/platform/windows/window.rs
Labels: platform: Windows

#729 X11: WindowBuilder min/max size accounts for DPI
  CHANGELOG.md
  src/platform/linux/x11/window.rs
Labels: platform: X11
