Repository rust-windowing/winit, pull requests merged in 2018-06, with the labels that each got.

#541 Windows: implement with_resizable (#540)
  CHANGELOG.md
  examples/no_resize.rs
  src/lib.rs
  src/platform/windows/window.rs
  src/window.rs
Labels: platform: Windows

#544 Fix DPI with 0 width/hight reported by xorg
  CHANGELOG.md
  src/platform/linux/x11/util/randr.rs
  src/window.rs
Labels: platform: X11

#546 X11: Fix flickering when resizing with transparency enabled
  CHANGELOG.md
  src/platform/linux/x11/window.rs
Labels: platform: X11

#552 macOS: Fix alt and win keycodes
  CHANGELOG.md
  src/platform/macos/events_loop.rs
Labels: platform: macOS

#553 macOS: Resizable without decorations
  CHANGELOG.md
  src/platform/macos/window.rs
  src/window.rs
Labels: platform: macOS

#554 X11: Fix super fun race conditions
  CHANGELOG.md
  src/platform/linux/mod.rs
  src/platform/linux/x11/ime/input_method.rs
Labels: platform: X11

#561 macOS: Only detect clicks+motion within client area
  CHANGELOG.md
  src/platform/macos/events_loop.rs
  src/platform/macos/view.rs
Labels: platform: macOS

#558 Windows & X11: Window::set_resizable
  CHANGELOG.md
  examples/no_resize.rs
  examples/resizable.rs
  src/lib.rs
  src/platform/android/mod.rs
  src/platform/emscripten/mod.rs
  src/platform/ios/mod.rs
  src/platform/linux/mod.rs
  src/platform/linux/x11/window.rs
  src/platform/windows/window.rs
  src/window.rs
Labels: platform: Windows, platform: X11

#570 macOS: Fix doubled key repeats
  CHANGELOG.md
  src/platform/macos/events_loop.rs
  src/platform/macos/view.rs
Labels: platform: macOS

#572 Shares the XConnection between all event pools instead of just all event pools on the same thread.
  CHANGELOG.md
  src/platform/linux/mod.rs
Labels: platform: X11

#575 windows feature WS_EX_NOREDIRECTIONBITMAP
  CHANGELOG.md
  src/os/windows.rs
  src/platform/windows/mod.rs
  src/platform/windows/window.rs
Labels: platform: Windows

#577 Wayland: Fix window creation dimensions
  src/platform/linux/wayland/window.rs
Labels: platform: Wayland
