Repository rust-windowing/winit, pull requests merged in 2018-12, with the labels that each got.

#724 Use smithay-client-toolkit's dpi handling.
  CHANGELOG.md
  Cargo.toml
  src/platform/linux/wayland/event_loop.rs
  src/platform/linux/wayland/window.rs
Labels: platform: Wayland

#737 Fix high CPU usage on tiling WMs when moving windows across monitors (#706)
  CHANGELOG.md
  src/platform/linux/x11/mod.rs
Labels: platform: X11

#692 feat: add macos simple fullscreen
  CHANGELOG.md
  examples/fullscreen.rs
  src/os/macos.rs
  src/platform/macos/util.rs
  src/platform/macos/window.rs
Labels: platform: macOS

#739 Support Yen in macOS
  CHANGELOG.md
  src/platform/macos/events_loop.rs
Labels: platform: macOS

#741 macOS: Correct `prepareForDragOperation:` signature
  CHANGELOG.md
  src/platform/macos/window.rs
Labels: platform: macOS

#742 macOS: Implement `Refresh`
  CHANGELOG.md
  src/platform/macos/util.rs
  src/platform/macos/view.rs
Labels: platform: macOS
