Repository rust-windowing/winit, pull requests merged in 2018-05, with the labels that each got.

#497 Window icons
  CHANGELOG.md
  Cargo.toml
  examples/icon.png
  examples/window_icon.rs
  src/icon.rs
  src/lib.rs
  src/os/windows.rs
  src/platform/android/mod.rs
  src/platform/emscripten/mod.rs
  src/platform/ios/mod.rs
  src/platform/linux/mod.rs
  src/platform/linux/wayland/window.rs
  src/platform/linux/x11/mod.rs
  src/platform/linux/x11/util/icon.rs
  src/platform/linux/x11/util/mod.rs
  src/platform/linux/x11/util/window_property.rs
  src/platform/linux/x11/window.rs
  src/platform/macos/mod.rs
  src/platform/macos/window.rs
  src/platform/windows/events_loop.rs
  src/platform/windows/icon.rs
  src/platform/windows/mod.rs
  src/platform/windows/util.rs
  src/platform/windows/window.rs
  src/window.rs
Labels: platform: Windows, platform: X11

#502 Windows: Fix panic when calling set_fullscreen(None)
  CHANGELOG.md
  src/platform/windows/window.rs
Labels: platform: Windows, status: needs review

#511 fix(mac_platform): forward keyevent to system
  CHANGELOG.md
  src/platform/macos/events_loop.rs
  src/platform/macos/window.rs
Labels: platform: macOS

#514 X11: Fix scroll wheel delta on i3/etc.
  CHANGELOG.md
  src/platform/linux/x11/mod.rs
Labels: platform: X11

#515 X11: Fix get_current_monitor
  CHANGELOG.md
  src/platform/android/mod.rs
  src/platform/emscripten/mod.rs
  src/platform/ios/mod.rs
  src/platform/linux/mod.rs
  src/platform/linux/wayland/event_loop.rs
  src/platform/linux/x11/mod.rs
  src/platform/linux/x11/monitor.rs
  src/platform/linux/x11/util/geometry.rs
  src/platform/linux/x11/util/mod.rs
  src/platform/linux/x11/util/randr.rs
  src/platform/linux/x11/window.rs
  src/platform/macos/monitor.rs
  src/platform/windows/monitor.rs
  src/window.rs
Labels: platform: X11

#520 macOS: Fix re-enabling decorations after the window is built without them
  .gitignore
  CHANGELOG.md
  src/platform/macos/window.rs
Labels: platform: macOS

#521 macOS: Fix Window::get_current_monitor
  CHANGELOG.md
  Cargo.toml
  src/platform/macos/monitor.rs
  src/platform/macos/window.rs
Labels: platform: macOS

#519 macOS: Implement with_resize_increments
  CHANGELOG.md
  src/os/macos.rs
  src/os/unix.rs
  src/platform/linux/mod.rs
  src/platform/macos/window.rs
Labels: platform: macOS

#518 macOS: Implement NSTextInputClient
  CHANGELOG.md
  src/lib.rs
  src/os/unix.rs
  src/platform/android/mod.rs
  src/platform/emscripten/mod.rs
  src/platform/ios/mod.rs
  src/platform/linux/mod.rs
  src/platform/macos/events_loop.rs
  src/platform/macos/ffi.rs
  src/platform/macos/mod.rs
  src/platform/macos/util.rs
  src/platform/macos/view.rs
  src/platform/macos/window.rs
  src/platform/windows/window.rs
  src/window.rs
Labels: platform: macOS

#525 Windows: Fix detection of Pause and Scroll keys
  CHANGELOG.md
  src/platform/windows/event.rs
  src/platform/windows/events_loop.rs
Labels: platform: Windows

#526 Windows: CursorState improvements
  CHANGELOG.md
  src/platform/windows/events_loop.rs
  src/platform/windows/mod.rs
  src/platform/windows/monitor.rs
  src/platform/windows/util.rs
  src/platform/windows/window.rs
Labels: platform: Windows

#529 X11: Improve hint support
  CHANGELOG.md
  src/lib.rs
  src/os/unix.rs
  src/platform/linux/mod.rs
  src/platform/linux/x11/mod.rs
  src/platform/linux/x11/util/hint.rs
  src/platform/linux/x11/window.rs
  src/window.rs
Labels: platform: X11

#533 macOS: Fix keyboard regressions
  src/platform/macos/view.rs
Labels: platform: macOS

#532 X11: Fix primary monitor fallback regression
  src/platform/linux/x11/monitor.rs
Labels: platform: X11

#534 X11: util design improvements
  src/platform/linux/x11/dnd.rs
  src/platform/linux/x11/ime/input_method.rs
  src/platform/linux/x11/mod.rs
  src/platform/linux/x11/monitor.rs
  src/platform/linux/x11/util/atom.rs
  src/platform/linux/x11/util/client_msg.rs
  src/platform/linux/x11/util/format.rs
  src/platform/linux/x11/util/geometry.rs
  src/platform/linux/x11/util/hint.rs
  src/platform/linux/x11/util/input.rs
  src/platform/linux/x11/util/memory.rs
  src/platform/linux/x11/util/mod.rs
  src/platform/linux/x11/util/randr.rs
  src/platform/linux/x11/util/window_property.rs
  src/platform/linux/x11/util/wm.rs
  src/platform/linux/x11/window.rs
Labels: platform: X11

#536 X11: Flatten window model
  CHANGELOG.md
  src/lib.rs
  src/platform/linux/x11/mod.rs
  src/platform/linux/x11/util/mod.rs
  src/platform/linux/x11/window.rs
Labels: platform: X11
