Repository rust-windowing/winit, pull requests merged in 2018-09, with the labels that each got.

#646 Update wm spec hints
  CHANGELOG.md
  src/platform/linux/x11/util/hint.rs
Labels: platform: X11

#659 Add X11-specific with_gtk_theme_variant option
  CHANGELOG.md
  src/os/unix.rs
  src/platform/linux/mod.rs
  src/platform/linux/x11/window.rs
Labels: platform: X11, status: needs review

#660 Windows: Fix set_cursor delay
  CHANGELOG.md
  src/platform/windows/mod.rs
  src/platform/windows/window.rs
Labels: platform: Windows
