Repository rust-windowing/winit, pull requests merged in 2019-02, with the labels that each got.

#730 Refactor win32 window state code
  CHANGELOG.md
  Cargo.toml
  src/lib.rs
  src/platform/windows/events_loop.rs
  src/platform/windows/mod.rs
  src/platform/windows/monitor.rs
  src/platform/windows/util.rs
  src/platform/windows/window.rs
  src/platform/windows/window_state.rs
Labels: platform: Windows

#755 Fix incorrect keycodes when using a non-US keyboard layout.
  CHANGELOG.md
  src/platform/macos/events_loop.rs
  src/platform/macos/view.rs
Labels: platform: macOS

#782 x11: thread safe replacement for XNextEvent
  CHANGELOG.md
  src/platform/linux/x11/mod.rs
  src/platform/linux/x11/xdisplay.rs
Labels: platform: X11
