Repository rust-windowing/winit, pull requests merged in 2019-12, with the labels that each got.

#1304 Make Wayland's WindowStore::for_each less terrifying to rebase
  src/platform_impl/linux/wayland/event_loop.rs
  src/platform_impl/linux/wayland/window.rs
Labels: platform: Wayland, status: needs review

#1308 Fix array_into_iter warning on Windows
  src/platform_impl/windows/event.rs
Labels: platform: Windows, status: needs review

#1303 X11: Fix incorrect DPI factor when waking from suspend
  CHANGELOG.md
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/monitor.rs
  src/platform_impl/linux/x11/window.rs
Labels: platform: X11, status: needs review

#1294 Have EventLoopClosed contain the original event
  CHANGELOG.md
  src/event_loop.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/web/event_loop/proxy.rs
  src/platform_impl/windows/event_loop.rs
Labels: platform: Wayland, platform: WebAssembly, platform: Windows, platform: X11, platform: iOS, platform: macOS, status: in progress, type: api

#1296 X11: Sync key press/release with window focus
  CHANGELOG.md
  src/event.rs
  src/platform_impl/linux/wayland/keyboard.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/util/keys.rs
  src/platform_impl/linux/x11/util/mod.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/windows/event_loop.rs
Labels: platform: X11, status: needs review

#1297 X11: Report `CursorMoved` when touch event occurs
  CHANGELOG.md
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
Labels: platform: X11, status: needs review

#1268 Add ModifiersChanged event for macOS
  src/platform_impl/macos/view.rs
Labels: platform: macOS, status: needs review

#1322 On Wayland, fix cursor icon updates on window borders when using CSD
  CHANGELOG.md
  src/platform_impl/linux/wayland/pointer.rs
Labels: platform: Wayland, status: needs review

#1321 Fix run_return in MacOS
  CHANGELOG.md
  src/platform_impl/macos/app_state.rs
Labels: platform: macOS, status: needs review

#1324 On Wayland, under mutter(GNOME Wayland), fix CSD being behind the status bar, when starting window in maximized mode
  CHANGELOG.md
  src/platform_impl/linux/wayland/event_loop.rs
Labels: platform: Wayland, status: needs review

#1323 FIX Crash on macOS when starting maximized without decorations
  CHANGELOG.md
  src/platform_impl/macos/util/async.rs
Labels: platform: macOS

#1320 X11: Fix CursorEntered event for non-winit window
  CHANGELOG.md
  src/platform_impl/linux/x11/event_processor.rs
Labels: platform: X11, status: needs review

#990 Window::set_minimized (#985)
  CHANGELOG.md
  FEATURES.md
  examples/minimize.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/window.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
  src/window.rs
Labels: platform: Wayland, platform: Windows, platform: X11, platform: macOS, status: needs review

#1330 Reimplement NativeDisplayMode on iOS for #1310
  src/platform_impl/ios/monitor.rs
  src/platform_impl/ios/view.rs
Labels: platform: iOS, priority: high, status: needs review

#1217 Add support for Windows Dark Mode
  CHANGELOG.md
  FEATURES.md
  src/event.rs
  src/platform/windows.rs
  src/platform_impl/windows/dark_mode.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
  src/window.rs
Labels: platform: Windows, status: needs review

#1331 macOS: Don't change fullscreen state during fullscreen transition
  CHANGELOG.md
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Labels: platform: macOS, status: needs review

#1307 Implement windows focus key press/release on Windows
  CHANGELOG.md
  src/event.rs
  src/platform_impl/windows/event.rs
  src/platform_impl/windows/event_loop.rs
Labels: platform: Windows, status: needs review

#1306 Change ModifiersState to a bitflags struct
  CHANGELOG.md
  Cargo.toml
  examples/cursor_grab.rs
  examples/multithreaded.rs
  src/event.rs
  src/lib.rs
  src/platform_impl/linux/wayland/keyboard.rs
  src/platform_impl/linux/x11/util/input.rs
  src/platform_impl/linux/x11/util/modifiers.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/web/stdweb/event.rs
  src/platform_impl/web/web_sys/event.rs
  src/platform_impl/windows/event.rs
Labels: status: needs review, type: api

#1341 fix: remove deprecated usage of `mem::uninitialized`.
  src/platform_impl/web/stdweb/timeout.rs
Labels: platform: WebAssembly, status: needs review

#1345 Fix Window::set_visible not setting internal flags correctly
  CHANGELOG.md
  src/platform_impl/windows/window.rs
Labels: platform: Windows, status: needs review

#1342 [MacOS] Fix memory management
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
Labels: platform: macOS, status: needs review

#1344 Implement ModifiersChanged on Windows, and fix bugs discovered in implementation process
  CHANGELOG.md
  examples/cursor_grab.rs
  src/event.rs
  src/platform_impl/linux/wayland/keyboard.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/windows/event.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/window.rs
Labels: platform: Windows, status: needs review

#1335 MacOS fix `CursorEntered` and `CursorLeft` events fired at old window size.
  CHANGELOG.md
  src/platform_impl/macos/view.rs
Labels: platform: macOS, status: needs review

#1233 Implement hidpi for web platform
  Cargo.toml
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/monitor.rs
  src/platform_impl/web/stdweb/canvas.rs
  src/platform_impl/web/stdweb/mod.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/window.rs
  src/window.rs
Labels: platform: WebAssembly, status: needs review
