Repository rust-windowing/winit, pull requests merged in 2019-11, with the labels that each got.

#1277 Make size/position types generic over pixel type
  examples/multithreaded.rs
  src/dpi.rs
  src/event.rs
  src/monitor.rs
  src/platform/macos.rs
  src/platform/unix.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/ffi.rs
  src/platform_impl/ios/monitor.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop.rs
  src/platform_impl/linux/wayland/window.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/monitor.rs
  src/platform_impl/linux/x11/util/geometry.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/monitor.rs
  src/platform_impl/macos/util/async.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
  src/platform_impl/web/monitor.rs
  src/platform_impl/web/stdweb/canvas.rs
  src/platform_impl/web/stdweb/event.rs
  src/platform_impl/web/stdweb/mod.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/event.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/monitor.rs
  src/platform_impl/windows/util.rs
  src/platform_impl/windows/window.rs
  src/window.rs
  tests/serde_objects.rs
Labels: status: in progress, type: api

#1248 X11: Fix window creation hangs when another application is fullscreen
  CHANGELOG.md
  examples/timer.rs
  examples/window_debug.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/window.rs
Labels: platform: X11, status: needs review

#1279 X11: Fix incorrect modifiers when events are missed
  src/platform_impl/linux/wayland/keyboard.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/util/input.rs
  src/platform_impl/linux/x11/util/modifiers.rs
Labels: platform: Wayland, platform: X11, status: needs review

#1283 Dpi Type conversions into/from arrays
  src/dpi.rs
Labels: status: needs review, type: api

#1285 Stop refocusing window when switching from fullscreen to windowed
  CHANGELOG.md
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
Labels: platform: Windows, status: needs review

#1254 Stop emitting corporate characters in macOS
  CHANGELOG.md
  src/platform_impl/macos/view.rs
Labels: platform: macOS, status: needs review

#1282 Fix ReceivedCharacter not working with Alt held on Windows
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
Labels: platform: Windows, status: waiting
