Repository rust-windowing/winit, pull requests merged in 2020-11, with the labels that each got.

#1769 Windows: Delayed Message Boxes Fix.
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
Labels: platform: Windows, status: needs review

#1776 Android: support multi-touch
  CHANGELOG.md
  src/platform_impl/android/mod.rs
Labels: platform: Android, status: waiting

#1666 Ability to force a theme on Windows
  CHANGELOG.md
  FEATURES.md
  src/platform/windows.rs
  src/platform_impl/windows/dark_mode.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
  src/window.rs
Labels: platform: Windows, status: waiting
