Repository rust-windowing/winit, pull requests merged in 2020-10, with the labels that each got.

#1621 Fix Windows transparency behavior to support fully-opaque regions
  CHANGELOG.md
  src/platform_impl/windows/window.rs
Labels: platform: Windows, status: needs review

#1740 Windows: Fix alt tab bordless fullscreen
  CHANGELOG.md
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
Labels: platform: Windows, status: needs review

#1679 Add prefix byte for extended scancodes on Windows
  CHANGELOG.md
  src/platform_impl/windows/event.rs
Labels: platform: Windows

#1749 Issue 1588
  src/platform_impl/android/mod.rs
  src/window.rs
Labels: platform: Android
