Repository rust-windowing/winit, pull requests merged in 2020-03, with the labels that each got.

#1414 Gamepad device events - Web/WASM
  .gitignore
  Cargo.toml
  examples/web/gamepad/stdweb/Cargo.toml
  examples/web/gamepad/stdweb/src/main.rs
  examples/web/gamepad/websys/.gitignore
  examples/web/gamepad/websys/Cargo.toml
  examples/web/gamepad/websys/files/gamepad.html
  examples/web/gamepad/websys/src/lib.rs
  examples/web/gamepad/websys/src/utils.rs
  src/event.rs
  src/platform_impl/web/device.rs
  src/platform_impl/web/device/gamepad/constants.rs
  src/platform_impl/web/device/gamepad/manager.rs
  src/platform_impl/web/device/gamepad/mapping.rs
  src/platform_impl/web/device/gamepad/mod.rs
  src/platform_impl/web/device/gamepad/utils.rs
  src/platform_impl/web/device/mod.rs
  src/platform_impl/web/event_loop/global.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/web/stdweb/canvas.rs
  src/platform_impl/web/stdweb/gamepad.rs
  src/platform_impl/web/stdweb/mod.rs
  src/platform_impl/web/stdweb/utils.rs
  src/platform_impl/web/stdweb/window.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/gamepad.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/web_sys/utils.rs
  src/platform_impl/web/web_sys/window.rs
  src/platform_impl/web/window.rs
Labels: platform: WebAssembly, status: needs review

#1482 In control_flow example, don't schedule a new WaitUntil if wait was c…
  examples/control_flow.rs
Labels: status: needs review

#1404 add composition event support
  Cargo.toml
  src/event.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/ime/callbacks.rs
  src/platform_impl/linux/x11/ime/context.rs
  src/platform_impl/linux/x11/ime/inner.rs
  src/platform_impl/linux/x11/ime/mod.rs
  src/platform_impl/linux/x11/mod.rs
Labels: platform: X11, status: needs review

#1435 windows: ignore spurious mouse move messages
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/window_state.rs
Labels: platform: Windows, status: needs review

#1381 Move `ModifiersChanged` variant to `WindowEvent`
  CHANGELOG.md
  examples/cursor_grab.rs
  src/event.rs
  src/platform_impl/linux/wayland/keyboard.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window_delegate.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/window_state.rs
Labels: platform: Windows, platform: macOS, status: in progress, type: api

#1459 Remove assertions from Windows dark mode code
  CHANGELOG.md
  src/platform_impl/windows/dark_mode.rs
Labels: platform: Windows, status: needs review

#1461 On Windows, fix request_redraw() related panics
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
  src/platform_impl/windows/util.rs
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
Labels: platform: Windows, status: needs review

#1410 Add ability to create Icons from embedded resources on Windows
  CHANGELOG.md
  src/icon.rs
  src/platform/windows.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/util/icon.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/windows/icon.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
  src/window.rs
Labels: platform: Windows, status: needs review
