Repository rust-windowing/winit, pull requests merged in 2020-02, with the labels that each got.

#1440 Release 0.21.0
  CHANGELOG.md
  Cargo.toml
  README.md
Labels: type: meta

#1430 On macOS, Fix `set_simple_screen` to remember frame excluding title bar
  CHANGELOG.md
  src/platform_impl/macos/window.rs
Labels: platform: macOS, status: needs review

#1467 Add an example that calls request_redraw() from a thread
  examples/request_redraw_threaded.rs
Labels: status: needs review

#1462 Implement ThemeChanged for web target.
  CHANGELOG.md
  Cargo.toml
  FEATURES.md
  src/platform/web.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/stdweb/canvas.rs
  src/platform_impl/web/stdweb/mod.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/mod.rs
Labels: platform: WebAssembly, status: needs review

#1473 On Wayland, Hide CSD for fullscreen windows
  CHANGELOG.md
  src/platform_impl/linux/wayland/event_loop.rs
  src/platform_impl/linux/wayland/window.rs
Labels: platform: Wayland, status: needs review

#1423 fix issues in wait_until_time_or_msg function
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
Labels: platform: Windows, status: needs review
