Repository rust-windowing/winit, pull requests merged in 2020-08, with the labels that each got.

#1638 android: fix event loop polling
  CHANGELOG.md
  src/platform_impl/android/mod.rs
Labels: platform: Android

#1637 [macos] add NSWindow.hasShadow support
  CHANGELOG.md
  src/platform/macos.rs
  src/platform_impl/macos/window.rs
Labels: platform: macOS, status: in progress

#1631 Renamed NSString to NSStringRust to support Debug View Heirarchy in Xcode
  CHANGELOG.md
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/ffi.rs
Labels: platform: iOS, status: in progress
