Repository rust-windowing/winit, pull requests merged in 2020-01, with the labels that each got.

#1348 On Macos, Hide cursor only inside window
  CHANGELOG.md
  src/platform_impl/macos/util/cursor.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
Labels: platform: macOS, status: needs review

#1346 Remove Option from HiDpiFactorChanged in favor of a bare PhysicalSize
  src/event.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/linux/wayland/event_loop.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/windows/event_loop.rs
Labels: status: in progress, type: api

#1334 Rename hidpi_factor to scale_factor
  CHANGELOG.md
  src/dpi.rs
  src/event.rs
  src/monitor.rs
  src/platform/ios.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/monitor.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop.rs
  src/platform_impl/linux/wayland/window.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/monitor.rs
  src/platform_impl/linux/x11/util/randr.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/monitor.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/monitor.rs
  src/platform_impl/web/stdweb/canvas.rs
  src/platform_impl/web/stdweb/mod.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/monitor.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Labels: type: api

#1032 Added some "how" and "why" docs to event handling.
  src/event.rs
  src/lib.rs
Labels: type: documentation

#1309 Experiment with github actions for CI
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .travis.yml
  appveyor.yml
Labels: status: in progress

#1352 Release 0.20.0
  CHANGELOG.md
  Cargo.toml
  README.md
Labels: type: meta

#1375 Don't discard high-precision cursor position data
  CHANGELOG.md
  src/event.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/web/stdweb/canvas.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/windows/event_loop.rs
Labels: type: api

#1380 Fix run_return does not return on macOS unless it receives a message
  CHANGELOG.md
  src/platform_impl/macos/app_state.rs
Labels: platform: macOS, status: needs review

#1318 macOS: Unbundled window activation hack
  CHANGELOG.md
  src/platform_impl/macos/activation_hack.rs
  src/platform_impl/macos/app.rs
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/monitor.rs
  src/platform_impl/macos/util/mod.rs
  src/platform_impl/macos/window.rs
Labels: platform: macOS, status: needs review

#1378 Return physical position in `CursorMoved` on macOS
  CHANGELOG.md
  src/platform_impl/macos/view.rs
Labels: platform: macOS, status: needs review

#1390 doc: change remaining EventsCleared references to MainEventsCleared
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/macos/observer.rs
  src/platform_impl/windows/event_loop/runner.rs
  src/platform_impl/windows/window_state.rs
  src/window.rs
Labels: type: documentation

#1347 on MacOS, Fix not sending ReceivedCharacter event for some key combination
  CHANGELOG.md
  src/platform_impl/macos/view.rs
Labels: platform: macOS, status: needs review

#1394 Add the ability to pass a prebuilt canvas
  CHANGELOG.md
  src/platform/web.rs
  src/platform_impl/web/stdweb/canvas.rs
  src/platform_impl/web/stdweb/mod.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/window.rs
Labels: platform: WebAssembly, status: needs review

#1409 Simplify code by switching to higher-level dispatch APIs
  Cargo.toml
  src/platform_impl/macos/util/async.rs
Labels: platform: macOS

#1364 add hide_application on macos
  CHANGELOG.md
  src/platform/macos.rs
Labels: platform: macOS, status: needs review

#1398 Fix building on Windows 7 and 8
  src/platform_impl/windows/event_loop.rs
Labels: platform: Windows, status: needs review

#1416 Remove unused code in X11 backend.
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/util/client_msg.rs
  src/platform_impl/linux/x11/util/format.rs
  src/platform_impl/linux/x11/util/geometry.rs
  src/platform_impl/linux/x11/util/hint.rs
  src/platform_impl/linux/x11/util/mod.rs
  src/platform_impl/linux/x11/util/window_property.rs
Labels: platform: X11, status: needs review

#1209 Remove Wayland theme intermediates
  CHANGELOG.md
  src/platform/unix.rs
Labels: platform: Wayland, status: needs review, type: api

#1411 Fix set_minimized(true) works only with decorations on macOS
  CHANGELOG.md
  src/platform_impl/macos/window.rs
Labels: platform: macOS, status: needs review
