Repository rust-windowing/winit, pull requests merged in 2021-11, with the labels that each got.

#2007 Windows: Increase wait timer resolution
  CHANGELOG.md
  Cargo.toml
  src/platform_impl/windows/event_loop.rs
Labels: platform: Windows, status: needs review

#2027 macOS: Fix native file dialogs freezing the event loop
  CHANGELOG.md
  src/platform_impl/macos/app_state.rs
Labels: platform: macOS, status: needs review

#2065 On Wayland commit the window surface after setting the decoration mode
  CHANGELOG.md
  src/platform_impl/linux/wayland/window/mod.rs
Labels: platform: Wayland, status: needs review

#2062 Windows: Split window initialization across NCCREATE and CREATE
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/window.rs
Labels: platform: Windows, status: needs review

#2053 Show the menu bar in borderless fullscreen on macOS
  CHANGELOG.md
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Labels: platform: macOS, status: needs review

#2031 Handle EINTR on X11
  CHANGELOG.md
  src/platform_impl/linux/x11/mod.rs
Labels: platform: X11, status: needs review

#2071 bump ndk dependencies to 0.5
  CHANGELOG.md
  Cargo.toml
  README.md
Labels: platform: Android, status: needs review
