Repository rust-windowing/winit, pull requests merged in 2021-01, with the labels that each got.

#1807 [Windows] Set the cursor icon when the cursor first enters a window
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
Labels: platform: Windows, status: needs review

#1820 Android: Do not mark unhandled events as handled.
  CHANGELOG.md
  src/platform_impl/android/mod.rs
Labels: platform: Android

#1830 On Windows, fix deadlock caused by mouse capture
  src/platform_impl/windows/event_loop.rs
Labels: platform: Windows

#1804 Add Window::is_maximized method
  CHANGELOG.md
  examples/fullscreen.rs
  examples/window_debug.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
  src/window.rs
Labels: type: api
