Repository rust-windowing/winit, pull requests merged in 2021-03, with the labels that each got.

#1874 Fix seg-fault when using without a window
  CHANGELOG.md
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/util/async.rs
  src/platform_impl/macos/window.rs
Labels: platform: macOS

#1853 Fix for closure-captured values not being dropped on panic
  CHANGELOG.md
  Cargo.toml
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/observer.rs
Labels: platform: macOS, status: needs review

#1877 Fix communication of fractional RI_MOUSE_WHEEL events (Windows)
  CHANGELOG.md
  examples/mouse_wheel.rs
  src/platform_impl/windows/event_loop.rs
Labels: platform: Windows, status: needs review
