Repository rust-windowing/winit, pull requests merged in 2021-02, with the labels that each got.

#1842 Add ability to assign a menu when creating a window on Windows
  CHANGELOG.md
  FEATURES.md
  src/platform/windows.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
Labels: platform: Windows, status: needs review, type: api

#1626 Change linking of CGDisplayCreateUUIDFromDisplayID on macos
  README.md
  build.rs
  src/platform_impl/macos/ffi.rs
Labels: platform: macOS, status: needs investigation

#1815 Restore the ability to have fully transparent windows on Windows
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
Labels: platform: Windows, status: needs review

#1839 ADD primitive KeyEvent handling enough to handle BACK key
  CHANGELOG.md
  src/platform_impl/android/mod.rs
Labels: platform: Android, status: waiting
