Repository rust-windowing/winit, pull requests merged in 2021-08, with the labels that each got.

#1964 Fix window resize cursor orientation on X11 and Wayland
  CHANGELOG.md
  src/platform_impl/linux/wayland/seat/pointer/mod.rs
  src/platform_impl/linux/x11/util/cursor.rs
Labels: platform: Wayland, platform: X11, status: needs review

#1979 Add composition event on macOS
  Cargo.toml
  src/platform_impl/macos/ffi.rs
  src/platform_impl/macos/util/mod.rs
  src/platform_impl/macos/view.rs
Labels: platform: macOS, status: needs review

#1993 Adds Android winit<->ndk_glue version match table
  README.md
Labels: platform: Android, type: documentation, status: waiting

#1994 Fix Window visibility regression
  src/platform_impl/windows/window.rs
Labels: platform: Windows, status: needs review

#1991 On Wayland, log error for failure to set cursor
  src/platform_impl/linux/wayland/seat/pointer/mod.rs
Labels: platform: Wayland, status: needs review

#1990 Update smithay-client-toolkit to 'v0.15.0'
  CHANGELOG.md
  Cargo.toml
  src/platform/unix.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/output.rs
  src/platform_impl/linux/wayland/seat/keyboard/mod.rs
  src/platform_impl/linux/wayland/seat/mod.rs
  src/platform_impl/linux/wayland/seat/pointer/handlers.rs
  src/platform_impl/linux/wayland/seat/pointer/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/shim.rs
Labels: platform: Wayland

#1999 On Wayland, implement 'request_user_attention'
  CHANGELOG.md
  Cargo.toml
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/env.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/shim.rs
  src/window.rs
Labels: platform: Wayland

#2006 Fix transparency on X11
  CHANGELOG.md
  src/platform_impl/linux/x11/window.rs
Labels: platform: X11, status: needs review

#2009 Fix potential bug
  src/platform_impl/linux/x11/window.rs
Labels: platform: X11, status: needs review

#1963 Emit ScaleFactorChanged event on monitor reconnect
  CHANGELOG.md
  src/platform_impl/linux/x11/event_processor.rs
Labels: platform: X11, status: needs review

#1987 Fix X11 memory leak and remove mio-misc
  Cargo.toml
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
Labels: platform: X11, status: needs review

#2011 Clippy fixes
  Cargo.toml
  src/dpi.rs
  src/event.rs
  src/lib.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/web/device.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/dark_mode.rs
  src/platform_impl/windows/drop_handler.rs
  src/platform_impl/windows/event.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/util.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Labels: status: needs review, type: maintenance
