Repository rust-windowing/winit, pull requests merged in 2021-06, with the labels that each got.

#1953 Implement `Window::request_redraw` on Android
  CHANGELOG.md
  src/platform_impl/android/mod.rs
  src/window.rs
Labels: platform: Android, status: needs review

#1848 add is_maximized for x11
  CHANGELOG.md
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/window.rs
Labels: platform: X11, status: needs review

#1954 Drop the event callback before exiting on macOS
  CHANGELOG.md
  src/platform_impl/macos/event_loop.rs
Labels: platform: macOS

#1834 changed description of window scale factor in Events
  src/dpi.rs
Labels: type: documentation
