Repository rust-windowing/winit, pull requests merged in 2021-05, with the labels that each got.

#1930 implement mint conversions
  CHANGELOG.md
  Cargo.toml
  README.md
  src/dpi.rs
Labels: status: needs review, type: api

#1941 Remove support for `stdweb`
  .github/workflows/ci.yml
  CHANGELOG.md
  Cargo.toml
  FEATURES.md
  README.md
  examples/web.rs
  src/lib.rs
  src/platform/web.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/web/stdweb/canvas.rs
  src/platform_impl/web/stdweb/event.rs
  src/platform_impl/web/stdweb/mod.rs
  src/platform_impl/web/stdweb/scaling.rs
  src/platform_impl/web/stdweb/timeout.rs
Labels: platform: WebAssembly

#1936 MacOS: Use objc's autoreleasepool instead of manually with NSAutoreleasePool
  Cargo.toml
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/menu.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/util/mod.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Labels: platform: macOS
