Repository rust-windowing/winit, pull requests merged in 2021-07, with the labels that each got.

#1976 Remove libc dependency on non-linux platforms
  Cargo.toml
  src/platform/windows.rs
  src/platform_impl/macos/ffi.rs
Labels: platform: Windows, platform: macOS, status: needs review, type: maintenance

#1489 macOS: Only check is_repeat to send ReceivedCharacter. Fixes #1488
  CHANGELOG.md
  src/platform_impl/macos/view.rs
Labels: platform: macOS, status: needs review

#1933 Remove window subclassing
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
  src/platform_impl/windows/window.rs
Labels: platform: Windows, status: needs review
