Repository rust-windowing/winit, pull requests merged in 2022-02, with the labels that each got.

#2155 On X11, Fix for repeated event loop iteration when `ControlFlow` was `Wait`
  CHANGELOG.md
  src/platform_impl/linux/x11/mod.rs
Labels: platform: X11, status: needs review

#2137 Add `EventLoopBuilder`
  CHANGELOG.md
  examples/custom_events.rs
  src/event_loop.rs
  src/platform/macos.rs
  src/platform/unix.rs
  src/platform/windows.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/mod.rs
  src/window.rs
Labels: platform: macOS, platform: Windows, platform: X11, platform: Wayland, type: api, status: needs review

#2181 Bump `dev-dependencies`
  Cargo.toml
Labels: type: maintenance

#2172 feat: add `Window::is_decorated`
  CHANGELOG.md
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Labels: platform: macOS, platform: Windows, type: api

#2171 feat: add `Window::is_resizable`
  CHANGELOG.md
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Labels: platform: macOS, platform: Windows, type: api

#2197 Fix Android CI
  src/platform_impl/android/mod.rs
Labels: platform: Android, type: maintenance

#2169 feat: add `Window::is_visible`
  CHANGELOG.md
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Labels: platform: macOS, platform: Windows, type: api

#2207 Fix unsafe_op_in_unsafe_fn warning on nightly
  src/platform_impl/windows/window.rs
Labels: platform: Windows, status: needs review

#2115 Improve web example
  .cargo/config.toml
  Cargo.toml
  README.md
  examples/web.rs
  run-wasm/Cargo.toml
  run-wasm/src/main.rs
Labels: platform: WebAssembly

#2205 On Wayland, fix resize not propagating properly
  CHANGELOG.md
  src/platform_impl/linux/wayland/event_loop/mod.rs
Labels: platform: Wayland
