Repository rust-windowing/winit, pull requests merged in 2022-10, with the labels that each got.

#2509 Update cargo-run-wasm
  run-wasm/Cargo.toml
  run-wasm/src/main.rs
Labels: platform: WebAssembly, type: maintenance

#2246 [X11] Create windows with a parent window
  CHANGELOG.md
  FEATURES.md
  examples/child_window.rs
  src/platform/x11.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/window.rs
Labels: platform: X11

#2441 Add support for theme on macOS, and unify theme methods
  CHANGELOG.md
  FEATURES.md
  examples/theme.rs
  src/event.rs
  src/platform/wayland.rs
  src/platform/windows.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/appkit/appearance.rs
  src/platform_impl/macos/appkit/application.rs
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Labels: platform: macOS

#2358 Generate docs.rs documentation with doc_auto_cfg
  CHANGELOG.md
  Cargo.toml
  src/lib.rs
Labels: type: documentation, status: waiting
