Repository rust-windowing/winit, pull requests merged in 2022-06, with the labels that each got.

#2311 On Windows, fix reported cursor position.
  src/platform_impl/windows/mod.rs
Labels: platform: Windows, status: needs review

#2132 Set WindowBuilder to must_use
  src/window.rs
Labels: status: needs review, type: maintenance

#2195 Add X11 opt-in function for device events
  CHANGELOG.md
  src/event_loop.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
Labels: platform: X11, status: needs review

#2292 [macOS] remove old dialog fix that seems to be superceded by https://github.c…
  CHANGELOG.md
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Labels: type: bug, platform: macOS

#2313 Migrate from lazy_static to once_cell
  Cargo.toml
  src/lib.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/ime/input_method.rs
  src/platform_impl/linux/x11/monitor.rs
  src/platform_impl/linux/x11/util/atom.rs
  src/platform_impl/linux/x11/util/wm.rs
  src/platform_impl/macos/app.rs
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
  src/platform_impl/windows/dark_mode.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/util.rs
Labels: type: maintenance

#2073 Emit LoopDestroyed on cmd+q
  CHANGELOG.md
  src/platform_impl/macos/app_delegate.rs
Labels: platform: macOS, status: needs review

#2318 On Android, use `HasRawWindowHandle` directly from the `ndk` crate
  Cargo.toml
  src/platform_impl/android/mod.rs
Labels: type: enhancement, platform: Android, status: needs discussion, status: needs review

#2134 Make `WindowAttributes` private
  CHANGELOG.md
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
  src/window.rs
Labels: status: needs review, type: maintenance

#2324 Build docs on `docs.rs` for iOS and Android as well
  .github/workflows/ci.yml
  CHANGELOG.md
  Cargo.toml
Labels: platform: Android, type: documentation, platform: iOS

#2326 Remove `core-video-sys` dependency
  Cargo.toml
  src/platform_impl/macos/ffi.rs
  src/platform_impl/macos/monitor.rs
Labels: platform: macOS, difficulty: easy, type: maintenance

#2327 Fix macOS 32bit
  src/platform_impl/macos/util/mod.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
Labels: type: bug, platform: macOS

#2328 Documentation cleanup
  README.md
  src/dpi.rs
  src/event.rs
  src/event_loop.rs
  src/icon.rs
  src/monitor.rs
  src/platform/android.rs
  src/platform/macos.rs
  src/platform/mod.rs
  src/platform/run_return.rs
  src/platform/unix.rs
  src/platform/web.rs
  src/window.rs
Labels: type: documentation, status: needs review

#2321 examples/window_run_return: Enable on Android
  examples/window_run_return.rs
Labels: platform: Android, priority: low

#2335 Fix doubled device events on X11
  src/platform_impl/linux/x11/mod.rs
Labels: platform: X11

#1864 Map XK_Caps_Lock to VirtualKeyCode::Capital
  CHANGELOG.md
  src/platform_impl/linux/x11/events.rs
Labels: platform: X11, status: needs review
