Repository rust-windowing/winit, pull requests merged in 2022-08, with the labels that each got.

#2393 Windows: respect min/max sizes when creating the window
  CHANGELOG.md
  src/dpi.rs
  src/platform_impl/windows/window.rs
Labels: platform: Windows

#2409 Add Windows opt-in function for device events
  CHANGELOG.md
  src/event_loop.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/raw_input.rs
Labels: platform: Windows

#2420 Add CODEOWNERS file
  .github/CODEOWNERS
  CONTRIBUTING.md
  HALL_OF_CHAMPIONS.md
Labels: type: documentation, type: meta

#2419 On Windows, improve support for undecorated windows
  CHANGELOG.md
  src/platform/windows.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/util.rs
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
Labels: platform: Windows, status: needs review

#2157 Add touchpad magnify and rotate gestures support for macOS
  CHANGELOG.md
  examples/touchpad_gestures.rs
  src/event.rs
  src/platform_impl/macos/view.rs
Labels: platform: macOS, status: needs review

#2445 Windows: Update handling of system keypresses
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
Labels: platform: Windows

#2451 Add myself as iOS co-maintainer
  .github/CODEOWNERS
Labels: platform: iOS, type: maintenance
