Repository rust-windowing/winit, pull requests merged in 2022-11, with the labels that each got.

#2546 macOS: Fix overridden fullscreen selectors
  src/platform_impl/macos/window_delegate.rs
Labels: type: bug, platform: macOS

#2530 On Windows, fix icons specified on `WindowBuilder` not taking effect for windows created after the first one
  CHANGELOG.md
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
Labels: type: bug, platform: Windows

#2444 Android: rework backend to use android_activity crate
  .github/workflows/ci.yml
  CHANGELOG.md
  Cargo.toml
  FEATURES.md
  README.md
  src/event_loop.rs
  src/platform/android.rs
  src/platform_impl/android/mod.rs
Labels: platform: Android

#2545 macOS: Fix `NSWindowLevel` values
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/window.rs
Labels: type: bug, platform: macOS

#2558 Only build, but don't run tests in MSRV CI
  .github/workflows/ci.yml
  src/platform_impl/linux/wayland/seat/pointer/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/ime/callbacks.rs
  src/platform_impl/linux/x11/ime/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/util/randr.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/menu.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/util/async.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/window.rs
Labels: type: maintenance

#2566 macOS: Fix ApplicationDelegate::init
  src/platform_impl/macos/app_delegate.rs
Labels: type: bug, platform: macOS

#2459 Remove `WindowBuilderExtIOS::with_root_view_class`
  CHANGELOG.md
  FEATURES.md
  src/platform/ios.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
Labels: type: api, platform: iOS, type: maintenance

#2565 Fix value in `MouseButton::Other` on Windows
  CHANGELOG.md
  src/platform_impl/windows/mod.rs
Labels: type: bug, platform: Windows

#2561 ci: Specify to build `winit` package when invoking `cargo-apk`
  .github/workflows/ci.yml
Labels: platform: Android, type: maintenance

#2557 android: depend on android-activity 0.4.0
  Cargo.toml
Labels: platform: Android, type: maintenance

#2573 Refactor `SharedState` so that it is no longer behind an `Arc`
  src/platform_impl/macos/util/async.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Labels: platform: macOS, type: maintenance

#2574 macOS: Run tasks synchronously on main thread instead of asynchronously
  CHANGELOG.md
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/util/async.rs
  src/platform_impl/macos/window.rs
Labels: type: bug, platform: macOS, type: maintenance

#2575 macOS: Run fullscreen code synchronously on main thread
  src/platform_impl/macos/util/async.rs
  src/platform_impl/macos/window.rs
Labels: type: bug, platform: macOS, type: maintenance
