Repository rust-windowing/winit, pull requests merged in 2022-03, with the labels that each got.

#2057 Adopt windows-sys
  CHANGELOG.md
  Cargo.toml
  src/platform/windows.rs
  src/platform_impl/windows/dark_mode.rs
  src/platform_impl/windows/definitions.rs
  src/platform_impl/windows/dpi.rs
  src/platform_impl/windows/drop_handler.rs
  src/platform_impl/windows/event.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
  src/platform_impl/windows/icon.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/monitor.rs
  src/platform_impl/windows/raw_input.rs
  src/platform_impl/windows/util.rs
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
Labels: platform: Windows

#2105 Reverse horizontal scroll direction
  CHANGELOG.md
  examples/mouse_wheel.rs
  src/event.rs
  src/platform_impl/linux/wayland/seat/pointer/handlers.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/web/web_sys/event.rs
  src/platform_impl/windows/event_loop.rs
Labels: platform: macOS, platform: Windows, platform: X11, platform: Wayland, platform: WebAssembly, status: needs investigation

#2149 Rename internal structs for consistency
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/web/device.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/proxy.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/web/monitor.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/drop_handler.rs
Labels: platform: macOS, platform: Windows, platform: WebAssembly, status: needs review, type: maintenance

#2131 Clippy fixes for windows platform
  src/platform_impl/windows/event_loop/runner.rs
  src/platform_impl/windows/icon.rs
  src/platform_impl/windows/monitor.rs
  src/platform_impl/windows/window.rs
Labels: platform: Windows, type: maintenance

#2225 Fix fullscreen window messaging race on Windows
  CHANGELOG.md
  src/platform_impl/windows/window.rs
Labels: platform: Windows, status: needs review

#1910 Windows: Remove owned DC context per window
  CHANGELOG.md
  src/platform_impl/windows/window.rs
Labels: platform: Windows

#2210 Fix scale factor calculation when the only monitor is reconnected
  CHANGELOG.md
  src/platform_impl/linux/x11/event_processor.rs
Labels: platform: X11, status: needs review
