Repository rust-windowing/winit, pull requests merged in 2022-01, with the labels that each got.

#2119 Revert "Add composition event on macOS (#1979)"
  CHANGELOG.md
  Cargo.toml
  src/platform_impl/macos/ffi.rs
  src/platform_impl/macos/util/mod.rs
  src/platform_impl/macos/view.rs
Labels: platform: macOS

#2121 Fix transparent window crash on Windows 11
  CHANGELOG.md
  src/platform_impl/windows/window.rs
Labels: platform: Windows

#2025 Add cursor grab for web target
  CHANGELOG.md
  FEATURES.md
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/canvas/pointer_handler.rs
  src/platform_impl/web/window.rs
  src/window.rs
Labels: platform: WebAssembly, status: needs review

#2078 Fix `CGDisplayCreateUUIDFromDisplayID` linking (again)
  CHANGELOG.md
  src/platform_impl/macos/ffi.rs
Labels: platform: macOS

#2130 Make CI run on changes to non-code files as well
  .github/workflows/ci.yml
Labels: type: maintenance

#2126 Remove entries from PULL_REQUEST_TEMPLATE.md that are now covered by CI
  .github/PULL_REQUEST_TEMPLATE.md
Labels: type: documentation

#2138 Fix some invalid `msg_send!` usage
  src/platform_impl/ios/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/ffi.rs
  src/platform_impl/macos/util/async.rs
  src/platform_impl/macos/util/mod.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
Labels: type: bug, platform: macOS, platform: iOS, type: maintenance

#2133 Clippy fixes macos platform
  src/platform/macos.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/ffi.rs
  src/platform_impl/macos/monitor.rs
  src/platform_impl/macos/util/cursor.rs
  src/platform_impl/macos/util/mod.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Labels: platform: macOS, type: maintenance

#2154 Add IME event support for Wayland
  Cargo.toml
  src/platform_impl/linux/wayland/seat/text_input/handlers.rs
  src/platform_impl/linux/wayland/seat/text_input/mod.rs
Labels: platform: Wayland

#2098 Makes wayland app_id function signature more ergonomic
  src/platform/unix.rs
Labels: platform: Wayland

#2145 Update changelog guidelines to prevent conflicts from blocking PRs
  .gitattributes
  CHANGELOG.md
  CONTRIBUTING.md
Labels: status: needs review, type: meta

#2136 Remove `WINIT_LINK_COLORSYNC`
  CHANGELOG.md
  README.md
  build.rs
  src/platform_impl/macos/ffi.rs
Labels: platform: macOS, type: maintenance, status: needs testing

#2150 macOS RAII trace guards
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/util/async.rs
  src/platform_impl/macos/util/mod.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Labels: platform: macOS, type: maintenance

#2163 Bump versions of ndk to 0.6, ndk-sys to 0.3, ndk-glue to 0.6
  CHANGELOG.md
  Cargo.toml
  README.md
Labels: platform: Android, status: needs review
