Repository rust-windowing/winit, pull requests merged in 2022-07, with the labels that each got.

#2354 Add 'Occluded(bool)' window event (currently supported on X11 and Macos)
  CHANGELOG.md
  src/event.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/macos/window_delegate.rs
Labels: platform: macOS, status: needs review

#2202 web: Manually emit focused event on mouse click
  CHANGELOG.md
  src/platform_impl/web/event_loop/window_target.rs
Labels: platform: WebAssembly, status: needs review

#2208 web: Add `EventLoop::spawn`
  CHANGELOG.md
  src/platform/web.rs
  src/platform_impl/web/event_loop/mod.rs
Labels: platform: WebAssembly, status: needs review

#2307 android: Hold `NativeWindow` lock until after notifying the user with `Event::Suspended`
  CHANGELOG.md
  Cargo.toml
  src/platform_impl/android/mod.rs
  src/window.rs
Labels: platform: Android, status: needs discussion, difficulty: hard, blocking a release

#2365 web: add `with_prevent_default`, `with_focusable`
  CHANGELOG.md
  src/platform/web.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
Labels: platform: WebAssembly, status: needs review

#2374 windows: Use correct value for mouse wheel delta
  src/platform_impl/windows/event_loop.rs
Labels: platform: Windows

#2159 Make winit focus take activity into account on Windows
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/window_state.rs
Labels: type: bug, platform: Windows, status: needs discussion, status: needs review

#2356 Tidy up "platform-specifc" doc sections
  src/event.rs
  src/event_loop.rs
  src/platform/run_return.rs
  src/window.rs
Labels: type: documentation, status: needs review

#2343 Android: avoid deadlocks while handling UserEvent
  src/platform_impl/android/mod.rs
Labels: platform: Android, status: needs review

#2348 On macOS, fix confirmed character inserted
  src/platform_impl/macos/view.rs
Labels: platform: macOS

#2336 Fix hiding a maximized window On Windows
  CHANGELOG.md
  src/platform_impl/windows/window_state.rs
Labels: platform: Windows, status: needs review

#2331 Consistently deliver a `Resumed` event on all platforms
  CHANGELOG.md
  src/event.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/windows/event_loop/runner.rs
Labels: platform: macOS, platform: Windows, platform: X11, platform: Wayland, platform: WebAssembly, type: platform parity, blocking a release
