Repository rust-windowing/winit, pull requests merged in 2022-09, with the labels that each got.

#2428 iOS: Fix a few instances of UB
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/ffi.rs
  src/platform_impl/ios/monitor.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
Labels: type: bug, platform: iOS

#2421 Split `platform::unix` into `platform::x11` and `platform::wayland`
  .github/CODEOWNERS
  CHANGELOG.md
  src/platform/android.rs
  src/platform/ios.rs
  src/platform/macos.rs
  src/platform/mod.rs
  src/platform/run_return.rs
  src/platform/wayland.rs
  src/platform/web.rs
  src/platform/windows.rs
  src/platform/x11.rs
  src/platform_impl/linux/mod.rs
Labels: platform: X11, platform: Wayland, type: api, type: maintenance

#2453 Bump MSRV to 1.60
  .github/workflows/ci.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.toml
  src/platform_impl/linux/x11/dnd.rs
Labels: type: maintenance

#2452 Initial transition to `objc2`
  CHANGELOG.md
  Cargo.toml
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/ffi.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/ios/monitor.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/macos/app.rs
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/ffi.rs
  src/platform_impl/macos/menu.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/monitor.rs
  src/platform_impl/macos/util/async.rs
  src/platform_impl/macos/util/cursor.rs
  src/platform_impl/macos/util/mod.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Labels: platform: macOS, platform: iOS, type: maintenance

#2458 Clean up macOS class declaration
  src/lib.rs
  src/platform_impl/macos/app.rs
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/appkit/application.rs
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/appkit/responder.rs
  src/platform_impl/macos/appkit/view.rs
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/util/mod.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Labels: platform: macOS, type: maintenance

#2461 Fix `declare_class!` indentation
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window_delegate.rs
Labels: platform: macOS, type: maintenance

#2463 Refactor macOS cursor code
  src/platform_impl/macos/appkit/cursor.rs
  src/platform_impl/macos/appkit/image.rs
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/appkit/view.rs
  src/platform_impl/macos/util/cursor.rs
  src/platform_impl/macos/util/mod.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
Labels: platform: macOS, type: maintenance

#2209 Add web_aspect_ratio example
  Cargo.toml
  examples/web.rs
  examples/web_aspect_ratio.rs
Labels: platform: WebAssembly, status: needs review

#2216 WindowBuilderExtWebSys::with_prevent_default disables scrolling on both mobile and desktop (previously just desktop)
  CHANGELOG.md
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/canvas/pointer_handler.rs
Labels: platform: WebAssembly, status: needs review

#2465 Refactor macOS to use new `objc2` features
  Cargo.toml
  src/lib.rs
  src/platform/macos.rs
  src/platform_impl/macos/app.rs
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/appkit/application.rs
  src/platform_impl/macos/appkit/button.rs
  src/platform_impl/macos/appkit/color.rs
  src/platform_impl/macos/appkit/control.rs
  src/platform_impl/macos/appkit/cursor.rs
  src/platform_impl/macos/appkit/event.rs
  src/platform_impl/macos/appkit/menu.rs
  src/platform_impl/macos/appkit/menu_item.rs
  src/platform_impl/macos/appkit/mod.rs
  src/platform_impl/macos/appkit/pasteboard.rs
  src/platform_impl/macos/appkit/responder.rs
  src/platform_impl/macos/appkit/screen.rs
  src/platform_impl/macos/appkit/text_input_context.rs
  src/platform_impl/macos/appkit/version.rs
  src/platform_impl/macos/appkit/view.rs
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/ffi.rs
  src/platform_impl/macos/menu.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/monitor.rs
  src/platform_impl/macos/observer.rs
  src/platform_impl/macos/util/async.rs
  src/platform_impl/macos/util/mod.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Labels: platform: macOS, type: maintenance

#2477 macOS: Fix `WindowBuilder::with_resize_increments`
  src/platform_impl/macos/window.rs
Labels: type: bug, platform: macOS

#2462 Clean up iOS class declaration
  Cargo.toml
  src/lib.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/ffi.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/ios/monitor.rs
  src/platform_impl/ios/uikit/mod.rs
  src/platform_impl/ios/uikit/responder.rs
  src/platform_impl/ios/uikit/view.rs
  src/platform_impl/ios/uikit/view_controller.rs
  src/platform_impl/ios/uikit/window.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
Labels: platform: iOS, type: maintenance

#2479 Remove custom definition of Core Foundation runloop functionality
  Cargo.toml
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/ffi.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/observer.rs
Labels: platform: macOS, platform: iOS, type: maintenance

#2480 Fix runloop entry
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/macos/observer.rs
Labels: type: bug, platform: macOS, platform: iOS

#2496 fix issue #2495
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
Labels: platform: Windows

#2483 Simplify internal type construction
  src/event_loop.rs
  src/monitor.rs
  src/platform/ios.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/ios/monitor.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/output.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/monitor.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/monitor.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
  src/platform_impl/mod.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/web/monitor.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/monitor.rs
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
  src/window.rs
Labels: platform: macOS, platform: Windows, platform: X11, platform: Wayland, platform: Android, platform: iOS, type: maintenance
