Repository rust-windowing/winit, pull requests merged in 2022-12, with the labels that each got.

#2578 Clean up `UIView` override declaration
  src/platform_impl/ios/uikit/mod.rs
  src/platform_impl/ios/view.rs
Labels: platform: iOS, type: maintenance

#2581 Retain `WS_MAXIMZE` when unminmizing a maximized window
  CHANGELOG.md
  examples/window_debug.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/window_state.rs
Labels: platform: Windows

#2188 Web touch event
  CHANGELOG.md
  FEATURES.md
  src/event.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/canvas/pointer_handler.rs
  src/platform_impl/web/web_sys/event.rs
Labels: platform: WebAssembly, status: needs review

#2599 Swap assert by debug_assert for recovereable issue. Fixes #2597
  src/platform_impl/web/web_sys/scaling.rs
Labels: type: bug, platform: WebAssembly

#2586 use cfg aliases throught the code base
  Cargo.toml
  build.rs
  examples/child_window.rs
  examples/custom_events.rs
  examples/multithreaded.rs
  examples/request_redraw_threaded.rs
  examples/web.rs
  examples/web_aspect_ratio.rs
  examples/window_run_return.rs
  src/event_loop.rs
  src/platform/mod.rs
  src/platform/wayland.rs
  src/platform/x11.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/mod.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
  src/window.rs
  tests/send_objects.rs
  tests/sync_object.rs
Labels: type: maintenance

#2579 Reduce amount of `unsafe` on iOS
  src/platform/ios.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/ffi.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/ios/monitor.rs
  src/platform_impl/ios/uikit/application.rs
  src/platform_impl/ios/uikit/coordinate_space.rs
  src/platform_impl/ios/uikit/device.rs
  src/platform_impl/ios/uikit/event.rs
  src/platform_impl/ios/uikit/mod.rs
  src/platform_impl/ios/uikit/screen.rs
  src/platform_impl/ios/uikit/screen_mode.rs
  src/platform_impl/ios/uikit/touch.rs
  src/platform_impl/ios/uikit/trait_collection.rs
  src/platform_impl/ios/uikit/view.rs
  src/platform_impl/ios/uikit/view_controller.rs
  src/platform_impl/ios/uikit/window.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
Labels: platform: iOS, type: maintenance
