Repository rust-windowing/winit, pull requests merged in 2022-04, with the labels that each got.

#2226 android: Add mapping from NDK Keycode to VirtualKeyCode
  CHANGELOG.md
  src/platform_impl/android/mod.rs
Labels: platform: Android, status: needs review

#2177 feat(Windows): add skip taskbar methods
  CHANGELOG.md
  src/platform/windows.rs
  src/platform_impl/windows/definitions.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
Labels: platform: Windows, status: needs review

#2228 Add methods to set ControlFlow
  CHANGELOG.md
  examples/control_flow.rs
  examples/cursor.rs
  examples/cursor_grab.rs
  examples/custom_events.rs
  examples/drag_window.rs
  examples/fullscreen.rs
  examples/handling_close.rs
  examples/min_max_size.rs
  examples/minimize.rs
  examples/mouse_wheel.rs
  examples/multithreaded.rs
  examples/multiwindow.rs
  examples/request_redraw.rs
  examples/request_redraw_threaded.rs
  examples/resizable.rs
  examples/set_ime_position.rs
  examples/timer.rs
  examples/transparent.rs
  examples/web.rs
  examples/window.rs
  examples/window_debug.rs
  examples/window_icon.rs
  examples/window_run_return.rs
  src/event_loop.rs
  src/lib.rs
  src/window.rs
Labels: type: api, status: needs discussion

#2250 Unify `with_app_id` and `with_class` methods
  CHANGELOG.md
  src/platform/unix.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/window.rs
Labels: platform: X11, platform: Wayland

#2252 Unify behavior of `resizable` across platforms
  CHANGELOG.md
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/shim.rs
  src/platform_impl/linux/x11/window.rs
  src/window.rs
Labels: platform: X11, platform: Wayland

#2266 Fix assigning the wrong monitor when receiving Windows move events
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
Labels: platform: Windows
