Repository rust-windowing/winit, pull requests merged in 2022-05, with the labels that each got.

#2258 Improve `IME` documentation
  examples/ime.rs
  src/event.rs
  src/window.rs
Labels: type: documentation, status: needs review

#2277 Bump windows-sys version to 0.36
  Cargo.toml
Labels: platform: Windows

#2243 Add new `IME` event for desktop platforms
  CHANGELOG.md
  Cargo.toml
  examples/ime.rs
  examples/set_ime_position.rs
  src/event.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/seat/text_input/handlers.rs
  src/platform_impl/linux/wayland/seat/text_input/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/shim.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/ime/callbacks.rs
  src/platform_impl/linux/x11/ime/context.rs
  src/platform_impl/linux/x11/ime/inner.rs
  src/platform_impl/linux/x11/ime/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/util/mod.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/ime.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
  src/window.rs
Labels: platform: macOS, platform: X11, platform: Wayland, type: api

#2239 macOS: Emit resize on frame_did_change
  CHANGELOG.md
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window_delegate.rs
Labels: platform: macOS
