Repository rust-windowing/winit, pull requests merged in 2023-02, with the labels that each got.

#2665 Windows: Fix Alt key press entering menu loop
  src/platform_impl/windows/event_loop.rs
Labels: type: bug, platform: Windows

#2666 On macOS, fix `Ime::Commit` persisting
  CHANGELOG.md
  src/platform_impl/macos/view.rs
Labels: type: bug, platform: macOS

#2598 Replace lazy window message ids with a slimmer version
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
Labels: platform: Windows

#2672 m(windows): Name the waiter thread
  src/platform_impl/windows/event_loop.rs
Labels: platform: Windows

#2699 Update FEATURES.md
  FEATURES.md
Labels: type: documentation
