Repository rust-windowing/winit, pull requests merged in 2023-08, with the labels that each got.

#2992 Update icrate to v0.0.4
  Cargo.toml
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/appkit/application.rs
  src/platform_impl/macos/appkit/screen.rs
  src/platform_impl/macos/appkit/view.rs
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window_delegate.rs
Labels: B - bug, DS - macos, DS - ios, S - maintenance

#2984 Remove functionality already exposed through `raw-window-handle`
  CHANGELOG.md
  FEATURES.md
  src/platform/ios.rs
  src/platform/macos.rs
  src/platform/wayland.rs
  src/platform/windows.rs
  src/platform/x11.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/windows/window.rs
Labels: DS - macos, DS - windows, DS - x11, DS - wayland, DS - ios, S - maintenance, I - BREAKING CHANGE

#3004 Android: Support unicode character mapping + dead keys
  Cargo.toml
  src/platform_impl/android/keycodes.rs
  src/platform_impl/android/mod.rs
Labels: DS - android

#3019 iOS: Use NSOperatingSystemVersion from icrate
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/ffi.rs
Labels: B - bug, DS - ios

#3017 Add a way to embed the X11 window into another
  CHANGELOG.md
  examples/x11_embed.rs
  src/platform/x11.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/atoms.rs
  src/platform_impl/linux/x11/window.rs
Labels: DS - x11

#2985 Improve thread safety
  CHANGELOG.md
  Cargo.toml
  src/platform/ios.rs
  src/platform/macos.rs
  src/platform/web.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/util.rs
  src/platform_impl/macos/util/async.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/async.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Labels: B - bug, DS - macos, DS - ios, DS - wasm, S - maintenance

#3041 Fix recent CI failures
  src/event.rs
  src/platform/web.rs
  src/platform_impl/android/keycodes.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/windows/mod.rs
Labels: S - maintenance

#3043 Fix invalid size when resizing
  CHANGELOG.md
  clippy.toml
  src/platform_impl/macos/appkit/view.rs
  src/platform_impl/macos/view.rs
Labels: DS - macos

#3044 Use `setTimeout()` trick instead of `Window.requestIdleCallback()`
  CHANGELOG.md
  Cargo.toml
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/state.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/web_sys/schedule.rs
  src/platform_impl/web/web_sys/timeout.rs
Labels: DS - wasm

#3051 On Web, never return a `MonitorHandle`
  CHANGELOG.md
  src/event_loop.rs
  src/monitor.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/monitor.rs
  src/platform_impl/web/window.rs
  src/window.rs
Labels: DS - wasm

#3049 Move `Event::RedrawRequested` to `WindowEvent::RedrawRequested`
  CHANGELOG.md
  examples/child_window.rs
  examples/control_flow.rs
  examples/cursor.rs
  examples/cursor_grab.rs
  examples/custom_events.rs
  examples/drag_window.rs
  examples/fullscreen.rs
  examples/handling_close.rs
  examples/ime.rs
  examples/key_binding.rs
  examples/mouse_wheel.rs
  examples/multiwindow.rs
  examples/request_redraw.rs
  examples/request_redraw_threaded.rs
  examples/resizable.rs
  examples/startup_notification.rs
  examples/theme.rs
  examples/timer.rs
  examples/touchpad_gestures.rs
  examples/transparent.rs
  examples/window.rs
  examples/window_buttons.rs
  examples/window_debug.rs
  examples/window_drag_resize.rs
  examples/window_icon.rs
  examples/window_ondemand.rs
  examples/window_option_as_alt.rs
  examples/window_pump_events.rs
  examples/window_resize_increments.rs
  examples/window_tabbing.rs
  examples/x11_embed.rs
  src/event.rs
  src/lib.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
  src/window.rs
Labels: DS - macos, DS - windows, DS - x11, DS - wayland, DS - android, DS - ios, DS - wasm, DS - redox

#2988 Improve CI caching, and give each job names
  .github/workflows/ci.yml
Labels: S - maintenance

#3045 Make iOS fully thread safe
  CHANGELOG.md
  src/platform/ios.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/ios/monitor.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/macos/app.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window_delegate.rs
Labels: S - enhancement, DS - macos, DS - ios, S - maintenance

#3054 Fix deminiaturize on macOS
  CHANGELOG.md
  src/platform_impl/macos/appkit/window.rs
Labels: B - bug, DS - macos, B - crash

#3063 Web: Fullscreen Overhaul
  CHANGELOG.md
  examples/web.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/animation_frame.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/fullscreen.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/web_sys/pointer.rs
  src/platform_impl/web/window.rs
Labels: DS - wasm

#2968 Implement X11 extensions using x11rb instead of Xlib
  Cargo.toml
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/ffi.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/monitor.rs
  src/platform_impl/linux/x11/util/input.rs
  src/platform_impl/linux/x11/util/randr.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/linux/x11/xdisplay.rs
Labels: DS - x11

#3069 Ensure that winit initializes `NSApplication`
  src/platform_impl/macos/event_loop.rs
Labels: B - bug, DS - macos

#3055 Make `EventLoopWindowTarget` independent of the user type on Redox/Orbital
  src/platform_impl/orbital/event_loop.rs
Labels: S - api, DS - redox
