Repository rust-windowing/winit, pull requests merged in 2023-11, with the labels that each got.

#3210 Disable `default-features` for the `ndk` crate
  Cargo.toml
Labels: DS - android

#3236 Make Android docs build on docs.rs
  Cargo.toml
  src/platform/android.rs
Labels: DS - android, S - docs

#3222 Reload DPI on PropertyChange
  CHANGELOG.md
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/window.rs
Labels: DS - x11

#3247 Mac: Remove error log when pressing Fn key
  CHANGELOG.md
  src/platform_impl/macos/event.rs
Labels: DS - macos

#3231 feat: macos services menu added
  CHANGELOG.md
  src/platform_impl/macos/appkit/application.rs
  src/platform_impl/macos/appkit/menu_item.rs
  src/platform_impl/macos/menu.rs
Labels: DS - macos

#3249 Remove unused .gitmodules
  .gitmodules
Labels: DS - android, S - maintenance
