Repository rust-windowing/winit, pull requests merged in 2023-03, with the labels that each got.

#2702 Check whether CoCreateInstance succeeds
  CHANGELOG.md
  src/platform_impl/windows/window.rs
Labels: platform: Windows

#2715 Changed 'an' to 'a' in documentation
  src/event.rs
Labels: type: documentation

#2739 Fix macos memory leaks
  CHANGELOG.md
  Cargo.toml
  src/platform_impl/macos/view.rs
Labels: B - bug, DS - macos, B - regression
