Repository rust-windowing/winit, pull requests merged in 2023-01, with the labels that each got.

#2588 Redox OS support
  .github/CODEOWNERS
  .github/workflows/ci.yml
  CHANGELOG.md
  Cargo.toml
  FEATURES.md
  README.md
  build.rs
  examples/window_run_return.rs
  src/event.rs
  src/event_loop.rs
  src/monitor.rs
  src/platform/mod.rs
  src/platform/orbital.rs
  src/platform_impl/mod.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/orbital/mod.rs
  src/platform_impl/orbital/window.rs
  src/window.rs
Labels: type: enhancement, platform: Redox

#2416 Note the platform versions that `winit` supports
  FEATURES.md
Labels: type: documentation, status: needs discussion

#2605 Fix middle/other mouse buttons on macOS
  CHANGELOG.md
  src/platform_impl/macos/view.rs
Labels: type: bug, platform: macOS

#2632 Properly remove window mouse event listeners
  CHANGELOG.md
  Cargo.toml
  src/platform_impl/web/web_sys/event_handle.rs
Labels: platform: WebAssembly

#2554 Add smart magnify gesture support for macOS
  CHANGELOG.md
  examples/touchpad_gestures.rs
  src/event.rs
  src/platform_impl/macos/view.rs
Labels: type: enhancement, platform: macOS

#2641 Note status quo on macOS and iOS redraws
  src/event.rs
Labels: type: documentation

#2642 Clean up event queuing a bit on macOS
  src/platform_impl/macos/app.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window_delegate.rs
Labels: platform: macOS, type: maintenance

#2643 Use a bit less `unsafe` on iOS
  src/platform/ios.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/ffi.rs
  src/platform_impl/ios/uikit/mod.rs
  src/platform_impl/ios/uikit/view_controller.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
Labels: platform: iOS, type: maintenance

#2644 Remove myself from CODEOWNERS
  .github/CODEOWNERS
Labels: type: meta

#2639 Bump windows-sys version to 0.45
  Cargo.toml
  src/platform_impl/windows/drop_handler.rs
  src/platform_impl/windows/event.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/window.rs
Labels: platform: Windows

#2584 On Windows, fix window size for maximized, undecorated windows
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/util.rs
Labels: platform: Windows, status: waiting

#2576 Implemented option_as_alt to allow for ignoring option key characters
  .gitignore
  CHANGELOG.md
  examples/window_option_as_alt.rs
  src/platform/macos.rs
  src/platform_impl/macos/appkit/event.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
Labels: platform: macOS
