Repository rust-windowing/winit, pull requests merged in 2023-10, with the labels that each got.

#3117 Link to areweguiyet.com and arewegameyet.rs instead of winit's wiki page
  README.md
Labels: S - docs, S - maintenance

#3114 Android: Make DeviceId contain device id's
  CHANGELOG.md
  src/platform_impl/android/mod.rs
Labels: DS - android

#3135 Update Clippy to v1.73
  src/platform_impl/linux/wayland/seat/keyboard/mod.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/view.rs
Labels: S - maintenance

#3134 Web: remove unnecessary usage of `once_cell::unsync::Lazy`
  src/platform_impl/web/async.rs
  src/platform_impl/web/web_sys/fullscreen.rs
  src/platform_impl/web/web_sys/resize_scaling.rs
  src/platform_impl/web/web_sys/schedule.rs
Labels: DS - wasm

#3060 Support KDE Wayland blur protocol
  CHANGELOG.md
  Cargo.toml
  FEATURES.md
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/types/kwin_blur.rs
  src/platform_impl/linux/wayland/types/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Labels: DS - wayland

#3133 Web: fix `ControlFlow::WaitUntil` to never wake up **before** the given time
  CHANGELOG.md
  src/platform_impl/web/web_sys/schedule.rs
Labels: DS - wasm

#3120 fix wayland MonitorHandle position
  src/platform_impl/linux/wayland/output.rs
Labels: DS - wayland

#2980 Add Occluded events based on foreground/background on iOS and MemoryWarning on iOS/Android
  CHANGELOG.md
  src/event.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/view.rs
Labels: DS - android, S - api, DS - ios

#2718 implement set_cursor_hittest for x11
  FEATURES.md
  src/platform_impl/linux/x11/window.rs
  src/window.rs
Labels: DS - x11

#3147 Fix potentially unaligned references in X11 device
  src/platform_impl/linux/x11/mod.rs
Labels: DS - x11

#3082 Web Async Rework
  src/platform_impl/web/async.rs
  src/platform_impl/web/async/channel.rs
  src/platform_impl/web/async/dispatcher.rs
  src/platform_impl/web/async/mod.rs
  src/platform_impl/web/async/waker.rs
  src/platform_impl/web/async/wrapper.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/proxy.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
Labels: DS - wasm

#3145 Upgrade to `ndk 0.8`, `ndk-sys 0.5` and `android-activity 0.5` releases
  CHANGELOG.md
  Cargo.toml
  src/platform_impl/android/keycodes.rs
  src/platform_impl/android/mod.rs
Labels: DS - android

#3154 Fixed `CursorEntered` and `CursorLeft` events not getting sent when holding a mouse button down
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
Labels: DS - windows

#3158 On macOS, fix tabGroup misuse
  CHANGELOG.md
  src/platform_impl/macos/appkit/tab_group.rs
  src/platform_impl/macos/appkit/window.rs
  src/platform_impl/macos/window.rs
Labels: DS - macos

#3083 iOS: Add configuration for preferred status bar style
  CHANGELOG.md
  FEATURES.md
  src/platform/ios.rs
  src/platform_impl/ios/uikit/mod.rs
  src/platform_impl/ios/uikit/status_bar_style.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
Labels: DS - ios

#3034 Fix invalid hmonitor panic
  src/platform_impl/windows/monitor.rs
Labels: DS - windows

#3036 Fix inconsistency in mouse button device events, add hwheel device event on Windows
  CHANGELOG.md
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/raw_input.rs
Labels: DS - windows, DS - x11
