Repository rust-windowing/winit, pull requests merged in 2024-06, with the labels that each got.

#3708 macOS: Improve event queuing
  Cargo.toml
  src/changelog/unreleased.md
  src/platform_impl/macos/app.rs
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/observer.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window_delegate.rs
Labels: S - enhancement, DS - macos

#3720 macOS/iOS: Various refactorings in application state
  src/platform_impl/ios/app_delegate.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/macos/app.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_handler.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/observer.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window_delegate.rs
Labels: DS - macos, DS - ios, S - maintenance

#3728 Web: queue `EventLoopProxy::send_event()` to microtask when triggered from outside the event loop
  src/changelog/unreleased.md
  src/platform_impl/web/async/waker.rs
  src/platform_impl/web/event_loop/runner.rs
Labels: DS - web

#3729 Web: don't overwrite cursor with `CursorIcon::Default`
  src/changelog/unreleased.md
  src/platform_impl/web/cursor.rs
Labels: DS - web

#3727 Web: prevent crash when using `InnerSizeWriter::request_inner_size()`
  src/changelog/unreleased.md
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/resize_scaling.rs
Labels: DS - web

#3736 macOS: Set the theme on the `NSWindow`, instead of application-wide
  Cargo.toml
  examples/window.rs
  src/changelog/unreleased.md
  src/event.rs
  src/platform_impl/macos/window_delegate.rs
  src/window.rs
Labels: B - bug, S - enhancement, DS - macos

#3739 Web: implement `WaitUntilStrategy`
  .github/workflows/ci.yml
  .gitignore
  .swcrc
  Cargo.toml
  src/changelog/unreleased.md
  src/platform/web.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/schedule.rs
  src/platform_impl/web/web_sys/worker.js
  src/platform_impl/web/web_sys/worker.min.js
Labels: DS - web

#3753 macOS: Call `ApplicationHandler` directly instead of using `Event `
  src/platform_impl/macos/app.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_handler.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window_delegate.rs
Labels: DS - macos, S - maintenance

#3755 Avoid `path` when importing modules
  src/platform_impl/mod.rs
  src/platform_impl/web/mod.rs
Labels: S - maintenance

#3694 event_loop: remove generic user event
  examples/child_window.rs
  examples/window.rs
  src/application.rs
  src/changelog/unreleased.md
  src/changelog/v0.30.md
  src/event.rs
  src/event_loop.rs
  src/lib.rs
  src/platform/android.rs
  src/platform/ios.rs
  src/platform/macos.rs
  src/platform/pump_events.rs
  src/platform/run_on_demand.rs
  src/platform/wayland.rs
  src/platform/web.rs
  src/platform/windows.rs
  src/platform/x11.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/event_loop/proxy.rs
  src/platform_impl/linux/wayland/event_loop/sink.rs
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_handler.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/async/waker.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/proxy.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/windows/drop_handler.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
  src/platform_impl/windows/window.rs
  tests/send_objects.rs
  tests/sync_object.rs
Labels: S - api, S - maintenance, I - BREAKING CHANGE

#3756 Move iOS and macOS implementations into new `apple` module
  .github/CODEOWNERS
  Cargo.toml
  build.rs
  src/platform_impl/apple/appkit/app.rs
  src/platform_impl/apple/appkit/app_state.rs
  src/platform_impl/apple/appkit/cursor.rs
  src/platform_impl/apple/appkit/event.rs
  src/platform_impl/apple/appkit/event_handler.rs
  src/platform_impl/apple/appkit/event_loop.rs
  src/platform_impl/apple/appkit/ffi.rs
  src/platform_impl/apple/appkit/menu.rs
  src/platform_impl/apple/appkit/mod.rs
  src/platform_impl/apple/appkit/monitor.rs
  src/platform_impl/apple/appkit/observer.rs
  src/platform_impl/apple/appkit/util.rs
  src/platform_impl/apple/appkit/view.rs
  src/platform_impl/apple/appkit/window.rs
  src/platform_impl/apple/appkit/window_delegate.rs
  src/platform_impl/apple/mod.rs
  src/platform_impl/apple/uikit/app_delegate.rs
  src/platform_impl/apple/uikit/app_state.rs
  src/platform_impl/apple/uikit/event_loop.rs
  src/platform_impl/apple/uikit/mod.rs
  src/platform_impl/apple/uikit/monitor.rs
  src/platform_impl/apple/uikit/view.rs
  src/platform_impl/apple/uikit/view_controller.rs
  src/platform_impl/apple/uikit/window.rs
  src/platform_impl/mod.rs
Labels: DS - macos, DS - ios, S - maintenance

#3757 Use `self::` when re-importing local module
  src/platform_impl/mod.rs
  src/platform_impl/web/mod.rs
Labels: B - bug, S - maintenance

#2924 Remove `EventLoopExtIOS::idiom` and `ios::Idiom`
  FEATURES.md
  src/changelog/unreleased.md
  src/platform/ios.rs
  src/platform_impl/apple/uikit/event_loop.rs
Labels: DS - ios, S - maintenance

#3766 Web: Remove some unnecessary compatibility code
  src/changelog/unreleased.md
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/web_sys/event.rs
Labels: DS - web
