Repository rust-windowing/winit, pull requests merged in 2024-02, with the labels that each got.

#3408 On Windows, apply `ScaleFactorChanged` new size if different than OS
  CHANGELOG.md
  src/platform_impl/windows/event_loop/runner.rs
Labels: DS - windows

#3461 orbital: improve keyboard handling
  CHANGELOG.md
  src/platform/mod.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/orbital/mod.rs
Labels: DS - redox

#3475 Update meeting time
  README.md
Labels: S - meta

#3484 Orbital buildout
  CHANGELOG.md
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/orbital/window.rs
  src/window.rs
Labels: DS - redox

#3497 Remove Testers and Contributors table
  CONTRIBUTING.md
Labels: S - docs

#3503 Wayland: Fixed DeviceEvent::Motion behaviour
  CHANGELOG.md
  src/platform_impl/linux/wayland/seat/pointer/relative_pointer.rs
Labels: DS - wayland

#3511 iOS: Split classes in `view.rs` into separate files
  src/platform_impl/ios/app_delegate.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/view_controller.rs
  src/platform_impl/ios/window.rs
Labels: DS - ios, S - maintenance

#3478 Move some of our documentation to docs.rs
  Cargo.toml
  FEATURES.md
  README.md
  src/lib.rs
  src/platform/android.rs
  src/platform/ios.rs
  src/platform/macos.rs
  src/platform/orbital.rs
  src/platform/wayland.rs
  src/platform/web.rs
  src/platform/windows.rs
  src/platform/x11.rs
  src/platform_impl/ios/mod.rs
Labels: S - docs

#3518 Split `dpi` module out into a separate crate
  CHANGELOG.md
  Cargo.toml
  dpi/Cargo.toml
  dpi/src/lib.rs
  run-wasm/Cargo.toml
  src/event.rs
  src/lib.rs
  src/monitor.rs
  src/platform_impl/ios/window.rs
  src/window.rs
Labels: S - maintenance

#3530 Clean up iOS ffi.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/ffi.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/ios/uikit/device.rs
  src/platform_impl/ios/uikit/geometry.rs
  src/platform_impl/ios/uikit/mod.rs
  src/platform_impl/ios/uikit/status_bar_style.rs
  src/platform_impl/ios/view_controller.rs
  src/platform_impl/ios/window.rs
Labels: DS - ios, S - maintenance

#3532 macOS: Refactor event handler storage
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/event_handler.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/mod.rs
Labels: DS - macos, S - maintenance

#3531 Remove a few unnecessary usages of `Lazy`
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/ime/input_method.rs
  src/platform_impl/linux/x11/util/wm.rs
  src/platform_impl/macos/cursor.rs
Labels: DS - macos, DS - x11, DS - android, DS - ios, S - maintenance
