Repository rust-windowing/winit, pull requests merged in 2024-11, with the labels that each got.

#3974 x11: fix `WindowAttributesExtX11::with_x11_screen()`, extend example
  examples/window.rs
  src/changelog/unreleased.md
  src/platform_impl/linux/x11/window.rs
Labels: DS - x11

#3971 Add `fn main` to root examples
  src/lib.rs
Labels: S - docs, C - needs discussion

#3961 macOS: set activation policy by default if app does not have a bundle identifier
  src/platform_impl/apple/appkit/app_state.rs
Labels: B - bug, DS - macos

#4002 CI: Fix cargo deny
  deny.toml
Labels: S - maintenance

#3892 Missing X11 FocusIn event
  src/changelog/unreleased.md
  src/platform_impl/linux/x11/window.rs
Labels: B - bug, DS - x11

#3890 Add safe area and document coordinate systems
  Cargo.toml
  docs/ATTRIBUTION.md
  docs/coordinate-systems.drawio
  docs/res/coordinate-systems-desktop.svg
  docs/res/coordinate-systems-mobile.svg
  dpi/CHANGELOG.md
  dpi/src/lib.rs
  examples/window.rs
  src/changelog/unreleased.md
  src/event.rs
  src/lib.rs
  src/monitor.rs
  src/platform/macos.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/apple/appkit/window.rs
  src/platform_impl/apple/appkit/window_delegate.rs
  src/platform_impl/apple/uikit/view.rs
  src/platform_impl/apple/uikit/window.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/util/geometry.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/web_sys/safe_area.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/window.rs
  src/window.rs
  typos.toml
Labels: DS - android, S - api, S - docs, DS - ios, DS - web, C - needs discussion, C - nominated
