Repository rust-windowing/winit, pull requests merged in 2024-10, with the labels that each got.

#3876 Implement the pointer event overhaul
  examples/child_window.rs
  examples/window.rs
  src/changelog/unreleased.md
  src/event.rs
  src/event_loop.rs
  src/platform/web.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/apple/appkit/app.rs
  src/platform_impl/apple/appkit/view.rs
  src/platform_impl/apple/uikit/view.rs
  src/platform_impl/linux/common/xkb/keymap.rs
  src/platform_impl/linux/wayland/seat/pointer/mod.rs
  src/platform_impl/linux/wayland/seat/pointer/relative_pointer.rs
  src/platform_impl/linux/wayland/seat/touch/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/event.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/event.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/web_sys/pointer.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/util.rs
Labels: S - enhancement, S - api

#3902 Merge all `WindowId` into a single type in the core crate
  src/platform_impl/android/mod.rs
  src/platform_impl/apple/appkit/app_state.rs
  src/platform_impl/apple/appkit/mod.rs
  src/platform_impl/apple/appkit/view.rs
  src/platform_impl/apple/appkit/window.rs
  src/platform_impl/apple/appkit/window_delegate.rs
  src/platform_impl/apple/uikit/app_state.rs
  src/platform_impl/apple/uikit/mod.rs
  src/platform_impl/apple/uikit/view.rs
  src/platform_impl/apple/uikit/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/event_loop/sink.rs
  src/platform_impl/linux/wayland/mod.rs
  src/platform_impl/linux/wayland/types/xdg_activation.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/orbital/mod.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/drop_handler.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Labels: S - api

#3786 android: Forward `suspended()` and `resumed()` events and patch up platform-specific documentation
  src/application.rs
  src/changelog/unreleased.md
  src/event.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/apple/appkit/window_delegate.rs
Labels: DS - android, S - platform parity

#3824 Implement apple standard keybinding events
  examples/window.rs
  src/application.rs
  src/changelog/unreleased.md
  src/platform/macos.rs
  src/platform_impl/apple/appkit/view.rs
Labels: DS - macos
