Repository rust-windowing/winit, pull requests merged in 2024-08, with the labels that each got.

#3831 Remove `raw-window-handle` v0.4 and v0.5 support
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  Cargo.toml
  examples/child_window.rs
  examples/util/fill.rs
  src/changelog/unreleased.md
  src/event_loop.rs
  src/lib.rs
  src/platform/windows.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/apple/appkit/event_loop.rs
  src/platform_impl/apple/appkit/window_delegate.rs
  src/platform_impl/apple/uikit/event_loop.rs
  src/platform_impl/apple/uikit/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Labels: S - api, C - nominated

#3847 Web: monitor API improvements
  src/monitor.rs
  src/platform/web.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/monitor.rs
Labels: DS - web

#3820 Remove `DeviceEvent::Added` and `Removed`
  src/changelog/unreleased.md
  src/event.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/windows/event_loop.rs
Labels: S - enhancement, DS - windows, DS - x11

#3819 Remove `DeviceEvent::Motion` and `WindowEvent::AxisMotion`
  examples/window.rs
  src/changelog/unreleased.md
  src/event.rs
  src/platform_impl/apple/appkit/app.rs
  src/platform_impl/linux/wayland/seat/pointer/relative_pointer.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/windows/event_loop.rs
Labels: S - enhancement, DS - x11

#3733 Skip releasing displays that are unavailable
  src/changelog/unreleased.md
  src/platform_impl/apple/appkit/window_delegate.rs
Labels: DS - macos, B - crash

#3838 Add `ActiveEventLoop::system_theme()`
  src/changelog/unreleased.md
  src/event_loop.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/apple/appkit/event_loop.rs
  src/platform_impl/apple/appkit/window_delegate.rs
  src/platform_impl/apple/uikit/event_loop.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/windows/dark_mode.rs
  src/platform_impl/windows/event_loop.rs
  src/window.rs
Labels: DS - macos, DS - windows, DS - wayland, S - api, DS - web, S - platform parity

#3844 Make `(Active)EventLoop::create_custom_cursor()` return a `Result<CustomCursor, ExternalError>`
  examples/window.rs
  src/changelog/unreleased.md
  src/cursor.rs
  src/event_loop.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/apple/appkit/cursor.rs
  src/platform_impl/apple/appkit/event_loop.rs
  src/platform_impl/apple/uikit/event_loop.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/util/cursor.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/icon.rs
  src/platform_impl/windows/window.rs
Labels: S - enhancement, S - api

#3827 Use `dyn ActiveEventloop` in `ApplicationHandler`
  examples/child_window.rs
  examples/control_flow.rs
  examples/pump_events.rs
  examples/run_on_demand.rs
  examples/window.rs
  examples/x11_embed.rs
  src/application.rs
  src/changelog/unreleased.md
  src/cursor.rs
  src/event_loop.rs
  src/lib.rs
  src/platform/android.rs
  src/platform/macos.rs
  src/platform/startup_notify.rs
  src/platform/wayland.rs
  src/platform/web.rs
  src/platform/x11.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/apple/appkit/app_state.rs
  src/platform_impl/apple/appkit/event_handler.rs
  src/platform_impl/apple/appkit/event_loop.rs
  src/platform_impl/apple/uikit/app_state.rs
  src/platform_impl/apple/uikit/event_loop.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/output.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/mod.rs
Labels: C - nominated

#3783 Introduce `FingerId`
  src/changelog/unreleased.md
  src/event.rs
  src/platform/web.rs
  src/platform/windows.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/apple/appkit/mod.rs
  src/platform_impl/apple/uikit/mod.rs
  src/platform_impl/apple/uikit/view.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/mod.rs
  src/platform_impl/linux/wayland/seat/touch/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/orbital/mod.rs
  src/platform_impl/web/device.rs
  src/platform_impl/web/event.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/pointer.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/mod.rs
Labels: S - enhancement, DS - windows, S - api, DS - web

#3796 Implement common Std traits on many types
  Cargo.toml
  src/changelog/unreleased.md
  src/cursor.rs
  src/error.rs
  src/event.rs
  src/event_loop.rs
  src/icon.rs
  src/keyboard.rs
  src/monitor.rs
  src/platform/ios.rs
  src/platform/macos.rs
  src/platform/pump_events.rs
  src/platform/web.rs
  src/platform/windows.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/apple/appkit/event_loop.rs
  src/platform_impl/apple/appkit/window_delegate.rs
  src/platform_impl/apple/uikit/event_loop.rs
  src/platform_impl/apple/uikit/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/cursor.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/icon.rs
  src/platform_impl/windows/mod.rs
  src/window.rs
Labels: S - enhancement

#3854 Properly implement event loop extension traits
  src/platform/android.rs
  src/platform/macos.rs
  src/platform/startup_notify.rs
  src/platform/wayland.rs
  src/platform/web.rs
  src/platform/x11.rs
Labels: B - bug

#3758 Allow the user to register the application delegate on macOS and iOS
  Cargo.toml
  src/changelog/unreleased.md
  src/platform/ios.rs
  src/platform/macos.rs
  src/platform_impl/apple/appkit/app.rs
  src/platform_impl/apple/appkit/app_state.rs
  src/platform_impl/apple/appkit/event_handler.rs
  src/platform_impl/apple/appkit/event_loop.rs
  src/platform_impl/apple/appkit/observer.rs
  src/platform_impl/apple/appkit/view.rs
  src/platform_impl/apple/appkit/window.rs
  src/platform_impl/apple/appkit/window_delegate.rs
  src/platform_impl/apple/mod.rs
  src/platform_impl/apple/notification_center.rs
  src/platform_impl/apple/uikit/app_delegate.rs
  src/platform_impl/apple/uikit/event_loop.rs
  src/platform_impl/apple/uikit/mod.rs
Labels: S - enhancement, DS - macos, S - docs, DS - ios

#3860 Update minimum version of `wasm-bindgen`
  Cargo.toml
  deny.toml
  src/platform_impl/web/cursor.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/web_sys/resize_scaling.rs
  src/platform_impl/web/web_sys/schedule.rs
Labels: DS - web

#3861 Web: return `MonitorHandle` in `Window::fullscreen()`
  src/changelog/unreleased.md
  src/platform/web.rs
  src/platform_impl/web/monitor.rs
  src/platform_impl/web/window.rs
  src/window.rs
Labels: DS - web

#3862 Add support for MacOS ARM64
  .github/workflows/ci.yml
  Cargo.toml
  deny.toml
  dpi/Cargo.toml
  src/platform/macos.rs
Labels: DS - macos

#3865 iOS: Refactor event handling to share code with macOS
  src/platform_impl/apple/appkit/app_state.rs
  src/platform_impl/apple/appkit/mod.rs
  src/platform_impl/apple/event_handler.rs
  src/platform_impl/apple/mod.rs
  src/platform_impl/apple/uikit/app_state.rs
  src/platform_impl/apple/uikit/event_loop.rs
Labels: DS - ios, S - maintenance

#3873 Improve iOS documentation
  src/platform/ios.rs
  src/platform/macos.rs
  src/window.rs
Labels: S - docs, DS - ios

#3823 Basic iOS IME support
  Cargo.toml
  src/changelog/unreleased.md
  src/platform_impl/apple/uikit/view.rs
  src/platform_impl/apple/uikit/window.rs
  src/window.rs
Labels: DS - ios

#3749 Replace libxcursor with custom cursor code
  Cargo.toml
  src/changelog/unreleased.md
  src/platform_impl/linux/x11/ffi.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/util/cursor.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/linux/x11/xdisplay.rs
Labels: DS - x11, S - maintenance, C - nominated
