Repository rust-windowing/winit, pull requests merged in 2024-03, with the labels that each got.

#3523 Filter out tiny mouse events
  CHANGELOG.md
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/util/mod.rs
  src/platform_impl/linux/x11/util/mouse.rs
Labels: B - bug, DS - x11, C - waiting on maintainer

#3540 On X11, fix use after free during xinput2 processing
  CHANGELOG.md
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/util/cookie.rs
  src/platform_impl/linux/x11/util/mod.rs
Labels: DS - x11

#3538 Add documentation example of ignoring key repeats
  src/event.rs
Labels: S - docs

#3524 Replace log with tracing
  CHANGELOG.md
  Cargo.toml
  examples/control_flow.rs
  examples/pump_events.rs
  examples/run_on_demand.rs
  examples/x11_embed.rs
  src/cursor.rs
  src/event_loop.rs
  src/icon.rs
  src/platform_impl/android/keycodes.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/common/xkb/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/seat/keyboard/mod.rs
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/platform_impl/linux/x11/ime/context.rs
  src/platform_impl/linux/x11/ime/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/util/input.rs
  src/platform_impl/linux/x11/util/randr.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/linux/x11/xdisplay.rs
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/cursor.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/event_handler.rs
  src/platform_impl/macos/util.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/cursor.rs
  src/platform_impl/web/web_sys/event.rs
  src/platform_impl/web/web_sys/resize_scaling.rs
  src/platform_impl/windows/drop_handler.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/keyboard.rs
  src/platform_impl/windows/monitor.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Labels: C - needs discussion, S - maintenance

#3553 Web: fix crash with `ControlFlow::Wait|WaitUntil`
  CHANGELOG.md
  src/platform_impl/web/web_sys/schedule.rs
Labels: DS - web

#3517 Add `ApplicationHandler` and matching run APIs
  CHANGELOG.md
  examples/control_flow.rs
  examples/pump_events.rs
  examples/run_on_demand.rs
  examples/window.rs
  examples/x11_embed.rs
  src/application.rs
  src/event.rs
  src/event_loop.rs
  src/lib.rs
  src/platform/pump_events.rs
  src/platform/run_on_demand.rs
  src/platform/web.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/web/event_loop/runner.rs
  src/window.rs
Labels: S - api

#3568 Bump `x11-dl` to v2.19.1
  Cargo.toml
Labels: DS - x11

#3529 Add `LogicalPoint`, `PhysicalPoint` and `Point`
  dpi/CHANGELOG.md
  dpi/src/lib.rs
Labels: S - api, C - nominated

#3574 bugfix(x11): crash when querying xsettings prop fails
  CHANGELOG.md
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/util/randr.rs
  src/platform_impl/linux/x11/util/window_property.rs
  src/platform_impl/linux/x11/xsettings.rs
Labels: DS - x11

#3496 Move changelog to crate documentation
  .cargo/config.toml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  CHANGELOG.md
  CONTRIBUTING.md
  src/changelog/mod.rs
  src/changelog/unreleased.md
  src/changelog/v0.10.md
  src/changelog/v0.11.md
  src/changelog/v0.12.md
  src/changelog/v0.13.md
  src/changelog/v0.14.md
  src/changelog/v0.15.md
  src/changelog/v0.16.md
  src/changelog/v0.17.md
  src/changelog/v0.18.md
  src/changelog/v0.19.md
  src/changelog/v0.20.md
  src/changelog/v0.21.md
  src/changelog/v0.22.md
  src/changelog/v0.23.md
  src/changelog/v0.24.md
  src/changelog/v0.25.md
  src/changelog/v0.26.md
  src/changelog/v0.27.md
  src/changelog/v0.28.md
  src/changelog/v0.29.md
  src/changelog/v0.8.md
  src/changelog/v0.9.md
  src/lib.rs
Labels: S - docs

#3483 Add issue templates
  .github/ISSUE_TEMPLATE/blank_issue.md
  .github/ISSUE_TEMPLATE/bug_android.yml
  .github/ISSUE_TEMPLATE/bug_ios.yml
  .github/ISSUE_TEMPLATE/bug_macos.yml
  .github/ISSUE_TEMPLATE/bug_wayland.yml
  .github/ISSUE_TEMPLATE/bug_web.yml
  .github/ISSUE_TEMPLATE/bug_windows.yml
  .github/ISSUE_TEMPLATE/bug_x11.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: S - docs

#3191 Prefer `[foo][bar]` over `[foo](bar)` for intra-doc links
  src/application.rs
  src/cursor.rs
  src/event.rs
  src/event_loop.rs
  src/keyboard.rs
  src/lib.rs
  src/monitor.rs
  src/platform/web.rs
  src/platform/windows.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/window.rs
Labels: S - docs, C - upstream

#3562 On Windows, confine cursor to center of window when grabbed and hidden
  src/changelog/unreleased.md
  src/platform_impl/windows/window_state.rs
Labels: DS - windows

#3600 Fix Clippy CI after Rust 1.77
  src/error.rs
  src/platform_impl/windows/window.rs
Labels: S - maintenance

#3595 bugfix(x11): Fix window position calculation overflow during dragging
  src/platform_impl/linux/x11/window.rs
Labels: DS - x11

#3601 Consistently emit extra mouse motion events
  src/changelog/unreleased.md
  src/platform_impl/macos/view.rs
Labels: B - bug, DS - macos

#3605 windows: remove github URLs from binaries
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/window.rs
Labels: DS - windows
