Repository rust-windowing/winit, pull requests merged in 2024-01, with the labels that each got.

#3076 Display all platform-specific documentation on docs.rs
  .github/workflows/ci.yml
  CHANGELOG.md
  Cargo.toml
  src/lib.rs
  src/platform/android.rs
  src/platform/ios.rs
  src/platform/macos.rs
  src/platform/mod.rs
  src/platform/modifier_supplement.rs
  src/platform/scancode.rs
  src/platform/wayland.rs
  src/platform/web.rs
  src/platform/windows.rs
  src/platform/x11.rs
  src/platform_impl/linux/common/keymap.rs
  src/platform_impl/linux/common/xkb_state.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/util/hint.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/linux/x11/xdisplay.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/windows/keyboard.rs
  src/platform_impl/windows/keyboard_layout.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/raw_input.rs
Labels: S - docs, S - platform parity, S - maintenance

#3356 Test all docs.rs deployments
  .github/workflows/ci.yml
Labels: S - docs

#3358 Fix missing target in docs.rs test
  .github/workflows/ci.yml
Labels: S - docs

#3061 Windows: Make `EventLoopWindowTarget` independent of UserEvent type
  src/event_loop.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
  src/platform_impl/windows/window.rs
Labels: DS - windows, S - maintenance

#3293 Windows: cache custom cursor
  src/platform_impl/windows/icon.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
Labels: DS - windows

#3369 Web: account for canvas being focused already
  src/platform_impl/web/event_loop/window_target.rs
Labels: DS - wasm

#3370 Fix nightly CI
  src/platform_impl/linux/x11/ime/callbacks.rs
  src/platform_impl/linux/x11/ime/input_method.rs
  src/platform_impl/linux/x11/ime/mod.rs
  src/platform_impl/web/main_thread.rs
  src/platform_impl/windows/window.rs
Labels: S - maintenance

#3371 Web: support Firefox `privacy.resistFingerprinting`
  src/platform_impl/web/web_sys/resize_scaling.rs
Labels: DS - wasm

#3380 Web: increase cursor position accuracy
  CHANGELOG.md
  src/platform_impl/web/web_sys/event.rs
Labels: DS - wasm

#3368 Update Redox
  Cargo.toml
  deny.toml
Labels: DS - redox

#3384 Web: improve custom cursor handling and add animated cursors
  CHANGELOG.md
  Cargo.toml
  examples/custom_cursors.rs
  src/platform/web.rs
  src/platform_impl/web/async/abortable.rs
  src/platform_impl/web/async/atomic_waker.rs
  src/platform_impl/web/async/channel.rs
  src/platform_impl/web/async/concurrent_queue.rs
  src/platform_impl/web/async/dispatcher.rs
  src/platform_impl/web/async/mod.rs
  src/platform_impl/web/async/notifier.rs
  src/platform_impl/web/async/waker.rs
  src/platform_impl/web/cursor.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/main_thread.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
Labels: DS - wasm

#3298 Remove generic parameter `T` from `EventLoopWindowTarget`
  CHANGELOG.md
  examples/child_window.rs
  examples/custom_cursors.rs
  src/cursor.rs
  src/event_loop.rs
  src/platform/android.rs
  src/platform/macos.rs
  src/platform/pump_events.rs
  src/platform/run_on_demand.rs
  src/platform/startup_notify.rs
  src/platform/wayland.rs
  src/platform/web.rs
  src/platform/x11.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/output.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/cursor.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/cursor.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/icon.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Labels: S - api, S - maintenance

#3389 macOS: Remove global `HANDLER` and `AppState`
  src/platform_impl/macos/app.rs
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/app_state.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/observer.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Labels: DS - macos, S - maintenance

#3390 macOS: Remove unnecessary Mutex in window state
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Labels: DS - macos, S - maintenance

#3391 macOS: Merge window and delegate state
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/mod.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Labels: DS - macos, S - maintenance

#3392 Bump `web-time` to v1
  Cargo.toml
Labels: DS - wasm

#3393 Platform is called Web not Wasm
  Cargo.toml
  README.md
  build.rs
  examples/control_flow.rs
  examples/custom_cursors.rs
  examples/custom_events.rs
  examples/focus.rs
  examples/multithreaded.rs
  examples/request_redraw_threaded.rs
  examples/timer.rs
  examples/web.rs
  examples/web_aspect_ratio.rs
  examples/window_pump_events.rs
  src/event.rs
  src/event_loop.rs
  src/platform/mod.rs
  src/platform/run_on_demand.rs
  src/platform/web.rs
  src/platform_impl/mod.rs
Labels: DS - web

#3402 Make DeviceId simpler on iOS
  src/platform_impl/ios/mod.rs
  src/platform_impl/ios/view.rs
Labels: B - bug, DS - ios

#3130 support pinch, double tap and rotation gestures on iOS
  CHANGELOG.md
  examples/touch_gestures.rs
  src/event.rs
  src/platform/ios.rs
  src/platform_impl/ios/uikit/gesture_recognizer.rs
  src/platform_impl/ios/uikit/mod.rs
  src/platform_impl/ios/uikit/view.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/macos/view.rs
Labels: DS - ios

#3366 X11: cache custom cursors
  src/cursor.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/util/cursor.rs
  src/platform_impl/linux/x11/window.rs
Labels: DS - x11

#3315 Document `Window` `Drop` behavior
  src/window.rs
Labels: S - docs

#3318 Move `PlatformSpecificWindowBuilderAttributes` into `WindowAttributes`
  src/platform/ios.rs
  src/platform/macos.rs
  src/platform/startup_notify.rs
  src/platform/wayland.rs
  src/platform/web.rs
  src/platform/windows.rs
  src/platform/x11.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
  src/window.rs
Labels: S - api

#3409 Expose more DWM attributes on Windows
  CHANGELOG.md
  FEATURES.md
  src/platform/windows.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
Labels: DS - windows

#3385 Windows: Set fullscreen or maximized after CreateWindowEx
  src/platform_impl/windows/window.rs
Labels: DS - windows

#3410 On Windows, Remove `WS_CAPTION`, `WS_BORDER` and `WS_EX_WINDOWEDGE` styles for child windows
  CHANGELOG.md
  src/platform_impl/windows/window_state.rs
Labels: DS - windows

#3212 Add option to enable/disable `WS_CLIPCHILDREN` window style
  CHANGELOG.md
  src/platform/windows.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
Labels: DS - windows

#3420 Fix Android examples link in README
  README.md
Labels: S - docs

#3422 Refactor user event handling on macOS/iOS
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/event_loop.rs
Labels: DS - macos, DS - ios, S - maintenance

#3257 Add DWMWA_SYSTEMBACKDROP_TYPE support on Windows
  CHANGELOG.md
  FEATURES.md
  src/platform/windows.rs
  src/platform_impl/windows/mod.rs
  src/platform_impl/windows/window.rs
Labels: DS - windows

#3426 Fix iOS gesture deltas
  src/platform_impl/ios/view.rs
Labels: B - bug, DS - ios

#3425 Remove `EventLoopError::AlreadyRunning`
  CHANGELOG.md
  src/error.rs
  src/platform/run_on_demand.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
Labels: S - api

#3446 On Wayland, fix min/max inner size setting
  CHANGELOG.md
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
Labels: DS - wayland
