Repository rust-windowing/winit, pull requests merged in 2024-05, with the labels that each got.

#3682 Enable `rustc-check-cfg`
  build.rs
  src/event_loop.rs
  src/platform/windows.rs
Labels: S - maintenance, B - build failure

#3684 Keep a reference to ApplicationDelegate in NSWindowDelegate and NSView
  src/changelog/unreleased.md
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Labels: DS - macos, B - crash

#3677 Reduce usage of direct `msg_send!`
  Cargo.toml
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window_delegate.rs
Labels: DS - macos, DS - ios, S - maintenance

#3697 Replace pointer dereference with read_unaligned()
  src/platform_impl/linux/x11/event_processor.rs
Labels: DS - x11, B - crash

#3702 Update `objc2` to `v0.2.2`
  Cargo.toml
  src/platform/ios.rs
  src/platform/macos.rs
  src/platform_impl/ios/app_delegate.rs
  src/platform_impl/ios/app_state.rs
  src/platform_impl/ios/event_loop.rs
  src/platform_impl/ios/mod.rs
  src/platform_impl/ios/monitor.rs
  src/platform_impl/ios/uikit/application.rs
  src/platform_impl/ios/uikit/coordinate_space.rs
  src/platform_impl/ios/uikit/device.rs
  src/platform_impl/ios/uikit/event.rs
  src/platform_impl/ios/uikit/geometry.rs
  src/platform_impl/ios/uikit/gesture_recognizer.rs
  src/platform_impl/ios/uikit/mod.rs
  src/platform_impl/ios/uikit/responder.rs
  src/platform_impl/ios/uikit/screen.rs
  src/platform_impl/ios/uikit/screen_mode.rs
  src/platform_impl/ios/uikit/status_bar_style.rs
  src/platform_impl/ios/uikit/touch.rs
  src/platform_impl/ios/uikit/trait_collection.rs
  src/platform_impl/ios/uikit/view.rs
  src/platform_impl/ios/uikit/view_controller.rs
  src/platform_impl/ios/uikit/window.rs
  src/platform_impl/ios/view.rs
  src/platform_impl/ios/view_controller.rs
  src/platform_impl/ios/window.rs
  src/platform_impl/macos/app.rs
  src/platform_impl/macos/app_delegate.rs
  src/platform_impl/macos/cursor.rs
  src/platform_impl/macos/event.rs
  src/platform_impl/macos/event_loop.rs
  src/platform_impl/macos/menu.rs
  src/platform_impl/macos/monitor.rs
  src/platform_impl/macos/view.rs
  src/platform_impl/macos/window.rs
  src/platform_impl/macos/window_delegate.rs
Labels: DS - macos, DS - ios, S - maintenance

#3709 Implement ApplicationHandler for `&mut A` and `Box<A>`
  src/application.rs
  src/changelog/unreleased.md
Labels: S - enhancement, S - api, S - maintenance

#3619 Handle _selected_range sent to NSTextInputClient.setMarkedText().
  src/changelog/unreleased.md
  src/platform_impl/macos/view.rs
Labels: DS - macos
