Repository rust-windowing/winit, pull requests merged in 2024-07, with the labels that each got.

#3770 Web: fix `MouseMotion` coordinate space
  Cargo.toml
  src/changelog/unreleased.md
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/web_sys/event.rs
  src/platform_impl/web/web_sys/mod.rs
Labels: DS - web

#3721 Change `run_app(app: &mut A)` to `run_app(app: A)`
  examples/child_window.rs
  examples/control_flow.rs
  examples/window.rs
  examples/x11_embed.rs
  src/changelog/unreleased.md
  src/event_loop.rs
  src/platform/pump_events.rs
  src/platform/run_on_demand.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/apple/appkit/event_loop.rs
  src/platform_impl/apple/uikit/event_loop.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/windows/event_loop.rs
Labels: S - api, C - nominated

#3784 Make `DeviceId/WindowId::dummy()` safe
  src/changelog/unreleased.md
  src/event.rs
  src/platform_impl/apple/appkit/mod.rs
  src/platform_impl/apple/appkit/window.rs
  src/platform_impl/apple/uikit/mod.rs
  src/platform_impl/apple/uikit/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/web/device.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/mod.rs
  src/window.rs
Labels: S - enhancement

#3754 Remove internal `ActiveEventLoop::clear_exit`
  src/platform/run_on_demand.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/apple/appkit/event_loop.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/windows/event_loop.rs
Labels: S - maintenance

#3789 wayland: bump dependencies
  Cargo.toml
  deny.toml
  src/platform_impl/linux/wayland/state.rs
Labels: DS - wayland

#3790 Web: fix `WindowEvent::Resized` not using rAF
  src/changelog/unreleased.md
  src/platform_impl/web/event_loop/window_target.rs
Labels: DS - web

#3793 Web: implement `Error` for `CustomCursorError`
  src/changelog/unreleased.md
  src/platform/web.rs
Labels: DS - web

#3794 Web: remove unused `CustomCursorError::Animation`
  src/changelog/unreleased.md
  src/platform/web.rs
Labels: DS - web

#3804 Web: avoid using `js_sys::Reflect`
  src/platform_impl/web/web_sys/schedule.rs
Labels: DS - web

#3799 Run doc tests on Web as well
  .cargo/config.toml
  .github/workflows/ci.yml
  Cargo.toml
  src/event.rs
  src/keyboard.rs
Labels: DS - web

#3809 macOS: fix building with `feature = "rwh_04"`
  src/changelog/unreleased.md
  src/platform_impl/apple/appkit/window_delegate.rs
Labels: DS - macos, B - build failure

#3811 Exclude Redox OS from the MSRV policy
  .github/workflows/ci.yml
  README.md
Labels: DS - redox

#3813 Web: don't block pen input
  src/changelog/unreleased.md
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/pointer.rs
Labels: DS - web

#3805 Web: async improvements
  src/changelog/unreleased.md
  src/platform/web.rs
  src/platform_impl/web/async/dispatcher.rs
  src/platform_impl/web/async/notifier.rs
  src/platform_impl/web/async/waker.rs
  src/platform_impl/web/async/wrapper.rs
  src/platform_impl/web/cursor.rs
  src/platform_impl/web/event_loop/proxy.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/window.rs
Labels: DS - web

#3803 Web: use raw data in `DeviceEvent::MouseMotion` when using `CursorGrabMode::Confined`
  src/changelog/unreleased.md
  src/event.rs
  src/platform/web.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/lock.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/window.rs
Labels: DS - web

#3801 Web: Implement `MonitorHandle`
  Cargo.toml
  clippy.toml
  examples/window.rs
  src/changelog/unreleased.md
  src/event_loop.rs
  src/monitor.rs
  src/platform/web.rs
  src/platform_impl/web/async/dispatcher.rs
  src/platform_impl/web/async/wrapper.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/lock.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/web/monitor.rs
  src/platform_impl/web/web_sys/canvas.rs
  src/platform_impl/web/web_sys/event.rs
  src/platform_impl/web/web_sys/fullscreen.rs
  src/platform_impl/web/web_sys/mod.rs
  src/platform_impl/web/window.rs
  src/window.rs
Labels: DS - web

#3830 Move to TypeScript
  .github/dependabot.yaml
  .github/workflows/ci.yml
  .gitignore
  src/platform_impl/web/script/.swcrc
  src/platform_impl/web/script/eslint.config.mjs
  src/platform_impl/web/script/package.json
  src/platform_impl/web/script/scheduler.d.ts
  src/platform_impl/web/script/tsconfig.json
  src/platform_impl/web/script/worker.min.js
  src/platform_impl/web/script/worker.ts
  src/platform_impl/web/web_sys/schedule.rs
  src/platform_impl/web/web_sys/worker.js
  src/platform_impl/web/web_sys/worker.min.js
Labels: DS - web

#3834 Add GitHub Actions to Dependabot
  .github/dependabot.yaml
Labels: S - maintenance
