Repository rust-windowing/winit, pull requests merged in 2025-02, with the labels that each got.

#4098 Update to windows-sys 0.59
  Cargo.toml
  src/changelog/unreleased.md
  src/platform/windows.rs
  src/platform_impl/windows/dark_mode.rs
  src/platform_impl/windows/definitions.rs
  src/platform_impl/windows/dpi.rs
  src/platform_impl/windows/drop_handler.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/icon.rs
  src/platform_impl/windows/ime.rs
  src/platform_impl/windows/keyboard.rs
  src/platform_impl/windows/keyboard_layout.rs
  src/platform_impl/windows/monitor.rs
  src/platform_impl/windows/raw_input.rs
  src/platform_impl/windows/util.rs
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
Labels: DS - windows, dependencies

#4139 Wayland: Use custom `Event` enum for buffered events
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/event_loop/sink.rs
Labels: DS - wayland, S - maintenance

#4140 X11: Call `ApplicationHandler` directly
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
Labels: DS - x11, S - maintenance

#4142 Web: Avoid top-level `Event`
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/web_sys/canvas.rs
Labels: DS - web, S - maintenance

#4029 Merge `KeyEventExtra` into `KeyEvent`
  src/changelog/unreleased.md
  src/event.rs
  src/platform/mod.rs
  src/platform/modifier_supplement.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/apple/appkit/event.rs
  src/platform_impl/apple/appkit/mod.rs
  src/platform_impl/apple/appkit/view.rs
  src/platform_impl/apple/uikit/mod.rs
  src/platform_impl/apple/uikit/view.rs
  src/platform_impl/linux/common/xkb/mod.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/orbital/mod.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/keyboard.rs
  src/platform_impl/web/mod.rs
  src/platform_impl/windows/keyboard.rs
  src/platform_impl/windows/mod.rs
Labels: S - enhancement, S - api, I - BREAKING CHANGE, C - nominated

#4137 Windows: add `IconExtWindows::from_resource_name`
  src/changelog/unreleased.md
  src/platform/windows.rs
  src/platform_impl/windows/icon.rs
Labels: DS - windows, S - api

#4151 macOS: Fix crash when reconnecting monitors
  src/platform_impl/apple/appkit/monitor.rs
Labels: DS - macos, B - crash
