Repository rust-windowing/winit, pull requests merged in 2025-09, with the labels that each got.

#4343 Add borderless fullscreen mode for orbital
  winit-core/src/window.rs
  winit-orbital/src/window.rs
  winit/src/changelog/unreleased.md
Labels: S - enhancement, DS - redox

#4347 Fix using Rust-Analyzer on non-macOS platforms
  winit-appkit/Cargo.toml
  winit-uikit/Cargo.toml
Labels: DS - appkit, DS - uikit

#4317 Content hint and purpose expansion
  examples
  winit-core/src/window.rs
  winit-wayland/src/seat/text_input/mod.rs
  winit/examples
  winit/examples/application.rs
  winit/examples/child_window.rs
  winit/examples/control_flow.rs
  winit/examples/data/cross.png
  winit/examples/data/cross2.png
  winit/examples/data/gradient.png
  winit/examples/data/icon.png
  winit/examples/dnd.rs
  winit/examples/ime.rs
  winit/examples/pump_events.rs
  winit/examples/run_on_demand.rs
  winit/examples/util/fill.rs
  winit/examples/util/tracing.rs
  winit/examples/window.rs
  winit/examples/x11_embed.rs
  winit/src/changelog/unreleased.md
Labels: DS - wayland, S - api

#4338 Add Wayland support for pinch, rotation, and pan gestures.
  winit-core/src/event.rs
  winit-wayland/src/seat/mod.rs
  winit-wayland/src/seat/pointer/mod.rs
  winit-wayland/src/seat/pointer/pointer_gesture.rs
  winit-wayland/src/state.rs
  winit/src/changelog/unreleased.md
Labels: DS - wayland
