Repository rust-windowing/winit, pull requests merged in 2025-03, with the labels that each got.

#4141 Windows: Use `ApplicationHandler`
  src/platform_impl/windows/drop_handler.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
  src/platform_impl/windows/window.rs
Labels: DS - windows, S - maintenance

#4148 macOS: Parse more key codes into named keys
  src/platform_impl/apple/appkit/event.rs
Labels: DS - macos, S - maintenance

#4153 Remove top-level `Event` enum
  src/event.rs
Labels: S - maintenance

#4146 macOS/iOS: Implement wake-ups using system mechanisms
  src/platform_impl/apple/appkit/app_state.rs
  src/platform_impl/apple/appkit/event_loop.rs
  src/platform_impl/apple/event_loop_proxy.rs
  src/platform_impl/apple/mod.rs
  src/platform_impl/apple/uikit/app_state.rs
  src/platform_impl/apple/uikit/event_loop.rs
  src/platform_impl/apple/uikit/mod.rs
Labels: S - enhancement, DS - macos, DS - ios

#3297 Properly implement Debug for `Window` and `EventLoop` types
  examples/child_window.rs
  examples/control_flow.rs
  examples/dnd.rs
  examples/pump_events.rs
  examples/run_on_demand.rs
  examples/window.rs
  examples/x11_embed.rs
  src/event_loop.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/apple/appkit/event_loop.rs
  src/platform_impl/apple/appkit/window.rs
  src/platform_impl/apple/uikit/event_loop.rs
  src/platform_impl/apple/uikit/window.rs
  src/platform_impl/linux/mod.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/wayland/event_loop/proxy.rs
  src/platform_impl/linux/wayland/event_loop/sink.rs
  src/platform_impl/linux/wayland/seat/pointer/mod.rs
  src/platform_impl/linux/wayland/seat/pointer/relative_pointer.rs
  src/platform_impl/linux/wayland/seat/text_input/mod.rs
  src/platform_impl/linux/wayland/state.rs
  src/platform_impl/linux/wayland/types/xdg_activation.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
  src/platform_impl/linux/x11/dnd.rs
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/ime/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/orbital/mod.rs
  src/platform_impl/orbital/window.rs
  src/platform_impl/web/async/wrapper.rs
  src/platform_impl/web/event_loop/mod.rs
  src/platform_impl/web/event_loop/proxy.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/web/event_loop/window_target.rs
  src/platform_impl/web/window.rs
  src/platform_impl/windows/event_loop.rs
  src/platform_impl/windows/event_loop/runner.rs
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
  src/window.rs
Labels: S - api

#4160 Add `as_inner` helper method on trait objects
  src/changelog/unreleased.md
  src/event_loop.rs
  src/monitor.rs
  src/platform/android.rs
  src/platform/ios.rs
  src/platform/macos.rs
  src/platform/startup_notify.rs
  src/platform/wayland.rs
  src/platform/web.rs
  src/platform/windows.rs
  src/platform/x11.rs
  src/platform_impl/apple/appkit/window_delegate.rs
  src/platform_impl/apple/uikit/window.rs
  src/platform_impl/linux/wayland/window/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/platform_impl/web/web_sys/fullscreen.rs
  src/platform_impl/windows/window.rs
  src/utils.rs
  src/window.rs
Labels: S - enhancement, S - api

#4158 x11: Implement true cursor area with XNArea attribute
  src/changelog/unreleased.md
  src/platform_impl/linux/x11/event_processor.rs
  src/platform_impl/linux/x11/ime/callbacks.rs
  src/platform_impl/linux/x11/ime/context.rs
  src/platform_impl/linux/x11/ime/mod.rs
  src/platform_impl/linux/x11/window.rs
  src/window.rs
Labels: B - bug, DS - x11

#4136 Fix a pause in the event loop when clicking the title bar on windows
  examples/application.rs
  examples/util/fill.rs
  src/changelog/unreleased.md
  src/platform_impl/windows/event_loop.rs
Labels: B - bug, DS - windows

#4164 Have WindowExtMacOS::set_simple_fullscreen honor WindowExtMacOS::set_borderless_game
  src/changelog/unreleased.md
  src/platform/macos.rs
  src/platform_impl/apple/appkit/window_delegate.rs
Labels: B - bug, S - enhancement, DS - macos

#4149 Drop application handler on run loop exit
  examples/application.rs
  examples/window.rs
  src/application.rs
  src/changelog/unreleased.md
  src/event.rs
  src/event_loop.rs
  src/lib.rs
  src/platform/ios.rs
  src/platform_impl/android/mod.rs
  src/platform_impl/apple/appkit/app_state.rs
  src/platform_impl/apple/appkit/event_loop.rs
  src/platform_impl/apple/event_handler.rs
  src/platform_impl/apple/uikit/app_state.rs
  src/platform_impl/apple/uikit/event_loop.rs
  src/platform_impl/linux/wayland/event_loop/mod.rs
  src/platform_impl/linux/x11/mod.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/event_loop/runner.rs
  src/platform_impl/windows/event_loop/runner.rs
Labels: B - bug, DS - macos, S - api, DS - ios, DS - web

#4154 macOS: Close windows automatically when exiting
  src/changelog/unreleased.md
  src/platform_impl/apple/appkit/app_state.rs
  src/platform_impl/apple/appkit/event_loop.rs
Labels: B - bug, DS - macos

#4018 Align `NamedKey` and `KeyCode` more closely with the W3C specs
  examples/application.rs
  src/changelog/unreleased.md
  src/event.rs
  src/keyboard.rs
  src/platform_impl/android/keycodes.rs
  src/platform_impl/apple/appkit/event.rs
  src/platform_impl/apple/appkit/view.rs
  src/platform_impl/linux/common/xkb/keymap.rs
  src/platform_impl/linux/common/xkb/state.rs
  src/platform_impl/orbital/event_loop.rs
  src/platform_impl/web/keyboard.rs
  src/platform_impl/web/web_sys/event.rs
  src/platform_impl/windows/keyboard.rs
  src/platform_impl/windows/keyboard_layout.rs
Labels: S - api, S - docs, I - BREAKING CHANGE, C - nominated
