Repository rust-windowing/winit, pull requests merged in 2025-04, with the labels that each got.

#4198 Use next `objc2` version
  Cargo.toml
  src/platform_impl/apple/appkit/event.rs
  src/platform_impl/apple/appkit/ffi.rs
  src/platform_impl/apple/appkit/monitor.rs
  src/platform_impl/apple/appkit/observer.rs
  src/platform_impl/apple/appkit/window_delegate.rs
  src/platform_impl/apple/event_loop_proxy.rs
  src/platform_impl/apple/uikit/app_state.rs
  src/platform_impl/apple/uikit/event_loop.rs
Labels: DS - macos, DS - ios, S - maintenance

#4175 Make DPI `no_std` compatible
  .github/workflows/ci.yml
  README.md
  dpi/CHANGELOG.md
  dpi/Cargo.toml
  dpi/LICENSE-LIBM-MIT
  dpi/README.md
  dpi/src/lib.rs
  dpi/src/libm.rs
Labels: S - enhancement

#4177 windows cursor lock
  src/changelog/unreleased.md
  src/platform_impl/windows/util.rs
  src/platform_impl/windows/window.rs
  src/platform_impl/windows/window_state.rs
  src/window.rs
Labels: S - enhancement, DS - windows, S - platform parity

#4185 wayland: ensure external loop is notified with pump_events
  Cargo.toml
  src/changelog/unreleased.md
  src/platform_impl/linux/wayland/event_loop/mod.rs
Labels: DS - wayland

#4076 wayland: Add `WindowExtWayland::xdg_toplevel`
  src/changelog/unreleased.md
  src/platform/wayland.rs
  src/platform_impl/linux/wayland/window/mod.rs
Labels: DS - wayland, S - api

#4195 custom cursor fractional scale support for wayland platform
  src/changelog/unreleased.md
  src/platform_impl/linux/wayland/seat/mod.rs
  src/platform_impl/linux/wayland/seat/pointer/mod.rs
  src/platform_impl/linux/wayland/window/state.rs
Labels: DS - wayland

#4191 fix: Support fractional refresh rates in video modes on macOS
  src/changelog/unreleased.md
  src/platform_impl/apple/appkit/monitor.rs
Labels: B - bug, DS - macos

#4167 macOS: Store UUID in MonitorHandle instead of CGDirectDisplayID
  src/changelog/unreleased.md
  src/platform_impl/apple/appkit/ffi.rs
  src/platform_impl/apple/appkit/monitor.rs
  src/platform_impl/apple/appkit/window_delegate.rs
Labels: B - bug, DS - macos

#4207 macOS: Fix monitors connected via certain Thunderbolt hubs
  src/changelog/unreleased.md
  src/platform_impl/apple/appkit/monitor.rs
  src/platform_impl/apple/appkit/window_delegate.rs
Labels: B - bug, DS - macos, B - crash

#4201 Windows: Fix Incorrect cursor_range Calculation in Ime::Preedit
  src/changelog/unreleased.md
  src/platform_impl/windows/ime.rs
Labels: B - bug, DS - windows
